[2015-12-10 02:39] ikhthiandor opened #4129 "pyenv related error"
I am getting this error when I mouse click on a Python(flask) file.

The directory structure is different in my system for pyenv.
It's like this
/home/ikhthiandor/.pyenv/versions/3.5.0/bin

pyenv version: 20151105
OS: Manjaro Linux
Spacemacs: 0.105.0(develop branch)

[2015-12-10 04:22] tuhdo opened #4130 "Error with leader key set to C-c with org layer enabled"
When loading paradox and shell pop, because it uses `a` as leader key, it clashes with `C-c a` that is set to `org-agenda`. This happens only when you add `org` layer.

[2015-12-10 04:26] tuhdo commented on #4107
You should consider adding this `eww-lnum` package. It's like `ace-jump`, but is specialized for `eww` to jump around links quickly. Here is [video demo](https://www.youtube.com/watch?v=BKc3vgZH5ZE).

[2015-12-10 04:39] tuhdo commented on #4130
To fix this issue, we should check that if `C-c a` is bound, then first unset it before assigning leader key.

[2015-12-10 05:46] nixmaniack commented on #4127
I think this is the case where `helm` is updated and by default if there's update to the package it's directory is deleted and replaced with the upgraded one. This will also come up if `restart-emacs` get updated where you won't be able to use it.
I don't know of a solution, so it'd be nice if someone can suggest a solution.

[2015-12-10 06:52] bmag commented on #4098
The `Symbol's function definition is void: sp-with-modes` error is caused because the Ruby layer tries to call this function before `smartparens` is loaded. I submitted a PR to fix it in develop - #4132. I don't use Ruby myself, does any of you run on develop sometimes and can test it?

About the other issue, Spacemacs uses Flycheck for the syntax checking functionality. Flycheck checks the syntax

[2015-12-10 07:13] lburton commented on #3854
I was still hitting this issue, despite emacs upstream already integrating the ```(load-library "url-handlers")``` (see commit 8eaba112c952eecd5b7f17af40c29584a7172f59)

I had to patch package.el as [reported by David](https://lists.gnu.org/archive/html/emacs-devel/2015-11/msg01494.html). After this, don't forget to ```(byte-compile-file "/path/to/package.el.gz")``` otherwise you'll waste an hour

[2015-12-10 08:19] cpaulik commented on #4129
What is your `PATH` variable inside emacs? You can get it with `SPC : getenv`.

Mine starts like this

[code]

[2015-12-10 10:22] TheBB commented on #1743
It must be due to this, however, if you don't have the syntax-checking layer enabled, how do you have flycheck installed in the first place? Presumably it is pulled in as a dependency of another package in that case, but which?

[2015-12-10 10:26] s3bs commented on #1743
I was doing some coding on flycheck so i have it loading from a different directory via user-config. Also I'm new to spacemacs and didn't even know about the syntax-checking layer.

[2015-12-10 12:25] StreakyCobra commented on #3753
Have you tried as @justbur suggested to run it with `-q` and not just `--quick`?

[2015-12-10 13:43] darkfeline opened #4135 "Common lisp mode bindings missing"
#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. eaf6b8c)
- Distribution: spacemacs
- Layers:
[code]

Common lisp `lisp-mode` major mode leader bindings are missing.  Only binding is `SPC m .` `erc-log-micro-state`.

[2015-12-10 14:07] axyz commented on #4107
@tuhdo Originally I was thinking to use ace-jump to maintain consistency, however I think I'm going to give a look at eww-lnum as well.

Mainly because of the additional features it has (`F` and selecting inputs).

I'm also encountering some issues like randomly loosing the evilified-state (especially when dealing with text inputs, or sometimes when loading a new link) That's probably a problem wi

[2015-12-10 15:26] wamaral commented on #4098
@bmag syntax checking, as well as linting, works perfectly for me with rubocop.

I will check out the develop branch later today and report back.

[2015-12-10 15:52] gleber opened #4136 "FR: replace `SPC f F` with `helm-find-files-at-point`"
... or `smart-helm-find-files` something similar. I would love if I could open a file based on the substring of it's file name, at which currently my point is pointing at.

[2015-12-10 16:45] bmag commented on #4136
:+1: for the idea. Did you try <kbd>g f</kbd>? It is bound to `find-file-at-point`, I think it's a good candidate to put  on <kbd>SPC f F</kbd>.

[2015-12-10 16:48] tuhdo commented on #4136
@gleber if your project is recognized by Projectile, you can use the command `helm-projectile-find-file-dwim` to jump to any file at point in your project, even if the path is not complete i.e. only filename. I don't know why Spacemacs hasn't gave this command a key binding.

[2015-12-10 16:50] tuhdo opened #4137 "Give helm-projectile-find-file-dwim and helm-projectile-find-other-file a key binding"
In my opinion, these two commands are very useful. We should add key bindings for them to let users know their exitence.

[2015-12-10 16:58] tuhdo commented on #4135
I can confirm this. It seems like `evil-leader/set-key-for-mode` is broken.

[2015-12-10 17:38] justbur commented on #4135
They are there for me

[2015-12-10 17:39] wallacewinfrey opened #4138 "Error using flycheck"
When enabling flycheck-mode, and opening up a supported file, I get the following error:

`Error while checking syntax automatically: (void-function seq-find)`

enabling toggle-debug-on-error gives me:

[code]

Steps to reproduce:
1. Install fresh copy of spacemacs
2. `M-x package-install flycheck`
3. `M-x flycheck-global-mode`
4. Open supported file (I tried shell, ruby and perl)

[2015-12-10 17:48] tuhdo commented on #4135
If you open the `.lisp` file before running `slime` command, the key bindings won't be there. You have to `M-x slime`, then run again for the key bindings to be available. The reason is that the slime configuration is only activated upon `slime-mode` command. It should be activated for `lisp-mode` as well.

[2015-12-10 17:49] justbur commented on #4117
Try this
[code]

[2015-12-10 17:56] justbur commented on #4135
`slime-mode` is in `lisp-mode-hook` so this shouldn't be necessary. I just went into scratch and did `M-x lisp-mode` and everything was there, but I can verify the behavior you see.

Also, you should find that if you open a .lisp file and run `M-x lisp-mode` everything shows up. I think this is a problem with the bindings being deferred in :config which isn't necessary and is supposed to be avoide

[2015-12-10 18:00] synic commented on #4138
You might have better luck not installing flycheck manually, and, instead,
installing the appropriate layer for the language you're working on.

Try putting `syntax-checking` and `ruby` in
`dotspacemacs-configuration-layers`.  That should install flycheck for you,
and configure things how they need to be.

On Thu, Dec 10, 2015 at 10:39 AM Wallace Winfrey <notifications@github.com>
wrote:

[2015-12-10 18:17] axyz commented on #4107
when I go in evil-insert state and then I press esc, evil-normal-state is activated and I loose all my keybindings.

Probably it could work using simply `evil-define-key`, but I'm trying to use evilified state to no interfere with emacs editing style as suggested by @syl20bnr.

Is there a way to map all escapes (ESC and `fg`) to go back in evilified state instead of normal? or maybe I'm missing so

[2015-12-10 18:20] ikhthiandor commented on #4129
My PATH inside emacs is

But PATH inside gnome-terminal is different.

Anyway, this is after I've updated my PATH environment variable. I longer see the errors after the update. You can see the history if interested here.

https://github.com/ikhthiandor/vcsh_zshenv/commits/master

I'll now check if I can work with pyenv without any further issues.

[2015-12-10 18:21] gguimaraesbr commented on #4098
@bmag Installing rubocop and running on develop solved both issues. Thank you!

[2015-12-10 18:53] wallacewinfrey commented on #4138
No change. I restarted emacs, let it orphan flycheck, enabled the syntax-checking and ruby layers, got the same seq-find error, this time with an additional error from enabling the ruby layer:

`Error (use-package): enh-ruby-mode :config: Symbol's function definition is void: sp-with-modes`

[2015-12-10 19:11] StreakyCobra commented on #4138
@wallacewinfrey This `sp-with-modes` is a know bug with a pending PR: #4132 and #4098

[2015-12-10 19:38] phinicota opened #4139 "Freeze and CPU 100% related to auto-completion layer"
I work launching "emacs --daemon" and then multiple emacsclient -t to optimize speed and manage windows with i3wm. I do not know if the problem persists in other mode. The programs stays running for some days in a row sometimes (As I have to leave the PC on for other tasks).
So sometime after working for a while, when I use SPC b b it just completely freezes (C-g multiple times not working) and I

[2015-12-10 19:56] nixmaniack commented on #4117
Awesome! Thanks @justbur. That solved it.

[2015-12-10 19:56] #4117 closed

[2015-12-10 20:17] justbur commented on #4135
This should be fixed if you update to the latest version of bind-map

[2015-12-10 20:27] syl20bnr commented on #4093
I'll look into it.

[2015-12-10 21:21] justbur commented on #4055
Possibly related to #4135. Try updating packages

[2015-12-10 21:36] mosic commented on #4055
@justbur Can confirm, this is fixed now. The issue can be closed @Immortalin?

[2015-12-10 22:46] 526avijitgupta opened #4140 "Visible whitespace in some spacemacs buffers."
Recently I had changed my `.spacemacs` config for some whitespace settings, since then I am encountering this problem.

![screenshot from 2015-12-11 04 10 17](https://cloud.githubusercontent.com/assets/7583815/11730771/2a68494e-9fbd-11e5-8078-ec65c02b44a8.png)

A possible solution would be to remove the whitespace rather than hiding it, since fellow developers may also face such problems if they m

[2015-12-10 22:55] StreakyCobra commented on #4140
The bottom part is `which-key`, and it's probably @justbur who can do something about it.

The right window is magit, it should probably be reported upstream. I'll wait for @justbur confirmation because it *may* be due by `evil-magit` (but I'm pretty sure not ;-) )

[2015-12-10 23:27] abernardes commented on #4059
Yep, I leave the elixir package commented out in my config file when editing Ruby, otherwise it keeps adding and extra `end`. :cry:

[2015-12-11 00:32] justbur commented on #4140
I'm not going to remove the white space but I can add a hook that's run when the buffer is created so you can disable any mode you want in that buffer.

That's also not an evil magit problem but I doubt it's worth reporting upstream. You need to disable that mode in the buffers you don't care about or conversely only enable it in the buffers you do care about.

By the way don't you think it would

[2015-12-11 01:14] justbur commented on #4140
Added a `which-key-init-buffer-hook` just now. It will take a couple hours or so to update on melpa

[2015-12-11 01:26] justbur commented on #4063
Some more info. I played with ansi-term for a bit and at least part of the issue is evil-mode alone. If you emacs -Q and load evil-mode, undo-tree is enabled on C-/ and C-x is a prefix in term-char-mode. Since spacemacs always has evil-mode enabled this is will be the case with any editing style at the moment.

[2015-12-11 03:01] tuhdo commented on #4140
I agree with @justbur. You should just enable `whitespace-mode` in the buffers that you actually care, not the unnecessary buffers that are used for read-only purpose. The magit menu text is automatically generated, so I double it's worth to add extra logic to remove spaces at the end.

[2015-12-11 03:05] tuhdo commented on #4139
What's your Emacs version? Have you upgraded to latest packages? `helm-mini` should not cause any lock-up. When you press `C-g`, does the screen go complete blank or you still see the GUI?

[2015-12-11 03:14] #4055 closed

[2015-12-11 03:34] #3137 closed

[2015-12-11 03:45] darkfeline commented on #4135
Confirmed fixed after package update, thanks.

[2015-12-11 03:45] #4135 closed

[2015-12-11 06:14] s3bs opened #4141 "init is defined for dired+, but not loaded"
The spacemacs layer defines  spacemacs/init-dired+ [here](https://github.com/syl20bnr/spacemacs/blob/50ec30be6dd6be709a742dad51dfb016af1c37f0/layers/%2Bdistribution/spacemacs/packages.el#L468)

But dired+ is not listed in `spacemacs-packages` so it is not loaded.
I guess either remove the init or add the package....

[2015-12-11 06:52] HQingYi commented on #3336
I also need the auto-complete in sh-mode. :cry:

[2015-12-11 06:55] zilongshanren commented on #3336
@HQingYi

Add the following code snippets into your own layer.

[code]

[2015-12-11 07:27] oppenlander commented on #4082
This is because js2-mode is parsing the code you write to provide the syntax highlighting (as well as other semantic features, like refactoring and folding).

:+1: for having an option to switch, but this switching also needs to do things, like removing the "Refactoring" Major Mode bindings.
Also I do not think [js3-mode](https://github.com/thomblake/js3-mode) is well supported. There's very littl

[2015-12-11 07:54] tuhdo opened #4143 "ws-butler messes my indentation"
In addition to killing trailing whitespaces, it also changes the indentation format i.e. tabs -> spaces. Sometimes my commit got messed up because I was editing `.patch` file, and it converts all my tabs to spaces. Should not be enabled by default imo.

[2015-12-11 08:10] syl20bnr commented on #4120
I switched to a fork while the bug is being fixed upstream.

[2015-12-11 08:14] joehillen commented on #3336
@zilongshanren If that works, then why isn't in the layer already?

Is there any reason _not_ to autocomplete in sh-mode?

[2015-12-11 08:23] syl20bnr commented on #3336
Can you open a new issue so we can investigate ?

[2015-12-11 08:25] stormpat commented on #4082
@jupl I work daily with JS, and have no issues with ES6 syntax highlighting/linting. Heres a screenshot from my emacs, it shows errors/warnings and more suggestions depending on the rules i use.

![preview](http://imgur.com/AW76xSU.jpg)

![preview](http://imgur.com/pKfvcoq.jpg)

[2015-12-11 08:28] syl20bnr commented on #4107
Currently reverting to evilified state in insert state is not supported, this is also an issue with other states like lisp state etc...
I have yet to find a clean way to support this. Seems that `eww` requires it.

[2015-12-11 08:30] syl20bnr commented on #4138
Should be fixed in develop.

[2015-12-11 08:35] tuhdo opened #4145 "Set org-directory to nil"
Otherwise it will create directory `~/org`, which is undesirable and unexpected.

[2015-12-11 08:48] StreakyCobra commented on #3354
Fixed by #3426 (hopefully)

[2015-12-11 08:53] StreakyCobra commented on #4137
#4144

[2015-12-11 08:54] StreakyCobra commented on #4143
This should probably be reported upstream, I suppose it's not an intended behaviour.

[2015-12-11 08:55] nixmaniack commented on #4143
If ws-butler is changing tabs -> spaces then it shouldn't have done that which is bug then and should be reported upstream. Also I think it does that change based on `indent-tabs-mode` in which case need customization variable at upstream.

But keeping this default sounds quite sane IMO!

[2015-12-11 08:57] StreakyCobra commented on #3526
FIxed in develop by #3913

[2015-12-11 10:00] tuhdo commented on #3336
I got this error also. But it comes from one my packages, which are `nasm-mode` and `pdf-tools`. Pretty sure stock Spacemacs works fine.

[2015-12-11 10:32] lazywei opened #4146 "Status line rendering issue (overlapped)"
Hi,

I got this:
![image](https://cloud.githubusercontent.com/assets/2840571/11741659/492b8918-a035-11e5-9dc5-eaf3e6aa4704.png)
for my status line.

I'm using powerline patched font for my iTerm2. Also, I didn't do any configuration related to status line or powerline.
I'm wondering what is the possible cause of this problem?

Thanks.

[2015-12-11 10:45] lazywei commented on #4146
I found that "h" is coming from hybrid mode. The rendering is still a little bit weird though.

[2015-12-11 10:52] gabor opened #4147 "projectile-enable-caching, set it to nil by default"
hello,

here:
https://github.com/syl20bnr/spacemacs/blob/master/layers/%2Bdistribution/spacemacs-base/packages.el#L1192-L1193
the index-method is set to alien, and caching is enabled. but if you check this comment:
https://github.com/syl20bnr/spacemacs/issues/1256#issuecomment-96982146

"The caching exists mostly for the benefit of people using native indexing, as it's pretty slow."

could we defa

[2015-12-11 11:57] mkollaro commented on #1603
I found a better [solution](http://emacs.stackexchange.com/q/16935/10462) - add `smartparens` to the `dotspacemacs-excluded-packages` list in `.spacemacs`.

[2015-12-11 12:13] StreakyCobra commented on #4146
@TheBB: Spaceline question here

[2015-12-11 12:14] StreakyCobra commented on #4147
It has been corrected in `develop`: #3802

[2015-12-11 12:43] gabor commented on #4147
oh, i see. sorry, i assumed `master` is where things are developed, did not check `develop`. how long does it take for my spacemacs install to get the changes from `develop`?

[2015-12-11 13:08] StreakyCobra commented on #4147
It depends on the progress, on the availability of the maintainer, etc. so I don't really know. Anyway you can give a try to `develop`, it's kind of stable if you are not updating your branch too often :-)

[2015-12-11 14:18] syl20bnr commented on #4136
@gleber is this not what `SPC f F` is already doing ? Can you describe the difference ?

[2015-12-11 15:26] axyz commented on #4107
just to know, what are the problems that would arise if I simply map the evil normal state instead of evilified? (maybe adding a control to check if the user have the emacs style option)

[2015-12-11 15:47] wamaral commented on #4098
I can confirm, no errors shown while using the develop branch. Thanks!

[2015-12-11 16:00] syl20bnr commented on #4107
Evilified state keymap is very small to limit the number of shadowed original bindings it the apply a set of rules to rebind those shadowed keys.

If your intent is to remap everything like with evil-magit then you can use the normal state.

But I feel that Eww is the first app that would ideally require both evilified state and normal state. I mean when you are navigating you want evilified state

[2015-12-11 16:02] syl20bnr commented on #4107
You can also create your own evil state from scratch, check how it is done with evilified.

[2015-12-11 16:12] axyz commented on #4107
assuming that I'm going to create something like vimperator state or web-motion state... won't I end up having the same problem to go back in vimperator mode from the normal or edit mode as happens with evilified?

The best thing would be to be able to use insert and normal states on text inputs, however it would also mean to have to "escape" 2 times to go back in evilified(or motion or vimperator

[2015-12-11 16:13] gleber commented on #4136
In my case `helm-find-files` is bound to both `SPC f F` and `SPC f f` and it does not pick up whatever string is under a cursor. I.e. it just opens helm with current directory opened, but it does not pre-fill file name with a word at point.

I.e. I want:
1) `SPC f f` to open helm with the directory in which a currently opened file is located
2) `SPC f F` to open helm with the directory in which a

[2015-12-11 16:15] gleber commented on #4136
Also somehow `g f` does not do what (2) always, it works only sometimes... It seem to work on single-word-named files (without underscores) but does not work with long_underscored_file_names

[2015-12-11 16:22] agriffis commented on #4120
@syl20bnr Thank you! This is now working the way I'd anticipate, where new emacsclient instances start with a clean slate.

[2015-12-11 16:30] justbur commented on #4107
@axyz I haven't looked at all of the keybindings for eww, but here are two tools you can try
[code]
will make all of the bindings in eww-mode-map take priority over the default bindings in normal state. It's a quick way to elevate all of the default bindings in eww-mode-map.

Then you can selectively use
[code]
to override any bindings in either eww-mode-map or evil-normal-state-map that you don't

[2015-12-11 17:04] phinicota commented on #4139
Emacs version: GNU Emacs 24.5.1
Immediately after the freeze I can see the freeze but if I wait or spam C-g it goes blank sometimes.
I'm going to try upgrading, I thought I was on the latest stable branch.

[2015-12-11 17:09] aaronjensen opened #4151 "`SPC k` has nothing bound to it in emacs-lisp mode"
When I hit `SPC k` within my spacemacs file I get

[code]

#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. fc72c37)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-11 17:45] tuhdo opened #4152 "Latest develop, Spacemacs starts in evil-motion-state (pink cursor) even with Emacs style editing"
This is very bad. When editing style is Emacs, home buffer should be in `evil-emacs-state`.

[2015-12-11 18:00] TheBB commented on #4146
Almost certainly a font problem, but I'm not sure how to fix it.

Do we really need lighters for hybrid/holy mode anyway?

[2015-12-11 18:05] nixmaniack commented on #4146
We should remove lighters as there's already color state indicator which is more useful.

[2015-12-11 18:16] justbur commented on #4151
Yep, you're right. It's a bug in evil-lisp-state. See https://github.com/syl20bnr/evil-lisp-state/pull/19

[2015-12-11 18:16] justbur commented on #4151
@syl20bnr

[2015-12-11 18:55] axyz commented on #4107
@justbur great, seems to work quite well with inputs.

just a small problem: `l` is set by default to go to the previous page, I want it to simply move 1 character on right as usual. How can I do that? is there a way to remove the previous binding? Or do I have to shadow it with some function to move 1 char on right?

`j`, `k` works as usual because, I guess they are not redefined on eww-mode so p

[2015-12-11 19:01] justbur commented on #4107
that's step two :smile:
[code]

[2015-12-11 19:02] axyz commented on #4107
thanks, I was missing 'evil-forward-char :stuck_out_tongue:

[2015-12-11 19:12] justbur commented on #4107
@axyz there's also this shortcut if you like
[code]

[2015-12-11 19:50] syl20bnr commented on #4107
If there is not so much `eww` binding it can work but I fear that some useful normal state key bindings will be missing while editing text, this is why I propose full normal/insert states and a special navigation one. To me be more accurate about what I wrote above:
- once in editing state the user loops between `normal` and `insert`
- we had a simple way to go to navigate state at any time, i.e.

[2015-12-11 20:02] syl20bnr commented on #4107
All in all the paradigm I propose is the same as a terminal one with a normal/insert prompt and a key bindings to escape from the prompt.

[2015-12-11 22:34] AdmnUnpwnd commented on #2880
I've noticed that this issue has been taken care of in the Autumnal Cleanup 2015 Reporting (#3549) however unfortunately I still have no idea how I can install packages that are not in the correct ELPA compliant format. Any help will be appreciated. Thank you.

[2015-12-11 22:40] syl20bnr commented on #4151
mmmmhh I'm full up to date and I cannot reproduce this bug  :-(

[2015-12-12 05:34] aaronjensen commented on #4151
@syl20bnr I just updated again and it's still broken. Here's my `.spacemacs`: https://github.com/aaronjensen/dotfiles/blob/master/spacemacs

[2015-12-12 05:38] aaronjensen commented on #4151
@syl20bnr https://github.com/syl20bnr/evil-lisp-state/pull/19 fixes it for me.

[2015-12-12 06:28] #3575 closed

[2015-12-12 11:39] StreakyCobra commented on #2880
@AdmnUnpwnd The autumnal cleanup was made to identify old and dead issues. This one is valid so it's still open :-) But I don't think there is an easy way now to install a package that is not in ELPA format, you can try to debug/improve/document it yourself, or wait that someone get interested in this functionality :-/

[2015-12-12 11:40] StreakyCobra commented on #4146
Nope :point_down:

[2015-12-12 13:00] justbur commented on #4151
@syl20bnr to properly test this you need to remove evil-lisp-state.elc since any macros would be expanded already inside.

[2015-12-12 13:51] nashamri commented on #4145
+1
I was wondering about that folder.

[2015-12-12 14:13] nashamri commented on #2272
I just tried installing spacmacs `0.104.6` on linux mint 17.3 which is based on ubuntu 14.04 which comes with emacs 24.3 by default and the issue is still there. Magit is looking for emacs 24.4 or greater. After upgrading (using this ppa `ppa:andreas-h/emacs`) to 24.5 the issue was resolved.

[2015-12-12 15:59] justbur commented on #4151
I have a much simpler fix for this. When I get a chance today I'll make a new pr

[2015-12-12 17:01] mclearc opened #4158 "Wrong-type-argument keymapp nil error"
After updating spacemacs on develop yesterday, spacemacs failed to initialize, and gave the above error.

The backtrace showed that it was due to something in `helm-bibtex`:

[code]

This doesn't seem to be a problem upstream with `helm-bibtex` but any ideas as to how to fix this would be appreciated!

Here's my system info:

#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spa

[2015-12-12 17:25] justbur commented on #4158
where is helm-bibtex coming from? I don't see it in spacemacs, and I don't see it in your layers.

[2015-12-12 17:28] mclearc commented on #4158
I took it out of the layers so that I could start up spacemacs properly

[2015-12-12 17:29] justbur commented on #4158
It would be helpful to see what you were using to load it then

[2015-12-12 17:30] justbur commented on #4158
This call on line 5 of the backtrace
[code]
is done in the package itself, so it seems at least to be something to do with the package.

[2015-12-12 17:31] mclearc commented on #4158
Right -- here's the layer info:

[code]

[2015-12-12 17:34] justbur commented on #4158
`(use-package helm-bibtex)` should not have that closing paren first of all.

[2015-12-12 17:37] mclearc commented on #4158
Ugh. That seems to have been the problem. Either it wasn't throwing errors before, or I put the parenthesis in there recently and caused the problem. Thanks for the help and sorry to waste your time :/

[2015-12-12 17:37] #4158 closed

[2015-12-12 17:42] justbur commented on #4158
Well I'm not sure actually, since I'm getting errors on my side. It's probably being deferred now instead of loading immediately, which is part of the explanation for the change.

Since the error is coming out of a line called in the package, it seems to be something on the helm-bibtex side.

[2015-12-12 17:47] mclearc commented on #4158
Being deferred definitely helps since when I was getting the original error I could still load the package manually after startup had finished. I don't see any error now though.

[2015-12-12 17:59] justbur commented on #4158
That's bizarre. There might be a dependency on a built-in package that happens to load in between.

[2015-12-12 18:03] mclearc commented on #4158
It depends on `cl-lib 0.5 / dash 2.6.0 / f 0.16.2 / helm 1.5.5 / parsebib 1.0 / s 1.9.0`. I think `cl-lib`, `dash`, `f`, and `s` are all built-in packages right? Has something changed with the way any of these are loaded in the last few days?

[2015-12-12 18:06] justbur commented on #4158
dash, f and s are external. cl-lib is built-in

On Sat, Dec 12, 2015 at 1:04 PM Colin McLear <notifications@github.com>
wrote:

[2015-12-12 22:22] a13ph commented on #4107
in case it wasn't mentioned yet, consider that EWW will have multi-buffer support soon :tm:

[2015-12-12 22:45] a13ph opened #4165 "Pinning specific packages to alternative repository?"
Make it easier to set packages which are to be installed from melpa-stable (or org elpa, or smth else even) - there is no information on where to put those, while attempts to do so by usual ways fail

As @grammati [said in gitter](https://gitter.im/syl20bnr/spacemacs?at=566c9283187e75ea0e485cbf)

Of course one could hijack spacemacs files to inject those settings at appropriate part of loading pro

[2015-12-12 22:55] a13ph commented on #4165
#3034 might be relevant, but I can't wrap my head around whether it is

[2015-12-12 23:05] a13ph commented on #4165
[Old solution](https://github.com/syl20bnr/spacemacs/issues/2057#issuecomment-137960576) doesn't seem to work anymore

[2015-12-12 23:59] AdmnUnpwnd commented on #2880
@StreakyCobra I'm not experienced in Emacs Lisp beyond the general configuration but I'll keep looking for alternate ways and report if I find anything. Meanwhile, I would appreciate if someone is able to integrate this functionality in spacemacs.

[2015-12-13 02:16] ryepesg commented on #3729
The issue "void-variable lh-knight" on installing lispy occurs even with the standard installation of spacemacs. However, reinstalling and choosing just spacemacs-base solves the problem.
Related issue: https://github.com/abo-abo/lispy/issues/148

[2015-12-13 03:43] syl20bnr commented on #4151
I still cannot reproduce it, I removed evil-lisp-state from elpa directory and restarted, evil-lisp is installed and work.

[2015-12-13 03:49] syl20bnr commented on #4151
No matter how hard I try I cannot hit this bug, that's so strange.
cc @TheBB @StreakyCobra

[2015-12-13 07:24] waivek opened #4167 "spacemacs/copy-and-comment-line does not accept text-objects"
The gc command works in a vimmish manner where it accepts a text-object unless in visual mode, where it simply comments out the visual selection. gy (copy-and-comment-line) on the other hand simply mimics the visual mode behavious correctly. In normal mode it works only on the current line.

[2015-12-13 07:45] aaronjensen commented on #4151
@syl20bnr It is probably because I have this:

[code]

[2015-12-13 10:25] StreakyCobra commented on #2272
Indeed, [`magit` is requiring emacs 24.4 at least](https://github.com/magit/magit/blob/24b6fb7295c544c4cad6f64653f653c1e1c58406/default.mk#L55). Upstream have already said they [will not support emacs 24.3](https://github.com/magit/magit/issues/2044#issuecomment-120422590), so there is nothing we can do here. For `alchemist` it's also [an upstream requirement](https://github.com/tonini/alchemist.e

[2015-12-13 10:25] #2272 closed

[2015-12-13 11:01] StreakyCobra commented on #4151
I had twice a problem with `SPC k` recently. The first time ([November 30, 2015 11:18 AM](https://gitter.im/syl20bnr/spacemacs?at=565c225b2753fafb4af61660)) it was weird, I had to wipe the `elpa` dir totally. The second time just wiping `evil-lisp-state` was enough, but I was not having time to debug sadly.

I just tried emacs 24.5.1 (ubuntu 15.10 version, I don't have OS X), on last develop, with

[2015-12-13 11:51] axyz commented on #4107
@a13ph nice! that should make easy dealing with vimperator functions such as `O` to open url in new buffer (as well as `F`, `P`, etc...)

at the moment in the `eww-lnum-universal` (binded to `F`) it is possible to open a link on a new buffer as well, but it will create an *eww*<1> buffer (quite hard to figure out what is inside from helm-buffer...)

with a proper multibuffer support we may end up

[2015-12-13 12:05] axyz commented on #4107
as a side note (far beyond my actual elisp and emacs internals knowledge...) it seems to me that eww is quite slow to load a new url.

javascript is not executed, so I guessed it may be a problem with http requests, but loading really plain html websites such as http://motherfuckingwebsite.com is fairly fast.

So the problem is probably on complex css rendering.

duckduckgo is an example: on a nor

[2015-12-13 12:55] justbur commented on #4151
I can't explain the inconsistent behavior between people's machines, but I think the source of the problem is [here](https://github.com/syl20bnr/evil-lisp-state/blob/master/evil-lisp-state.el#L173-L181), where `SPC k` is being bound to two different keymaps at the same time one of which is empty (`evil-lisp-state-major-mode-map`). I think the `SPC k` keys are missing problem is just that emacs see

[2015-12-13 13:23] zwb-ict opened #4168 "Develop branch: begin from commit f2878d594a6c6557cf38e4623efa4a79c1f013fc, load init.el failed."
I load spacemacs in my personal.el:

[code]

In commit 8fb3af3e56a60368118ce8bb7aa4d18282efb235 it works OK, but begin from f2878d594a6c6557cf38e4623efa4a79c1f013fc, it failed at startup.

I run emacs with --debug-init, but no debug info print out.

in message buffer:
[code]

Init stops at here. I don't know why, Please help. Thank you very much!

[2015-12-13 15:09] StreakyCobra commented on #4151
I have it just now. @justbur do you want me to try something? If yes I am on gitter.

[2015-12-13 15:39] StreakyCobra commented on #4151
A few information that I looked for in `emacs-lisp-mode` (editing my `.spacemacs`):

`SPC ?` says that `SPC k` is bound to `evil-lisp-state-major-mode-map-prefix` in `evil-lisp-state-major-mode-map-activate` minor mode. It appears twice in the list :eyes:

After pressing `SPC`, `which-key` lists `k -> +lisp`.
After pressing `SPC k`, `which-key` print `which-key: There are no keys to show`. The key

[2015-12-13 16:01] StreakyCobra commented on #4151
Restarting Emacs doesn't solve the issue. I took this opportunity to test @justbur PR and… it works.

I switched a few time between `develop` and https://github.com/syl20bnr/spacemacs/pull/4159, and the bug is there when not applied, and disappear when it is.

[2015-12-13 17:45] geo7 opened #4170 "GUI lockup - slowness / freezing of text input"
Using Python with an anaconda environment (Python 2.7) and trying to enter the
following (incomplete - enough for error though ) code

[code]

Gives these errors -

[code]

When this is occuring the text input stops, things slow down and incorrect text
appears on screen when things pick up again.

#### System Info

- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (r

[2015-12-13 18:34] syl20bnr commented on #4151
@StreakyCobra Do you have any repro step to trigger the bug ?

It may be annoying but I won't apply the fix until we know exactly what's going on, if there is a lurking bug given a certain kind of setup we must unveil it and be sure to correct it.

What is this minor mode and why is it listed twice ?

[2015-12-13 19:01] StreakyCobra commented on #4151
Nope, I'm not even sure when the bug appeared. I don't use this really often, but I'll try to be more careful now.

[2015-12-13 19:34] sebhahn opened #4172 "error "eyebrowse-mode is not currently registered as a minor mode""
Since the last update I get the following error message using the eyebrowse layer

[code]

[2015-12-13 19:34] justbur commented on #4151
I'm not able to reproduce this anymore but for anyone running into this. This should resolve the problem

`M-: (setq evil-lisp-state-major-mode-map-prefix evil-lisp-state-map-prefix)`

[2015-12-13 19:58] myrjola commented on #4172
Seems that removing the lighter breaks the diminish directive in use-package. This is the breaking change in eyebrowse: https://github.com/wasamasa/eyebrowse/commit/adb02b17374638d570db96d9edbbab4cfaecf3ef

[2015-12-13 20:00] cpaulik commented on #4170
This seems to be a bug in `jedi`. See https://github.com/davidhalter/jedi/issues/572

[2015-12-13 20:31] myrjola commented on #4172
I mailed the author of diminish.el a [patch](https://gist.github.com/d3506de87ae7e0b84a52) for his consideration. I propose removing the error function that can cause trouble if a package decides to remove a minor-mode lighter.

[2015-12-13 20:38] sebhahn commented on #4172
Thanks @myrjola for taking care of this!

[2015-12-13 20:42] syl20bnr commented on #4093
Should be fixed in develop.

[2015-12-13 20:44] syl20bnr commented on #4172
@myrjola Thank you for the report :+1:

In the meantime I removed the diminish since it is not required anymore.

[2015-12-13 21:09] ikhthiandor opened #4174 "Any plans to have gitlab support?"
relevant package https://github.com/nlamirault/emacs-gitlab

[2015-12-13 21:49] cpaulik commented on #4174
Have you tried it? I was not able to connect to any of the gitlab CE instances I have access to.

[2015-12-13 22:21] Andre0991 commented on #4107
I think it's supposed to be addressed on emacs-devel.

[2015-12-13 23:02] hujianxin commented on #4093
@syl20bnr Thanks for your hard work.

[2015-12-13 23:07] hujianxin commented on #4093
It's true. I just tested it, and found that the problem has been fixed. I'll close this issue.

[2015-12-13 23:08] #4093 closed

[2015-12-14 01:19] jschaf opened #4175 "t in post-command-hook"
There is a lone `t` in `post-command-hook`

I'm on develop and all my packages are upgraded.  I commented out my spacemacs.
## Steps to reproduce
1. Run emacs
2. Switch to scratch buffer
3. Eval "post-command-hook" with type <kbd>M-: post-command-hook</kbd>
4. Observe `(evil-normal-post-command t)`

The `t` occurs in the local post-command-hook, it's not present in the global value.

`emacs -q` do

[2015-12-14 02:15] syl20bnr commented on #4151
This bug is going to drive me nuts... if only I could trigger.
@aaronjensen can you prodive your whole dotfile removed from any personal info ?

[2015-12-14 02:32] aaronjensen commented on #4151
@syl20bnr it's just https://github.com/aaronjensen/dotfiles/blob/master/spacemacs you don't need anything else in my dotfiles. If you want to use my whole environment, my dotfiles at https://github.com/aaronjensen/dotfiles are actually stripped of personal info as other people use them as well.

[2015-12-14 02:34] justbur commented on #4151
Let me give some more background on how bind-map works and maybe this will help (for the record the bug showed up once for me, but I can't reproduce it anymore).

evil-lisp-state is using bind-map twice as I said, once to bind evil-lisp-state-map, which holds all of the bindings, and once to bind evil-lisp-state-major-mode-map, which is completely empty at the moment.

1. `evil-lisp-state-map` sho

[2015-12-14 03:45] jb55 commented on #4139
I fixed this recently by `rm -rf helm*` in the elpa directory

[2015-12-14 04:00] tuhdo commented on #3336
It is because of a bug in Imenu: https://github.com/skeeto/nasm-mode/issues/5

[2015-12-14 05:11] jupl commented on #4082
@stormpat ES6 is fine now that it has been finalized. However, before then there were quirks. Here is a snippet of code that just falls apart when playing around with the function bind proposal that's available in Babel.

[code]

[2015-12-14 07:31] a13ph opened #4177 "dot and C-v repeat are broken in hybrid mode"
Even for evil-specific commands.

Switching to vim-style - and everything works

as per @mysyljr [gitter question](https://gitter.im/syl20bnr/spacemacs?at=566e6912cffd648a05555483)

[2015-12-14 08:38] fatlazycat opened #4178 "org-mode laggy with large file"
If I open the spacesmacs doc org file then then the system runs very slowly.

I get lag using the movement keys and things such as helm-find-files takes a while to open etc.

If I switch to a different workspace then the lag goes etc.

[2015-12-14 09:11] dptd commented on #4097
@syl20bnr Where / how do you set dotspacemacs-elpa-https to nil? I checked out master branch and have the same issue. However I am behind the corporate proxy. Cannot find this symbol anywhere.

[2015-12-14 09:19] StreakyCobra commented on #4097
@dptd This change is only in `develop` for now. It will be in the next release.

In `master` [repositories are set on `http`](https://github.com/syl20bnr/spacemacs/blob/master/core/core-configuration-layer.el#L27-L29)

[2015-12-14 09:31] dptd commented on #4097
@StreakyCobra I was afraid of that... Thanks for the fast reply.

[2015-12-14 11:59] TheBB commented on #2880
Download it and load it manually, then. I don't think the burden should be on us to support non-standard packages, particularly when the standard is as accepted as it is.

[2015-12-14 12:24] geo7 commented on #4170
cheers @cpaulik , is there any work around that you use for this or do you just disable it?

[2015-12-14 12:54] Andre0991 commented on #4178
It might have to do with line numbers.

Does it get better when you disable them?

[2015-12-14 13:06] fatlazycat commented on #4178
Yeah thanks that solved it. Is there a way to disable linum mode just for org-mode ?

[2015-12-14 13:29] StreakyCobra commented on #4178
This is a way (in your `user-config`):
[code]

[2015-12-14 13:41] fatlazycat commented on #4178
Thanks, should this be left open or you have this recorded elsewhere, nothing to be done etc ?

Thanks again !

[2015-12-14 13:47] phinicota commented on #4139
So, I've been experimenting. Doing a pull didn't solve it.
And this rm -rf helm* in the elpa directory didn't solve it either.
Today I got this error during a compilation. The client window I'm using does not go blank. Once I change to other client windows, they go blank, does that mean anything?
So now I'm guessing it has nothing to do with helm but rather another one of the layers I have? any su

[2015-12-14 14:02] TheBB commented on #4178
(add-hook 'org-mode-hook 'spacemacs/toggle-line-numbers-off 'append)

Better... no need to wrap single functions in lambdas. :-)

Can probably close this, linum is a known performance criminal and no solution has been forthcoming for years. It's at least not our problem.

[2015-12-14 14:02] #4178 closed

[2015-12-14 14:34] cpaulik commented on #4170
No workaround. I've never encountered it since I do not use lambda expressions a lot.

[2015-12-14 14:37] StreakyCobra commented on #4178
Wait, what do I have this in my config :fearful: ?

[2015-12-14 14:43] justbur commented on #4177
Not that I'm aware of. Would be nice to have steps to reproduce...

[2015-12-14 14:47] luxbock opened #4180 "Don't override dotspacemacs-leader-key in info-mode"
Currently pressing `SPC` for me scrolls the page.

[2015-12-14 16:06] wmealing commented on #3854
I can confirm that lburton's fix was required.  I also noticed that package descriptions are now bugged, but at least I can install them now.  Thanks for the hint to byte-compile Luke.

[2015-12-14 16:30] fatlazycat commented on #4178
Hmm that appears to turn off line numbers globally, can you just disable for org-mode ?

[2015-12-14 16:32] justbur commented on #4152
@StreakyCobra or @TheBB I believe this only affects develop and can be closed

[2015-12-14 16:35] justbur commented on #4180
I did `C-h i` then `SPC` and the leader bindings are there

[2015-12-14 18:12] StreakyCobra commented on #4178
It doesn't for me, but maybe it's because I'm on `develop`.

[2015-12-14 18:35] lunaryorn opened #4181 "Fix pos-tip setup in `master`"
Please backport the flycheck-pos-tip setup from `develop` to a stable release.

When flycheck-pos-tip changed to a minor mode a month ago, `develop` was updated, but the change was apparently not back-ported to `master`.  Consequently all stable Spacemacs releases have an incomplete setup for flycheck-pos-tip which leads to [some feature missing](https://github.com/flycheck/flycheck-pos-tip/issues

[2015-12-14 21:22] mayersj1 commented on #4172
So, what's the solution for those of us that aren't tracking develop?  Not apply any package updates?

[2015-12-14 21:23] ahyatt commented on #4138
About seq-find: this is a common problem with use-package, if you use it, or you may find a similar situation:
https://github.com/jwiegley/use-package/issues/275

Short version: something is loading the seq library before package-initialize is called in spacemacs
(which changes the load-path to bring in the elpa seq).  I'm having the same issue, but haven't traced it down yet.  Ideally in Spacemac

[2015-12-14 21:26] sebhahn commented on #4172
I've deactivated the layer for the moment :unamused:

[2015-12-14 21:28] syl20bnr commented on #4172
I will release an update ;-)

[2015-12-14 21:28] syl20bnr commented on #4181
Thank you for the report :+1:
I'll do a release this evening.

[2015-12-14 21:31] mayersj1 commented on #4172
Great!

[2015-12-14 21:33] StreakyCobra commented on #4181
@syl20bnr Just to be sure, hotfix release? Or do I have to stress releasing the bepo layer update :-p

[2015-12-14 21:39] AdmnUnpwnd commented on #2880
@TheBB How do I load it manually? Do I edit .spacemacs or init.el? Sorry I am new to Emacs.

[2015-12-14 22:06] edpaget commented on #2571
This was solved upstream

[2015-12-14 22:16] StreakyCobra commented on #2571
:+1: thx for the info

[2015-12-14 22:23] StreakyCobra commented on #4151
I don't know if it's related (probably not) but there is a warning when compiling `evil-lisp-state` after deleting it from `elpa/`:

[code]

[2015-12-14 22:24] nugend commented on #3018
I'm trying to add the following binding:
[code]

Doesn't seem to work. Also tried using `(with-eval-after-load 'org-mode ...)` to make sure it ran after any other bindings were defined. That didn't work either.

[2015-12-14 22:26] fatlazycat commented on #4178
Yeah same here with develop. Thanks

[2015-12-14 23:18] orlandow opened #4187 "emacsclient errors (*ERROR*: SymbolΓÇÖs function definition is void: self)"
I am running `emacs --daemon` and then `emacsclient -c` and I am getting:

    $ emacsclient -c
    *ERROR*: SymbolΓÇÖs function definition is void: self

and in the `emacs --daemon` side:
    `<t> is undefined`

this is my `SPC h d s`:

#### System Info
- OS: windows-nt
- Emacs: 25.0.50.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 17fae46)
- Distribution: spacemacs
- Layers:
‘‘‘elisp

[2015-12-14 23:25] justbur commented on #4151
@StreakyCobra I pushed an update to bind-map to get rid of those warnings, but this shouldn't have caused any problems

[2015-12-14 23:28] StreakyCobra commented on #4151
Ok. As I don't know how to reproduce the bug I can't test anyway.

[2015-12-15 00:59] rcanepa commented on #4151
Has anyone one found a workaround to fix it temporarily?. I have been bouncing between issues trying to find a fix but nothing that I tried has solved the problem. Could be this solved reinstalling spacemacs?

[2015-12-15 01:28] aaronjensen commented on #4151
@rcanepa https://github.com/syl20bnr/evil-lisp-state/pull/19 fixes it, you may need to delete the .elc file after installing the patch, however.

[2015-12-15 02:06] wallacewinfrey commented on #4138
It doesn't appear to be fixed in develop, either. Still encountering the same error/lack of flycheck functionality after switching to the develop branch.

[2015-12-15 05:52] #4172 closed

[2015-12-15 06:06] syl20bnr commented on #4181
Done :-)
@StreakyCobra Bepo layer does not exist in 0.104.7. If everything goes well we should have 0.105 shipped for Christmas.

[2015-12-15 08:33] TheBB commented on #2880
You can use `load-file`. Put it in ~/.spacemacs.

[2015-12-15 10:33] StreakyCobra commented on #4151
Another workaround that could work is to delete the `~/.emacs.d/elpa/evil-lisp-state…` and restart emacs.

[2015-12-15 11:58] fewtime opened #4189 "Docview have a strange yellow line"
Spacemacs version: 0.104.7

When reading PDF file in Emacs, zooming in the PDF, there is a yellow line shown in the screen.

I use _(turn-on-fci-mode)_ in my dotspacemacs, is it caused this situation?

![Yellow line](http://i4.tietuku.com/0f4edf9ade94ca54.png)

[2015-12-15 13:09] rcanepa commented on #4151
I tried both solutions and nothing happened. Thanks anyway!

[2015-12-15 16:08] haroldcarr commented on #4181
I just updated to 0.104.7.  When I do (use-package flycheck) I get:

    Debugger entered--Lisp error: (void-function flycheck-pos-tip-mode)
      (flycheck-pos-tip-mode)
      (lambda nil (flycheck-pos-tip-mode))()
      eval-after-load-helper("/Users/carr/.emacs.d/elpa/flycheck-20150921.947/flycheck.elc")
      run-hook-with-args(eval-after-load-helper "/Users/carr/.emacs.d/elpa/flycheck-2015092

[2015-12-15 16:10] lunaryorn commented on #4181
@haroldcarr Please update your packages, and consider updating frequently.  The package is almost three months old, which is a rather long time in Emacs land.

[2015-12-15 16:18] haroldcarr commented on #4181
I guess I was under the mistaken assumption that spacemacs was curating the package versions.

When you say "update your packages" - do I just do an update all or what specifically?

[2015-12-15 16:24] lunaryorn commented on #4181
Indeed, the infrastructure that we (as a community) currently have does not allow for this.  We lack the tools to manage package versions as strictly as in other environment such as Ruby or Haskell.

I'm sorry for having been unclear in my comment; you may update `flycheck-pos-tip` specifically, but I would strongly recommend you to just use the "Update" button in the Spacemacs buffer (the one tha

[2015-12-15 16:26] zwb-ict commented on #4168
[code]

Is there maybe some problem with these code? If I comment them, I can load init.el OK.

[2015-12-15 16:46] haroldcarr commented on #4181
Now I see.  I thought when I did an upgrade (say from 0.104.6 to 0.104.7 like I just did) that it updated package versions too.   Now I understand that the Update button (which I suppose it the same a list-packages, mark upgradable packages, execute actions) is to keep packages up-to-date and "upgrade" is to upgrade to the latest spacemacs infrastructure.

Question: would you recommend to Update (

[2015-12-15 16:57] taiansu commented on #4139
Happens on me too.

In my case it's when editing a elixir file, spacemacs try to complete the function names by alchemist, and it freezes immediately, everytime.

My Environment:
OS X 10.11.2
emacs: railwaycat/emacsmacport 24.5
spacemacs: 0.14.7 && 0.15.0 (development)

[2015-12-15 18:59] lunaryorn commented on #4181
I do not know what Spacemacs recommends.  For my part, I follow the `develop` branch of Spacemacs and update packages very frequently.

[2015-12-15 20:12] josiah14 commented on #383
@mateusz-gorski-hello Shouldn't this ticket remain open until the `scala` declaration in layers installs scala-mode2 such that it works without further tinkering?

[2015-12-15 20:48] bgvianyc opened #4192 "C-c P S S should be bound to helm-projectile-ag"
Given that projectile-ag is already accessible using other methods including `SPC-/` it seems intuitive to bind helm-projectile-ag to C-c P S S instead of projectile-ag given that helm-projectile-ag has no default keybinding.

[2015-12-15 21:29] mateusz-gorski-hello commented on #383
probably, but I didn't close it.

[2015-12-15 21:49] StreakyCobra commented on #4181
@haroldcarr It may be a good idea to update packages at the same time as updating Spacemacs, because there could have been some changes in Spacemacs that support only the new versions of some packages. It's not always the case nor mandatory though, especially for minor release.

Updates usually bring bugfixes and/or new features, but sadly they can also bring new bugs. So:

- If you want a **stron

[2015-12-15 21:58] TheBB commented on #4192
We don't really mess around with the default Emacsy keybindings, as a matter of principle.

[2015-12-15 22:16] bgvianyc commented on #4192
I could be wrong, however I believe is should become bound to helm-projectile-ag when helm-projectile is enabled, which it is by default in spacemacs.

[2015-12-15 23:28] Superpat opened #4194 "Haskell layer - Wrong type argument listp"
So I'm trying spacemacs out and liking what I'm seeing. But while I have been able to activate the layers for c, html and others, I still cant make haskell work, whenever I try to add it to the layers it starts compiling and then ends with an error.

    Wrong type argument: listp, "/home/patrick/.emacs.d/layers/auto-completion/snippets"

If this is an error in the auto completion layer why does i

[2015-12-16 01:50] ethanluoyc opened #4195 "Incorrect set-up of environment variables"
I am starting Spacemacs from the teriminal, which I use Conda as a package manager.

Conda allows me to change my python environment similar to that of Virtualenv. It dose this by changing the PATH variable.

When I start the GUI Spacemacs after I checked out a particular virtual env from Conda, the changes to the PATH variable is reflected in the terminal, however, it is not observed in the GUI S

[2015-12-16 01:55] syl20bnr commented on #4168
Is there a `*Warning* ` buffer ?

[2015-12-16 01:58] ethanluoyc commented on #4195
I have figured out the problem is due to `exec-from-shell-path` which sets the env to be the same as that of the **initial** shell environment, please close this issue

[2015-12-16 02:00] syl20bnr commented on #4141
Nice catch!
I'm for removing it.

[2015-12-16 02:04] syl20bnr commented on #4192
As @TheBB said we do not setup `C-c` key bindings.

[2015-12-16 02:06] syl20bnr commented on #4194
Do you have anything snippet related in your dotfile ?

[2015-12-16 02:07] syl20bnr commented on #4195
If you report it upstream we can keep this issue open to track it (post the link back in this thread).

[2015-12-16 02:22] zwb-ict commented on #4168
@syl20bnr

Only start without --debug-init, can get a \***Warning**\* buffer as below

[code]

And the \***spacemacs**\* buffer looks as below:
[code]

With 8fb3af3e56a60368118ce8bb7aa4d18282efb235 commit(this commit is just before f2878d594a6c6557cf38e4623efa4a79c1f013fc), the \***spacemaces**\* buffer looks OK:
[code]

I set **user-emacs-directory** (the code is on the top of page) before I load

[2015-12-16 02:24] zwb-ict commented on #4168
@syl20bnr Is there any way can get more debug info than --debug-init? Or Is there any way to get spacemacs's trace?

[2015-12-16 02:25] syl20bnr commented on #4181
@StreakyCobra thanks for the use cases list!

@haroldcarr
TL;DR Update Spacemacs only when you want to update your packages, recommended workflow:

Spacemacs has only an update/rollback mechanism for now, if you have a working Spacemacs then you can consider updating your packages often and rollback as need to go back to a working state. But we are still lacking an important mechanism which to be

[2015-12-16 02:25] ethanluoyc commented on #4195
I think this is similar to the problem found in https://github.com/purcell/exec-path-from-shell/issues/34. This is one of the edge case of wanting to have different PATH in interactive and non-interactive shell.

I guess we should see how the upstream issue goes.

[2015-12-16 02:29] Superpat commented on #4194
dotspacemacs-configuration-layers
       '(
        ;; ----------------------------------------------------------------
        ;; Example of useful layers you may want to use right away.
        ;; Uncomment some layer names and press <SPC f e R> (Vim style) or
        ;; <M-m f e R> (Emacs style) to install them.
        ;; ----------------------------------------------------------------

[2015-12-16 03:29] hamhut1066 commented on #3136
Magit is being pretty slow for me too. Profile is linked. I can help narrow down the problem if given directions to look in
<img width="1680" alt="screen shot 2015-12-16 at 03 24 23" src="https://cloud.githubusercontent.com/assets/1742172/11831291/19fd74b2-a3a5-11e5-8805-10e1b566b732.png">

[2015-12-16 03:30] landaire opened #4196 "Very long hangs when loading specific file"
I'm on the latest dev (78bdfd0b0ed73e3b2b96dfdaa9d77f5ed6d8226b) and when trying to load [this file](https://github.com/D-Programming-Language/dmd/blob/master/src/doc.d) emacs severely hangs and uses 100% CPU. Really all I have to do to trigger it now is restart emacs, select doc.d from the recent files, and let it hang. It didn't hang the first time I opened it but after performing some project s

[2015-12-16 03:32] landaire commented on #4196
Renaming the parent directory (the dmd git repo root) and re-opening the file seems to have fixed it. Is there another cache besides projectile cache? I tried clearing that originally with no luck.

[2015-12-16 04:30] kvaneesh opened #4197 "helm-do-grep is removed"
https://github.com/emacs-helm/helm/wiki#faq

https://github.com/emacs-helm/helm/commit/013ee11b695f52c68b0a0648dbd143b3592e2ef3

[2015-12-16 05:08] purcell commented on #4195
That's not the same issue. In this case, you simply don't want to be using `exec-path-from-shell` at all.

[2015-12-16 09:01] TheBB commented on #4195
Yep, if you need this kind of functionality, exclude the `exec-path-from-shell` package.

[2015-12-16 09:33] wanghaoqin opened #4198 "python in spacemacs"
Hello, everyone.
I just want to add python to my spacemacs and add 'python' in the 'dotspacemacs-configuration-layers'. But when I restart emacs, it can not fetching new packages to install. Here are the error messages. How can I solve this problem?

Found 9 new package(s) to install...
--> fetching new package repository indexes...
--> installing python:anaconda-mode... [1/9]An error occurred whi

[2015-12-16 09:35] wanghaoqin commented on #4198
Here is part of my .spacemacs

dotspacemacs-configuration-layers
   '(
     ;; ----------------------------------------------------------------
     ;; Example of useful layers you may want to use right away.
     ;; Uncomment some layer names and press <SPC f e R> (Vim style) or
     ;; <M-m f e R> (Emacs style) to install them.
     ;; ------------------------------------------------------------

[2015-12-16 09:54] #4192 closed

[2015-12-16 10:34] #4198 closed

[2015-12-16 11:05] JacobJakub opened #4201 "doing eval w instead of :w"
Hello I am new to spacemacs and emacs at all. I am having a problem with `:` some time (50/50) when I press `:` instead of executing a vim command a small text `eval:` is showed at the bottom. This is pretty annoying when I just want to save a file or do some other vim commands as an another buffer with an error of evaulating `w` opens and I must click ~6times on `ESC` key.

Does it happens to you

[2015-12-16 11:27] TheBB commented on #4201
You may be hitting `M-:` instead of `:`.

[2015-12-16 11:52] kissgyorgy commented on #3191
I had the same problem when updated to 0.104.8, but this seems to have solved my issue too.

[2015-12-16 12:34] StreakyCobra commented on #4194
@Superpat Can you paste here the result of `SPC h d s`?

@d12frosted Maybe you can have a look at this one.

[2015-12-16 12:49] JacobJakub commented on #4201
I am definitely not hitting `M-:` using an Australian keyboard I must hold `Shift + ;` but I found the cause. It happens when I hit `ESC` and then `:` do you guys know how can I change this behaviour?

[2015-12-16 12:53] d12frosted commented on #4194
Yeah, `SPC h d s` could be helpful. I am on develop (latest update - 3 days ago) and don't see any problems.

[2015-12-16 12:54] JacobJakub commented on #4201
Ok, tried it one more time without tmux and the issue is no longer present

[2015-12-16 12:54] StreakyCobra commented on #4197
I'm not sure if there is any impact on Spacemacs, as we are using `helm-do-grep-1` and this one hasn't been removed.

[2015-12-16 12:57] #4201 closed

[2015-12-16 13:53] Superpat commented on #4194
#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.104.7
- Spacemacs branch: master (rev. 878f517)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-16 14:29] Superpat commented on #4194
#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.104.8
- Spacemacs branch: master (rev. 44d4525)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-16 14:55] karmajunkie commented on #2626
I'm seeing this issue, but when I turn on debugging I don't get the debugger activated. Curiously, after I turned on the debugger, the error message went from `Wrong-type-argument: bufferp, "Unprintable entity"` to `Wrong-type-argument: hash-table-p, "Unprintable entity"`.

I'm not well-versed enough in emacs to figure out what the problem is, but when I run `M-x ido-switch-buffer` it elicits the

[2015-12-16 14:55] angel1a opened #4202 "Error enabling Flyspell mode"
I have seen this in https://github.com/syl20bnr/spacemacs/issues/9.

Is it seems to be wrong again? Or there is a problem with my configuration but I don't know how to fix it?

#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 3507bc7)
- Distribution: spacemacs
- Layers:
[code]

* *message*

Loading /Users/lihaoxuan/.emacs.d/core/core-load-paths.e

[2015-12-16 14:57] karmajunkie commented on #2626
Also worth mentioning is that helm-projectile-switch-to-buffer is still working. I'm using that to work around the issue by remapping my buffer key to that in the spacemacs file.

[2015-12-16 14:59] d12frosted commented on #4194
So when you have `(auto-completion better-defaults emacs-lisp git markdown syntax-checking html c-c++ colors scheme rust php csharp)` layers enabled you don't have any problems, but when you enable `haskell` layer the problem appears? Do I understand it right?

[2015-12-16 15:07] Superpat commented on #4194
Exactly

[2015-12-16 15:37] kendall opened #4204 "dotspacemacs-emacs-leader-key can't be nil (Was: Can't type 'm' in insert mode)"
On latest develop and latest packages (3507bc74455a213d3fcaff408453933496ef83bc) and I can't type an 'm' in insert mode when using the asciidoc package. An 'm' in insert mode brings up the "Major modes commands' minibuffer instead.

[2015-12-16 16:00] josiah14 opened #4205 "'noflet' not provided error still not resolved for the Scala layer."
Error message:

[code]

It seems people have been able to work around this issue by following the suggestions on ticket https://github.com/syl20bnr/spacemacs/issues/383, but the fact remains that the Scala layer still does not work out-of-the-box and as intended if one just includes the scala layer in the .spacemacs config.

Since it appears that whoever closed the ticket is no longer monitoring i

[2015-12-16 16:10] justbur commented on #4204
I can't reproduce this.

[2015-12-16 16:15] syl20bnr commented on #4204
@kendall When was the last time you updated your develop branch ?
If you remove temporarily the asciidoc package from your config, do you still have the same bug ?

In the meantime you can revert back to the previous commit of your develop branch by examining `git reflog` output.

[2015-12-16 16:24] kendall commented on #4204
I updated develop branch to the latest, this morning.

But when I disable the 'asciidoc' package the bug goes away, so I assume it's a bug there. I updated packages this AM, too, so I think I have the latest asciidoc.

[2015-12-16 16:38] StreakyCobra commented on #4202
You have to install `ispell` and be sure it is in your `$PATH`.

[2015-12-16 19:27] bgvianyc opened #4206 "Auto-complete and documentation (tern) does not work in .jsx files"
The keybinding for tern in the javascript contribution layer do not work when the file is a .jsx file, the commands do work however. They should be available in .jsx files (react).

[2015-12-16 19:57] bmag commented on #2626
@karmajunkie thanks for the info. Seems that `desktop-read` loads some previously saved state that isn't handled well in `helm-mini` (or other commands).

We need to identify the offending part in the desktop file - possibly the string "Unprintable entity" appears where a buffer should be. @karmajunkie can you upload the offending desktop file?

We should also identify which Helm source throws the

[2015-12-16 20:06] eipplusone opened #4207 "helm-projectile-find-file is slow"
`helm-projectile-find-file` used to be very snappy once the indexing has been done, now it takes about a second and a half on every invocation. It's a small project, just a handful of files. It almost feels like it tries to index every time I invoke the function.

I'm on develop branch. No projectile-related personal configs. It persists after I invalidate the cache.

[2015-12-16 20:52] voltecrus commented on #4207
I've started from scratch spacemacs and it works as expected - something's wrong with my config.

[2015-12-16 21:21] AdmnUnpwnd commented on #2880
@TheBB Thank you.

[2015-12-16 21:37] voltecrus commented on #4207
The reason the above helped is it cloned the master branch by default. The moment I switched to develop the problem came up again.

[2015-12-16 21:59] auser opened #4208 "Spacemacs hangs under normal usage (moving the cursor, etc)"
I've been using spacemacs for the past year and have had very few issues, but when reseting my spacemacs to head and reseting my `.spacemacs` file, all of a sudden I get 'hiccups' when moving the cursor where spacemacs pauses and hangs briefly until it can "catch" up. It basically renders spacemacs useless for development right now. Has anyone else experienced this problem?

`SPC h d s`:
#### Syst

[2015-12-16 22:32] NervosaX commented on #4082
Even react looks better in js-mode compared to js2-mode

**js-mode**
![image](https://cloud.githubusercontent.com/assets/1562807/11855877/0032e290-a4a1-11e5-8b0d-4644f85f73b3.png)

**js2-mode**
![image](https://cloud.githubusercontent.com/assets/1562807/11855886/121141d2-a4a1-11e5-90e6-ee1812865b05.png)

[2015-12-16 22:58] cpaulik commented on #4207
Which OS are you using? There were some changes to projectile caching defaults in develop. See https://github.com/syl20bnr/spacemacs/pull/3802

[2015-12-16 23:00] logorrhea commented on #2278
@nugend I wasn't really able to get local packages to work, but I did get `dotspacemacs-additional-packages` to fetch a random github repo, if that helps you. Try something like the following:
[code]

[2015-12-16 23:34] StreakyCobra commented on #2880
@AdmnUnpwnd Do you managed to make it work?

@syl20bnr @TheBB So to be clear, there is no plan to support non-elpa packages as it's not a standard right? If this is the case, this issue can be closed once @AdmnUnpwnd will have solved his problem.

[2015-12-16 23:36] StreakyCobra commented on #4208
Do you have the possibility to try emacs 24.5 with the same config? We know there are some problems on emacs 25, it may be the case here.

[2015-12-16 23:44] StreakyCobra commented on #4207
Pasting the result of `SPC h d s` here would be helpful :-)

[2015-12-17 00:08] auser commented on #4208
Thanks for the suggestion/idea @StreakyCobra

When running on 24, I get the following error (I think this is a helm error?)

[code]

[2015-12-17 00:13] StreakyCobra commented on #4208
Hum, can you try to move (or remove) the `~/.emacs.d/elpa` folder, byte-compiled code could be different between versions.

[2015-12-17 00:14] lazywei commented on #4125
How's this going?

[2015-12-17 01:28] angel1a commented on #4202
Thanks ^^

[2015-12-17 01:28] #4202 closed

[2015-12-17 02:14] oppenlander commented on #4082
@NervosaX You'll want to turn on `js2-jsx-mode` rather than `js2-mode` for proper JSX support.
Also `js2-mode` doesn't support the ES7 Object Rest/Spread operator, so even in `js2-jsx-mode` your snippet will not look right.

You might have better luck using `web-mode`/`react-mode` for better looking JSX editing.

[2015-12-17 02:27] tuhdo commented on #4207
On master, it is fast because caching is enabled. On develop, it is slow because if your project is large, you must wait until Git finish retrieve the file list, and then Projectile processes the file list **every single time** `helm-projectile-find-file` is called. It takes several seconds or more on a large project (i.e. project with 10k files). With caching, those steps are skipped because the

[2015-12-17 02:42] NervosaX commented on #4082
@oppenlander Hey, thanks for the tips. Unfortunately without using js2-mode (or variant), I lose my eslint support. Kind of screwed over there. https://github.com/syl20bnr/spacemacs/issues/3661 seems to go over all the issues with all the modes.

[2015-12-17 03:42] oppenlander commented on #4082
@NervosaX You can also gain things like eslint back by toggling off warnings/errors in js2-mode with [js2-mode-toggle-warnings-and-errors](https://github.com/mooz/js2-mode/blob/master/js2-mode.el#L12221).
Your code after something like an Object Rest operator will be unstyled, but `flycheck` should still run.

[2015-12-17 04:02] karmajunkie commented on #2626
`M-x helm-mini` and `M-x helm-buffers-list` both throw errors, but `M-x helm-recentf` successfully pulls up the recent files list.  However, the Backtrace buffer is empty, even though I've toggled the debugger on with `SPC t D`.

@TheBB I'm happy to submit it but its got some file references in it i'm not comfortable submitting, as they point to proprietary data and code. Can I email it to you?

[2015-12-17 04:17] karmajunkie commented on #2626
Looking at the desktop file itself, I do see a lot of "Unprintable entity" references in it. Possibly the bug is in the persistence of the desktop?

[2015-12-17 04:59] auser commented on #4208
@StreakyCobra Unfortunately it doesn't fix it. I ended up recompiling/reinstalling everything and the problem still persists.

[2015-12-17 05:01] karmajunkie commented on #2626
@TheBB  Actually I was able to reproduce the problem with a minimal desktop file... To produce this, I updated to the latest version, updated the layers I have configured, restarting, then using `desktop-save-in-desktop-dir` to write the saved file. I've removed a number of files from the recent files list, but I've verified that I'm still seeing the problem when I open a new emacs session and rea

[2015-12-17 05:29] NervosaX commented on #4082
Ah, that's way better with the warnings/errors off.

[2015-12-17 05:59] kvaneesh commented on #4197
for me space s f started giving error

[2015-12-17 06:33] nixmaniack opened #4210 "How do I make spacemacs/helm-persp-switch-project to open at bottom with full window width?"
Similar to https://github.com/syl20bnr/spacemacs/issues/4117

I tried wrapping the [function body](https://github.com/syl20bnr/spacemacs/blob/develop/layers/+window-management/spacemacs-layouts/funcs.el#L101-L119) after `(interactive "P")` in
[code]
But it errored out with following.
[code]

[2015-12-17 07:06] AdmnUnpwnd commented on #2880
@StreakyCobra Unfortunately the `load-file` did not work. I am currently trying to use [el-get] (https://github.com/dimitri/el-get) recipes. I found a recipe, [filladapt.rcp] (https://github.com/dimitri/el-get/blob/master/recipes/filladapt.rcp), that successfully installs [filladapt.el] (http://www.wonderworks.com/download/filladapt.el) even though it is not in the ELPA compliant format. If this w

[2015-12-17 07:40] mandarvaze commented on #2917
I am still having similar issues (on version 0.104.8)
I can not use the SO solution, as the SO comments say that it breaks the virtualenv (Can't risk that)
I had empty `~/.emacs.d/.cache/anaconda-mode/0.1.1` Removing that and restarting spacemacs didn't help

[2015-12-17 08:53] TheBB commented on #4210
You have to quote `spacemacs//display-helm-window` probably.

[2015-12-17 09:30] cpaulik commented on #2917
If you are using homebrew then this is a homebrew bug in my opinion since it breaks a standard pip Command line Argument. Can you try using e.g. pyenv to install a fully working Python Installation? Or maybe the anaconda Python distribution ( not to be confused with anaconda mode)

[2015-12-17 11:19] StreakyCobra commented on #4197
Not on my side. Can you paste here the result of `SPC h d s`?

[2015-12-17 12:17] TheBB commented on #2671
https://github.com/TheBB/spaceline/issues/45

[2015-12-17 12:29] StreakyCobra commented on #2880
Ok, let us know if you find a way to make it work :-)

[2015-12-17 12:35] StreakyCobra commented on #4208
Yes, when installing another emacs version it's better to recompile all bytecode files because it may be incompatible. Removing the `elpa/` dir force redownload and recompilation of packages, but you can also do: `M-: (byte-recompile-directory package-user-dir nil 'force)`

[2015-12-17 12:48] bmag commented on #2626
Thanks for the desktop file, it is very helpful. I can see that all the Unprintable Entities are related to frame parameters that are set by [perspective.el](https://github.com/nex3/perspective-el):
[code]
Buffers, window configurations (as returned by `current-window-configuration`) and hash tables are not supported as writable/restorable values by `desktop.el`. The "Unprintable entity" is the va

[2015-12-17 13:45] gregpardo opened #4211 "Javascript Layer - jsbeautify editorconfig conflicts"
This might be out of scope since editorconfig is not a layer anymore.

This issue is that when editorconfig is being used jsbeautify I believe editorconfig configuration should override whatever default jsbeautify indents and formatting are. Looking for input and thoughts on this. If this sounds reasonable I could probably hack it in. Thanks

[2015-12-17 13:57] nixmaniack commented on #4210
Tried quoting it, although now I don't see the error but helm behaviour is same and it doesn't open full width at bottom.

[2015-12-17 14:24] justbur commented on #4204
@kendall I've had the asciidoc layer installed since you reported this and I don't see this behavior at all. You'll have to provide more information if you expect us to reproduce it I think.

[2015-12-17 14:29] StreakyCobra commented on #4204
Same here, I'm using it for months without any problem. What would help us is:

- Pasting the output of `SPC h d s` here
- Providing a link to your `.spacemacs` if there is no sensible information in there
- Eventually a reproduction guide that starts like:
  1. Start emacs
  2. …

[2015-12-17 14:29] kendall commented on #4204
@justbur I don't expect anyone to do anything. I just reported what I've seen, given the information I have. I don't really know what is causing the bug. Disabling asciidoc package seems to have made it go away but that's all I know so far. ;>

[2015-12-17 14:35] kendall commented on #4204
#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 3507bc7)
- Distribution: spacemacs
- Layers:
[code]

My ~/.spacemacs is https://gist.github.com/kendall/4a27d68e35d6b181a379

[2015-12-17 14:40] justbur commented on #4204
@kendall found the bug. We're not handling no emacs leader key correctly https://gist.github.com/kendall/4a27d68e35d6b181a379#file-spacemacs-el-L81

[2015-12-17 14:42] kendall commented on #4204
@justbur Thanks! I'll put something there and try to see if that 'fixes' it. I can't remember why that value is empty except that I think my spacemacs predates its introduction, perhaps.

[2015-12-17 14:42] syl20bnr commented on #4204
@kendall can you run `SPC : dotspacemacs/test-dotfile` and provide the result ?

[2015-12-17 14:42] justbur commented on #4204
@syl20bnr I'm going to fix this on the bind-map side now. I'm going to assume that  you never want to use a nil leader key, but this should probably be taken care of in spacemacs as well.

By the way, @kendall technically it doesn't say in the documentation that you can disable the emacs leader key by setting it to nil

[2015-12-17 14:44] kendall commented on #4204
With emacs leader key set to nil:

[code]

[2015-12-17 14:44] TheBB commented on #4204
He's not using nil though, it's an empty string.

[2015-12-17 14:44] justbur commented on #4204
@TheBB same thing

[2015-12-17 14:45] justbur commented on #4204
@TheBB I meant it's the same thing after passing it through `kbd`

[2015-12-17 14:48] kendall commented on #4204
The odd thing IMO is that this value has been nil for ages but I only just started seeing this issue. I guess something else must have changed to expose the issue.

Replacing nil with "SPC" seems to solve the problem.

[2015-12-17 14:49] justbur commented on #4204
@kendall "SPC" is a bad choice for the emacs leader key. Also we've been working on changing the backend for the leader keys, so it's not that odd that something would come up now.

[2015-12-17 14:49] kendall commented on #4204
@justbur what is a good choice?

[2015-12-17 14:50] TheBB commented on #4204
The default is `M-m`.

[2015-12-17 14:51] kendall commented on #4204
Thanks.

[2015-12-17 14:55] StreakyCobra commented on #4211
It would be much more helpful if you can give us more informations. See [this](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report).

[2015-12-17 15:35] justbur commented on #4204
@syl20bnr This can't completely be fixed on the bind-map side. I'll have to submit a patch for spacemacs too.

[2015-12-17 16:04] shanesveller commented on #4125
@lazywei I'm not good enough with elisp yet to pursue finding a fix on my own, but I've tried excluding packages, etc. and the only thing that helped me personally was either staying on master/release tag or checking out the `osx` layer from master after pulling from `develop`. I'm happy to help test/debug further if someone else has time to look into it.

[2015-12-17 17:14] voltecrus commented on #4207
@cpaulik looked at that, I'm using Mac OS, and if I understand correctly the alien stuff is Windows related.

@StreakyCobra

#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.104.8
- Spacemacs branch: master (rev. 44d4525)
- Distribution: spacemacs
- Layers:
[code]

I'm switched back to master branch because of the issue.

@tuhdo it takes about the same amount of time regardless of the

[2015-12-17 17:18] voltecrus commented on #4207
@tuhdo if that's the case, could it be that it's my Git that is slow and slowing projectile down? I could try running the git command that projectile is using and see if that comes back slow.

[2015-12-17 17:33] landaire opened #4213 "d-mode is broken in emacs 25"
Updating to emacs 25, the D language layer doesn't seem to be working any more as buffers are in fundamental mode, not D mode (so there's no syntax highlighting). Any way to do a quick fix at least locally?

#### System Info
- OS: darwin
- Emacs: 25.1.50.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 3507bc7)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-17 17:36] phinicota commented on #4139
After reading the update from taiansu I disabled auto-completion completely and it's been 2 days without problems. So I'm guessing the issue would be related to that layer.
Should this be renamed?

[2015-12-17 18:00] StreakyCobra commented on #4139
but auto-completion related to c/c++ mode if I understand correctly?

[2015-12-17 18:11] phinicota commented on #4139
taiansu encountered the issue using editing an elixir file.

[2015-12-17 18:16] StreakyCobra commented on #4139
Right

[2015-12-17 19:18] joehillen opened #4214 "Layouts key is unresponsive after running `dotspacemacs/sync-configuration-layers`"
After running `SPC f e R` (`dotspacemacs/sync-configuration-layers`)

I get the following error and `SPC l` no longer does anything. Manually running `spacemacs/layouts-micro-state` also has no effect.

[code]

Here is my [.spacemacs](https://gist.github.com/1bce6b193a552b44d4d0) file.

#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 3507bc7)

[2015-12-17 19:27] axyz opened #4215 "spelling-checking on js (and maybe other modes)"
Recently I've noticed that on js files spell-checking is turned on by default, that is quite annoying and creates confusion with errors and warnings.

Someone stated that it is probably related to recent efforts to have spell checking only on comments.
Probably somewhere `flyspell-mode` is used in place of `flyspell-prog-mode` (suggested by @justbur )

@joehillen also stated that it happens on has

[2015-12-17 19:31] orlandow commented on #4187
It's working for me now using the latest `persp-mode`

[2015-12-17 19:34] #4187 closed

[2015-12-17 19:39] TheBB commented on #4215
Thanks. Went a bit quick there. Fixed by https://github.com/syl20bnr/spacemacs/commit/11daa77866b1b71f4385388cf901c01191782e8c

[2015-12-17 19:39] #4215 closed

[2015-12-17 19:54] StreakyCobra commented on #4215
You didn't even let me time to label this issue :disappointed:

[2015-12-17 20:09] stormpat commented on #4139
Having the same issue with elixir files.

[2015-12-17 20:56] landaire commented on #4213
Saw a tip in #4208 to delete ~/.emacs.d/elpa which seemed to fix the problem. With that said....

[code]

Time to figure out if these are important or not

[2015-12-17 21:01] landaire commented on #4213
#3854 mentions issues relating to the above. Closing this one.

[2015-12-17 21:01] #4213 closed

[2015-12-17 21:21] syl20bnr commented on #4214
Confirmed, I wanted to fix it the other day and I forget about it.

[2015-12-17 23:00] TheBB commented on #4214
Yeah I didn't think about re-syncing when I did that trick. #4217 should fix it I think.

[2015-12-17 23:19] nugend opened #4218 "SPC x a a does nothing?"
This is supposed to invoke the emacs align command to align on spaces but doesn't seem to do anything.

Maybe I'm using it wrong?

Steps to repeat:

1. Open scratch buffer
2. add text (taken from http://www.emacswiki.org/emacs/AlignCommands):
[code]
3. Visual Highlight all text
4. SPC x a a

[2015-12-17 23:24] justbur commented on #4218
Did you read the side note on the page you linked to?

[2015-12-17 23:37] nugend commented on #4218
Nope. Missed it. Thank you.

Would be nice if there was a help text if you used it without SPC u

[2015-12-17 23:37] #4218 closed

[2015-12-17 23:42] justbur commented on #4218
It's behavior depends on the context like the major mode so many times you
don't need the C-u. It's a dwim type command. If you want to align to a
specific character it's better to specify that character using one of the
other SPC xa commands.
On Thu, Dec 17, 2015 at 6:37 PM Daniel Nugent <notifications@github.com>
wrote:

[2015-12-17 23:53] justbur commented on #4204
Fixed in #4212

[2015-12-18 02:43] tuhdo commented on #4207
@voltecrus Yes, Projectile can only go as fast as Git goes. If your Git project is large, a delay is expected and that's why we enable cache for Projectile.

[2015-12-18 02:57] taiansu commented on #4139
@phinicotat, @stormpat
Glad it helps. :smile:  Just mention that I don't turn off the auto-complete completely. Instead have setting like this solve my problem:

[code]

Don't know what's your original setting, but if this works you don't have to sacrifice all the completion features until it fixed.

[2015-12-18 03:07] landaire commented on #4196
This has *something* to do with the d layer itself I think. I disabled all plugins and loading the file worked. I enabled all but D, still worked. Enabled it and it hangs.

[2015-12-18 03:23] landaire commented on #4196
Alright, finally narrowed it down. It's a combination of having the `syntax-checking` and `d` layers active. If I enable the `d` layer by itself, no problem. If I enable both `d` and `syntax-checking` it must *really* dislike that file and just decides to kill emacs.

[2015-12-18 04:05] kvaneesh commented on #4197
#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop-track (rev. d0fe3113679c)
- Distribution: spacemacs
- Layers:
[code]

And this is the error i get

helm-read-file-name: Symbol's value as variable is void: helm-do-grep-preselect-candidate

[2015-12-18 06:40] auser commented on #4208
@StreakyCobra Okay, after a complete uninstall/reinstall, the problem _still_ exists.

I've noticed that it happens _after_ I `Cmd+Tab`. It exists on both 25 and 24.

[2015-12-18 07:58] fuzihaofzh opened #4219 "How to stop auto indent?"
I want to copy a pice of python code into emacs. But emacs makes it automatically to indent to make my code a mess. How can I solve the problem?

[2015-12-18 08:31] tuhdo commented on #4219
You can use prefix argument by pressing `C-u` before pasting with `C-y`. If you are using evil-mode, pressing `SPC u` before pressing `p`.

[2015-12-18 11:17] elken opened #4220 "Helm config causing insanely long load time"
Not sure whether it's an issue with helm specifically or spacemacs but I'm posting here first. Everything loads fine until it hits helm config, at which point it stalls for, on average, 2 minutes.

`SPC h d s`

#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.104.8
- Spacemacs branch: master (rev. 44d4525)
- Distribution: spacemacs
- Layers:
[code]

[Load log](http://dpaste.com/2EV7

[2015-12-18 11:36] StreakyCobra commented on #4139
@taiansu `auto-completion-enable-snippets-in-popup` is set to `nil` by default, so it's probably not the problem as @phinicota doesn't set it in his `.spacemacs`.

@phinicota Can you try in some other modes to see if it happens there too?

[2015-12-18 11:41] StreakyCobra commented on #4220
99% sure it's [this](https://github.com/syl20bnr/spacemacs/blob/develop/doc/FAQ.org#why-is-spacemacs-hanging-on-startup).

[2015-12-18 11:49] elken commented on #4220
Wow I did a quick skim through some issues to see if it was known and must've glanced right over them. Thanks.

[2015-12-18 11:49] #4220 closed

[2015-12-18 12:19] phinicota commented on #4139
I don't remember my config, I might have had this though, could it be it?:
[code]

[2015-12-18 12:22] phinicota commented on #4139
Yes, I actually just copied default configs from the page. I'm activating it now without defining any variables now to see what happens.

[2015-12-18 13:01] StreakyCobra commented on #4196
I can reproduce it, so it's not only your config. Also just having the `d` layer alone make this problem appears. Can you also test to be sure it's really the case?

[2015-12-18 13:03] StreakyCobra commented on #4139
Ok, what will help is to know if the problem is with C/C++ only, or if it is more general. Let us know if you find more information about this.

[2015-12-18 13:07] kryptt commented on #4038
I wrote my own personal layer for this...

you might want something like:

[code]
to evilify some of the nicer commands...

[2015-12-18 13:25] StreakyCobra commented on #4208
Clojure + Emacs 25 + OS X :wink: Nothing that I'm using, so I don't know how to help more, sorry :pensive:

[2015-12-18 14:11] synic commented on #4151
Reinstalling also did it for me.

[2015-12-18 14:20] syl20bnr commented on #4219
The auto-indent should not happen in python buffers so I suppose you are pasting in a buffer which is not a python buffer. Is it the case ? If yes then @tuhdo answer is the way to go, if no then we have a bug.

[2015-12-18 14:23] DarrenN opened #4223 "JavaScript: Inserts space before ( and ["
When editing JS or JSX, when I type `function(` a space is automatically added between `function` and `(` so that I get `function (` which causes me intense stress. Same for arrays: `foo [` and similar.

I cannot find a setting that disables this behavior. Is this something that happens in `js-beautify`, `tern` or somewhere else?

Thanks

[2015-12-18 14:48] nugend commented on #4218
Yeah, I had just found out about one of the other align commands from the Spacemacs Rocks blog and was looking at the interactive shortcut command listing to see what was available under SPC-x in general and going through each one. I couldn't figure out what align was doing, so I googled "emacs align" and skimmed down to the entry (just below the side note, d'oh!)

[2015-12-18 14:55] DarrenN commented on #4223
Disregard: It was Paredit causing the problem.  Turning off Paredit alleviated the issue.

As the kids say _my bad_.

[2015-12-18 14:55] #4223 closed

[2015-12-18 15:54] landaire commented on #4196
I just disabled all packages and the file loaded successfully. Enabled the `d` layer and that file breaks. I haven't found any other files that cause the same behavior (although I haven't really been actively looking).

[2015-12-18 16:11] synic opened #4224 "Completion in minibuffer: Making inhibit-read-only local to *helm-mode-completion-at-point* while let-bound!"
I often open up spacemacs and type `:e ~/Pro[tab]` to open a file.  Tab completion is hard to see because that message pops up, obscuring the completion.

How can I make that stop?
#### System Info
- OS: darwin
- Emacs: 24.5.7
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 03c83e1)
- Distribution: spacemacs
- Layers:

[code]

[2015-12-18 16:13] StreakyCobra commented on #4196
So we need to find out what is causing the problem. There is only a few packages of code in the `d` layer. As it's also happening without other layers, there is only the `d-mode` packages that is activated in this case.

I don't know how to be sure if it is an upstream issue or not, but it looks like so.

[2015-12-18 16:17] StreakyCobra commented on #4224
It would help us to help you if you can provide some more details :-) Have a look [here](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report).

[2015-12-18 16:19] naseer commented on #4138
This started happening for me today(on stable) after I updated packages.

[2015-12-18 18:23] gregpardo commented on #4211
#### Description
With editorconfig installed, jsbeautify ignores formatting rules set in the '.editorconfig' file. For example if you have tabs set to 2 spaces in .editorconfig file and you press 'SPC m =', jsbeautify will ignore the rules set in the editorconfig. Indentation with with 'SPC j =' does use the correct indent rules from editorconfig.

#### Reproduction guide
- Add 'editorconfig' to d

[2015-12-18 18:29] karmajunkie commented on #2626
@bmag thanks for the detailed analysis! Is there a resource about what's changed in the develop branch I could look to for an update of my config file? If this is something that's a non-issue in an upcoming release because of the change to persp-mode I imagine I can muddle along in the meantime, depending on how long that's likely to be. I'm mostly trying to replicate the functionality of :mksessi

[2015-12-18 18:38] StreakyCobra commented on #4211
I'm not used to javascript, but if I understand correctly `jsbeautify` is an external tool right?

[2015-12-18 19:56] justbur commented on #4224
I believe this happens when you try to do tab completion while helm is loading which happens on about a 1 second delay

[2015-12-18 20:29] TheBB commented on #2626
Doesn't matter, I get e-mails for everything in this repo anyway.

[2015-12-18 21:34] synic commented on #4224
It's not while it's loading, I can wait on the home screen forever and it will still happen, *however*, it appears to only happen the first time.

Is there a way do non-helm-completion in the minibuffer?  if I type `e: ~/Pro[tab], it would guess first `~/Projects`, but if I hit tab again, it just brings up the next possible match without helm?  `~/Products`?

[2015-12-18 21:38] justbur commented on #4224
To clarify, I believe the problem occurs if you execute a command that
enters the minibuffer before helm is loaded. I think if you wait until helm
loads before entering :e you will not see the behavior. Is that correct?

On Fri, Dec 18, 2015 at 4:35 PM Adam Olsen <notifications@github.com> wrote:

[2015-12-18 22:59] emacs18 opened #4227 "spacemacs fails to start on develop branch"
[code]

[2015-12-18 23:04] emacs18 commented on #4227
This problem was introduced within the last couple of weeks where.
Here is the stack trace printed if debug-on-error is set to t:

[code]

[2015-12-18 23:17] emacs18 opened #4228 "spacemacs on develop branch fails to start due to page-break-lines-mode"
Following shell script demonstrates spacemacs startup problem
with "(void-function page-break-lines-mode)".

[code]

[code]

[2015-12-18 23:24] emacs18 opened #4229 "startup problem on develop branch due to "void-function evil-define-key""
Following shell script demonstrates startup problem on develop branch with
"(void-function evil-define-key)".

[code]

[code]

[2015-12-18 23:31] emacs18 commented on #4229
Following is the word-around to this problem that I'm currently using.

[code]

[2015-12-18 23:35] gregpardo commented on #4211
Looks like someone else had the same idea

https://github.com/beautify-web/js-beautify/issues/551

[2015-12-19 00:06] emacs18 opened #4230 "request to consider local package archives"
I would like to request that you not make too many assumptions regarding
package-archives, so that those of us who use custom package archives don't
have to do too much work.

Recent changes in spacemacs develop branch make it more difficult to use custom
archives. By custom I mean setting package-archives to a value such as

[code]

rather than a value such as

[code]

Why use custom archive? To

[2015-12-19 00:11] wqhhust opened #4231 "how about add Circe to spacemacs as a layer?"
Current there are 2 options for irc in spacemacs, how about add Circe as another option? it's easy to use and have more features.

[2015-12-19 08:44] bmag commented on #2626
@karmajunkie quite a lot has changed. Regarding perspective, [this PR](https://github.com/syl20bnr/spacemacs/pull/2845) rewrote the perspective layer, and there were a few changes after that. The layer is called `spacemacs-layouts` now, and is enabled by default if you use the `spacemacs` distribution (as opposed to `spacemacs-base`). You can look at its documentation [here](https://github.com/syl

[2015-12-19 09:17] jheroy opened #4232 "golang autocomplete not work"
when i press `fmt.` nothing popup, gocode is in $GOPATH

[2015-12-19 09:40] #4232 closed

[2015-12-19 12:58] StreakyCobra commented on #4231
Yes, we just need someone writing it :-)

[2015-12-19 14:40] maplewizard commented on #4219
I use emacs in iterm to login in a remote client. so I just use command+v to paste in iterm.

[2015-12-19 16:08] tboquet commented on #2360
I reinstalled emacs and spacemacs several times without bug so I close this issue :smile: .

[2015-12-19 16:08] #2360 closed

[2015-12-19 16:16] dsdshcym opened #4233 "Some documented keybindings in helm micro state are not implemented"
| ~g~                  | go to first candidate                            |
| ~G~                  | go to last candidate                             |

`g` and `G` in helm micro state are documented as above. But they are not implemented in https://github.com/syl20bnr/spacemacs/blob/develop/layers/+distribution/spacemacs-base/packages.el#L874

[2015-12-19 16:34] StreakyCobra commented on #2360
:+1:

[2015-12-19 17:13] terakilobyte opened #4234 "File mode specification error: (void-variable elm)"
#### Description
After updating Emacs to the latest version and updating packages, the elm layer doesn't work. Upon loading an elm file, the error
`File mode specification error: (void-variable elm)` pops up.

#### Reproduction guide
- Start Spacemacs
- Ensure Spacemacs is updated to the latest version.
- Enable the elm layer in the .spacemacs file
- Restart Spacemacs
- Open a file with a `.elm` e

[2015-12-19 18:19] StreakyCobra commented on #4234
I can reproduce it. Needs further investigations to know if it an upstream bug, or an upstream change that requires update on Spacemacs side.

@terakilobyte :cookie: for the great reporting :metal:

[2015-12-19 22:14] Sinouplen commented on #4234
I have exactly the same trouble with the version 0.104.0 of spacemacs

[2015-12-19 22:56] jonatan-branting commented on #4234
This only occurs with the auto-completion layer enabled.

[2015-12-19 23:14] jordwalke opened #4236 "Hide additional caret in helm"
![screen shot 2015-12-19 at 3 13 14 pm](https://cloud.githubusercontent.com/assets/977348/11915608/1c6ece7e-a663-11e5-9d19-5eaf7966e41b.png)

You can see in this screenshot that there is an additional hollow yellow cursor caret on the current highlighted line and it's very visually distracting. It would be great if spacemacs could configure helm to disable that caret.

[2015-12-19 23:28] curiousyogurt opened #4237 "Error in LaTeX-hook stops Flyspell-mode from being turned on in .spacemacs"
When using AUCTeX, Flyspell-mode seems to be ignored in config.  Flyspell can be turned on manually using M-x flyspell-mode.  Apparently there is an error in the hook (according to @TheBB), causing it to abort.  I have tried:

1. (add-hook 'LaTeX-mode-hook 'flyspell-mode)
2. (add-hook 'LaTeX-mode-hook #'turn-on-flyspell)

... in the config, and neither work (whether present or not present).  I inc

[2015-12-20 02:44] wordempire opened #4239 "gtags layer breaks dired-relation functionality"
When the `gtags` layer is enabled, any functionality concerning `dired` does not seem to work.
E.g., calling `dired .` from eshell gives the following error message:
`Cannot open load file: no such file or directory, gtags`

If by any chance, a file named GTAGS exists in the current folder, instead of the previous error message, an empty dired buffer is presented.

[2015-12-20 02:47] pgoggijr opened #4240 "Java Layer/Zsh parse error"
Trying to do any operations in the java configuration layer outputs the following:

`zsh:1: parse error near '-command'`

I cannot connect to eclim, and any static analysis attempts fail.

I don't know how to debug this, or where to start, but I'm sure if I had a little bit of guidance I could pinpoint the problem (Bit of a spacemacs/emacs noob, coming from vim)

I'm using
- Railwaycat's emacs-mac

[2015-12-20 04:22] grassdog commented on #4059
I see this too. Have also commented out elixir mode in the meantime.

[2015-12-20 06:02] nixmaniack commented on #4236
I couldn't find a hook which you can use to disable this behaviour particularly for helm buffer. If you want to hide cursor from non-selected windows globally, you can do following in `user-config`
[code]

There's [upstream issue](https://github.com/emacs-helm/helm/issues/1277) for this but it's closed.

[2015-12-20 06:18] syl20bnr commented on #4236
To be sure to set it in the correct buffer `with-helm-buffer` macro must be used.
Should be fixed in develop.

[2015-12-20 06:32] nixmaniack commented on #4236
@syl20bnr Thanks!

[2015-12-20 07:19] hhirsch opened #4241 "Unavailable packages during install"
(Bootstrap) Installing dash...
(Bootstrap) Installing s...
(Bootstrap) Installing bind-key...
(Bootstrap) Installing use-package...
(Bootstrap) Installing package-build...
(Bootstrap) Installing quelpa...
(Bootstrap) Installing which-key...
(Bootstrap) Installing evil...
(Bootstrap) Installing evil-leader...
Found 69 new package(s) to install...
--> fetching new package repository indexes...
--> i

[2015-12-20 08:08] magthe commented on #4127
Well, `SPC q r` continues to work, I'm guessing that's good enough :)

[2015-12-20 08:41] jordwalke opened #4242 "Escape does not close autocomplete window."
Hi, I'm brand new to Emacs so thank you for your patience. I'm only even trying Emacs thanks to Spacemacs. The issue I'm seeing is that when hitting escape, Evil goes into normal mode as expected, but any autocomplete window that is open does not close.

This is my entire config:

[code]

These are my enabled layers:

[code]

I'm on Mac OS Yosemite.

[2015-12-20 08:44] jordwalke commented on #4236
Glad this is getting fixed one way or another - it's really distracting otherwise.
I'll use the global setting in the mean time.

[2015-12-20 09:16] jordwalke opened #4243 "`c-w` should delete word backwards in insert mode even if autocomplete is open."
When the autocomplete window is open, `c-w` no longer deletes backwards. This seems like a pretty big bug, though it's likely the result of some conflict of packages/layers (again, I'm new to Emacs).

This is my entire config:

[code]

These are my enabled layers:

[code]

The version of spacemacs I'm using is master as of today.

[2015-12-20 09:24] jordwalke opened #4244 "Is there a way to customize powerline Vim mode colors?"
The default colors for the segment that shows (insert/normal/replace/visual) seem to clash with just about every color scheme I've tried and it's very distracting (the colors are very saturated). Is there a way to customize those colors? Maybe there should be a nice fallback where you grab some colors from the color scheme to generate them if the color scheme itself has not customized them.

[2015-12-20 10:04] jordwalke commented on #3024
I would recommend another setting to only show trailing whitespace when in normal mode, and not in snippet expansion/population mode. Usually snippets leave temporary white space lying around which you will eventually fill by the time you're done tabbing through the snippets. Only when you're done with the snippet, and you've gone back to normal mode, is it very useful to see the trailing whitespa

[2015-12-20 10:09] jordwalke opened #4245 "A way to use tab to expand snippets."
I don't use tab to expand word completion, I use `<enter>` entirely. Luckily for me, that frees up the ability to use the ultra-convenient `<tab>` for another highly valuable interaction - expanding snippets. This means I get to experience the same "feel" that virtually every modern editor has for snippet expansion (Xcode, Sublime, (Textmate RIP), Atom, others).

What can be done in `spacemacs` to

[2015-12-20 10:14] TheBB commented on #4237
I think this must be an upstream problem. I just don't know which upstream. The offending function is in `text-mode-hook`, but it's not added by Spacemacs...

[2015-12-20 10:40] lunaryorn commented on #2671
@joonhwan I'd appreciate if you could test https://github.com/TheBB/spaceline/pull/47 and provide feedback for it.

[2015-12-20 11:01] luxbock commented on #4180
You are right. Not sure if I should close this, or keep it open to prod someone to make this the default when opening info files.

[2015-12-20 11:48] cpaulik commented on #4245
You can set that up by doing the following:

- set `auto-completion-tab-key-behavior nil` in the autocompletion layer.
- put `(global-set-key (kbd "TAB") 'hippie-expand)` in your `spacemacs/user-config`

This worked for me for a few quick tests.

[2015-12-20 11:49] nixmaniack commented on #4244
Look at this [comment](https://github.com/syl20bnr/spacemacs/issues/2273#issuecomment-119824103)

[2015-12-20 13:59] justbur commented on #4180
I don't understand what you mean. When are the key bindings not there for you?

[2015-12-20 15:56] synic commented on #4224
I can wait as long as I want.  It will still happen.

[2015-12-20 16:50] justbur commented on #4224
Here's a more direct test. Comment out [this line](https://github.com/syl20bnr/spacemacs/blob/develop/layers/%2Bdistribution/spacemacs-base/packages.el#L472), restart and see if you can reproduce it

[2015-12-20 18:48] magthe commented on #4234
Yupp, easy to reproduce on my (Arch) Linux box too.  Also that disabling *auto-completion* layer removes the problem :(

[2015-12-20 19:13] curiousyogurt commented on #4237
So, a little more experimentation suggest the following line make it so flyspell does not turn on automatically:

    (add-hook 'text-mode-hook 'toggle-auto-fill-mode-off)

If I comment that out, flyspell works.

The following workaround gets everything working properly (but it's ugly):

[code]

The three `setq` lines do it.  Here is the [reference](http://stackoverflow.com/questions/1567107/disab

[2015-12-20 19:23] TheBB commented on #4237
Oh, drat. I totally missed the fact that you are the one adding this hook.

This is a user config problem then.

[2015-12-20 19:24] TheBB commented on #4237
I don't know where you got the `toggle-auto-fill-mode-off` function from. There's a function called `spacemacs/toggle-auto-fill-mode-off`. Maybe that's the one you are after.

[2015-12-20 19:31] #4237 closed

[2015-12-20 20:21] jordwalke commented on #4244
Thanks. Any thoughts on exposing this to color themes?

[2015-12-20 20:22] jordwalke commented on #4245
Thanks, I will try this. Again, I'm new to emacs so apologies if this should have been obvious.

[2015-12-20 20:36] jordwalke opened #4246 "OSX layer - command+w should kill the frame if only one window remains."
It would be very natural to osx users if `command+w` would kill the frame if only a single window remains.
(Super new to emacs, I apologize if I'm not using the correct terminology here).

[2015-12-20 21:01] curiousyogurt commented on #4237
There are at least two ways to solve this problem that do not use the ugly series of `setq` statements above.  First, put the following in dotspacemacs-configuration-layers in place of `latex`
[code]
Another way is to make sure `spacemacs/toggle-auto-fill-mode-off` is called after the LaTeX code in spacemacs in finished (that code enables auto-fill):
[code]

[2015-12-20 21:17] drets commented on #2917
https://github.com/syl20bnr/spacemacs/issues/2917#issuecomment-142709358
This worked for me, thanks!

[2015-12-20 21:28] jordwalke commented on #4245
Seems to have worked, thanks! I might suggest documenting this very common preference on the `autocomplete` layer readme. (I wonder if most people would want this to even be the default). Closing!

[2015-12-20 21:28] #4245 closed

[2015-12-21 00:17] landaire commented on #4196
I reported the issue in the `emacs-d-mode` repo as shown above, but in the meantime I've also done some profiling. Is this info useful?

<img width="1280" alt="screen shot 2015-12-20 at 16 12 59" src="https://cloud.githubusercontent.com/assets/1313522/11921071/27a0ea98-a735-11e5-9e5e-c20dca49a36e.png">

[2015-12-21 06:41] syl20bnr commented on #4204
Should be fixed in develop thanks to @justbur.

[2015-12-21 06:48] mandarvaze commented on #2917
I was able to get the anaconda mode working using the instructions from here : http://www.marinamele.com/2014/07/install-python3-on-mac-os-x-and-use-virtualenv-and-virtualenvwrapper.html

Once my ``pyenv`` was setup, anaconda mode started working in terminal mode.
Since my ``WORKON_HOME`` is set into ``.zshrc`` (which is used only by interactive shells), I need to set this up into ``.profile`` (BT

[2015-12-21 07:03] syl20bnr commented on #4151
Time to dig this bug very deep :-)
@justbur Do you confirm that merging #4159 is sufficient or do I need the change in evil lisp state repo ? (anyway I will merge the PR in evil lisp state repo as well)

[2015-12-21 07:51] jordwalke commented on #4243
I noticed the same issue with Helm as well.

[2015-12-21 08:40] nixmaniack commented on #4243
Yes, that's quite annoying! :smile: I have this in my config now.
[code]
I'm not aware of any consequences of this.

[2015-12-21 08:57] nixmaniack commented on #4243
Okay, the `C-w` binding in helm-map has some consequences which I remember now. By default, emacs copies the thing(symbol) at point in input area if you hit `C-w` so you're essentially overriding that behaviour.

[2015-12-21 09:11] jordwalke opened #4247 "Helm (and other popup windows) cause buffers to jump around."
If your cursor in a file is towards the bottom of the screen, then when any popup window is shown (`which-key`, or `helm`) - the popup window will need to move your cursor "out of the way", and that causes your files that you're editing to jump around. That is _super_ confusing and distracting. You could be reading the text in those files as you open a popup window.

This is an issue with the defa

[2015-12-21 09:11] jordwalke commented on #1281
I would be curious if `window-purpose` could solve the problem that I described here: https://github.com/syl20bnr/spacemacs/issues/4247

[2015-12-21 09:23] jordwalke commented on #4243
I wonder if it makes sense to at least have a spacemacs config option for this. Since you're already giving up that emacs style consistency in Vim insert mode, you would likely want the same in other input areas.

[2015-12-21 09:25] jordwalke commented on #4243
BTW: When I try that mapping in my user config (for `company-active-map`) I get an error:
[code]

[2015-12-21 09:34] jordwalke commented on #4243
For the record, I had to put this in my user config:
[code]

[2015-12-21 09:42] nixmaniack commented on #4243
@jordwalke :+1:  That's correct way.

[2015-12-21 09:43] TheBB commented on #4244
All the tools that can change faces in regular Emacs still work with Spacemacs.

[2015-12-21 09:44] TheBB commented on #4244
I recommend you use `custom-set-faces` (see docstring for more information). Use `list-faces-display` for a list of faces you can change.

[2015-12-21 09:47] TheBB commented on #4196
So if you turn off line numbers, is it faster?

[2015-12-21 10:02] StreakyCobra commented on #4224
@justbur I think your link is (already) outdated. You should link to a specific commit version (pressing `y` on the github page helps, IIRC)

[2015-12-21 11:04] StreakyCobra commented on #4241
It may help to provide a little bit more information. Have a look [here](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) to see how to do so.

[2015-12-21 11:44] zilongshanren commented on #4207
@voltecrus  @tuhdo
I have switched to ivy-mode and the performance is very good.

you could refer to this link https://github.com/abo-abo/swiper for more information.

I use `(global-set-key (kbd "C-x C-f") 'counsel-find-file)` for finding files.

[2015-12-21 12:54] tuhdo commented on #4207
I usually work with projects with thousands of files, or many of ten thousands of files, and Projectile works great for me. On small projects, i.e. just thousands of files, it usually takes instant for me to get the file list. For large project (i.e. 30k files), I use caching, and the first time only takes a few seconds.

@zilongshanren Counsel lacks many features that I need i.e. switch to other

[2015-12-21 13:01] zwb-ict commented on #4168
@syl20bnr I update from 8fb3af3e56a60368118ce8bb7aa4d18282efb235 to 9e2b18e29abf895bb8369ebd04c69ef3985882d2, this bug is missing.

[2015-12-21 13:01] #4168 closed

[2015-12-21 13:02] StreakyCobra commented on #2522
Fixed in 374e37e32c71295aec87d8207380e9ab019b5ba3

[2015-12-21 14:25] StreakyCobra commented on #3480
PR'ed upstream: https://github.com/bbatsov/projectile/pull/934

[2015-12-21 14:27] justbur commented on #4224
Actually I can reproduce this even if helm is not deferred, so I was wrong about that

[2015-12-21 14:40] justbur commented on #4151
@syl20bnr For the evil-lisp-state code, if it were me I would provide clear instructions for the user bind the keys themselves. That way you can just focus on filling up the map (a single one not two of them) and not worry about how it's used. Here's some sample instructions (of course you could provide convenience functions if you want).

[code]

[2015-12-21 16:01] bmag commented on #1281
If I understand the problem correctly, I don't think there will be a difference. I tried both `popwin` and `window-purpose` and didn't see a difference.

[2015-12-21 16:20] landaire commented on #4196
Not really. I noticed a very slight speed increase when I'm in the file trying to make changes it still has delays like crazy to where it's unusable for anything serious. When loading the file I let it load for about 20 seconds before just hitting `C-g`.

[2015-12-21 16:44] codedmart commented on #4234
I can confirm this and also can confirm this is an upstream issue. If I reset my elm-* files in elpa to this [commit](https://github.com/jcollard/elm-mode/commit/e0318ebb288be638f4a98cfd56a516b20ed5e723) all works fine again. Haven't pinpointed the upstream change that caused the problem yet.

[2015-12-21 16:59] ikhthiandor commented on #4174
Sorry for late reply. I didn't test the package earlier. I've been able to get it work today for the gitlab.com edition(gitlab-host "https://gitlab.com") though.

Here is a screenshot.

http://i.imgur.com/N5k1d51.png

Note: The repo was private earlier. (I've only one repo in Gitlab now.) So when I ran M-x helm-gitlab-projects at first it showed nothing. I made the repo public but had to restart a

[2015-12-21 17:01] ikhthiandor commented on #4174
Oops I closed the issue by mistake :angry:

[2015-12-21 17:49] StreakyCobra commented on #4234
@codedmart Let us know if you find the cause of the bug. It's an upstream change that causes the problem, but I don't know if it is an upstream **bug** that should be reported and corrected there, or an upstream **change** that require some adaptation on Spacemacs' side…

[2015-12-21 17:52] StreakyCobra commented on #4234
I had a quick look, probably coming from here: https://github.com/jcollard/elm-mode/commit/493b82aa16629fefb22894f9e555b9fd382bf4aa#diff-c3633a01c792e88846f0ecf0214a49e0R686

[2015-12-21 18:36] eitazhou commented on #3120
Use Source Code Pro only , and I can't align Chinese character and English character in a table when I edit under Org mode.

[2015-12-21 20:46] jordwalke commented on #1281
Could you fix this in window-purpose? Vim and emacs are terrible at this and it would be great if someone finally fixed it.

[2015-12-21 20:56] TheBB commented on #4234
This has probably been fixed upstream, see discussion in https://github.com/jcollard/elm-mode/issues/50 (thanks @codedmart for reporting). Waiting for it to arrive in MELPA.

[2015-12-21 21:17] justbur commented on #4247
May I ask what you would like to happen in this case?

[2015-12-21 21:20] bmag commented on #1281
I doubt I can fix it, I think it's an Emacs thing. When creating a new window (e.g. for Helm), Emacs needs to split an existing window. But what if the point ("point" means the cursor's position in the window's buffer) is hidden from view? Then Emacs scrolls the window so the point is visible again. You can set the variable `window-split-keep-point` to `nil`, but that will change the behavior only

[2015-12-21 21:22] bmag commented on #4247
Copied my comment from #1281, so discussion can continue here:

I think it's an Emacs thing. When creating a new window (e.g. for Helm), Emacs needs to split an existing window. But what if the point ("point" means the cursor's position in the window's buffer) is hidden from view? Then Emacs scrolls the window so the point is visible again. You can set the variable window-split-keep-point to nil,

[2015-12-21 21:24] bmag commented on #4247
Also, @justbur's question is a good one. What would you like to happen?

[2015-12-21 21:44] mooreniemi commented on #2832
@tuhdo thanks for sharing your config. my only tweak was to change the mapping for switch, as it was shadowing save.

[2015-12-21 22:05] ccmtaylor commented on #4109
seems like this was fixed upstream in https://github.com/flycheck/flycheck-rust/commit/e802d78a509bd8927464d29e1a8ba8ea355f6ea1

[2015-12-21 22:16] robbyoconnor commented on #4109
Typically, these kinds of errors are the fault of upstream and not us -- typically either it can't find the executable because your `PATH` is borked or something else that is the fault of upstream.

[2015-12-21 22:17] robbyoconnor commented on #4229
I don't have this issue anymore...

[2015-12-21 22:39] jordwalke commented on #1281
Continuing discussion there.

[2015-12-21 22:41] a13ph commented on #3203
Indentation style wars are second only to modal vs non-modal editing arguments. Well, maybe block style is up there too, but I've never heard anyone asking about that one.

And even if some projects use some special convention for indentation, most people probably have some preferred setting (their default for personal files etc), which can be asked about once easily - or be presented in homepage?

[2015-12-21 22:43] jordwalke commented on #4247
I don't know anything about implementation. This is approximately day two of even trying emacs for me. But the effect you're going for (or IMHO the one that users really appreciate), is like Sublime's Command+P (or Atom's now). It's as if there's a drop down (or drop "up" if docked to the bottom) overlay. In Sublime, that overlay would never change the scroll position of the text buffers underneat

[2015-12-21 23:16] justbur commented on #4229
You've assumed that you can load spacemacs this way when there's nothing to suggest that you should be able to.

[2015-12-21 23:21] robbyoconnor commented on #4229
@justbur, was this to me?

[2015-12-21 23:22] robbyoconnor commented on #4231
Write it and make a PR.

[2015-12-21 23:26] justbur commented on #4229
@robbyoconnor no, sorry to the OP. I was looking at how @emacs18 was loading spacemacs

[2015-12-21 23:27] robbyoconnor commented on #4229
Yeah...it works fine for me -- and I assume everyone else...this isn't a bug

[2015-12-22 00:02] pangwa opened #4252 "orgmode capture doesn't work"
I tried to use the key "~SPC~-C-T" (capture ort/checkitem) to capture a todo item in org mode. But there is no popup window show. "Capture template `ort/todo` : outline-show-all" was shown in the status line.

I'm using the master branch under osx.

[2015-12-22 00:26] pangwa commented on #4252
Looks like an installation issue, It worked after I reinstalled all the packages.

[2015-12-22 00:26] #4252 closed

[2015-12-22 02:12] caleb opened #4253 "Eyebrowse "gt" and "gT" keybindings don't work on the develop branch"
Hi guys,

I'm on the develop branch with the recommended homebrew version of Emacs on OS X

I'm trying out the eyebrowse layer and the "SPC-l" keybindings all work, but the evil-motion mode "gt" and "gT" keybindings do not.

They are listed in the keymap help that pops up (i.e. when I hit just "g" a list of commands pops up, and the eyebrowse keys are listed), but when I press "gt" or "gT" nothing

[2015-12-22 02:14] caleb opened #4254 "Monokai theme is not included in the megapack"
Hi,

I think this might be an oversight (if not, sorry!), but the monokai theme is not included in the theme-megapack, but it is listed in the list of themes in the default `spacemacs` file.

Thanks

[2015-12-22 02:15] xuliuchengxlc commented on #3191
I encountered a similar problem -- something was wrong with the feature "evil-numbers".

Then I tried to delete the folder <code>.emacs.d/elpa/evil-numbers-XYZ</code> and restart to download again.

The problem was fixed.

[2015-12-22 02:30] caleb commented on #4253
Those keybindings work in the master branch (which gives me errors when I open ruby files, which is why I'm using the develop branch.

[2015-12-22 02:37] mkomitee commented on #2522
Thanks!

[2015-12-22 02:37] #2522 closed

[2015-12-22 04:35] #4253 closed

[2015-12-22 05:53] hhirsch commented on #4241
Just wanted to try it. I rather use the time to streamline my own config.

[2015-12-22 05:53] #4241 closed

[2015-12-22 08:05] Treri opened #4255 "[SOLVED]Help! spacemacs hang ~50s on startup. spacemacs require network when startup?"
When spacemacs startup, it will hang ~30-50s, and I have to force quit emacs everytime

Firstly I think the problem is I installed wrong version spacemacs. Then I used up-to-date master branch. And the problem is still exist. Then I switched to develop branch, the problem is still exist sadly.

Then i moved `.emacs.d` to `emacs.d`, and started emacs without any config, the problem is gone.

Then I

[2015-12-22 08:31] dsdshcym opened #4256 "Quit org-agenda will kill the last buffer"
I don't know if this is a personal issue. But after the commit which evilified org-agenda
buffer. I ran into this issue:

will be killed too.

[2015-12-22 08:35] fatlazycat opened #4257 "Issue with develop and bind-map"
On emacs 24.5.1 on redhat 6, attempting a clean install from develop I get

Warning (initialization): An error occurred while loading `/home/linuxuser/.emacs.d/init.el':

File error: https://melpa.org/packages/bind-map-20151217.829.el, Bad Request

To ensure normal operation, you should investigate and remove the
cause of the error in your initialization file.  Start Emacs with
the `--debug-init'

[2015-12-22 08:40] dsdshcym commented on #4255
- melpa.org
- orgmode.org
- elpa.gnu.org
- github.com/syl20bnr/persp-mode.el
- github.com/syl20bnr/spacemacs

I'm at Shanghai and these website are nearly unreachable through pure ChinaNet
network. But spacemacs may check these website to get update info. So you may
need to use VPN or other proxy methods to get package updates. And set
`dotspacemacs-check-for-update` to nil will also do some help.

[2015-12-22 09:02] ikhthiandor opened #4259 "Add keybinding for quick switching to "Messages" buffer"

[2015-12-22 09:03] TheBB commented on #4259
`SPC w p m`?

[2015-12-22 09:04] Treri commented on #4255
@dsdshcym Thanks very much. I set `dotspacemacs-check-for-update` to nil, but spacemacs hang only a little short, I still have to wait very long time.

Maybe I should run spacemacs as daemon mode, so I can wait very long just one time. Then I use `emacsclient` to run.

[2015-12-22 09:05] TheBB commented on #4255
Could be this? https://github.com/syl20bnr/spacemacs/blob/develop/doc/FAQ.org#why-is-spacemacs-hanging-on-startup

[2015-12-22 09:07] ikhthiandor commented on #4259
@TheBB that didn't work.

[2015-12-22 09:08] TheBB commented on #4259
Er, okay. Can you be more specific? Is it bound to anything? Are you getting an error message?

[2015-12-22 09:16] TheBB commented on #4257
It complains that it can't reach that URL. Can you? (Check with a browser, for example.)

Try setting `dotspacemacs-elpa-https` to `nil`, that might help. You may have to edit your ~/.spacemacs file with another editor to do this when you haven't installed Spacemacs yet. If it's not created for you already you can copy it from .emacs.d/core/templates/.spacemacs.template.

[2015-12-22 09:16] Treri commented on #4255
@TheBB Amazing! spacemacs not hang any more! Thanks very much!

And thanks @dsdshcym also for your quick reply!

[2015-12-22 09:18] TheBB commented on #4256
I can reproduce. Might be a bug with `org-agenda-restore-windows-after-quit`.

[2015-12-22 09:20] fatlazycat commented on #4257
Well I am behind a proxy, which doesn't help but if I use master and then update packages within spacemacs it's all fine.

Yeah can reach that with a browser though that's a diff route. wget from the shell also works.

[2015-12-22 09:20] TheBB commented on #4254
That's true, but there's nothing particularly problematic about that. Could still be good to have it in themes-megapack, of course.

[2015-12-22 09:21] #4255 closed

[2015-12-22 09:24] TheBB commented on #4109
Okay, closing. :+1:

[2015-12-22 09:24] #4109 closed

[2015-12-22 09:26] ikhthiandor commented on #4259
Oh sorry, I just had installed eyebrowse before trying this. I'm not used to it. So I don't know what I was doing wrong. I disabled eyebrowse. The keybinding seems to work ok.

http://i.imgur.com/auzKo8z.png

Does it also work with eyebrowser enabled on your end?

[2015-12-22 09:28] TheBB commented on #4259
Yes, it works with eyebrowse.

Note: `SPC w p m`, not `SPC p w m`.

[2015-12-22 09:42] #4259 closed

[2015-12-22 10:44] dsdshcym commented on #4256
@TheBB And I also need to hit `q` twice in order to quit org-agenda.

[2015-12-22 11:20] StreakyCobra commented on #4234
Should be fixed upstream by now, marking it as is. Let us know if it's not the case.

[2015-12-22 11:42] codedmart commented on #4234
@TheBB @StreakyCobra I can confirm this has been fixed now with a package update of elm-mode. Thanks

[2015-12-22 12:33] TheBB commented on #4256
That one I can't confirm.

[2015-12-22 12:38] dsdshcym commented on #4256
@TheBB It seems that when I hit `q` for the first time, the last buffer will be
killed. And the second time, the org-agenda buffer is killed.

[2015-12-22 12:55] LiaoPengyu opened #4263 "evil-escape bug with evil-mc"
When using evil-mc, entering insert-mode and typing evil-escape-sequence (e.g. "jk"). It could quit the insert mode successfully, but the letter 'j' would not be removed in the position of every fake cursor.

[2015-12-22 15:00] nixmaniack commented on #4256
I can confirm this too. Do you have sticky agenda? I tried debugging this but couldn't find exact cause.
This is what is working for me sanely now.
[code]

[2015-12-22 15:01] sho-87 opened #4265 "Dropbox sync"
What is the correct way to set up spacemacs using dropbox so I can get access to the exact same config on each of my systems?

Without spacemacs, I would just put my entire .emacs.d directory on dropbox, and symlink to that dir in my home directory

In seems tha spacemacs, on Windows at least, doesn't store all the config within the .emacs.d directory, as there is also a .spacemacs file in my home

[2015-12-22 15:05] dsdshcym commented on #4256
@nixmaniack
Yeah. This is a working work-around. But I really want to restore windows after I quit org-agenda.

[2015-12-22 15:06] emacs18 commented on #4229
@justbur, Can you be more specific as to what is wrong with the way I launch spacemacs?

FYI this is how I've been using spacemacs for months.  It has worked for both master and develop branches.  It only stopped working on develop branch with changes that were checked in within the last two or three weeks.

[2015-12-22 15:07] razetime commented on #1423
I thought that maybe you could change the logo lettering to something like this:
#spaceᐧmacs

[2015-12-22 15:16] TheBB commented on #4265
You just need your .spacemacs file, and whatever other files you've written yourself. The spacemacs repo can be cloned, so you don't need to store that.

[2015-12-22 15:18] justbur commented on #4229
@emacs18 It appears that you are trying to load spacemacs from a directory that is not the default emacs directory. I assume that's because you already have something in the default directory (`~/.emacs.d/`). This is not the suggested setup in the README, and may have unintended side effects like the one you are having here. `evil-define-key` being unbound suggests that emacs can't find evil but t

[2015-12-22 15:18] TheBB commented on #4263
Should probably report to evil-escape.

https://github.com/syl20bnr/evil-escape

[2015-12-22 15:28] siegfried commented on #4138
Putting ruby in dotspacemacs-configuration-layers will cause this issue, while it's ok to just leave ruby-on-rails in it.

[2015-12-22 15:35] emacs18 commented on #4229
@justbur Thanks for the explanation.

I understand that the documentation says to use ~/.emacs.d. However that is
simply not acceptible for me and many others I know.

Long time emacs users like me already have emacs setup apart from spacemacs.
Hence it is important for me to be able to launch emacs where I can choose to
enable or disable spacemacs as well as enable or disable my other configs.

A

[2015-12-22 15:47] justbur commented on #4229
@emacs18 as far as I know, there aren't any contributors that test spacemacs that way, so this is not a bug related to the current intended use of spacemacs.

It's easy enough to flip symlinks for .emacs.d if you'd like to test spacemacs. There's no reason you have to delete your old .emacs.d.

If @syl20bnr wants to support a method like this of loading spacemacs then we will. v25 is not supported

[2015-12-22 15:54] emacs18 commented on #4229
@justbur I am willing to provide patches to allow spacemacs to not rely on ~/.emacs.d.
However that may mean undoing some of the recent changes that were made.
Let me work on submitting a pull request then.

I have been using emacs for 30 years.  I have never used ~/.emacs.d.  I have nothing in it.
I sometimes do "rm -rf ~/.emacs.d" or even "chmod 0 ~/.emacs.d" to make sure that emacs
does not use

[2015-12-22 16:03] justbur commented on #4229
@emacs18 If emacs has always supported it, then why is there no mention of it in the manual? https://www.gnu.org/software/emacs/manual/html_node/emacs/Init-File.html

I think I found the issue anyway. According to [this](https://emacs.stackexchange.com/questions/4253/how-to-start-emacs-with-a-custom-user-emacs-directory/4258#4258), loading emacs this way screws with the init hooks and the order in

[2015-12-22 16:20] syl20bnr commented on #4229
`emacs -q` is not officially supported by Spacemacs and this is due to the way Emacs works.
More info here: https://github.com/syl20bnr/spacemacs/pull/520
Also: https://github.com/syl20bnr/spacemacs/pull/2441

Consider using symbolic links instead.

[2015-12-22 16:20] emacs18 commented on #4229
The two primary documentation of emacs is emacs manual *and* elisp manual as I'm sure you already know.  Many things are documented in elisp manual rather than emacs manual.
user-emacs-directory is one of those, e.g., see
[code]
as well as
[code]
The latter section has the following among other things
[code]

Also
[code]
gives the gory detail of how emacs starts up.
As detailed there you need to b

[2015-12-22 16:23] syl20bnr commented on #4229
No kidding but it turns out that the only clean way to launch Spacemacs separately would be to use containers :-)

[2015-12-22 16:28] syl20bnr commented on #4229
Never tried it: https://hub.docker.com/r/jare/spacemacs/

[2015-12-22 16:33] emacs18 commented on #4229
@syl20bnr I've been using spacemacs for several months for emacs 24 and emacs 25 without relying
on ~/.emacs.d.  I would like to continue to use it that way.  It appears that one problem is reliance
on after-init-hook.  Are there other issues you are aware of?  I'll read up on the links you provided, and see if there is a way to come up with a patch that is acceptable to you.  Otherwise I can cont

[2015-12-22 16:40] sho-87 commented on #4265
@TheBB But what if I want to add a custom package from github? Do I not need to add that to the packages file, ala: https://github.com/syl20bnr/spacemacs/blob/5f756be832841268dc70e1cc54c4ac860b0eccdf/spacemacs/packages.el#L45 ?

I'm hoping to get to a point where if I install a package on one system, that will automatically install and load on another computer after syncing with dropbox. Or is the

[2015-12-22 17:17] TheBB commented on #4265
You add it to `dotspacemacs-additional-packages`. You shouldn't have to edit Spacemacs source code.

[2015-12-22 21:39] emacs18 commented on #4229
I came up with a solution that works for me which does not require any change
in spacemacs. This was done by modifying my python wrapper script not to use
--eval emacs command flag to load spacemacs' init.el file. Instead the script
temporarily sets the HOME shell variable to point to spacemacs root directory,
so that init.el would be loaded as the init file. Doing so loaded init.el
*prior* to 'af

[2015-12-22 21:40] emacs18 commented on #4227
I withdraw above request.

See issue 4229 for details on how I worked around this by using a wrapper script to temporarily set HOME.

[2015-12-22 21:42] emacs18 commented on #4228
I withdraw above request.

See https://github.com/syl20bnr/spacemacs/issues/4229 for details on how I worked around this by using a wrapper script to temporarily set HOME.

[2015-12-22 21:56] emacs18 commented on #4229
Following is pretty much what is done within my python wrapper script:

[code]

[2015-12-22 22:29] a13ph commented on #4247
You can do without conditional:
compute new visible part of buffer position to be based on two point positions:
- in a file, the usual one
- % in a visible part of buffer

[2015-12-22 23:00] a13ph commented on #4165
I actually think this should be reported upstream to be handled by Paradox itself, since it [will have](http://endlessparentheses.com/new-in-emacs-25-1-archive-priorities-and-downgrading-packages.html) or already has archive priorities and downgrading - very close features

[2015-12-22 23:16] StreakyCobra commented on #1423
Concepts are not `space` and `macs` , neither they are `spac` and `emacs`. They are `space` and `emacs`, so I don't think it can easily be split.

- `space·macs`: "macs" represents nothing
- `spac·emacs`: "spac" represents nothing
- `spac·e·macs`: both represents nothing, and too complex :-p
- `spacemacs`: probably the best ^^

[2015-12-22 23:26] StreakyCobra commented on #4227
If this issue is not relevant anymore with your new way of loading spacemacs, it should probably be closed :-)

[2015-12-22 23:26] StreakyCobra commented on #4228
If this issue is not relevant anymore with your new way of loading spacemacs, it should probably be closed :-)

[2015-12-23 00:18] #4227 closed

[2015-12-23 00:19] #4228 closed

[2015-12-23 00:38] kevincolyar commented on #3268
This was fixed after the latest version of spacemacs or OSX?   I'm still having this issue but I'm on Yosemite.

Emacs is loading /etc/paths before my zsh custom paths, so emacs can't see my pyenv python.

[2015-12-23 03:01] Treri opened #4268 "how can I put dotspacemacs/user-config and dotspacemacs/user-init to private layer?"
How can I put `dotspacemacs/user-config` and `dotspacemacs/user-init` to private layer?

So I can always use spacemacs per version's auto-generated `~/.spacemacs` file(in this way, I can always track upstream `~/.spacemacs` changes), and the only thing i have to do is adding a private layer name to `dotspacemacs-configuration-layers`.

Can I define `dotspacemacs/user-config` or `dotspacemacs/user-

[2015-12-23 03:09] Treri commented on #4268
Additionally, maybe spacemacs users can have a local file to list his own prefered layers. So every user have not to modify .spacemacs, and the file go into spacemaces repo via version control.

Another idea, `.spacesmacs` file only include user-specific configs. and put `dotspacemacs/init` and `dotspacemacs/layers` somewhere else. Users can override default layers list or configuration(now these

[2015-12-23 08:10] fatlazycat commented on #4257
There is definitely something up with develop for me.

If I start with clean 'git clone' for each of these attempts and no spacemacs file.

Then with master and when I start emacs it's fine - packages start downloading.

With develop it has an issue resolving through the proxy ( for whatever reason ) and then dies and spacemacs won't download / run etc.

Would appear something in develop is trashi

[2015-12-23 08:45] TheBB commented on #4257
If it works with master but not develop, any chance you can bisect the issue?

[2015-12-23 09:07] fatlazycat commented on #4257
Sure, though am about to leave the office for xmas so probably new year before I get anywhere

[2015-12-23 10:20] fatlazycat commented on #4257
Is there a way of disabling https for all calls ?

[2015-12-23 10:31] fatlazycat commented on #4257
Ah found the command line option --insecure and all runs fine. The company proxy is doing something odd a by intercepting https traffic and buggering it up somehow.

Not worth really looking into what new changes in develop show this up as it's not at your end.

[2015-12-23 10:31] #4257 closed

[2015-12-23 10:45] jordwalke opened #4269 "Two layers sharing the same package"
I have two layers, one of them I am developing and the other is a built in layer. My layer is basically a fork of the other and I'm okay with that fact. Naturally, my fork shares many of the same package dependencies as the built in layer. Unfortunately, it seems that spacemacs doesn't like this. It gives me the following error:

[code]

Is it really true that no two layers may have dependencies o

[2015-12-23 11:34] StreakyCobra commented on #4268
Taking care of maintaining configuration file up-to-date is a complicate task, whatever is the way you do it. What you propose for the layers list is working, but it doesn't solve the problem for all others configurations variables. The way most of the people use to deal with this is `SPC f e D` that will diff your `.spacemacs` against the template version.

In short:

- `SPC f e D` to run the dif

[2015-12-23 11:36] StreakyCobra commented on #4257
If you don't want having to use a command line flag for this:
https://github.com/syl20bnr/spacemacs/blob/374e37e32c71295aec87d8207380e9ab019b5ba3/core/templates/.spacemacs.template#L60-L66

[2015-12-23 11:37] fatlazycat commented on #4257
That didn't work when I tried it before.

[2015-12-23 11:42] StreakyCobra commented on #4269
There can be only one layer "owning" a package, but you can use one `init-…` and several `post-init-…` as explained [here](https://github.com/syl20bnr/spacemacs/blob/develop/doc/LAYERS.org#packagesel) to add some initializations. Example:

- https://github.com/syl20bnr/spacemacs/blob/374e37e32c71295aec87d8207380e9ab019b5ba3/layers/syntax-checking/packages.el#L20
- https://github.com/syl20bnr/space

[2015-12-23 11:44] StreakyCobra commented on #4257
Oh sorry I didn't read the whole thread. Maybe there is some `https` left somewhere else.

[2015-12-23 11:46] #4265 closed

[2015-12-23 11:50] sho-87 opened #4270 "evil jumper file obsolete"
When I start emacs, in the messages I see:

`The variable 'evil-jumper-file' is obsolete.  Persistence is done with 'savehist' now.`

I've made changes to my spacemacs file, but I remember seeing this with the default base spacemacs install as well

I don't believe this is a big problem either way, but is there a fix for it?

[2015-12-23 15:01] Treri commented on #4268
I got it. Thanks for your patient reply very much :+1:

[2015-12-23 15:02] #4268 closed

[2015-12-23 16:33] justbur commented on #4268
@Treri also you can always load an external file from user-init or user-config using `(load "path/to/elisp.el")`

[2015-12-23 17:05] Peeja opened #4272 "s-Z undo-tree-undo instead of undo-tree-redo"
In my install (just updated) <kbd>s-Z</kbd> performs `undo-tree-undo`. Emacs tells me it's translating <kbd>s-Z</kbd> to <kbd>s-z</kbd>. That's odd, because [<kbd>s-Z</kbd> is bound to `undo-tree-redo` by Spacemacs](https://github.com/syl20bnr/spacemacs/blob/074f425dc5d233f24195ecc3021eb96ac9d55d4d/layers/osx/keybindings.el#L32), but it doesn't appear to take for some reason.

However, if I add my

[2015-12-23 17:39] vitiral opened #4273 "help for "follow link" should be at the top of the documentation"
Hello, I just installed spacemacs and I am trying to read the documentation provided from the start page while using emacs. Unfortunately, I can't seem to follow the links! [Vim's standard](http://vim.wikia.com/wiki/Learn_to_use_help) `Ctrl ]` doesn't work (why not?) and searching for "follow link" brings up nothing. Can this be added to the documentation?

[2015-12-23 18:44] vitiral opened #4276 "powerline fonts not quite working (urxvt in Arch Linux)"
I'm having problems with the powerline fonts not rending correctly in urxvt. I think I am probably just missing some configuraiton line.

My current `~/.Xresources` font configuration is (based on powerline's [tips and tricks](http://powerline.readthedocs.org/en/master/tips-and-tricks.html)):
[code]
Edit: also I have **otf-inconsolata-powerline-git** installed from the AUR
Edit: I also tried Sourc

[2015-12-23 18:46] justbur commented on #4273
In org buffers and help buffers it's the return key. In the home buffer you can jump to any link with "o" (this is described under Quick Help (the [?] button)).

[2015-12-23 18:49] justbur commented on #4276
I can answer the last one. Look in your dotfile for this setting
[code]

[2015-12-23 18:50] nixmaniack commented on #4273
For org buffers, you will need `org` layer for `RET` key to work to follow links, which also adds `,l` to follow link. But yes, `C-]` seems like Vim convention to follow link under point, and `C-t` to go back which  is missing at the moment.

[2015-12-23 18:53] vitiral commented on #4276
Awesome! Thanks, that worked like a charm.

[2015-12-23 18:53] #4276 closed

[2015-12-23 18:53] justbur commented on #4273
I suppose without the org layer you need to use the org default of `C-c C-o`

[2015-12-23 19:03] nixmaniack commented on #4272
I faced something similar on OS X recently where `M->` wasn't detected by Emacs at all, later after some debugging I found out one of the OS X application was intercepting `Meta Shift` and Emacs didn't receive modifier `Shift`.

So in your case it might possible that , `Command Shift` is shadowed/intercepted.

[2015-12-23 19:05] justbur opened #4277 "I think the basic configuration of org should be in the spacemacs layer"
It's awkward to me at least that basic org mode stuff changes depending on whether you are using the org layer or not, especially since all of the docs are in org format now.

It would make more sense to me to have org be included in the spacemacs layer, and then have the extras in the current org layer become an org-extras or org-goodies layer. That way we can ensure that people have the same bas

[2015-12-23 19:12] nixmaniack commented on #4277
I agree totally! I think this was mentioned in gitter as well with same issue of following links in org buffers. Since org is built-in package, it makes much sense to configure it in spacemacs in the spacemacs way. The chances of jumping into org files are more as we have documentation in org files and having consistent way of moving around should be configured in spacemacs layer or probably core

[2015-12-23 19:29] syl20bnr commented on #4277
Indeed.

What kind of rule can we make to decide whether a given org configuration should be in spacemacs or extra layer ?

[2015-12-23 19:40] TheBB commented on #4270
This is fixed in develop.

[2015-12-23 19:52] justbur commented on #4277
To start anything useful for the docs should be in spacemacs

[2015-12-23 19:56] #4270 closed

[2015-12-23 20:12] TheBB commented on #4277
Anything that is useful for someone who just drops into org mode on a casual basis should be in the org layer. If it's for people who are actually using org as a workflow tool I think it can stay in the org layer (e.g. the agenda).

[2015-12-23 20:22] jordwalke commented on #4269
Okay, thanks. I wish there was a way to have two separate layers "factor out" the initialization of a dependency package, such that two independent layers can count on a dependency being initialized in a particular way.

[2015-12-23 20:58] Peeja commented on #4272
It works when I add the `global-set-key` myself, though.

[2015-12-23 22:03] CestDiego opened #4279 "Comint mode has weird symbols (Async Shell Command as well)"
I see these when using running mocha in an async-shell-command:

[![alt](https://i.imgur.com/4BKayT5.png)](https://i.imgur.com/4BKayT5.png)

[2015-12-23 22:26] StreakyCobra commented on #1118
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:26] #1118 closed

[2015-12-23 22:26] StreakyCobra commented on #1265
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:26] #1265 closed

[2015-12-23 22:27] StreakyCobra commented on #1333
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:27] #1333 closed

[2015-12-23 22:27] StreakyCobra commented on #1374
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:27] #1374 closed

[2015-12-23 22:27] StreakyCobra commented on #1533
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:27] #1533 closed

[2015-12-23 22:28] StreakyCobra commented on #1588
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:28] #1588 closed

[2015-12-23 22:28] StreakyCobra commented on #1687
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:28] #1687 closed

[2015-12-23 22:29] StreakyCobra commented on #1726
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:29] StreakyCobra commented on #1855
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:29] #1855 closed

[2015-12-23 22:29] #1726 closed

[2015-12-23 22:30] StreakyCobra commented on #1869
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:30] #1869 closed

[2015-12-23 22:31] StreakyCobra commented on #2033
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:31] #2033 closed

[2015-12-23 22:31] StreakyCobra commented on #2090
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:31] #2090 closed

[2015-12-23 22:32] StreakyCobra commented on #2271
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:32] #2271 closed

[2015-12-23 22:32] StreakyCobra commented on #2395
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:32] #2395 closed

[2015-12-23 22:33] StreakyCobra commented on #2575
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:33] #2575 closed

[2015-12-23 22:33] StreakyCobra commented on #2651
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:33] #2651 closed

[2015-12-23 22:33] StreakyCobra commented on #2708
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:33] #2708 closed

[2015-12-23 22:34] StreakyCobra commented on #2720
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:34] #2720 closed

[2015-12-23 22:34] StreakyCobra commented on #2749
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:34] #2749 closed

[2015-12-23 22:35] StreakyCobra commented on #2791
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:35] #2791 closed

[2015-12-23 22:35] StreakyCobra commented on #2843
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:35] #2843 closed

[2015-12-23 22:35] StreakyCobra commented on #2899
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:35] #2899 closed

[2015-12-23 22:35] vitiral commented on #4273
Installed the org mode layer and now both `o` and plain-ol `RET` seems to be openeing the link in my web browser, which is the opposite of helpful in a text editor haha.

[2015-12-23 22:36] StreakyCobra commented on #3039
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:36] #3039 closed

[2015-12-23 22:36] StreakyCobra commented on #3236
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:36] #3236 closed

[2015-12-23 22:37] StreakyCobra commented on #3254
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:37] #3254 closed

[2015-12-23 22:37] StreakyCobra commented on #3378
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:37] #3378 closed

[2015-12-23 22:37] StreakyCobra commented on #3548
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:38] #3548 closed

[2015-12-23 22:38] StreakyCobra commented on #3850
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:38] #3850 closed

[2015-12-23 22:42] StreakyCobra commented on #4273
@vitiral If the links you are opening are `http://` ones, Spacemacs can't open them within the editor (without 3-party extensions), so it make sense to open them in the browser.

[2015-12-23 22:51] StreakyCobra commented on #1599
This old issue has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue in

[2015-12-23 22:51] #1599 closed

[2015-12-23 22:55] StreakyCobra commented on #2118
This old issue (the original one) has been waiting for a response for more than one month. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and

[2015-12-23 22:55] #2118 closed

[2015-12-23 22:55] StreakyCobra commented on #2151
@syl20bnr Up

[2015-12-23 22:57] StreakyCobra commented on #2209
This old issue has been waiting for a response for close to one month now. As no answer has been provided, we can not help further or know if the issue is still relevant. We are then closing it. Feel free to open a new issue if there is any news on this side, be sure to [read this guide](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) first and link this issue

[2015-12-23 22:57] #2209 closed

[2015-12-23 22:59] co-dh commented on #2118
@StreakyCobra  thanks. I've fixed by put it in dotspacemacs/user-init. hope this will help others.

[2015-12-23 23:00] StreakyCobra commented on #3041
It seems there is not a lot of people interested in this for now, so I'm closing it. Anyway, PRs are welcome :-)

[2015-12-23 23:00] #3041 closed

[2015-12-23 23:03] StreakyCobra commented on #3430
@syl20bnr Up

[2015-12-23 23:05] StreakyCobra commented on #3562
@csdrane It would help if you can give more information, such as in the template presented [here](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report).

[2015-12-23 23:32] vitiral commented on #4273
hmm... ok. It would be nice to get that to work in either emacs or github... but I can see how that might be difficult!

Thnaks @StreakyCobra

[2015-12-23 23:32] #4273 closed

[2015-12-24 01:39] masnes opened #4282 "Spacemacs freezing when I try to save/load a layout while using helm"
I'm using `spacemacs-layouts` layer. When I try to save my layouts to a file, spacemacs freezes. If I ctrl-g, it eventually comes back to life, but my cursor is no longer located in the helm buffer.

Saving layouts works fine with helm mode disabled.

[2015-12-24 01:53] Treri opened #4283 "(spacemacs/toggle-indent-guide-on) not works in dotspacemacs/user-config"
If I put `(spacemacs/toggle-indent-guide-on)` in `dotspacemacs/user-config`, it did not work after emacs startup

But if I use `SPC :spacemacs/toggle-indent-guide-on` after emacs started, it works again.

Where should I put these toggle code to avoid toggle some configuration every time I start emacs?

my .spacemacs file is below

[code]

[2015-12-24 02:30] Treri commented on #4283
Sorry, my fault. I should use `(spacemacs/toggle-indent-guide-globally-on)` insteadof  `(spacemacs/toggle-indent-guide-on)`

[2015-12-24 02:30] #4283 closed

[2015-12-24 02:40] lazywei opened #4284 "auto-completion-complete-with-key-sequence not works"
Hi,

I used this config for auto completion:
[code]
but the "jk" sequence didn't work.

I'm on the develop branch 374e37e32c71295aec87d8207380e9ab019b5ba3.

I'm not sure how to debug this?

Thanks.

[2015-12-24 03:05] Treri opened #4285 "line-numbers conflict with git-gutter or git-gutter+?"
git-gutter symbol cut line-numbers

![2015-12-24 11 02 35](https://cloud.githubusercontent.com/assets/2631733/11988650/1b7c1674-aa2e-11e5-89d6-e72539e596eb.png)

[2015-12-24 03:14] Treri commented on #4268
@justbur Thank you~ I will try 😄

[2015-12-24 05:21] xxv commented on #2090
Ah, whoops. Yes, it still occurs. I just tried it on a fresh checkout of spacemacs into `~/.emacs.d/` and it froze. It said on the bottom:

And sat there, forever. Also, it looks like it was running `find` which is taking forever and all my CPU.

[2015-12-24 06:18] vitiral opened #4288 "helm input line behavior confusing"
First of all, I aboslutely love spacemacs.

One of the first things I noticed that was confusing for me (as a new user) was the helm behavior for inputting text.

The problem is that when you start searching for things, the input text is at the top of the search window, like this:
![current behavior](http://i.imgur.com/n1Lg5U9.png?1)

However, the "default" (and in my opinion better) helm behavior

[2015-12-24 06:41] TheBB commented on #4288
https://github.com/syl20bnr/spacemacs/issues/2082

Set `helm-echo-input-in-header-line` to `nil`.

[2015-12-24 06:46] TheBB commented on #4285
Ping @ralesi

[2015-12-24 06:47] TheBB commented on #4285
I'm not sure but looking at the source code, there might not be a good way to fix this in the terminal.

[2015-12-24 06:55] vitiral commented on #4288
Hey @TheBB, thanks for the response.

I tried to put that both in my `dotspacemacs/init` and `dotspacemacs/user-init` files, neither of which changed the behavior.

[code]

[2015-12-24 06:57] Treri commented on #4285
@TheBB but GUI version Emacs also have the same problem.

I use `SPC :git-gutter-mode` or `SPC :git-gutter+-mode` will also have the problem

![image](http://photo.weibo.com/2004326277/wbphotos/large/mid/3923590028416138/pid/77779785gw1ezar6yoxlxj20kk0jhn06)

[2015-12-24 07:02] TheBB commented on #4288
Yes, you have to do it later: in `dotspacemacs/user-config`. Otherwise Spacemacs will override this setting when it loads.

[2015-12-24 07:04] TheBB commented on #4285
I use git-gutter+ and my fringe symbols are on the right. I don't have anything like that on the left, even if I enable line numbers.

[2015-12-24 07:05] TheBB commented on #4285
Wait, why are you enabling these manually? Can I see your `SPC hds`?

[2015-12-24 07:19] Treri commented on #4285
#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 374e37e)
- Distribution: spacemacs
- Layers:
[code]

and my .spacemacs file is below

[code]

[2015-12-24 07:23] Treri commented on #4285
I use brew to install emacs-mac-port, and use above .spacemacs file.

When Emacs started, even if I edit the file which is under git's version control and is modified, there's no git-gutter symbol.

[2015-12-24 07:24] TheBB commented on #4285
Ok, with those settings I can reproduce.

[2015-12-24 07:34] Treri commented on #4285
@TheBB never mind~ 😊

[2015-12-24 07:34] vitiral commented on #4288
@TheBB thanks a lot!

I think I was confused because I thought you generally set varables in init. I guess that depends on whether the variables are for "pre configuration" or are used dynamically. Thanks a ton!

[2015-12-24 07:34] #4288 closed

[2015-12-24 07:42] vitiral commented on #4277
@TheBB I think you meant "on a casual basis should be in the **spacemacs** layer."

[2015-12-24 07:43] TheBB commented on #4277
Yep, thanks!

[2015-12-24 07:50] hagmonk opened #4289 "rvm-activate-corresponding-ruby not added to ruby-mode-hook"
Running on spacemacs/develop and emacs-25.1.50.1 on OS X.

At some point I found that visiting Ruby files no longer ran rvm-activate-corresponding-ruby, which caused all sorts of problems in my setup.

My configuration layer for Ruby is:

[code]

When investigating, I found that ruby/init-rvm was being run, but (use-package rvm …) appeared to not run. Or at least, the :init form was not being exec

[2015-12-24 07:56] hagmonk commented on #4289
Oh, and this bug - if it turns out to be a bug - would also affect chruby and rbenv, since they have predicates that perform similar comparisons. I grepped through the entire layers subdirectory and could not find other predicates affected outside +lang/ruby

[2015-12-24 07:59] syohex commented on #4285
Hi, I'm an author of `git-gutter`. git-gutter.el supports linum however if you use both linum-mode and git-gutter, you need to setup linum-mode(global-linum-mode) before loading git-gutter.el.

But I recommend you to use [diff-hl](https://github.com/dgutov/diff-hl) if you use both such packages and linum-mode.

[2015-12-24 08:08] nixmaniack commented on #4285
[This](https://github.com/syl20bnr/spacemacs/blob/374e37e32c71295aec87d8207380e9ab019b5ba3/layers/%2Bsource-control/version-control/packages.el#L49-L54) might be the issue then, loading order.

[2015-12-24 08:13] fuzihaofzh opened #4290 "Can zap-up-to-char function be added to spacemacs"
I'm using the function zap-to-char. However, it can only delete chars forward. Can you please add the back deletion to spacemacs?

some reference:
https://github.com/keithhamilton/spacemacs

[2015-12-24 08:26] Treri commented on #4285
@syohex Could you please tell me how can I enable both line-numbers and git-gutter?

set `version-control-diff-tool` to diff-hl

and enable `dotspacemacs-line-numbers t` in my .spacemacs?

[2015-12-24 08:27] nixmaniack commented on #4289
Indeed that is a bug. PR would be welcome. :smile:

[2015-12-24 08:31] fatlazycat commented on #1726
Sorry completely forgot to reply. Haven't seen this for a long time.

[2015-12-24 08:35] Treri commented on #4285
Thanks.

I found that in GUI version Emacs, gutter symbols will appear in emacs right. And all of git-gutter git-gutter+ and diff-hl work well.

But in terminal, all these diff tools' symbols will appear in line numbers left, and these symbols will cut line numbers' space.

Maybe I should always use GUI version Emacs?

[2015-12-24 08:49] nixmaniack commented on #3430
justbur's way sounds good to me, I've always faced issues when functions are defined inside `use-package` and `gd` doesn't work in that case.

[2015-12-24 08:50] syohex commented on #4285
Yes. Fringe is supported only GUI version.

[2015-12-24 09:05] Treri commented on #4285
Does spacemacs users not enable linum-mode and git-gutter-mode both?

[2015-12-24 10:23] bmag commented on #4247
@jordwalke I believe it is possible to do as you suggested, but not simple.

First, `split-window` is the function that actually does the splitting, so you will need to write a `before` advice for `split-window` that moves the cursor positions out of the way. Using advice is generally discouraged, but in this case I think you don't have a good alternative.
Second, you need to restore the cursor po

[2015-12-24 10:29] jordwalke commented on #4247
I just started learning emacs a couple of days ago. It will be some time before I would be ready to tackle this one. It would be great though :D

[2015-12-24 12:44] StreakyCobra commented on #4282
It would be possible to help you better if your issue follows [this template](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) :-)

[2015-12-24 12:47] StreakyCobra commented on #4290
It would be possible to help you better if your issue follows [this template](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) :-) (i.e. reproduction guide especially)

[2015-12-24 12:51] nixmaniack commented on #4290
If you can get into `normal` state you can do `dt``<char>` . I'm not sure how you can achieve this in `emacs` state.

[2015-12-24 12:54] StreakyCobra commented on #2090
@xxv Can you please open a new issue following [this template](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) :smiley ? A new issue will have more visibility, and following the template will give us more information such as your installation details and a reproduction guide! Thx

[2015-12-24 14:55] ralesi commented on #4285
So does this work if `diff-hl` is set as the version control tool? I unfortunately don't have a box where I can test terminal usage.

Rich

On Thu, Dec 24, 2015 at 1:05 AM -0800, "Treri Liu" <notifications@github.com> wrote:

Does spacemacs users not enable linum-mode and git-gutter-mode both?

—
Reply to this email directly or view it on GitHub.

[2015-12-24 15:17] Treri commented on #4285
@ralesi In terminal, three of them do not work well, they all will cut line numbers space.

And in GUI version Emacs, all of them work well, because gutter symbols appear in emacs right.

[2015-12-24 15:24] sho-87 opened #4292 "Searching for program error"
I keep seeing this show up in my messages:
[code]

The context surrounding that is often different (unused variables, undeclared variables, most likely due to some unrelated linting package?)

What could I look at to diagnose this problem?

[2015-12-24 15:30] StreakyCobra commented on #4111
This issue has been fixed upstream one hour ago, and the update will be available on MELPA in a few hours (3-4). Let us know if this is the problem still persist after the update.

[2015-12-24 15:40] JAremko commented on #4138
**← Total Emacs n00b here**
I have the same problem with the go(golang), I use spell-checking layer.
Also I noticed that the `seq-find` thingy is a part of  [`seq.el`](https://github.com/NicolasPetton/seq.el/blob/master/seq.el)   from the readme:
 *seq.el provides Sequence manipulation functions that complement basic functions provided by subr.el. The library is included in Emacs 25.*
I'm using Em

[2015-12-24 18:09] aaronjensen opened #4294 "point is moved by ws-butler after auto-save in deft org-mode flies"
The new whitespace cleanup stuff is nice, but I've noticed an annoying thing when working in org-mode files via deft that are auto-saved. If I have a trailing whitespace and the file is autosaved, the whitespace is often trimmed and the point moves back.

I believe ws-butler [provides functionality](https://github.com/lewang/ws-butler/commit/8ca373047a368df520e06400f916cd8429e1c354) to not move th

[2015-12-24 19:15] emacs18 commented on #4229
Actually the problem was easy to fix as detailed at
https://github.com/syl20bnr/spacemacs/pull/4295
If this one line change is checked in, then I can go back to starting emacs the way I have been doing for months which is to launch emacs via
[code]

[2015-12-24 19:44] Eilie opened #4296 "Ruby on rails layer key binginds doen't work"
Key bingdings described in https://github.com/syl20bnr/spacemacs/tree/master/layers/+frameworks/ruby-on-rails#code-navigation doesn't work.

[2015-12-24 20:17] vitiral commented on #4024
Just want to mention that this is still broken for me in mainline.

@justbur is there a way to do it so that that only takes effect for org mode? Something like `(evil-define-key-mode 'org-mode ... et`

[2015-12-24 21:15] hagmonk commented on #4289
I raised PR #4291 earlier for this ... what's the official way of linking the issue and the PR?

[2015-12-24 22:38] StreakyCobra commented on #4296
Can you please provide more explanations, like described [here](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report)? Especially the reproduction guide and the system description.

[2015-12-24 22:41] StreakyCobra commented on #4289
You linked them in both side, and the `PR pending` label is already there, nothing more to do here :-)

[2015-12-24 22:43] nixmaniack commented on #4289
[This](https://help.github.com/articles/closing-issues-via-commit-messages/) might be helpful if you want to close the PR/issue when the PR gets merged in `default` branch of the repo.

[2015-12-24 22:57] hagmonk commented on #4289
Ah-ha, got it. I thought the "PR pending" label indicated "we're waiting for a PR", rather than "this issue is pending PR approval". Thanks for clarifying! :)

[2015-12-25 05:22] louy2 commented on #3120
@eitazhou It is possible to set different font sizes for Chinese and English with `(spacemacs//set-monospaced-font "Source Code Pro" "Hiragino Sans GB" 14 16)`. You'd need to find a proper combo to make them align.

[2015-12-25 06:33] kingFighter commented on #3120
@louy2 Do you find how to set font fallback in spacemacs just like css?
I tried
[code]
with `dotspacemacs/user-config`.
Not work for me.

[2015-12-25 09:03] x-ji commented on #2142
For some reason, even if I set `haskell-process-type` to `stack-ghci` manually, Emacs would still say it can't find `ghci`. I had to manually add the directory `/home/jx/.stack/programs/x86_64-linux/ghc-7.10.2/bin` for the REPL to start up normally. I'm not sure what happened here.

[2015-12-25 09:45] louy2 commented on #3120
@kingFighter
I have not been actively on it. For now you can try `(set-fontset-font "fontset-startup" nil "Symbola" nil 'append)`.

Ref: https://www.gnu.org/software/emacs/manual/html_node/emacs/Modifying-Fontsets.html#Modifying-Fontsets

[2015-12-25 10:10] kingFighter commented on #3120
@louy2 Thanks. I tried
[code]
with `dotspacemacs/user-config`. It seems work.But properities like `width` and `weight`( `normal` or `'normal'` or ``` `normal' ``` not working.

[2015-12-25 10:51] sooheon opened #4298 "undo behavior inconsistent with vim"
First, `(setq evil-want-fine-undo 'No)`.

`u` after an atomic insert does not bring cursor back to where insert state was entered, but to some "Undo branch point!". Checking the undo tree with `spc a u` shows that undo tree is consolidating the buffer state when the text is the same into one node--if you return to this node with an undo operation, emacs brings you back to exactly that state, ignor

[2015-12-25 15:10] robbyoconnor commented on #4298
Not questioning the validity at all... but wouldn't this be an issue with evil, not spacemacs?

[2015-12-25 15:46] sooheon commented on #4298
@robbyoconnor that's true, and a quick search in the evil bitbucket led me to a previous issue. I'll continue discussion there. :)

[2015-12-25 15:46] #4298 closed

[2015-12-25 15:54] robbyoconnor commented on #4298
:+1:

[2015-12-25 19:36] TheBB commented on #4298
The valid values for `evil-want-fine-undo` are `nil`, `fine` and `t`. `No` will be interpreted as `t` I believe. The docstring for this variable is misleading.

[2015-12-25 19:37] TheBB commented on #4298
Ref. the definition.

![](http://i.imgur.com/wihy3KF.png)

[2015-12-26 05:04] vitiral opened #4300 "ediff mode"
When I type `SPC f e D` it opens an `*Ediff Control Panel*` buffer on my `.spacemacs` file. However, vim-like commands do not work, including `SPC` commands.

I looked at #695, and from that it looks like "ediff mode" is supposed to be in the core, however it doesn't appear to be for me.

I have the `version-control` layer enabled, and from `f e h` it looks like that is the only layer that does an

[2015-12-26 12:11] TheBB commented on #4300
Ediff is configured but not evilified in any way. At the moment it only works with Emacs key bindings.

[2015-12-26 17:39] justbur commented on #4300
Just curious. What would evilified ediff look like exactly?

[2015-12-26 19:42] vitiral commented on #4300
I'm not super experienced with ediff and it's power (I would like to learn more) but as for "evilfied" bindings I would think the following would be good:
- `j/k` moves normally (allowing you to manually edit text by going to insert mode, like in vimdiff -- is this possible?)
- `C j/k` moves up/down between diffs in the current window (similar to helm functionality)
- `SPC m` commands that deal wi

[2015-12-26 22:47] justbur commented on #884
Evil escape is disabled in holy mode by default now so this can probably be marked fixed in develop.

[2015-12-26 22:49] justbur commented on #3535
This should be fixed in develop now

[2015-12-26 22:50] justbur commented on #3495
Fixed in develop

[2015-12-27 00:04] cocodrino opened #4301 "where is the right place for add spacemacs layers in the spacemacs config"
Hi, I'm a big noob right now using spacemacs and It's not clear to me where I must add this line

[code]

[2015-12-27 01:35] cocodrino commented on #4301
ok I add this to my .spacemacs in this way (after watch a youtube tutorial)

[code]

I restart spacemacs but even now after open a go file the go-mode doesnt load

also I notice a weird behaviour with evil-indent-textobject : every time than spacemacs start try connect to melpa and install this package but fails, so every time than spacemacs start I must wait many seconds, how can I disable this?

[2015-12-27 01:37] terakilobyte commented on #4234
Yep, everything looks good.

[2015-12-27 01:37] #4234 closed

[2015-12-27 02:33] robbyoconnor commented on #4301
Yeah add them to the layers list -- our config is pretty self-documenting...you can close this issue please. Click the Close button

[2015-12-27 10:30] zhexuany commented on #4135
@darkfeline  I have same problem here. When I type SPC-m, emacs tell me this key bindings is undefined. What is your configuration then? I am pretty sure, everything in my Mac is updated.

[2015-12-27 11:16] louy2 commented on #3120
@kingFighter
For `:width` and `:weight` properties you need to choose from a list of *symbols*, which means you need to specify them as `:width 'normal` and `:weight 'normal`. Symbol is a special type, not string.

Ref:
https://www.gnu.org/software/emacs/manual/html_node/elisp/Face-Attributes.html#Face-Attributes
https://www.gnu.org/software/emacs/manual/html_node/elisp/Creating-Symbols.html#Creat

[2015-12-27 12:00] StreakyCobra commented on #4301
@cocodrino:

It should, you can check this with `M-: major-mode RET`, it should return go-mode. What you are probably missing is the `syntax-checking` layer, uncomment it :-)

This has been fixed in `develop`. This will be fixed in the next release.

There is [an option for this in `develop`](https://github.com/syl20bnr/spacemacs/blob/develop/core/templates/.spacemacs.template#L71), so it will be

[2015-12-27 12:02] StreakyCobra commented on #4135
@zhexuany What is the output of `SPC h d s` ? Have you updated the packages with the `update` button (on master) or the `update packages` button (on `develop`)?

[2015-12-27 12:06] zhexuany commented on #4135
@StreakyCobra  To be exactly, this is only happened when I am not in lisp mode. If I use SPC : and chose lisp mode, everything works fine. How can I use the key bindings even I am not in lisp mode?

[2015-12-27 12:18] StreakyCobra commented on #4135
@zhexuany Bindings under `SPC m` are mode-specific. They will be different under `python-mode` or `javascript-mode`, and not all mode defines bindings there. For instance there is not `SPC m` bindings on the `*Spacemacs*` home buffer.

[2015-12-27 15:49] cocodrino commented on #4301
thank so much @StreakyCobra, that solve my 2 questions, now I can close my issue..thanks

[2015-12-27 15:49] #4301 closed

[2015-12-27 16:38] zhexuany commented on #4135
@StreakyCobra  I see your point. Thank for your kindly reply.

[2015-12-27 20:41] cocodrino commented on #2292
Hi guys, I followed the steps from @geo7 but  for some reason the keybindings are not taken by spacemacs...that means, when I press jk in insert mode it doesn't change to normal mode, BUT the mode is running and if I evaluate this expresio M-:  (key-chord-define evil-insert-state-map  "jk" 'evil-normal-state) works, what could be the reason?..thanks!!!

[2015-12-27 23:49] declanqian opened #4302 "support multi emacs?"
I hava a scenario: I hava multi version emacs installed on mac. One from the brew install emacs --HEAD and one from brew install emacs-mac. When I installed all the packages using the head version emacs, then sometimes I decided to switch to emacs-mac for some reason. The previously installed and compiled package just won't work. Then I have to backup the ./elpa  and ./.cache foler, and reinstall

[2015-12-28 03:07] kingFighter commented on #3120
@louy2
Really thanks for your suggestion and refs. It worked now.
Thanks again.

[2015-12-28 10:43] zentorwie opened #4306 "Inputting "fd" fast in INSERT mode causes exiting INSERT mode."
This bug occurs when I am writing a C program about socket.

I want to input the following code:
[code]
and in INSERT mode, if I input "fd" fast, the string "fd" is deleted and the Emacs exits INSERT mode immidiately.

To avoid this I have to input "fd" not so fast. It's really annoying!

Anyone has the same problem? Your can try inputting "fd" **fast**.

Newly installed spacemacs. Reinstalling ca

[2015-12-28 10:47] zentorwie commented on #4306
Inputting "fd" in VISUAL mode is similar. I return to NORMAL mode at once.

[2015-12-28 10:53] cpaulik commented on #4306
I think this is because [evil-escape](https://github.com/syl20bnr/evil-escape) is enabled by default.

You can put the package in your `dotspacemacs-excluded-packages` variable to disable it

[2015-12-28 10:55] cpaulik commented on #4306
Or for configuration you can find more information in the Documentation in [this section](https://github.com/syl20bnr/spacemacs/blob/develop/doc/DOCUMENTATION.org#escaping)

[2015-12-28 11:28] TheBB commented on #4306
As @cpaulik says, this is a feature. You can follow his advise for changing the shortcut or disabling it entirely.

[2015-12-28 11:28] #4306 closed

[2015-12-28 11:30] zentorwie commented on #4306
@cpaulik @TheBB Thanks!

[2015-12-28 11:35] TheBB commented on #4302
See #3379 and #3384. Especially the latter has some discussion on the pros and cons of this, and possible workarounds. Closing this as a duplicate.

[2015-12-28 11:35] #4302 closed

[2015-12-28 11:47] dsdshcym opened #4307 "Spacemacs don't respect the dpi settings under Linux"
I want to switch to linux on my retina Macbook.
And tried to install one in VMware Fusion first.
But I found that spacemacs seems breaks the dpi settings under Linux.
As in this screenshot, the pure emacs is correct:

![screenshot](http://ww3.sinaimg.cn/large/6dc59d02gw1ezflzt8xs1j21kw0zkgv0.jpg)

[2015-12-28 11:49] justbur commented on #4197
@StreakyCobra try with `SPC sgf ` I think it should be. `SPC sf` selects the first took it finds.

[2015-12-28 12:15] TheBB commented on #4197
https://github.com/syl20bnr/spacemacs/pull/4308

[2015-12-28 12:45] cpaulik commented on #4307
Could this be a font setting?

What is the output of `describe-font`? I think that the default font of spacemacs is `Source Code Pro` in size 13. I had to change this to size 24 on my hdpi screen.

[2015-12-28 13:27] dsdshcym commented on #4307
@cpaulik Mine is `Input`, size 14.
I don't know why the pure emacs is fine. It can adjust font size according to dpi settings?

[2015-12-28 13:28] sshbio opened #4309 "Proposition for aditionnal banners (images without GUI hack)"
This one use the [braille characters](https://en.wikipedia.org/wiki/Braille), available for mosts fonts, but not on TTY.

Bright background
[code]

[EDIT] For dark background:

[code]
It have been generated with the [drawille](https://github.com/sshbio/drawille) library, and adjusted just a bit.

[2015-12-28 13:31] cpaulik commented on #4307
Is your `M-x describe font` output `Input 14` for both frames you show in your screenshot?

[2015-12-28 13:45] dsdshcym commented on #4307
No. The pure emacs's output is `size: 41`.

I think I can close this issue, then.

[2015-12-28 16:04] StreakyCobra commented on #4197
@justbur Indeed, `SPC s f` is selecting `ag`, I should have though about this.

[2015-12-28 16:14] StreakyCobra commented on #4309
For people like me thinking that it's impossible to see the logo, copy/paste the images to the `*scratch*` buffer.

@sshbio The rendered images are quite big. Do you think it's possible to make the sames half-sized to compare?

Also, you can directly create a PR if you are used to this :relaxed: If you don't want or don't have time, I will do it as I'm interested in this!

[2015-12-28 17:25] sshbio commented on #4309
Ok, I will make some smaller ones and a pull request. :grinning:

[2015-12-28 19:07] StreakyCobra commented on #3379
Pending PRs: #3384 #4312

[2015-12-28 21:01] sshbio commented on #4309
I made a pull request to the correct branch, this time (after a first try on master).

Thank you for your advices, and for learning me how to contribute to a large project!

Closing the issue.

[2015-12-28 21:01] #4309 closed

[2015-12-29 00:34] huahaiy opened #4315 "Clojure mode: unable to delete single parens in comments"
E.g.

;; This is in comment :-)

Deleting the above line still leaves ")" in place

[2015-12-29 01:42] justbur commented on #4300
@vitiral I made a simple package to make the ediff bindings a little more evil friendly. Let me know what you think https://github.com/justbur/evil-ediff

[2015-12-29 03:20] spinpx commented on #4252
I met the same problem. but it still exists after I reinstalled all the packages.

[2015-12-29 10:46] vitiral commented on #4300
Hey @justbur, ya those all look pretty reasonable. Unforuntely I can't install it because I'm not sure how to install from github (I will read into it more, but `use-package` doesn't seem to work, which is what I've been using!)

[2015-12-29 12:36] justbur commented on #4300
@vitiral just download the .el file or clone the repo through git and load it in user-config with `(load "path/to/evil-ediff.el")`

[2015-12-29 12:39] TheBB commented on #4315
You probably have smartparens strict mode turned on.

[2015-12-29 12:59] vkz opened #4319 "Expose keymaps created by macros and document them"
Things like `spacemacs|define-micro-state` hide maps being created so the only way to customize bindings is copy-paste the entire thing with your modifications.

Case in point is `layouts` layer.

[2015-12-29 16:10] kemskems opened #4320 "Document hoogle installation in haskell layer"
To make `<SPC> m h h` (`hoogle` command) work, [Hoogle package](https://hackage.haskell.org/package/hoogle) should be installed but there's no mention of it in haskell layer's README. I think this should be added there.

[2015-12-29 16:53] dzannotti commented on #2042
just seen this with
[code]

on master branch, emacs 25.5.15, osx

[2015-12-29 19:57] mnlgn opened #4322 "documentation toc inside spacemacs broken"
When I try to read the documentation using the table of contents, spacemacs won't jump to the corresponding section. It seems like org can't find the target id: "No match - create this as a new heading?"

Emacs version: 24.3.1

[2015-12-29 22:54] huahaiy commented on #4315
Yes. Wouldn't it be nice that smartparens strict mode ignores comments?

[2015-12-29 23:59] landaire opened #4323 "Laggy scrolling using railwaycat/emacs-port"
I know this has been discussed many times over but I think that this is a deeper problem with Spacemacs in some way.

Here's a video of out of the box scrolling (no emacs plugins): https://youtu.be/05Svv4Erkz8
And with spacemacs, same file: https://youtu.be/fIpGkjX3dVk

The difference is pretty clear. The D layer I think is just poorly optimized or something since there's other issues with it and

[2015-12-30 03:33] dsdshcym commented on #4256
@TheBB It seems that this bug was fixed by org-20151228.

Can you check again on your side?

[2015-12-30 05:26] mnlgn commented on #4322
![bildschirmfoto vom 2015-12-30 06 25 58](https://cloud.githubusercontent.com/assets/1057526/12046704/3816f2ec-aebe-11e5-9039-083c41510d38.png)

[2015-12-30 05:44] gfZeng opened #4324 "Spacemacs should use `ido-grid-mode` instead `ido-vertical-mode`"
<https://github.com/larkery/ido-grid-mode.el>

[2015-12-30 05:56] isolet commented on #4247
That's really a good question, I'm waiting for any good news!!! In most situation I think I don't need the cursor to be visible.

[2015-12-30 08:18] chenxs110 opened #4326 "react layer company-tern not work"
#### Description
react layer's auto-completion backend company-tern not work.

#### Reproduction guide
- Enable react layer
- Start emacs
- Edit one jsx or react.js file

#### System Info
- OS: darwin
- Emacs: 24.4.1
- Spacemacs: 0.104.8
- Spacemacs branch: nil (rev. 44d4525)
- Distribution: spacemacs
- Layers:
[code]

#### Backtrace
Company: An error occurred in post-command
Company: frontend com

[2015-12-30 08:34] d12frosted commented on #3875
The same here. Repo steps are really easy. Just as @bmag noticed.

[2015-12-30 08:36] Treri opened #4327 "input quotation marks not consistent when empty string or not empty string"
In insert mode, if I input a single `'` quotation mark, spacemacs will output a pair `''`. Then I input some content normally. Then I input another `'`, the cursor just jump out the quotation mark pair. This is also I wanted.

But If I input a empty string using `''`, when I input a single `'`, spacemacs will output a pair `''`, and the cursor is in center of quotation mark pair. Then at this time

[2015-12-30 08:38] d12frosted commented on #4327
In which mode do you experience this? Also, could you please paste the output of `SPC h d s`? :)

[2015-12-30 09:41] Treri commented on #4327
#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: doc-fix (rev. 82c5ce9)
- Distribution: spacemacs
- Layers:
[code]

in php-mode

@d12frosted

[2015-12-30 09:47] TheBB commented on #4315
https://github.com/Fuco1/smartparens

[2015-12-30 10:03] huahaiy commented on #4315
OK. Reported upstream. Thanks!

[2015-12-30 10:03] #4315 closed

[2015-12-30 10:05] TheBB commented on #4327
Yes, this is annoying sometimes. See https://github.com/syl20bnr/spacemacs/issues/2097 and the linked smartparens issue.

I'm closing this as a duplicate.

[2015-12-30 10:05] #4327 closed

[2015-12-30 11:49] Treri commented on #4327
Thanks

[2015-12-30 13:36] StreakyCobra commented on #4326
Can you update your message to follow [this template](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report)? It will be easier to help you :-) Thanks

[2015-12-30 14:08] TheBB commented on #4256
Yes, I can't reproduce with the latest version.

[2015-12-30 14:08] #4256 closed

[2015-12-30 19:33] vkz opened #4330 "projectile commands should respect buffer isolation promised by layouts (perspectives)"
#### Description
- `projectile-kill-buffers` removes buffers from all layouts (perspectives) and therefore breaks the promise:

- same project buffers explicitly opened via say `helm-projectile` (but not limited to that command) will only exist in one layout with the exception of a single common buffer
#### Reproduction guide
- create **project1** layout
- open several files from some git-tracked

[2015-12-30 19:42] StreakyCobra commented on #4330
It would be nice to update your issue to follow [this template](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) :-)

[2015-12-30 21:43] micahbf opened #4331 "`K` is not mapped to discard changes in magit status buffer"
The git layer docs specify:

Magit help specifies that `k` discards the changes of the specified file or hunk (`magit-discard`). However, pressing `K` on a file in a magit status buffer runs `magit-file-untrack`.

[2015-12-30 22:40] chaozhn opened #4333 "The tab width can not set 4 spaces for existing java codes"
I'm not sure if this is a problem but I can not google a solution for it.
I'm rookie for Emacs and starting to transfer from vim to spacemacs, I used eclim+eclipse to edit java in vim before, so I tried to configure the same things in spacemacs and looks like it works well except tab width.
I googled how to set tab width with 4 and followed other guy's setting:
[code]
I put these codes under *(def

[2015-12-31 01:38] cocodrino commented on #247
Hi guys, I'm getting this error everytime than I try SPC w M

jump-to-register: Register doesn't contain a buffer position or configuration

what could be the reason?...I'm trying to get a distraction free mode

thanks

[2015-12-31 01:55] Treri commented on #4333
Maybe this?
[code]

[2015-12-31 02:22] chenxs110 commented on #4326
ok.
it's bug of company-tern package.
https://github.com/company-mode/company-mode/issues/441

[2015-12-31 02:38] #4285 closed

[2015-12-31 06:52] robbyoconnor commented on #4059
This is super annoying and happens regardless of `elixir` being present or not

[2015-12-31 08:43] chaozhn commented on #4333
@Treri Thanks a lot, I put it in *user-init()* section and it works now. BTW, do you know this warning when start spacemac:
[code]
I followed java setting guide from spacemac to enable eclim and put the following setting in my .spacemac:
[code]
Seems, the eclim can work, but I don't know why it is showing, if you know, please tell me, thanks a lot!

[2015-12-31 11:58] derekcn opened #4336 "error: Required feature `dash' was not provided"
I upgrade spacemacs, and when restart emacs, found:

**Warning (initialization): An error occurred while loading `/home/user/.emacs.d/init.el':**

**error: Required feature `dash' was not provided**

**To ensure normal operation, you should investigate and remove the**
**cause of the error in your initialization file.  Start Emacs with**
**the `--debug-init' option to view a complete error backtra

[2015-12-31 14:50] mnlgn commented on #4322
They're all broken, doesnt matter which doc or readme I try.

[2015-12-31 15:12] TheBB commented on #4336
This is a start…

[2015-12-31 18:27] ryepesg opened #4337 "Unify Lispy and evil-cleverparens in one layer for Spacemacs"
@syl20bnr mentioned [here](https://github.com/syl20bnr/spacemacs/pull/2747) that he might consider making evil-cleverparens part of the Spacemacs distribution.

@abo-abo (Lispy author) and @luxbock (evil-cleverparens author) discusses the integration with Spacemacs [here](https://github.com/luxbock/evil-cleverparens/issues/34).

Lispy just begin to support a [theme for evil-cleverparens](https://g

[2015-12-31 21:55] jschnurr opened #4338 "Django layer won't start server or run tests"
After enabling the `Django` layer via `.spacemacs`, and following the configuration at [deadpansincerity.com](http://www.deadpansincerity.com/docs/pony/configuration.html), I'm unable to get the pony-mode functions to work correctly.

My .dir-locals.el is as follows:

[code]

**Symptoms include:**
1.  `SPC m j i s` (pony-shell) and `SPC m j r u` (pony-runserver) exit with TypeError: relative impor

[2015-12-31 22:41] vitiral commented on #4300
everything looks really good. Only thing that could be added would be the `SPC m` functionality... but honestly I think that people should just learn `ediff`, because (besides movement keys) it looks like a better interface than vimdiff ever was.

Thanks @justbur!

[2016-01-01 03:23] Andre0991 opened #4339 "`K` runs `org-agenda-previous-line` instead of hiding habits in org-agenda"
Steps to reproduce:

Add `org-habit` to `org-modules` using the customize interface.

By default, when using `org-habits`, in org's agenda view, `K` (upper case `k`) hides tasks that are habits (see the last sentence of [this page](http://orgmode.org/manual/Tracking-your-habits.html)).

However,  currently `K` activates `org-agenda-previous-line` in agenda view.
#### System Info
- OS: darwin
- Ema

[2016-01-01 06:19] derekcn commented on #4336
yes, thanks. I found dash.el and dash.elc in elpa/dash-20151216.1315/ were both corrupted. so i download dash.el from melpa.org manually and remove dash.elc, now it works.

[2016-01-01 06:19] #4336 closed

[2016-01-01 12:20] TheBB commented on #4333
It's a documentation bug. It has been fixed in develop.

https://github.com/syl20bnr/spacemacs/tree/develop/layers/+lang/java#installation

Sounds like this can be closed, then? Let me know if not. :-)

[2016-01-01 12:20] #4333 closed

[2016-01-01 15:49] StreakyCobra commented on #4326
:+1: Thanks

[2016-01-01 15:55] StreakyCobra commented on #4322
You can try:

- enabling the `org` layer if not already
- updating your packages (`[Update]` button on *spacemacs* buffers)

but it may also be related to your emacs version.

[2016-01-01 16:22] StreakyCobra commented on #4331
On the `master` branch, the support of magit is not optimal. The `develop` branch uses [`evil-magit`](https://github.com/justbur/evil-magit) that integrates better `magit` with `evil`. Should be released soon :-)

[2016-01-01 16:31] chaozhn opened #4340 "A question about ycmd, Ycmd server is timeout"
I have vim working with ycmd. And now I'm trying the spacemacs with ycmd. I followed the  guid in Youcompleteme homepage to compile it and no error found. Then I configured the ycmd in .spaceemacs, First, I added layer ycmd in:
[code]
Second, I set the ycmd-server-command:
[code]
When I open a objective-c file, the message told me that **Ycmd server time out**, I turned on ycmd-log and it reported

[2016-01-01 16:43] chaozhn commented on #4333
@TheBB Thank you. It's ok now

[2016-01-01 16:49] StreakyCobra commented on #4340
This message seems pretty clear to me, it says the file doesn't exist. Maybe it's not the right path (2 times `ycmd` at the end?) or maybe `~` is not accepted (`/home/…/.vim/…` being needed?).

[2016-01-01 16:56] chaozhn commented on #4340
@StreakyCobra Thanks. This is the content under this path:
[code]
Is this folder right? I don't know which folder I should give, just referred to other guys' configurations and changed to my path accordingly. Seems I can't find more details about it in **emacs-ycmd** guide. Thanks a lot!

[2016-01-01 17:00] chaozhn commented on #4340
@StreakyCobra Sorry, my mistaken. You're right, the **~** can't be recognized. Thanks again. I will close it.

[2016-01-01 17:00] #4340 closed

[2016-01-01 17:02] StreakyCobra commented on #4340
I don't know, I'm not using this tool, it's the first time I hear about it. For sure it's a PATH problem, but you will need help from someone else that actually knows it :pensive:

[2016-01-01 17:05] StreakyCobra commented on #4339
For the record, the functionality seems to be bound to `K` in `org-habit` ([line 419](http://orgmode.org/cgit.cgi/org-mode.git/tree/lisp/org-habit.el#n419)). It's maybe not used, or it is maybe overridden by some Spacemacs configurations. Need further analyses.

[2016-01-01 17:11] StreakyCobra commented on #4338
May [this](http://stackoverflow.com/a/22176915/2311626) help (I really don't know, just googled it :-) )

[2016-01-01 17:18] Andre0991 commented on #4339
Oh, yeah, `org-habits` has to be used to get `K` to hide habits in the agenda view. I edited the post to clarify this, thanks.

[2016-01-01 18:01] micahbf commented on #4331
Great, thanks!

[2016-01-01 18:09] Layzie commented on #4059
I have same problem in `*.rb` files. But I commented out `elixir` layer then no extra `end` too...

[2016-01-02 03:58] robbyoconnor commented on #4059
Did anybody report upstream?

[2016-01-02 04:07] aaronjensen commented on #4059
To where?

On Jan 1, 2016, 7:58 PM -0800, robbyoconnor<notifications@github.com>, wrote:

[2016-01-02 07:34] robbyoconnor commented on #4059
https://github.com/elixir-lang/emacs-elixir

[2016-01-02 14:37] aaronjensen commented on #4059
I don't think it is their problem. The elixir layer includes the ruby-end package and attempts to disable it for ruby but fails.

On Jan 1, 2016, 11:34 PM -0800, robbyoconnor<notifications@github.com>, wrote:

[2016-01-02 14:40] robbyoconnor commented on #4059
hmm That's why I didn't report it -- I wasn't 100% sure it's their problem...I'd love to debug this but I don't even use it so it's one less thing spacemacs has to load

[2016-01-02 15:23] vkz opened #4346 "[Add Issue] page should link to Bug Report Template"
Please consider adding [link to bug report template](https://github.com/syl20bnr/spacemacs/wiki/Debugging#how-to-make-a-great-bug-report) to the Add Issue page on GitHub alongside you **guidelines for contributing** if you want people actually using it to submit bugs. Thx

[2016-01-02 15:31] vkz opened #4347 "[layouts] ERC layout shows only one channel"
#### Description
Even when you join multiple channels `spacemacs/persp-helm-mini` will only show one. Explicitly adding a buffer from another layer won't work.

#### Reproduction guide
- Create `@ERC` layout from custom layouts
- Join channel, say `#ocaml`
- Join another channel, say `#racket`
- `spacemacs/persp-helm-mini` will show only two buffers: `*scratch*` and `#racket`
- from layouts micros

[2016-01-02 16:13] TheBB commented on #4346
As far I know this isn't possible, but we can add it to the contribution guidelines instead.

[2016-01-02 16:14] TheBB commented on #4347
We should add a hook to `erc-mode` to add a buffer to the ERC perspective, if it exists.

[2016-01-02 16:17] TheBB commented on #4347
I assume adding buffers to the perspective does work. It's just that `#racket` wasn't added, so when you switched away from it, it won't show, either.