[2015-11-21 14:24] travisbhartwell commented on #3898
Also, the Markdown source for that entry is here: https://github.com/travisbhartwell/iamtravis-blog/blob/master/_posts/2015-07-29-how-to-make-a-pr-for-spacemacs.md

It's probably easier to convert from that to the org mode format documentation than copying and pasting from my blog directly.

[2015-11-21 14:36] StreakyCobra commented on #1253
This is an old issue without activity the last 7 months. I'm closing it then. Anyway, feel free to open a new issue/PR for this if there is any news, and link this thread in the comment.This will offer it more visibility if there are some interests :relaxed:

[2015-11-21 14:36] #1253 closed

[2015-11-21 14:44] StreakyCobra commented on #1666
All this seems to be a normal behaviour that need some user configurations. It probably needs to be documented in the FAQ or in the ruby layer's README. I let ruby people decide what's the best solution :-)

[2015-11-21 14:53] StreakyCobra commented on #2140
As explained, `C-g` is an important emacs bindings, and for this reason it will not be changed in Spacemacs. Nothing prevents you to change this binding in your `.spacemacs` though :smile:

I'm closing this issue. Feel free to open a new one in case of troubles (link this issues in it). :relaxed:

[2015-11-21 14:53] #2140 closed

[2015-11-21 14:59] StreakyCobra commented on #3041
We can let this issue open for a few weeks, waiting to see if anybody else need this kind of functionality. If not, we will probably close it, but PRs will still be welcome :relaxed:

[2015-11-21 15:03] fatlazycat opened #3899 "Bespoke command not opening buffer"
The snippet I use to have worked.

    (evil-leader/set-key "ota" '(lambda () (interactive)
        (projectile-with-default-dir (projectile-project-root)
        (call-interactively (shell-command "stack test --test-arguments=--rerun-update")))))

and opened a buffer and displayed the output.

The command runs but I only see

let: Wrong type argument: commandp, 0

If I manually switch to messages

[2015-11-21 16:42] CarlQLange commented on #3041
Nah, I'd close it - this isn't useful enough for enough people.. But maybe someone should write a post about how to enable it and what it does, because it _is_ a really cool emacs feature.

[2015-11-21 16:47] chenyukang commented on #81
Emacs style the leader is available on M-m
How can i override leader key in Emacs style,

[2015-11-21 16:55] TheBB commented on #81
You can try changing the appropriately named variable `dotspacemacs-emacs-leader-key` in your ~/.spacemacs file.

[2015-11-21 17:33] sknaht opened #3900 "M-k and M-J are not corrected binded in org mode"
![screenshot](https://cloud.githubusercontent.com/assets/1224577/11319625/14e605f6-9032-11e5-9a73-cce5b191ac27.png)

when I enter org-mode, and describe the M-k, M-j keys, it shows like above.
after restart (disable and then enable) evil-mode, it becomes to like below, and works normally.

![screenshot](https://cloud.githubusercontent.com/assets/1224577/11319651/caa89f34-9032-11e5-8600-cf1a215cd0e

[2015-11-21 18:07] robbyoconnor commented on #2654
Leave this issue open until it is actually fixed then :P
On 11/21/2015 06:39 AM, Fabien Dubosson wrote:

[2015-11-21 18:19] TheBB opened #3901 "Evil lisp state bindings gone"
This is due to #3860. Tracking this here.

[2015-11-21 18:55] jupl opened #3902 "Clojure and Rainbow Delimiters"
I have the following set in my `.spacemacs`

[code]

It works well with my elisp files, but when I open a Clojure file all parens are still highlighted as if it is set as `'all` instead. I need to invoke `rainbow-delimiters-mode` again so that it works as expected. I'm not invoking `rainbow-delimiters-mode` anywhere in my configuration.

[2015-11-21 19:36] sknaht commented on #3900
resolved by reinstall spacemacs

[2015-11-21 19:36] #3900 closed

[2015-11-21 21:39] justin808 commented on #3360
@justbur I just switched to the develop branch and hit this. What's the standard way to update packages after getting updates on the develop branch?

[2015-11-21 21:44] justbur commented on #3360
Update packages button on the home screen.
On Sat, Nov 21, 2015 at 1:40 PM Justin Gordon <notifications@github.com>
wrote:

[2015-11-21 22:01] codygman commented on #3890
I can verify it works on develop later.
On Nov 21, 2015 7:39 AM, "Eivind Fonn" <notifications@github.com> wrote:

[2015-11-21 22:05] #3890 closed

[2015-11-22 00:15] StreakyCobra commented on #2654
It's why I asked if we should fix it in Spacemacs :stuck_out_tongue:

[2015-11-22 01:43] tenthousandfailures commented on #3526
:+1:

[2015-11-22 04:41] travisbhartwell commented on #3898
One thing that I didn't call out in my documentation or video is that as you need to make changes to your Pull Request to respond to feedback, you don't have to open a new pull request.  You can simply push to the existing branch you made the pull request with.  Pointing out that this would be an appropriate time to use amended commits and `git push -f` to make the commit history clean would also

[2015-11-22 05:50] dvcrn commented on #2917
I am having the same issue. Tried updating to latest everything but it still persists. How did you guys fix it?

[2015-11-22 07:42] bmag commented on #3899
Hey, you have an error in the `call-interactively` call. Emacs runs `(shell-command "stack test --test-arguments=--rerun-update")`, which returns 0, and then `call-interactively` tries to call 0 and fails (0 is not a command, obviously). You probably don't need `call-interactively` at all.

[2015-11-22 07:48] tonyday567 opened #3909 "Make use-package/init- methods monoidal"
I really struggle with writing a solid, robust layer when I don't know exactly what other layers are going to be also loaded.  If I code it up to just hijack any packages that have already been specified - aka taking ownership - I lose out on someone elses well thought out plans to intergrate in with the wider spacemacs ecology.  And if I go for the use-package-hook methods, I'm relying on some ot

[2015-11-22 08:15] fatlazycat commented on #3899
Thanks ! That works :)

[2015-11-22 08:15] #3899 closed

[2015-11-22 09:34] TheBB commented on #3901
I have added a workaround for this issue to keep evil-lisp-state working.

[2015-11-22 11:15] StreakyCobra commented on #3526
FTR: PR pending #3908

[2015-11-22 11:33] crmne opened #3910 "Symbol's function definition is void: ranger"
I installed the `ranger` executable and added `ranger` to my layers, but if I try to invoke it with `SPC a r` or `M-x ranger` it returns this error:

    Symbol's function definition is void: ranger

I can reproduce this on my OS X 10.11 and Ubuntu 14.04 machines, both with Emacs 24.5.1

[2015-11-22 12:14] StreakyCobra commented on #3910
`ranger` layer is not using the `ranger` executable, but an elisp alternative: [`ranger.el`](https://github.com/ralesi/ranger.el). There was some changes upstream recently, it's probably the reason of this.

@ralesi Any idea why `ranger` is not autoloaded? We can probably put it in `:commands`, but it's marked as `;;;autoload` so it shouldn't be needed, no?

[2015-11-22 12:24] TheBB commented on #3910
`ranger` is certainly autoloaded. Something must have gone wrong with your installation.

[2015-11-22 12:51] crmne commented on #3910
I rm'd my `.emacs.d` folder and reinstalled Spacemacs again just now but I still get the same error.

This is my config: https://gist.github.com/crmne/866e84dfbadf6b884001

(@TheBB thanks for sharing your config, the comint tweaks there are copied from yours :+1: )

[2015-11-22 13:19] darkfeline opened #3911 "Profiling startup times"
Does Spacemacs provide any features for profiling startup times?  Recently my startup times have spiked dramatically (100-250 seconds) and I want to pin it down more precisely than the old comment-out binary search.

[2015-11-22 13:22] StreakyCobra commented on #3911
Can you be a victim of [this](https://github.com/syl20bnr/spacemacs/blob/develop/doc/FAQ.org#why-is-spacemacs-hanging-on-startup)?

Otherwise in `develop` there is `emacs --debug-init --timed-requires` as I saw it [there](https://github.com/syl20bnr/spacemacs/issues/2869#issuecomment-152745567). Never tested though.

[2015-11-22 13:52] darkfeline commented on #3911
I don't think it's the Tramp/Helm issue, and `emacs --debug-init --timed-requires` doesn't seem to be detailed enough:

[code]

I just updated to `develop` HEAD and it seems like there are a few regressions (All `SPC o` bindings are broken, for example, along with the ranger layer).  Unfortunately I'm traveling so I don't have time to do detailed debugging.

[2015-11-22 13:54] TheBB commented on #3911
That definitely sounds like the helm/tramp issue. You have tramp features that take almost exactly two minutes to load.

The `SPC o` binding is due to #3860. You should replace your calls to `evil-leader/...`.

[2015-11-22 13:54] ralesi commented on #3693
Ok,  I will look into submitting something to the org layer.

[2015-11-22 14:10] darkfeline commented on #3911
Thanks, I put the Tramp fix in `user-config` instead of `user-init`, Spacemacs is starting up normally now.

Thanks for the `evil-leader` tip as well.

`emacs --debug-init --timed-requires` should probably be documented somewhere if it isn't already, If I remember correctly, Spacemacs intereferes with other Emacs profiling methods.

[2015-11-22 15:28] syl20bnr commented on #3901
I updated the lisp state to use bind-map, as usual we have to wait for MELPA to process it.

[2015-11-22 15:28] CestDiego commented on #3901
aww yiisssss

[2015-11-22 15:47] aaronjensen commented on #3910
I just added ranger and am getting the same issue.

[2015-11-22 16:41] jluttine opened #3914 "Quit key binding not working in Anaconda show doc"
In Python mode, running `SPC m h h` opens Anaconda help window `anaconda-mode-show-doc`. This should close by pressing `q` but nothing happens:
https://github.com/syl20bnr/spacemacs/blob/master/layers/%2Blang/python/packages.el#L52-L53

See: https://github.com/proofit404/anaconda-mode/issues/144

#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev

[2015-11-22 16:51] lucasdellabella commented on #1012
A friend and I are also both having this problem, he's had a fresh install of ubuntu 15.04 and I'm on the newest version of lubuntu.

[2015-11-22 17:40] StreakyCobra commented on #3914
I can't reproduce this bug. `q` is hiding the help window.

[2015-11-22 18:01] terakilobyte opened #3916 "Symbols's function definition is void: bind-map-evil-define-key"
I get this error on startup. Starting emacs with --debug-init as suggested produces the following information. I got this after updating spacemacs.

[code]

[2015-11-22 18:11] jluttine commented on #3914
Hmm.. Does it require some other layer in addition to `python`?

[2015-11-22 19:14] StreakyCobra commented on #3914
No, as far as I know.

[2015-11-22 19:22] rodamber commented on #3916
Getting the same issue =/

[2015-11-22 19:43] Dezmon commented on #3916
Same here clean install Emacs 25 and Spacemacs. The first run (Spacemacs install) seems to go fine but restarting Emacs and this shows up.

[2015-11-22 19:48] StreakyCobra commented on #3916
It's probably a temporary issue, as @syl20bnr updated `evil-lisp-state` for the big refactoring between `evil-leader` and `bind-map`. He will [fix it soon](https://github.com/syl20bnr/spacemacs/pull/3860#issuecomment-158766517) probably

[2015-11-22 19:59] StreakyCobra commented on #3910
@TheBB Definitively an autoloading problem. Putting `:commands (ranger)` make it works.

[2015-11-22 20:05] StreakyCobra commented on #3910
I just updated my packages again, and it seems to work now. @aaronjensen @crmne Can you try updating your packages to see if it works?

[2015-11-22 20:35] tonyday567 commented on #3895
True, but Package references are collected up and then loaded alphabetically.
The difference between an elpa package and a 'package' as a thing that needs a require is confusing.
My guess is that using (require 'org-protocol) is a better strategy in your use case, as it isn't an elpa package. Awesome if others could confirm that guess or otherwise.

[2015-11-22 22:03] kirillrdy commented on #3916
I changed to develop branch of spacemacs and the issue went away. if this helps anyone :-)

[2015-11-22 22:12] StreakyCobra commented on #3916
### Workaround

If you want to stay on `master` for now, either:
- Run `[Rollback]` on the spacemacs buffer to revert last packages updates; or
- Add `evil-lisp-state` to `dotspacemacs-excluded-packages` in your `.spacemacs`.

You can also, as @kirillrdy said, go on `develop`.

The only solution keeping `evil-lisp-state` fully working for now is the `[Rollback]` of packages.

[2015-11-22 22:36] joefiorini opened #3919 "Adding to auto-mode-alist in user-config does not work"
### Description

Using `(add-to-list 'auto-mode-alist '("\\.blah\\'" . conf-mode))` does not apply conf-mode when opening a file ending in extension `.blah`.

### Reproduction Steps

Most recently reproduced on a fresh checkout of master, with a brand new `.spacemacs.d/init.el`. Add:

[code]

to the `user-config` section of  `.spacemacs.d/init.el`. I then created a file called `diddy.blah` to a te

[2015-11-23 00:30] xiaoxinghu commented on #3895
I agree with @tonyday567, `org-protocol` is more of a "library" rather than a "package". it's like a ".rb" file to a "gem" in ruby. I think it make sense to just `require` it whenever it is needed.

[2015-11-23 01:05] drets commented on #3910
I updated 3 packages (one of them - range) and got the new issue.

**Steps to reproduce:**
1. Click *Update* link on the startup screen and type "y".
2. Re-load spacemacs.
[code]
Range works by `SPC-a-r`
3. Re-load spacemacs
[code]

So, I did rollback :confused:
I am on os x and stable branch.

[2015-11-23 02:38] syl20bnr commented on #3909
I'm not sure at which level you want to apply this, `use-package` or the spacemacs `init` functions ?
What do you mean by going through the layers and collect the `use-package` to add them together ? Is this different from executing the functions in the right order (pres/init/posts) ?

[2015-11-23 03:29] zhexuany opened #3920 "Environment variable warnings"
I just updated my spacmeacs in develop branch.
And emacs gave me a warning as follow:
Warning (emacs): You appear to be setting environment variables ("PATH") in your .bashrc or .zshrc: those files are only read by interactive shells, so you should instead set environment variables in startup files like .bash_profile or .zshenv.  Refer to your shell's man page for more info.  In future, exec-path-

[2015-11-23 04:12] Xuyuanp commented on #3897
I'm new to emacs from vim.

@nixmaniack , It works as you did, thank you!

[2015-11-23 04:12] #3897 closed

[2015-11-23 05:55] collenjones commented on #2917
I am also having this issue after upgrading to 0.104.5

[2015-11-23 06:48] ntcong commented on #3920
Are you using OSX?

In OSX, program launch from Application/Dock/Spotlight doesn't inherit the interactive shell environment (.bashrc or .zshrc). So spacemacs have exec-path-from-shell in order to get PATH and GOPATH (not sure about other uses) from your shell rc.

exec-path-from-shell recently has a commit warning about the PATH setting in wrong file (it should be in bash_profile instead of bashr

[2015-11-23 07:07] jluttine commented on #3914
Ah, now I updated to the recent develop (I was a few days behind), and this seems to be fixed. Nice. Thanks!

[2015-11-23 07:07] #3914 closed

[2015-11-23 07:59] drets commented on #3910
Today Update works fine but the issue the same:
[code]

[2015-11-23 08:01] TheBB commented on #3910
I just updated my packages and I can't reproduce this problem. Ranger works fine.

[2015-11-23 08:04] drets commented on #3910
I am on stable branch :wink:

[2015-11-23 08:28] idoo commented on #3920
@ntcong do you have any ideas, how to fix it? move i moved PATH rows from .zshrc to .zshenv, but still receiving message. ( I'm oh my zsh user)

[2015-11-23 08:34] StreakyCobra commented on #3916
@syl20bnr did the necessary to make it works. Please update to Spacemacs 0.104.5 and update your packages if you are on `master`, or update you `develop` branch if you are using it.

[2015-11-23 08:34] #3916 closed

[2015-11-23 08:45] magthe commented on #3920
I get this on Linux, but for `MANPATH`.

My shell of choice is *zsh*, and I'm using *antigen* and (parts of) OMZ.  (I saw OMZ mentioned in https://github.com/purcell/exec-path-from-shell/issues/34)

Anyway, `MANPATH` is actually unset in my setup (both *zsh* and *bash*), so I'm rather confused at this warning!

[2015-11-23 08:46] ntcong commented on #3920
there's a running issue https://github.com/purcell/exec-path-from-shell/issues/34 . The commit is recent, so maybe there some edge cases.

[2015-11-23 09:02] TheBB commented on #3901
Working now.

[2015-11-23 09:02] #3901 closed

[2015-11-23 09:05] tonyday567 commented on #3909
Ok, I'll try and get more concrete.  Let's say you make a layer called foo that uses package bar.  There may or may not be another layer that also uses bar.  You have some opinions about how to setup foo, but, if there is another init of bar out there, it's probably best to not overwrite it.

So your foo layer could look like this:

    (defun foo/init-bar ()
      (spacemacs|add-to-use-package ba

[2015-11-23 09:06] nixmaniack commented on #3920
There might be cases where some other utilities in your startup rc files are setting up environment variables.
e.g in my case, after removing PATH, MANPATH etc, I was still getting this error. After analysing my rc file, I found `pyenv`, `rbenv` which modify and set PATH hence moving them to `.zshenv` in my case fixed this warning.
So watch out for such tools.

[2015-11-23 09:09] TheBB commented on #3910
Okay, I can reproduce. It's a bug in ranger. Will file upstream.

[2015-11-23 09:16] TheBB commented on #3910
https://github.com/ralesi/ranger.el/pull/83

[2015-11-23 10:47] StreakyCobra commented on #3909
Interesting idea.

How do you ensure the ordering, as monoids are **not commutative**? Loading layers alphabetically is not possible as names are fixed, using the user-defined ordering is error-prone. Imagine saying to the user:

    The layer A, if used, should be placed after D, but before C.
    The layer B, if used, should be placed after D and A, but before C.

It will be a nightmare with mor

[2015-11-23 11:00] TheBB commented on #3909
This strikes me as a lot of complexity for little gain. At least, little gain with the current landscape.

[2015-11-23 12:05] tonyday567 commented on #3909
I hear that, and it's a tricky problem, but I think it actually simplifies things for the writers of layers (and most regulars will want to write layers).  An example: I just saw a query on gitter about how to force a package to load which was specified as :defer in another layer.  Can't be done given the current methods.

The main gain I see is to break the tight-coupling between layers and how t

[2015-11-23 12:26] TheBB commented on #3909
This should do it if the other layer defines an `:init` phase.

[code]

[2015-11-23 12:40] StreakyCobra commented on #3909
Monoid are not commutative AFAIK, and we can see it in your example:

If your `baz` layer is named `baz`, then the result is:

[code]

If your `baz` layer is named `zab`, then the result is:

[code]

The value of `bar-enable-awesome` would be different just because of the name of the layer, i.e. because of the ordering of the layers. Monoids are not commutative, and just changing the name/order of

[2015-11-23 13:44] syl20bnr commented on #3909
As @TheBB pointed out `:defer t` can be overwritten with a `require`. It can be even simpler by just putting this `require` in a `pre-init` function.

I already thought about the ability to aggregate `use-package` forms and it ended up in the request of hooks which are the advantages of being both natural in the elisp landscape and easy to implement. John implemented it in one day. More over hooks

[2015-11-23 13:48] sschuldenzucker commented on #690
@tuhdo, what solved the issue with the `apply: Symbol's value as variable is void: smartparens-strict-mode` for you? I'm gettings this *everywhere* since the most recent update (today).

[2015-11-23 13:48] syl20bnr commented on #3909
I'm not found of the over usage of use-package. Use-package is a helper but not the obligatory entry point for any elisp feature.

I prefer a use-package agnostic configuration layer system which seems not to be the case here.

[2015-11-23 15:24] TheBB commented on #3910
Should be fixed upstream. It'll be on MELPA in a few hours.

[2015-11-23 15:24] #3910 closed

[2015-11-23 15:46] benquebec opened #3923 "Missing keybindings for TeX-font-list (evil only)"
On emacs' side, AUCTeX provides keybindings to insert font specifiers ( e.g. `C-c C-f C-i`to insert italics).
On evil's side, `f`is bound to `TeX-font` which means one still has to indicate which specifier is desired (e.g. `, f C-i`).

 I did some leg work to add bindings in the form `, f i`. I added a macro for each font specifier.

     (fset 'my-set-textit
       (lambda (&optional arg) "Keyboa

[2015-11-23 16:13] TheBB commented on #3923
Please see `doc/CONVENTIONS.org` for the Spacemacs key conventions for this kind of thing:

* `SPC m x b` or `, x b` to make bold
* `SPC m x c` or `, x c` to make code

etc.

[2015-11-23 16:14] TheBB commented on #3923
Also please figure out how to run this using just function calls instead of keyboard macros. :-)

[2015-11-23 16:18] jluttine opened #3924 "Key binding for persp-save-to-file-by-names?"
`spacemacs-layouts` has a key binding `SPC l s` for `persp-save-state-to-file`. However, that saves all persperctives/layouts to a single file, which may be undesired if only one or some of the layouts should be contained in that file. Thus, I suggest that there should be a key binding for `persp-save-to-file-by-names` which allows saving only some layouts. The key binding could be, for instance,

[2015-11-23 16:28] benquebec commented on #3923
thanks for your input @TheBB.

- On my setup `SPC m` is broken
- Regarding the convention, I followed AUCTeX. I'll have a look though once I master function calls :)

[2015-11-23 16:37] syl20bnr commented on #3438
This is a weird issue, fetching of package repository indexes happen only if some packages are missing, so obviously you need an internet connection to install them.
We can add a variable to disable this behavior but it may result in surprising missing packages.

[2015-11-23 16:41] robbyoconnor commented on #2654
FYI I hit this while coding this weekend.
On 11/21/2015 07:15 PM, Fabien Dubosson wrote:

[2015-11-23 16:47] synic commented on #3775
This has been fixed upstream.

[2015-11-23 16:47] #3775 closed

[2015-11-23 17:45] endrebak commented on #3883
I tried to reproduce this, but I cannot even open `ein` if I have one of the following set to `t` in my `.spacemacs`:

[code]

I get a `symbol's value as variable is void: ein-direct` after pressing `SPC a i n 8888 RET`.

[2015-11-23 18:32] StreakyCobra commented on #2654
I think this is a bad default. We can probably use what's proposed in [this mail](https://lists.gnu.org/archive/html/emacs-devel/2008-01/msg01453.html), and document in the FAQ how to revert it.

[2015-11-23 18:44] StreakyCobra commented on #3883
I tried just now and it work*, at least on `develop`. Can you try to update your packages, and give the output of `SPC h d s`?

* it works because autocompletion is triggered, but it's not inserting text correctly: `np.` and select `array` insert `np.np.array`, but it's another story.

[2015-11-23 19:09] nwolfe opened #3926 "[ranger] Leader key broken"
`SPC` is no longer bound to the evil leader key in ranger buffers; instead it just moves the cursor down a line.  This isn't useful, and makes it difficult to get out of ranger buffers.

[2015-11-23 19:13] StreakyCobra commented on #3926
@ralesi What the best way to correct this?

[2015-11-23 19:22] StreakyCobra commented on #3926
Is

[code]

a good solution?

[2015-11-23 19:39] hsitz commented on #1749
I don't think the discussion in this thread is accurate.  For one thing, if you look at the use-package-verbose documentation, it indicates load time will be loaded for packages that take more than 0.1 seconds, even if verbose is off.  If verbose is on, you're supposed to get load times for everything, regardless of how long they take.  Also, the output in my messages buffer is the same, regardles

[2015-11-23 19:41] tonyday567 commented on #3909
Points well made - you've convinced me it's not very useful. I had assumed use-package was a compulsory part of the machinery.

Thanks for all the feedback :)

[2015-11-23 19:41] #3909 closed

[2015-11-23 20:02] joehillen opened #3927 "`M-` bindings no longer works in an ansi-term buffer"
I like to try to keep the ansi-term in insert-state, so I typically use the emacs-leader-key to switch windows or buffers.

Pressing the emacs-leader-key in the ansi-term buffer in insert-state no longer has any effect.

I'm on 881ac191147c01348b9cc8d862b24b3a6c032c31 and my packages are up to date.

[2015-11-23 20:06] joehillen commented on #3927
Actually, I just noticed that all `M-` bindings don't work in any evil state in the ansi-term buffer.

[2015-11-23 20:13] endrebak commented on #3883
#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.104.4
- Spacemacs branch: master (rev. f04bb61)
- Distribution: spacemacs
- Layers:
[code]

Will try again when 105 comes out. Thanks.

[2015-11-23 22:55] xiaoxinghu opened #3930 "how to load shell PATH when launch emacs daemon through launchd?"
I launch emacs as daemon through `~/Library/LaunchAgents/homebrew.mxcl.emacs.plist`. Then I loss the "PATH" from my shell settings (which is `zsh`). How can I load the right path without specifically change the `exec-path` in user-config.
`exec-path-from-shell` works for the GUI, but it doesn't work for launchd.

PS: I don't want to change `~/Library/LaunchAgents/homebrew.mxcl.emacs.plist` either.

[2015-11-23 23:49] dsdshcym commented on #3926
I'm using `pdf-tools`.
And I found the same problem for `pdf-view-mode`.

I got a workaround from @justbur :
[code]

[2015-11-23 23:58] justbur commented on #3926
What state are you in in each of these cases? SPC should be available in motion visual and normal.

[2015-11-24 00:42] kostajh commented on #3477
For me anyway, this issue is fixed in `develop`.

[2015-11-24 00:54] dsdshcym commented on #3926
@justbur Normal state.

Maybe it wasn't bound properly? I can use SPC key after the workaround above.

[2015-11-24 01:26] justbur commented on #3926
@dsdshcym `pdf-tools` is not in spacemacs is it. The reason SPC doesn't work is this https://github.com/politza/pdf-tools/blob/e2f2eb62d6fc955322cb80bd822e401505ce1155/lisp/pdf-view.el#L229

[2015-11-24 01:36] justbur commented on #3926
For the ranger issue, @ralesi the SPC binding is coming from `dired-mode-map` which is an overriding map in evil. That means we'll have to bind the SPC key explicitly in the layer.

The precedence of the bindings has changed slightly since the move away from evil-leader. SPC is in `evil-normal-state-map` which is correctly overriden by anyone who uses `evil-make-overriding-map`

[2015-11-24 01:45] dsdshcym commented on #3926
@justbur
Yes, it's my private layer. Here is how I override the pdf-view keybindings:

[code]

According to what you said, SPC should be overridden correctly.

[2015-11-24 01:47] justbur commented on #3926
@dsdshcym That will make the leader key unavailable because `pdf-view-mode-map` has a keybinding for `SPC` and `evil-make-overriding-map` gives `pdf-view-mode-map` a higher precedence than `evil-normal-state-map` which is where the leader key binding is.

[2015-11-24 02:04] dsdshcym commented on #3926
@justbur Oh, I forgot that. Thanks for your explanation! :smile:

[2015-11-24 02:10] zhexuany commented on #3920
After I delete all PATH variable, then the warning vanishes.  I am currently using OSX and ZSH.

[2015-11-24 02:32] justbur commented on #3923
@benquebec
[code]
you need the nil one first because `f` is already bound for `latex-mode`

[2015-11-24 03:05] mclearc opened #3933 "Persistent error for initializing org mode"
With a clean `.spacemacs` on develop branch and OS X I get the following error:

`(Spacemacs) Org features were loaded before the 'org' layer initialized.
Try removing org code from user initialization and private layers.`

There are no other problems that I can see other than that it makes my modeline go red every time I reload my config file.

here's my other info:

#### System Info
- OS: darwin

[2015-11-24 04:39] vixr opened #3934 "maximize-centered-buffer changes overall function, no way to exit centered mode"
maximize-centered-buffer (spc-w-M) seems to be messing things up my overall view. For example, the narrow margins get applied to the leader popup. When using workspaces via eyebrowse, it seems to have an effect across workspaces. There also doesn't seem to be a way to get out of the mode once I'm in it.

[2015-11-24 05:09] robbyoconnor commented on #3933
:+1:

[2015-11-24 05:29] robbyoconnor opened #3935 "Nim is currently broken due to company-nim missing"
[code]

[2015-11-24 05:34] robbyoconnor opened #3936 "System information SPC f e s no longer works"
Currently in the latest  (a363504) no longer has `SPC f e s`

[2015-11-24 05:44] syohex commented on #3935
There is no `company-nim` package. `company-nim` is bundled in `nim-mode `package.

[2015-11-24 05:44] robbyoconnor commented on #3936
This never happened.

[2015-11-24 05:44] #3936 closed

[2015-11-24 05:45] robbyoconnor commented on #3935
ah -- I'll make a PR to remove it.

[2015-11-24 05:47] sam217pa commented on #690
https://github.com/sschuldenzucker I do too… kind of annoying, not being able to make a mistake in a text editor…

[2015-11-24 05:52] nixmaniack commented on #3934
Hitting same sequence should minimize it.

[2015-11-24 05:54] robbyoconnor commented on #3935
Once #3937 is merged, this can be safely closed.

[2015-11-24 06:07] syl20bnr commented on #690
I'm OK with an additional dotspacemacs variable for the scratch buffer, seems required here.
The default major-mode is set to text also to prevent to kick lazy-loading of some package at loading time. I guess that a sane default is to pretend that users don't use the scratch buffer and make no assumption of its content.

[2015-11-24 06:22] nixmaniack commented on #3927
Same here. Regression.

[2015-11-24 06:27] Cifer-Y opened #3938 "A strange question about zshenv and spacemacs"
Today, I upgrade my spacemacs to 0.104.5, and I got a warning:
[code]

So I moved my environment variables from .zshrc to .zshenv, and the warning gone,
but my spacemacs become very very slow, press j, wait 1 sec, then the cursor move down 1 line.
That's so strange, beyond my ability, I don't want to complain about that, but I'm quite confused about that.

By the way, I'm using OS X 10.11.1, and u

[2015-11-24 06:27] Cifer-Y opened #3939 "A strange question about zshenv and spacemacs"
Today, I upgrade my spacemacs to 0.104.5, and I got a warning:
[code]

So I moved my environment variables from .zshrc to .zshenv, and the warning gone,
but my spacemacs become very very slow, press j, wait 1 sec, then the cursor move down 1 line.
That's so strange, beyond my ability, I don't want to complain about that, but I'm quite confused about that.

By the way, I'm using OS X 10.11.1, and u

[2015-11-24 08:14] wginolas commented on #690
I am also getting the `apply: Symbol's value as variable is void: smartparens-strict-mode` in eshell, when I hit Backspace. After I disabled the "Enable smartparens globally."  Toggle with "SPC t C-p" Backspace in eshell works again.

[2015-11-24 08:38] StreakyCobra commented on #3936
:joy:

[2015-11-24 08:42] magthe commented on #3920
How did you find out what caused it?

In my case it's `MANPATH`, and it's unset in *zsh*:

[code]

It's also unset in *emacs*, `getenv` tells me so.

So how would I go about finding where `exec-path-from-shell` gets its idea?

[2015-11-24 08:42] StreakyCobra commented on #3920
I reopen this one to follow the upstream issue, as other poeple still has this problem

[2015-11-24 08:44] StreakyCobra commented on #3938
Thanks for your issue. This bug has already been reported in #3920. Feel free to discuss it there :relaxed: I'm closing this one as it's a duplicate.

[2015-11-24 08:44] #3938 closed

[2015-11-24 08:44] StreakyCobra commented on #3939
Thanks for your issue. This bug has already been reported in #3920. Feel free to discuss it there :relaxed: I'm closing this one as it's a duplicate.

[2015-11-24 08:44] #3939 closed

[2015-11-24 08:52] jwintz commented on #3854
Same here with 25.1.50.1 via `brew install emacs  --git-head --cocoa`.

As a quick fix, add `(load-library "url-handlers")` at the top of init.el.

[2015-11-24 08:55] duerrp commented on #3926
FYI, here's my configuration for pdf-view:

[code]

[2015-11-24 09:01] dsdshcym commented on #3926
@duerrp Thank you. Mine is almost as same as yours. :smile:

[2015-11-24 09:02] nixmaniack commented on #3920
@magthe Check the suggestions on the upstream issue. Add this in your init file `(setq exec-path-from-shell-debug t)` which should give more information. I'm not sure what's the best place to put that in case of spacemacs, but I would try putting at the top of  `~/.emacs.d/init.el` just for the purpose of debugging.

[2015-11-24 09:06] schaary commented on #3854
Same here - GNU Emacs 25.1.50.2 on Ubuntu 14.04.3 LTS

[2015-11-24 09:16] magthe commented on #3920
@nixmaniack The output isn't that easy to read:

[code]

Clearly the output for `MANPATH` is different, but not in any relevant way.  I'm also not sure what the stuff appended to the end of the variable names is supposed to be.

[2015-11-24 09:32] louy2 commented on #2563
Shall we keep somewhere a list of the repos we use and their HTTPS support status?

[2015-11-24 09:35] louy2 commented on #2937
What about asking more questions at first startup? We already ask whether vim or emacs. Adding languages of choices after that seems legit, and the default `.spacemacs` can be generated accordingly.

[2015-11-24 09:37] magthe commented on #3920
And if I remove `MANPATH` from `exec-path-from-shell-variables` I get an error on `PATH`, with the debug print of:

[code]

Not sure if that gives further clues to what's going on.

[2015-11-24 10:02] nixmaniack commented on #3920
@magthe I believe it would better if you report this upstream as they'd be able to help better. I'm afraid but I'm out of ideas here.

[2015-11-24 10:29] autosquid commented on #3933
Same Here. It looks like something improper about `agenda`. Here is my warning info:

[code]

[2015-11-24 10:41] jluttine opened #3940 "Keymap issues in Python Nose"
When running nosetests, normal `SPC` key bindings do not work in the nose window. Pressing `SPC` prints `End of buffer` in the status line. Is this expected or a bug? For instance, to maximize the nose window, one must press `C-x 1` instead of `SPC w m`.

#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. a363504)
- Distribution: spacemacs
- Lay

[2015-11-24 11:38] jluttine opened #3941 "Indent region broken in Python layer"
`SPC j =` runs `indent-region-or-buffer`. However, it doesn't do anything in Python mode. It seems to work at least on some other modes (e.g., C/C++ files). Indenting works line-by-line in insert mode with `TAB` and in normal mode with `SPC j k`, but `SPC j =` does nothing.

#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. a363504)
- Distribut

[2015-11-24 11:54] nixmaniack commented on #3941
Major mode code formatting is available under `SPC m =`.
Python being indent sensitive it's excluded from generic indent-region function available under `SPC j =`. Other modes which are excluded from this which I know are haml and makefile.
If you really want to use indent-region, you can as well execute it using `C-M-\` (you might need to select region first)

[2015-11-24 11:57] jluttine commented on #3941
Ok, thanks! `SPC m =` is ok, didn't know about it.

[2015-11-24 11:57] #3941 closed

[2015-11-24 12:00] nixmaniack commented on #3941
Also `SPC m` = `,` in normal mode. One less keystroke.

[2015-11-24 12:02] jluttine commented on #3941
Oh, nice! Thanks!

[2015-11-24 12:12] jluttine commented on #3941
Hmm.. That Yapf seems to process the whole buffer even though I have a region selected. Also, it does a bunch of other stuff in addition to indenting. But `C-M-\` works. Can I easily bind `indent-region` to `SPC j =` in Python mode? Or maybe there could be some key binding for it under `SPC m`..? I can make a pull request of that key binding, but do you have any opinion what it should be (if any)?

[2015-11-24 12:14] magthe commented on #3920
@nixmaniack Sure thing :)  Thanks for your help this far.  Now I just hope upstream can sort it out.

[2015-11-24 13:32] StreakyCobra commented on #3920
This warning really starts to annoy me. I can't make my `.zshrc`/`.zshenv` setup works with `exec-path-from-shell`, as the message suggest to. And I tried, trust me. So the workaround is to put the following line in your `dotspacemacs/user-init`:

[code]

The warning will be gone.

[2015-11-24 13:37] magthe commented on #3920
:) I feel you!

I think the upstream attempt to push users in the direction of setting their paths properly for non-interactive shells (i.e. that they are identical to paths for interactive shells) was well-meaning but ultimately doomed to fail!

[2015-11-24 13:41] StreakyCobra commented on #3920
I have the feeling we are not alone :-)

Indeed, and there are [valid reasons](https://github.com/purcell/exec-path-from-shell/issues/34#issuecomment-158928554) to have them different.

[2015-11-24 13:48] nixmaniack commented on #3941
`C-M-\` is generic function. `SPC j =` uses that internally. So I'm not sure if we need another binding for it. I don't know concrete reasons except that python-mode was removed from `SPC j =` as it's indent-sensitive and py-yapf does better job (although opinionated).

A quick fix to get `SPC j =` working in python-mode would be to remove it from `spacemacs-indent-sensitive-modes`
So following in

[2015-11-24 14:39] TheBB commented on #3933
Those warnings are not a problem. Basically the message tells you what the problem is. You have some config that loads org before it should be loaded. This is bad because it will load the built-in org which will cause a version conflict.

[2015-11-24 14:40] TheBB commented on #3933
The reason you get it from a clean `.spacemacs` with just the org layer is probably because org must be loaded to compile some of the packages. That was not intended, and I'm not sure what to do about it. Maybe we have to disable this check until we figure out how to fix it.

[2015-11-24 14:42] TheBB commented on #3742
I am not satisfied with the current solution because it appears to fire warnings when packages are being installed, presumably because org must be loaded to compile those packages.

It also doesn't work with syncing layers. See: https://github.com/syl20bnr/spacemacs/issues/3933

I will disable the check until we figure out how to do this properly.

[2015-11-24 14:43] TheBB commented on #3933
I have disabled the offending check for now.

[2015-11-24 14:47] #3935 closed

[2015-11-24 16:04] jluttine opened #3945 "Key binding to open/toggle compilation window"
Currently, there's no key binding to open a compilation window once it has been closed. There could be a key binding to open or toggle it. There's a key binding to close it: `SPC c q`.

[2015-11-24 16:06] jluttine commented on #3940
Actually, I'm not sure if this is related to Compilation mode more generally. So it might not be Python/Nose specific? Don't know.

[2015-11-24 16:38] jluttine commented on #3945
A workaround for nosetests compilation window by @nixmaniack:

[code]

[2015-11-24 17:58] kostajh commented on #1177
I'm using it in `develop`. Works well! Thanks everyone who worked on it.

[2015-11-24 18:36] calebmeyer opened #3947 "Add option for where focus goes when splitting a window"
Currently, splitting a window (for example with `SPC w /`) leaves the focus in the current window. This behavior seems awkward to me.

I propose we add an option (possibly with a keybinding to toggle if we think it would be toggled frequently) to change this behavior. Something along the lines of:

[code]

[2015-11-24 18:46] nwolfe commented on #3947
:+1:

[2015-11-24 18:46] TheBB commented on #3947
`SPC wV` and `SPC wS` as opposed to `SPC wv` and `SPC ws` do this.

[2015-11-24 18:49] #3947 closed

[2015-11-24 19:03] sschuldenzucker opened #3949 "Backspace not working, gives an error"
Typing backspace in insert mode results in the following error (and no effect
except for that):

    apply: Symbol's value as variable is void: smartparens-strict-mode

#### Workaround

Activate and de-activate again `smartparens-globally` via `SPC
t C-p` twice.
Thanks to @wginolas for pointing this out.

#### Misc Info

- The issue did not exist in v0.104.4, but is new in v0.104.5.
- The issue al

[2015-11-24 19:28] auser commented on #3920
I definitely still have this issue too

[2015-11-24 19:45] robbyoconnor commented on #3920
I fixed it by moving everything to ~/.zshenv

[2015-11-24 20:28] d12frosted commented on #3549
- [ ] #232 Valid
- [ ] #1830 Valid
- [ ] #1834 NRA: already fixed by spaceline
- [ ] #1998 Invalid
- [ ] #2271 Valid
- [ ] #2554 Valid: needs some attention!
- [ ] #2667 Unsure: solution proposed, but should it be added to spacemacs?
- [ ] #2723 Valid
- [ ] #3204 Fixed in develop: marked properly, but needs to be closed manually
- [X] #3377 Already closed
- [ ] #3458 PR proposed: #3459
- [ ] #3497

[2015-11-24 20:43] StreakyCobra commented on #1834
This has been solved in `develop`. Now spaceline shows `C-z` in action screen.

[2015-11-24 20:46] tonyday567 commented on #3742
Good call.

For reference, the builtin version is currently 8.2.10 and elpa is 8.3.2.  The warnings that @autosquid posted on #3933 is the current signpost that 8.2.10 (the builtin) has loaded, but this changes as the elpa package evolves.

For syncing, org-version could be used to test which org is loaded before issuing the error.  Locate-library etc can't be used however, as the elpa org is high

[2015-11-24 20:47] StreakyCobra commented on #1998
This question has been answered, I'm closing this issue then. Feel free to open a new one in case of troubles :relaxed:

[2015-11-24 20:47] #1998 closed

[2015-11-24 21:01] oantolin opened #3950 "Several functions produce "Lisp nesting exceeds `max-lisp-eval-depth'" in the mini-buffer"
I just tried spacemacs for the first time today on GNU Emacs 24.3.1. Installation seemed to go well (I picked the "evil flagship" and "standard distribution" options), and when I restarted Emacs I could open a file and edit using the Evil bindings I remembered from my evil days. But when I tried to see a list of layers (`SPC f e h`) or get a helm buffer with keybindings (`SPC h d b`), all I got wa

[2015-11-24 21:02] StreakyCobra commented on #2667
`:ls` is now showing helm-buffers, so the problem of arriving on `buffer-menu` by following some tutorial is solved. I'm marking this issue as fixed in `develop`. If someone really want to use `buffer-menu`, feel free to open a new issue and link this one in it, it will be discussed for integration there.

[2015-11-24 21:05] TheBB commented on #3933
We can discuss this in #3742.

[2015-11-24 21:05] #3933 closed

[2015-11-24 21:07] StreakyCobra commented on #3549
- [ ] #3526 Taken care directly
- [ ] #3465 Taken care directly
- [ ] #3355 Taken care directly
- [ ] #3460 Taken care directly
- [ ] #3193 Taken care directly
- [ ] #2209 Taken care directly
- [ ] #3405 Taken care directly

[2015-11-24 21:12] StreakyCobra commented on #2209
@codygman Does your problem still appear on the last release? We are using `which-key` now, it probably has changed.

[2015-11-24 21:12] oantolin commented on #3950
Just reinstalled, most things still seems broken: trying to look at `.spacemacs` using `SPC f e d` gave me the error message "Variable binding depth exceeds `max-specpdl-size`", but oddly did manage to open the file anyway; scrolling with the mouse-wheel also produces the binding depth message and fails to scroll; `SPC b b` also just gives the "Lisp nesting exceeds `max-lisp-eval-depth'" error mes

[2015-11-24 21:24] StreakyCobra commented on #3549
Final point of this cleanup, closing this one :tada: :smile:

[2015-11-24 21:24] #3549 closed

[2015-11-24 21:26] codygman commented on #2209
Will check after work
On Nov 24, 2015 3:12 PM, "Fabien Dubosson" <notifications@github.com> wrote:

[2015-11-24 21:29] Chyzwar opened #3951 "eastwood"

[2015-11-24 21:30] #3951 closed

[2015-11-24 21:47] StreakyCobra commented on #2209
:+1:

[2015-11-24 22:21] bogdanteleaga opened #3952 "Helm company C-/ only works in GUI mode"
I was watching @TheBB's first video on spacemacs and I saw the C-/ functionality, it looked really cool so naturally I wanted to try it out.

Turns out I can only do it when using GUI emacs, but terminal emacs just defaults to undo when I press C-/.

[2015-11-24 23:05] StreakyCobra commented on #3952
This is another variant of #3472. In terminals, `C-/` is interpreted by the shell as `C-_`, which is bound to `undo-tree-undo` in emacs. This can be verified by doing this in command-line: `C-v` (insert the next keypress verbatim), then `C-/`. It inserts `^_`.

So nothing unexpected here, and nothing we can do on Spacemacs side `¯\_(ツ)_/¯`

[2015-11-24 23:12] bogdanteleaga commented on #3952
Fair enough, it seemed weird enough to not necessarily be related to spacemacs. It seems C-SPC also doesn't mark items in helm in terminals. I probably have to figure out a way to make the terminal inster the proper character.

I'll close this though, we don't need bugs lying around, especially since the cleanup *just* finished :)

[2015-11-24 23:12] #3952 closed

[2015-11-24 23:15] StreakyCobra commented on #3952
You can also try with `C-i`/`TAB` and `C-BACKSPACE`/`C-h`. And if you find a way to do this, please report it to the previously linked issue :smile:

:+1: :joy:

[2015-11-25 00:05] gilbertkennen commented on #3920
This package solves PATH problems for OSX users and appears to not even do anything in other environments, but it is being loaded for everybody in spacemacs-base, perhaps it should only load for OSX or be moved to the osx layer?

[2015-11-25 00:13] casimir commented on #2280
Tried the different solution but still experiencing it @StreakyCobra.

[2015-11-25 01:00] robbyoconnor commented on #3920
I mean it's not a bad thing to do this...

[2015-11-25 02:45] cmnth commented on #3743
Same here - Linux Mint 17.2 Cinnamon 64-bit [2.6.13, 3.16.0-38-generic], GNU Emacs 25.1.50.2

Opening folder - files not visible & chops the rest of folders below the currently opened one

![screenshot from 2015-11-25 13 43 37](https://cloud.githubusercontent.com/assets/11830160/11386986/ad8155cc-937a-11e5-949f-2568655ce959.png)

[2015-11-25 03:26] Cifer-Y commented on #3920
@robbyoconnor When I moved all env to .zshenv, my spacemacs become very very slow... very strange

[2015-11-25 05:01] darkfeline opened #3954 "Bind term-stop-subjob in term modes (CTRL-Z)"
A binding for the `term-stop-subjob` command seems to be missing in all of the term modes.  This is equivalent to sending CTRL-Z in most terminals.  It seems to be missing in `multi-term-mode`, `ansi-term-mode`, and `term-mode`.

Suggested binding `C-c C-z`.

[2015-11-25 05:07] diego-alvarez-hs commented on #2702
I just pushed a PR fixing that because it's causing a lot of headaches as @siegelzero suggested.

Speaking of autocomplete, I'm wondering why scala/java layers are the only ones that have a function to complete with period? https://github.com/syl20bnr/spacemacs/blob/develop/layers/+lang/scala/funcs.el#L87

How are others layers using company to accomplish that behavior?

[2015-11-25 05:09] d1egoaz commented on #2702
I just pushed a PR fixing that because it's causing a lot of headaches as @siegelzero suggested.

Speaking of autocomplete, I'm wondering why scala/java layers are the only ones that have a function to complete with period? https://github.com/syl20bnr/spacemacs/blob/develop/layers/+lang/scala/funcs.el#L87

How are others layers using company to accomplish that behavior?

[2015-11-25 05:28] d12frosted commented on #3549
@StreakyCobra woo hoo :tada:

[2015-11-25 05:45] d12frosted commented on #3531
Yeah it also doesn't work for me :-/ I asked about updates on reporting side. Thanks for sharing link to issue in their issue tracking system.

[2015-11-25 07:09] syohex commented on #3920
This issue can be ignored by replacing `warn` function temporarily while `exec-path-from-shell` API is called as below.

[code]

[2015-11-25 10:28] StreakyCobra commented on #3920
Isn't the code proposed [above](https://github.com/syl20bnr/spacemacs/issues/3920#issuecomment-159268197) simpler? It's also the workaround proposed by the `exec-path-from-shell` maintainer.

[code]

[2015-11-25 10:36] TheBB commented on #3923
I actually found myself doing a lot of LaTeX recently, and these keybindings are life savers (thanks for the tip).

I implemented this in my dotfile.

[code]

We can maybe move some of the `xf` bindings down to `x` too.

[2015-11-25 10:50] benquebec commented on #3923
Go ahead and submit a PR!
I was able to transform the macro into function calls. I don't use lambda though. I'll have a look thanks for posting your bindings :+1

(Since I only write in LaTeX and switched to spacemacs for org-mode, I'm not very fond of the keybindings  in the convention that's why I did not post earlier.)

[2015-11-25 11:58] benquebec commented on #3923
Just a minor heads-up if you go ahead with the PR:

you have 3 different bindings for  `\C-f`. I think `normal`is `\C-n`

I have `roman`for `\C-r`

[2015-11-25 12:23] syohex commented on #3920
If `-i` option is removed, then `.zshrc` or `.bashrc` is not loaded, because zsh/bash runs non-interactive mode. So if some users set environment variables only in `.zshrc` or `.bashrc`, exec-path-from-shell cannot get those environment variables and set them

[2015-11-25 12:26] StreakyCobra commented on #3920
Make sense, I didn't look further as I don't use a lot of external tools.

[2015-11-25 12:40] StreakyCobra commented on #2280
What I don't really get is why it needs TLS as all repositories are using `http` and not `https` (https://github.com/syl20bnr/spacemacs/blob/master/core/core-configuration-layer.el#L27-L29). Do you have the last spacemacs version (0.104.5)? If yes, can you give the output of `SPC h d s`?

[2015-11-25 12:44] Jack091545 commented on #3920
I understand the problem is that the environment variables need be changed in .zshenv, but what should do to fix it , is there any  response effective? T_T ,waste a whole night time. so sad!!!

[2015-11-25 12:44] Jack091545 commented on #3920
I understand the problem is that the environment variables need be changed in .zshenv, but what should do to fix it , is there any  response effective? T_T ,waste a whole night time. so sad!!!

[2015-11-25 13:04] StreakyCobra commented on #3920
It seems `.zshenv` is the right place to define `$PATH` and `$MANPATH`, for being used both by interactive and non-interactive shells. `exec-path-from-shell` is trying to make people do this, by comparing both version and throwing a warning in case of difference. It's a good intention, but there are some drawbacks:

- People could be wanting to have different `$PATH` for [valid reasons](https://gi

[2015-11-25 13:37] casimir commented on #2280
Didn't notice it was the Spacemacs repo, I end up here by searching bugs with gnutls from msys2. I use the emacs version from msys2 too. It looks like this is more a _mingw64/gnutls_ bug. For me, when refreshing/installing package `gnutls-cli` goes crazy and I have to kill it.

Anyway if you don't use the https version you shouldn't have this problem anymore. Sorry for the noise.

[2015-11-25 13:46] StreakyCobra commented on #2280
No problem :-) @rafaelgp @ncihnegn Do you still have this problem with last spacemacs release?

[2015-11-25 14:20] TheBB commented on #3923
Yeah it was just a quickie, I'll fix it up.

[2015-11-25 14:45] TheBB commented on #3923
:point_right: #3957

[2015-11-25 14:58] rafaelgp commented on #2280
I moved to work with Emacs inside a Virtual Box, so sorry I don't know if this issue is still happening.

[2015-11-25 15:02] StreakyCobra commented on #2280
Ok, thanks for your comment :-) @ncihnegn on your side?

[2015-11-25 15:32] Arbitrageur commented on #3596
Glad to hear that it's been fixed in develop.

Btw, it's been fixed by removing org layer from .spacemacs file and adding the layer back.

[2015-11-25 15:43] Arbitrageur commented on #3949
Have the same problem.

And reloading config file by pressing 'SPC f e R' as another workaround.

Maybe the order of loading matters.

[2015-11-25 15:55] StreakyCobra commented on #3949
@Arbitrageur @sschuldenzucker Have you tried updating the packages?

[2015-11-25 16:00] sschuldenzucker commented on #3949
@StreakyCobra : You mean, by deleting `.emacs.d/elpa/` and restarting?

[2015-11-25 16:06] StreakyCobra commented on #3949
Nope, by clicking on `[Update]` on the spacemacs buffer :-)

[2015-11-25 16:07] Arbitrageur commented on #3949
@StreakyCobra Yes.. but not working

[2015-11-25 16:09] StreakyCobra commented on #3949
Ok, can you paste it the backtrace? (`SPC t D` before doing the problematic action)

[2015-11-25 16:14] Arbitrageur commented on #3949
Debugger entered--Lisp error: (void-variable smartparens-strict-mode)
  ad-Advice-evil-delete-backward-char-and-join(#[(count) "\204 n\204\f \301\302!\207\303\304!\207" [evil-backspace-join-lines call-interactively delete-backward-char user-error "Beginning of line"] 2 ("/Users/ykwon/.emacs.d/elpa/evil-20151109.829/evil-commands.elc" . 107921) (list (prefix-numeric-value current-prefix-arg))] 1)

[2015-11-25 16:32] andresmrm commented on #231
Hello! I placed a `dotspacemacs-default-font` in `.spacemacs`, and it works fine after startup. But when I switch theme (e.g.: `SPC T n`) the font size gets reseted. Others font parameters seem to remain untouched. Any ideas?

[2015-11-25 17:08] vijaykiran commented on #231
Does it happen for every theme ? Do you see any other font setting in (custom-set-variables in emacs)?

[2015-11-25 17:15] andresmrm commented on #231
Thanks for the reply!

Yes, for every theme when using `SPC T h` too.
And no, I seem to have no other font setting...

[2015-11-25 17:16] TheBB commented on #3949
That's weird. The advice defines that variable.

[2015-11-25 17:28] StreakyCobra commented on #3949
Steps to reproduce:

- Open Spacemacs 0.104.5 with a fresh `.spacemacs` and up-to-date packages
- Press `q` to arrive on `*scratch*` buffer
- Enter insert mode with `i`
- Enter `(` and, still in insert mode, try to delete it with `BACKSPACE`

[2015-11-25 17:32] ncihnegn commented on #2280
No issues here. I don't even have gnutls-cli at all.

[2015-11-25 17:36] TheBB commented on #3949
:point_right: #3959

[2015-11-25 17:43] StreakyCobra commented on #2280
Ok thanks for your answer.

As nobody has currently this problem, we can not help any further. I'm then closing this issue. Anyway, feel free to open a new one in case of troubles. Please include a link to this one if you thinks it's related :relaxed:

[2015-11-25 17:43] #2280 closed

[2015-11-25 18:37] purcell commented on #3920
Hey all, author of `exec-path-from-shell` here. This change has been an experiment to encourage people to change their startup files for the better, but I don't want it to eat up lots of people's time figuring things out. So I'll figure out a way forward (which may involve dropping the warning), and in the meantime I've switched to a less obtrusive message, so the next version of the package which

[2015-11-25 18:37] purcell commented on #3920
Please don't do that!

This change has been an experiment to encourage people to change their startup files for the better, but I don't want it to eat up lots of people's time figuring things out. So I'll figure out a way forward (which may involve dropping the warning), and in the meantime I've switched to a less obtrusive message, so the next version of the package which MELPA builds will not sh

[2015-11-25 19:10] StreakyCobra commented on #3920
@purcell Hi! Thanks for your message :smile: Glad to hear that it will be less obtrusive. It's a nice intention to do this and to inform the user about the future differences, as it will impact some installations. It makes sense to keep the check and the warning, but personally I would like it to be:

- Less obtrusive, like just a `message`; and/or
- Optional, like with a `(setq exec-path-from-she

[2015-11-25 19:22] purcell commented on #3920
No, it's necessary in a number of environments, including some Windows and X11 setups. But I originally wrote it to get things working nicely on OS X. It should actually be safe to enable it on every platform.

[2015-11-25 19:28] StreakyCobra commented on #3920
Ok, thanks for your response :+1:

[2015-11-25 20:58] ashervb opened #3960 "Pasting content in webmode inserts content in incorrect place"
[code]

Cursor is at `|`, deleting `id=foo` and attempting to paste into the first div will result in

[code]

rather than the expected

[code]

[2015-11-25 21:11] CestDiego commented on #3960
I can confirm this.

[2015-11-25 21:22] emmanueltouzery commented on #3137
well I have this error here too. I updated the packages, but the error is still present for me.

[2015-11-26 02:35] locojay commented on #3883
[code]

[2015-11-26 05:46] agzam opened #3961 "Quitting `org-present` breaks evil-bindings"
to reproduce:

- open/create a buffer in org-mode with a list of things
- enable `org-present` - `M-x org-present`
- try navigating between slides - `h` and `l`
- quit `org-present` - `q`
- try to use evil bindings, like `i` or `dd`

re-enabling `org-mode` fixes it. Maybe it should be added/fixed in `org-present-mode-quit-hook`

[2015-11-26 05:57] robbyoconnor commented on #3920
@purcell I switched it to squash the warning...what is the point of zshrc then?!

[2015-11-26 09:08] purcell commented on #3920
Visual niceties you can see in the terminal, like your prompt, or conveniences like aliases.

[2015-11-26 09:40] StreakyCobra commented on #3961
Duplicate of #1874

[2015-11-26 11:09] dzhwinter opened #3962 "[question] is it possible to add an indicate feature for updating?"
once I update my spacemacs, my dependency is broken and give me error messages. I'm wondering that is there any way indicate  how many dependencies may be broken before update?
Because sometimes fix the error will consume a lot of time, which not a good idea when I start busy work in morning. I know there is rollback, but still want to know is there someone else thought this like me.

Error (use-p

[2015-11-26 12:19] StreakyCobra commented on #3962
I don't think so. When you update packages, you are getting changes that are not part of Spacemacs. There is no way we can know in advance if it will break something or not. The best is to try it, and if it breaks to rollback them.

[2015-11-26 12:27] dzhwinter commented on #3962
hmm... forget it.

[2015-11-26 12:27] #3962 closed

[2015-11-26 15:34] StreakyCobra commented on #3920
Thanks to @purcell, this issue has been corrected upstream. Updating your packages will solve the warning problem.

I'm closing this issue, but feel free to open a new one in case of troubles, and link this one if you think it's related :relaxed:

[2015-11-26 15:34] #3920 closed

[2015-11-26 21:26] joefiorini commented on #3919
I found today that if I add the `add-to-list` line at the end of `~/.emacs.d/init.el` (yes, the main Spacemacs init file, not my dotspacemacs file) it works great. I took it out (but it's still in `user-config` section of `~/.spacemacs.d/init.el`) and my `.js` files do not get `react-mode` again.

[2015-11-26 22:21] StreakyCobra opened #3965 "Update thrisume blog post about Spacemacs"
As @geo7 pointed out on gitter, [trishume blog post about Spacemacs](http://thume.ca/howto/2015/03/07/configuring-spacemacs-a-tutorial/) is highly ranked on Google results. Some users coming in the past to gitter were having questions/problems after having read this article because it starts to be outdated.

I wrote a mail to @trishume with some basic changes, asking him also to put a notice at th

[2015-11-27 02:14] Spadavecchia commented on #3441
Was `SPC k` removed? I'm trying use it, but is not assigned. In documentation there is reference to  shortcut. https://github.com/syl20bnr/spacemacs/blob/master/doc/DOCUMENTATION.org#editing-lisp-code

[2015-11-27 05:20] dzhwinter opened #3967 "[question] evilify macro had gone in develop branch?"
My private config used evilify macro below, and worked well.
[code]
now it trigger a error of
[code]
surely evilify is delete in develop branch. Then I find that there is a issue of #3555 , now i'm confused, which macro is available to replace in my config?

[code]

[2015-11-27 06:16] nixmaniack commented on #3967
`evilified-state-evilify`

[2015-11-27 07:44] TheBB commented on #3441
It's not removed, but please make sure you are fully updated, both Spacemacs and packages, as some changes were made to it recently.

[2015-11-27 07:48] TheBB commented on #3967
Yep, `evilify` is `evilified-state-evilify` and `spacemacs|evilify-map` is `evilified-state-evilify-map`.

[2015-11-27 13:59] syl20bnr commented on #3967
@dzhwinter we started to decouple evilified state from core of spacemacs so hopefully at some point I will make it a package on its own, this is why the API changes.

[2015-11-27 14:05] syl20bnr commented on #3965
Good initiative :+1:
I'll check it again when I can.

Thanks @trishume for keeping up to date the article, it is greatly appreciated!

[2015-11-27 15:31] dzhwinter commented on #3967
:+1: @syl20bnr

[2015-11-27 15:31] #3967 closed

[2015-11-27 15:34] Spadavecchia commented on #3441
I updated Spacemacs and nothing. Delete it and reinstall. Now all is working again. Thank you.
Amazing work by the way.

[2015-11-27 15:34] TheBB commented on #3441
Good :+1:. Note that when I say update both Spacemacs *and* packages it's *not* enough to just update Spacemacs.

[2015-11-27 20:45] medismailben opened #3972 "Updating Powerline Theme for Terminal mode"
Hey,

I've started using Spacemacs for few days now and i'm already blown away. It's a really complete solution for people who wants a great IDE straight out the box. However, since I use it via SSH, it launches in no window mode and powerline does some weird stuff :/ ! I've seen that there is a terminal "theme" for this packages that fixes it. Could you add it to the default packages ?

Once agai

[2015-11-27 21:07] jgoold commented on #2775
This does appear to be fixed in spacemacs-0.104.4.  However, I also moved
to emacs 24.5.1 from emacs 24.3... so I'm not sure which change actually
resolved the issue.

On Tue, Nov 17, 2015 at 1:20 PM Fabien Dubosson <notifications@github.com>
wrote:

[2015-11-28 03:27] Sohalt opened #3977 "Verify TLS cert when fetching packages"
Spacemacs should use verify the tls cert when fetching packages from elpa or melpa.
See https://glyph.twistedmatrix.com/2015/11/editor-malware.html for an article on how and why.

[2015-11-28 04:03] luxbock commented on #2886
@StreakyCobra It's valid in the way that @syl20bnr described it. If the point is on top of the closing parentheses then everything works fine for me, but if the point is after the last closing parentheses then I am still getting the same error.

[2015-11-28 04:06] luxbock commented on #1425
@StreakyCobra I'm using:
[code]
in my .spacemacs file to get rid of the behavior, but the issue is still present otherwise. I suppose if it doesn't bother others as much then it's fine to close this.

[2015-11-28 04:24] darkfeline opened #3978 "Evilify bindings getting overridden"
I'm getting a weird case of evilified state bindings getting overridden (I'm on develop branch).

Relevant private layer code:

[code]

Reproduce:

1. Start elfeed. `g r` is bound to `elfeed-search-update--force` and `g R` is bound to `elfeed-update`.
2. Start org-agenda.  `g r` is bound to `org-agenda-redo` and `g R` is bound to `elfeed-update`.
3. Restart elfeed. `g r` is bound to `org-agenda-re

[2015-11-28 11:01] kissgyorgy commented on #2917
This worked for me!

[2015-11-28 11:11] cpaulik commented on #3972
What kind of weird stuff?
I'll just guess and recommend setting
`(setq powerline-default-separator 'nil)` in your `spacemacs/user-config` function.

see [here](https://github.com/syl20bnr/spacemacs/blob/master/doc/DOCUMENTATION.org#powerline-separators) for all options.

[2015-11-28 11:47] StreakyCobra commented on #2775
@jgoold Thx for your response :-)

A solution for colors has been given, and the jumping problem should have been solved in the last release. As no one said to have this problem anymore, it  I'm closing it. Feel free to open a new issue in case of troubles, and link this one in it if you think it's related :relaxed:

[2015-11-28 11:47] #2775 closed

[2015-11-28 11:58] StreakyCobra commented on #3960
What are the steps you are using for delete and paste? I tried it here by using `v` to select the ` id="foo"`, then `d` to delete it, then `p` on the line above to paste it and it worked.

[2015-11-28 11:59] StreakyCobra commented on #3950
I remember having seen this once and it was a bug that has been corrected in the meantime. Can you try to update spacemacs to the last release, and update the packages?

[2015-11-28 12:01] StreakyCobra commented on #3934
@vixr Have you tried @nixmaniack solution? If it doesn't help, can you provide more details about your problem, like steps on how to reproduce?

[2015-11-28 12:11] StreakyCobra commented on #3919
I can't reproduce it. With a clean `.spacemacs`, adding your line at the end of `user-config` works and set mode to for `diddy.blah` to `conf-unix-mode`.

[2015-11-28 12:26] StreakyCobra commented on #3902
@jupl Can you test if #3979 solves your issue?

[2015-11-28 13:03] StreakyCobra commented on #3927
It probably appears after the switch to `bind-key`. Linking a maybe [relevant comment](https://github.com/syl20bnr/spacemacs/issues/3926#issuecomment-159123864)

[2015-11-28 14:33] mclearc opened #3980 "Evil leader broken in speedbar mode"
Since the change on `develop` to the new way of calling `leader` my keybindings for `speedbar` using `sr-speedbar` have broken. I have the following in my layers:

[code]

Previously `(evilify-map speedbar-mode-map)` was all I needed to get `SPC` to work as leader in normal mode while in the speedbar. But that no longer works. I've tried both of the below and neither/both seem to do anything. `SPC

[2015-11-28 15:17] StreakyCobra opened #3981 "Missing `SPC` binding in several modes"
With the new `bind-key` transition, it seems that several modes have lost their `SPC` key binding:

- `rspec-mode` compilation window  [Gitter – November 28, 2015 4:04 PM](https://gitter.im/syl20bnr/spacemacs?at=5659c28c7b1084ab21a51305)
-  `speedbar-mode` #3980
-  `ranger-mode` #3926
-  `python-nose` #3940
- And maybe even terminals #3927

[2015-11-28 15:22] TheBB commented on #3980
I'm closing this in favour of #3981 which is now the collective go-to issue for this problem.

[2015-11-28 15:22] #3980 closed

[2015-11-28 15:22] TheBB commented on #3926
I'm closing this in favour of #3981 which is now the collective go-to issue for this problem.

[2015-11-28 15:22] #3926 closed

[2015-11-28 15:22] TheBB commented on #3940
I'm closing this in favour of #3981 which is now the collective go-to issue for this problem.

[2015-11-28 15:22] #3940 closed

[2015-11-28 15:30] StreakyCobra commented on #2886
Ok thanks. From my point of view I don't see the problem of having to be inside or over the parenthesis to expend it. But there is probably a good reason.

Alright then, I hope someone will try to fix this :relaxed:

[2015-11-28 15:34] mclearc commented on #3980
:+1:

[2015-11-28 15:47] StreakyCobra commented on #1425
Ok thx. So it hasn't improved since April… In `show-smartparens-mode` it's explained that:

So it makes sense that `smartparens` version is slower than `paren` one. I thinks most people don't have troubles with this, so it should be a user choice to degrade this functionality, and your snippet is correct.

So I propose to put this in the FAQ with this workaround :-)

[2015-11-28 15:49] StreakyCobra commented on #1425
Actually, it's maybe better to put the snippet like this:

[code]

But this has to be tried first.

[2015-11-28 16:15] StreakyCobra commented on #3882
@robbyoconnor Any update on this?

[2015-11-28 16:19] justbur commented on #3981
I'll explain more later but the leader key is in the global evil maps. It's possible for minor modes to override these. you can rebind or unbind the shadowing key.

[2015-11-28 16:33] StreakyCobra commented on #3829
After looking more in details to this, I doesn't seems simple to do this for all dictionaries. Anyway it can be documented in the FAQ :-)

[2015-11-28 17:16] StreakyCobra commented on #1425
Actually #3828 is discussing the same problem and they are wanting to go further with the idea of disabling it, so let's wait for this one :-)

[2015-11-28 17:17] StreakyCobra commented on #3828
#1425 is about the same issue by the way.

[2015-11-28 17:22] StreakyCobra commented on #3828
So what do we do?

- Disable `show-smartparens-mode` on big files
- Use `show-paren-mode` instead, but it supports less pairs type:

- Use `highlight-parentheses`, but I don't know if it supports only parenthesis or also other pairs.

[2015-11-28 17:26] StreakyCobra commented on #3480
Hum, looking at it more carefully, I think it should be reported upstream first.

[2015-11-28 17:38] StreakyCobra commented on #3480
I reported it upstream: https://github.com/bbatsov/projectile/issues/918

[2015-11-28 18:08] syl20bnr commented on #3828
Maybe we can hack something to remove the need for `show-smartparens-mode` which is slow. By setting the face of `show-smartparens-mode` for the first level of parentheses of `highlight-parentheses` I guess we should be good. I like the underscore of the face defined by spacemacs theme for `show-smartparens-mode`, it works great with a block shape as a cursor.

[2015-11-28 18:28] oantolin commented on #3950
I'll try again when I'm at that computer again, on Monday. When I installed Spacemacs I ran `git clone --recursive https://github.com/syl20bnr/spacemacs ~/.emacs.d`, then started Emacs, let Spacemacs install a bunch of packages, and then restarted Emacs. I thought that would get me the latest version of Spacemacs and up to date packages, is that not the case?

If I'm correct I had what was the lat

[2015-11-28 18:34] napopa opened #3984 "Syntax-checking in Latex mode causes Emacs to freeze when using M-q"
I've been experience this issue while editing large Latex files.

When syntax-checkign is activated, using the fill-paragraph command (M-q) would often cause emacs to freeze. I have to repeatedly hit C-g to make emacs respond again.

Disabling syntax-checking makes the problem disappear.

Spacemacs 0.104.6, emacs 24.5.7 (emacs-mac port) on OSX 10.11.1

[2015-11-28 19:01] StreakyCobra commented on #3950
Packages are stored in `.emacs.d/elpa`, so when this folder is removed, all packages are reinstalled from the repositories and thus are indeed in their last version. But for updating packages there is a button on the Spacemacs home buffer. It's easier, quicker and safer as it can be rollback'ed.

So if you installed it just before, the problem is indeed probably emacs 24.3.

[2015-11-28 19:09] globin opened #3985 "Use flycheck instead of flycheck-rust for rust"
flycheck supports rust now itself without flycheck-rust (flycheck/flycheck#772) and fixes flycheck/flycheck-rust#8. Might be an improvement to the current setup.

[2015-11-29 02:36] syl20bnr commented on #3977
Thank you for the report.
Although not a priority for now (but if anyone wanting to look at this now is welcome), this is definitely something we will support.

[2015-11-29 02:46] vkz opened #3988 "Missing manual: Spacemacs keymaps - discover, amend, bind"
[Documentation](https://github.com/syl20bnr/spacemacs/blob/master/doc/DOCUMENTATION.org#binding-keys) explicitly says

I feel like this is a big piece of documentation that's unfortunately missing. It is no obvious where the stuff bound to keys is coming from, nor is it always possible to figure out by grepping the sources. I am mostly talking about the core or Spacemacs base. Would be great if so

[2015-11-29 05:10] autosquid commented on #3981
and in c++ compilation mode.

[2015-11-29 07:48] kissgyorgy commented on #3270
emacs won't start when you have a package marked for install and the repository is down. That's not expected from a text editor.
Staring
[code]
for a couple of minutes now, and and I can't even quit or do anything with C-c.

[2015-11-29 08:49] robbyoconnor commented on #3882
If somebody else wants to do this -- by all means.
On 11/28/2015 11:15 AM, Fabien Dubosson wrote:

[2015-11-29 08:50] robbyoconnor commented on #3270
again?
On 11/29/2015 02:48 AM, Kiss György wrote:

[2015-11-29 10:18] d12frosted commented on #3270
Yeah, the same here

[2015-11-29 10:25] d12frosted commented on #3270
But I also have problems with installing some other packages:

[code]

[2015-11-29 13:59] StreakyCobra commented on #3977
If we do something like this, it should be optional and not activated by default as it requires some configuration on the machine to make it works (i.e. installing and configuring the roots certificates)

[2015-11-29 14:39] Sohalt commented on #3977
Not sure security should be optional. I get that it's extra effort required and goes against spacemacs' "batteries included"/"be usable out of the box" approach, but the people who use spacemacs need to know how to use a command line and how to use git anyways, so I think it's not too much to ask them to install the certs as part of the installation process. And if it's optional for whatever reaso

[2015-11-29 15:12] mkaito commented on #2273
@TheBB That doesn't seem to work for me.

Actually, can the faces in the modeline be addressed in themes? I'd like to try and theme it in base16.

[2015-11-29 15:13] StreakyCobra commented on #3977
For me it should be, *at least*, optional by default because:

- As you said Spacemacs should work out of the box without having to install python/pip or some other packages on linux. I don't even know how it has to be done on OS X/Windows. I don't want to spend most of contributors' time explaining to user how to setup roots certificates and debugging related bugs (trust me, we already have tons

[2015-11-29 16:16] justbur commented on #3981
evil-leader used local state maps for its bindings. bind-map uses the regular global maps, hence the small number of differences. Using local maps for what are essentially global bindings is a hack I think. Evil rightfully allows minor modes to override the global state maps which is what is happening here.

My preference would be to explicitly rebind in these cases because i think it more closely

[2015-11-29 16:32] sooheon commented on #3873
Fixed #4937

[2015-11-29 16:32] #3873 closed

[2015-11-29 16:44] syl20bnr commented on #3977
A middle ground is to add a question to the wizard with `enabled` selected by default. When the user disabled it a warning will be displayed in messages buffer.

Security is annoying but it is not responsible to remove it by default.

[2015-11-29 16:46] syl20bnr commented on #3977
Another possibility is to prompt the user about retrying with certificate verification ignored when the first attempt failed. This is more or less the approach of the Internet browsers.

[2015-11-29 16:53] Sohalt commented on #3977
I'm not saying they are super proficient with git, but at least they know how to use the command line. So with additional instructions in the README or possibly a shell script for setting up the cert they should be able to do it. I know this is far from ideal, as copy&pasting commands to set up the certs without knowing what the commands do sort of defeats the purpose of trying to increase securit

[2015-11-29 18:41] calopter commented on #595
Is this the same issue? When I open the customize GUI via the major mode it says ```State: something in this group has been changed outside customize.```

I can see the changes I had made reflected in my ```.spacemacs``` but they do not take effect.

[2015-11-29 18:44] syl20bnr commented on #3949
Fixed by @TheBB and released in 0.104.6 as well.

[2015-11-29 18:44] #3949 closed

[2015-11-29 18:48] syl20bnr commented on #3891
When it is slow, what are the biggest file in `.cache` ? Also what the most recently modified files ?

[2015-11-29 20:49] exitface commented on #3960
[code]

Cursor is at `|`, type ```dt>```, move to the `<` above and hit `P` results in the above error. Curiously enough if I move to the `v` in `div` and hit `p` I get the following result::

[code]

[2015-11-29 20:52] TheBB commented on #3960
I definitely can't confirm any of your behaviour. It works as expected here.

[2015-11-29 21:13] exitface commented on #3960
I did some additional testing, the error only occurs for me when I have the `html` layer enabled in my `   dotspacemacs-configuration-layers`

[2015-11-29 21:45] StreakyCobra commented on #3960
Same as @TheBB, I can't reproduce, with html layer enabled too. Can you paste here the result of `SPC h d s` ?

[2015-11-29 22:05] StreakyCobra commented on #3977
I'm fine either with prompting the user or asking him to try again without TLS check. I just don't want it to be forced by default.

The problem of having scripts to install root certificates at the right place is that it will be a nightmare to support for all platforms. I don't know if it is even possible at all.

Indeed. So as they have to trust us anyway, can it be an option to provide directly

[2015-11-29 22:11] Sohalt commented on #3977
Sounds like an option to me. Definitely not the most elegant solution, but then a shell script handling a dozen different OSes and fiddling with the truststore is neither. The "right" solution for emacs probably doesn't exist.

[2015-11-29 22:40] romanofski opened #3993 "No themed pos tip any more"
My flycheck pos tip is not themed anymore:
![flycheck_error](https://cloud.githubusercontent.com/assets/121047/11460685/c164a934-973c-11e5-95c1-ce230b206eee.png)

Furthermore, it takes quite a while until the pos tip goes away, which can sometimes be annoying when you need to see the code it's covering.

My .emacs.d is currently at: 50ec30be6dd6be709a742dad51dfb016af1c37f0
My spacemacs config can

[2015-11-29 22:43] TheBB commented on #3993
This is, if anything, an issue with `flycheck-pos-tip`. Relvant reading: https://github.com/syl20bnr/spacemacs/issues/2110#issuecomment-155156220 and https://github.com/flycheck/flycheck-pos-tip/issues/6. Please report this upstream instead of here.

[2015-11-29 22:58] StreakyCobra commented on #3977
Yeah at the end it's always a notion of trust. Using the solution from the blog post, you also have to trust the `certifi` package owner.

I'll try to come up with something like this:

- Providing the minimal (root?) certificates needed to enable TLS verification for MELPA and GNU (ORGMODE later when https will be available) in `certs/`.
- Setting up a configuration like explained in the blog pos

[2015-11-29 23:14] Sohalt commented on #3977
Thanks a lot! Really appreciate your work!

[2015-11-30 00:12] jupl commented on #3902
It does.

[2015-11-30 01:21] cmnth commented on #3743
placing the following setting to user-config resolved the issue for me:

    (defun dotspacemacs/user-config ()
      (setq neo-vc-integration nil)
       ...
    )

[2015-11-30 01:59] #3984 closed

[2015-11-30 03:00] exitface commented on #3960
#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.104.6
- Spacemacs branch: master (rev. 50ec30b)
- Distribution: spacemacs
- Layers:
[code]

I should also note that it seems the behavior doesn't occur with a fresh buffer (e.g. just paste the above in). In order to trigger, it seems that you need to work within the buffer for a bit. The most reliable way I've found is to paste in the

[2015-11-30 04:17] syl20bnr opened #3995 "Unify faces for diff margins"
Among all the different diff tools, the best face is the one from `diff-hl`, would be cool to have the same faces for all the tools. There may be some glitch at the borders though.

[2015-11-30 04:20] syl20bnr opened #3996 "Default diff margin tool"
The new vcs micro-state set `git-gutter+` as the default, I would like to know why this is the case in practice and why the change from `diff-hl`.

The version 0.105 will have a lot of semi-breaking changes I would like to limit the scope, but if `git-gutter+` has really good new feature we can consider it.

[2015-11-30 04:30] syl20bnr commented on #3927
. @justbur made a hack in `bind-map` to simulate the old behavior of `evil-leader`, can you update your spacemacs and packages and test again ?

[2015-11-30 05:52] syl20bnr commented on #3284
We should now have a basic timeout of 5 seconds when fetching the elpa archives.

[2015-11-30 05:54] JaydenFish opened #3997 "the slurp work incorrectly."
SPC k s work incorrectly.
like this:
a = dict[2]
a= di()ct[[2]
a=di(ct)[2]
a=di(ct [2])

There is a needless space between 'ct [2]'.
Could you please repair this mistake?

[2015-11-30 05:56] syl20bnr commented on #3997
Since you are not in a lisp dialect, can you try the hybrid version ``SPC k ` s`` (this is a backtick) ?

[2015-11-30 08:21] StreakyCobra commented on #3960
Ok I was able to reproduce it, by playing indeed a few time with the buffer. Looks like an upstream bug for me, probably between `web-mode` and `evil`…

[2015-11-30 08:24] StreakyCobra commented on #3743
@ysgard Does this snippet also works for you?

[2015-11-30 08:44] fatlazycat commented on #2199
Is there anyway currently to get it to pick up .projectile ? trying to get excludes into .projectile for helm projectile grep

[2015-11-30 08:47] AgIt0 commented on #2199
well I don't think so.. I switched to using .agignore like @mosic mentioned and I use helm-projectile-ag

[2015-11-30 08:54] fatlazycat commented on #2199
thanks - yeah installed ag and seems to work with the .gitignore

[2015-11-30 09:25] nixmaniack commented on #3995
Absolutely true! I had made the changes locally when trying out git-gutter+ and friends to make them have the same face as diff-hl. I'll see if I can put something when I have time.

[2015-11-30 10:24] ccmtaylor commented on #2366
I can confirm @ageorgo's issue: I also get duplicated `f`'s whenever I type `f` in deft.

[2015-11-30 10:57] ccmtaylor commented on #2366
fwiw, I commented out the line
[code]
 in `~/.emacs.d/elpa/evil-escape-20150926.2152/evil-escape.el`

and that fixed the problem.

[2015-11-30 11:03] sotte commented on #1965
I stopped using spacemacs because of the problems with orgmode.

I reinstalled the stable version of spacemacs a few days ago and it seems to work now. Thanks!

[2015-11-30 11:03] #1965 closed

[2015-11-30 11:44] icymist opened #4000 "org:org-plus-contrib does not tar cleanly into directory"
I get this error at spacemacs startup. I only have the emacs-lisp, org layers.

installing org:org-plus-contrib... [1/1]An error occurred while installing org-plus-contrib (error: (error Package does not untar cleanly into directory org-plus-contrib-20151123/))

(Spacemacs) --> installing org:org-plus-contrib... [1/1]
Contacting host: orgmode.org:80
Parsing tar file...
Warning: premature EOF parsi

[2015-11-30 12:28] justbur commented on #3927
Nothing I did would have caused *all* meta key bindings to fail.

[2015-11-30 13:12] StreakyCobra commented on #3927
There are only 'skip'ped commits left to test.
The first bad commit could be any of:
ee6a486d4cf837cfd340b8fd4715ce92cce95737
9befd20a1a81da0b4b94c69e35951f907bee4615
We cannot bisect more!

[2015-11-30 13:13] StreakyCobra commented on #3927
It's one of these two, but I can not know which one as there is one in a non-working state.

[2015-11-30 13:57] justbur commented on #3927
This works for me
[code]
The purpose of ansi-term I believe is to send as many raw keystrokes as possible to the terminal emulator without being intercepted by emacs. If this was working with evil-leader it was entirely by accident.

[2015-11-30 14:06] StreakyCobra commented on #3927
On last `develop` the bindings like `M-t`, `M-1`, `M-2`, … are working, just `M-m` is problematic

[2015-11-30 14:27] justbur commented on #3927
Those are probably provided by a minor mode.

I can add an option to bind-map to make the non-evil keys overriding
(almost the highest precedence). @syl20bnr is that what you want? Or do you
want to manually fix cases like this?
On Mon, Nov 30, 2015 at 9:06 AM Fabien Dubosson <notifications@github.com>
wrote:

[2015-11-30 15:05] ikhthiandor opened #4002 "Can we have a lorem ipsum generator in spacemacs by default?"

[2015-11-30 15:06] TheBB commented on #4002
We have one. `SPC i l`. It's in the develop branch for now.

[2015-11-30 15:20] ikhthiandor commented on #4002
Nice. How about making it a bit more customizable...like how many paragraphs/sentences/lists I want.

[2015-11-30 15:22] StreakyCobra commented on #4002
It is. `5 SPC i l p` :-)

[2015-11-30 15:22] syl20bnr commented on #4002
You cal already insert several paragraphs at once with a numeric prefix argument, for instance: `8 SPC i l p` will insert 8 paragraphs.

[2015-11-30 15:25] ikhthiandor commented on #4002
Oh thanks! Didn't know that. Neat :D This issue can be closed I think.

[2015-11-30 15:35] #4002 closed

[2015-11-30 15:57] justbur commented on #3927
Added the option anyway and made a PR in #4003.

[2015-11-30 20:29] synic opened #4004 "git-gutter warnings in develop"
In the `*warnings*` buffer:

[code]

As a result, the gutter on the right now uses characters to display the changes, `+`, `-`, etc.

[2015-11-30 20:44] coventry opened #4005 "which-key incompatibility"
I moved `~/.emacs*` out of the way, and built spacemacs from scratch per the installation instructions.  The `which-key` functionality is failing: no advice on possible keys after 1s, and `M-x which-key-show-top-level` results in the backtrace shown below.

Pretty sure this is simple packaging version skew, as the following commands run without error, and they take the latest versions of `which-ke

[2015-11-30 21:08] synic commented on #4005
It really seems like #2057 should be bumped up in priority, or this is going to keep being an issue.  Spacemacs will never be stable without it.

[2015-11-30 21:53] TheBB commented on #4004
I'm not getting that warning, but this is not why you get `+` and `-` in the fringe, that's because of https://github.com/syl20bnr/spacemacs/pull/3632. See the new variables in the `version-control` layer for determining which fringe tool to use.

[2015-11-30 21:58] justbur commented on #4005
I pushed a fix for this that should be in which-key soon.

Can you do me a favor and create a gist (or whatever service you want to use) of the text you get when you eval `(describe-buffer-bindings (current-buffer))` in your scratch buffer?

[2015-11-30 22:19] coventry commented on #4005
http://pastebin.com/jrbDcAbZ

[2015-11-30 22:22] coventry commented on #4005
This error happens with emacs-version 24.3.1, but the command works fine with emacs-version 25.1.50.2.

[2015-11-30 22:29] synic commented on #4004
Ah, I will change the ticket.  I set it to this:

[code]

And now I get two warnings:

[code]

However, the git gutter now works like it used to.

[2015-11-30 22:31] TheBB commented on #4004
Well, I'm not getting the warnings, but I know how to fix them.

[2015-11-30 22:31] synic commented on #4004
Perhaps this will help?

#### System Info
- OS: darwin
- Emacs: 24.5.7
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 4d87ea6)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-30 22:34] TheBB commented on #4004
Can you check if https://github.com/syl20bnr/spacemacs/pull/4007 solves this?

[2015-11-30 22:42] synic commented on #4004
Yes, it does.

[2015-11-30 23:27] oantolin commented on #3950
Well, as promised I tried again at the computer I use Emacs 24.3 on. The same thing happened. I again reinstalled completely (removing my `~/.emacs.d` first). Clicking on the Update button in the welcome buffer also gives the "Variable binding depth exceeds `max-specpdl-size`" message, by the way.

[2015-11-30 23:49] StreakyCobra commented on #3950
Ok, so it's probably 24.3 related. Sadly I can't find a way to run this version. Can you try to give a complete backtrace?

Use `emacs --debug-init` to run it and the backtrace should pop up. If it's not at init time, use `SPC t D` to toggle the debug mode then do an action that throws the error. Finally copy/paste here (or on a gist/pastbin/etc.) the content of `*Backtrace*` buffer.

[2015-11-30 23:51] justbur commented on #4005
Fixed in 7a30f4d4431ca155a14d1920cfae2fd04da52676

[2015-11-30 23:53] justbur commented on #3950
@StreakyCobra just a side note. In spacemacs `emacs --debug-init` leaves debug-on-error on after init

[2015-11-30 23:59] coventry commented on #4005
Thanks.

[2015-11-30 23:59] #4005 closed

[2015-12-01 00:10] StreakyCobra commented on #3950
Oh, so no need of `SPC t D` then :-) Thx @justbur :+1:
On Dec 1, 2015 12:53 AM, "Justin Burkett" <notifications@github.com> wrote:

[2015-12-01 00:23] morgado-jb commented on #1269
Changing the default 256 colors of the terminal doesn't fix the problem.

I'm using base16 both with iterm2 and with emacs and practically all the themes (not only solarized) show this bug. I use the same method in Vim and there it works fine (although only after using this method of putting the same base16 scheme both in vim and in iterm2), so there is something more at play here with emacs.

[2015-12-01 01:34] darkfeline commented on #3978
It looks like the prefix map on `g` is being shared between all evilified maps.

[2015-12-01 01:45] darkfeline commented on #3978
Attempted fix https://github.com/syl20bnr/spacemacs/pull/4010

Works for me, but I'd like a code check please.

[2015-12-01 03:20] oantolin commented on #3950
I'm sorry, I failed! I was able to `toggle-debug-on-error` (and got a message in the mini-buffer saying debug-on-error was enabled) but using the commands that result in the error messages I described above did not pop up a `*Backtrace*` buffer.

I thought maybe the buffer was being created but not displayed for some reason and tried switching to it, but I can't use any buffer switching commands!

[2015-12-01 03:21] Immortalin commented on #1837
@syl20bnr is the `revert to specific version` guide master-friendly?

[2015-12-01 03:30] Immortalin commented on #1837
@StreakyCobra @syl20bnr merge and add `fixed in develop label`?

[2015-12-01 03:32] Immortalin commented on #1745
@CestDiego how do you get the fancy symbols for elisp mode?

[2015-12-01 03:59] Immortalin commented on #1481
@StreakyCobra @syl20bnr merge pull request and add `fixed in develop` label?

[2015-12-01 04:09] Immortalin commented on #3977
Maybe time for [this](https://github.com/syl20bnr/spacemacs/issues/1371)?

[2015-12-01 05:06] CestDiego commented on #1745
@Immortalin just put  ` (global-prettify-symbols-mode)` somewhere in `dotspacemacs/user-config`

[2015-12-01 06:43] AdrieanKhisbe commented on #1481
(@Immortalin: just made a comment on the commit about formating :) )

[2015-12-01 06:49] jhegedus42 commented on #1269
Just my two cents: plain emacs with evil-mode works fine with solarized colors in iterm2 out of the box. Spacemacs does not ( for me).

[2015-12-01 07:16] duerrp opened #4015 "Proposal: Enable line numbers with evil-ex"
As I am slowly transitioning into the vim-way I start to use `evil-ex` more and more (especially the t-command is super cool). As I don't like to see line numbers all day though, I added a little hack that enables them during ex commands (obviously leaving them on if they are already enabled, and not touching relative / absolute):

[code]
If enough people like it, I can prepare a pull request...

[2015-12-01 08:04] TheBB commented on #3927
Closing since this issue is not on master.

[2015-12-01 08:04] #3927 closed

[2015-12-01 08:05] agzam commented on #4015
Wouldn't be better to submit this directly to evil maintainers? https://bitbucket.org/lyro/evil.
Just asking. I like evil-ex and would love to have this and maybe a few more things there.

[2015-12-01 08:11] TheBB commented on #3993
This was closed upstream.

[2015-12-01 08:11] #3993 closed

[2015-12-01 08:14] agzam commented on #3693
@ralesi why org layer? deft has it's own layer.

[2015-12-01 08:15] duerrp commented on #4015
Sure, I can try that, but if I understand correctly, the goal of evil is just to emulate vim's behaviour. Do you know if plain vim has this feature?

[2015-12-01 09:03] puzl opened #4018 "Proposal: configurable cache directory"
I like to keep my .emacs.d in my home directory which is NFS mounted, but I'd like to use a local cache for speed reasons.  Would it be possible to have an override for the cache directory.  I don't mind having to specify it as some custom elisp in a startup script, but obviously it would be cleaner in the .spacemacs file.

[2015-12-01 09:10] duerrp commented on #4018
I assume you could override `spacemacs-cache-directory` if you do it in your init.el before `(load-file (concat user-emacs-directory "core/core-load-paths.el"))` is called. As far as I remember `defconst` is just a hint, not a real restriction in elisp.

[2015-12-01 09:21] StreakyCobra commented on #3950
Hum, I need to find a way to run emacs 24.3 then :-/

[2015-12-01 09:25] StreakyCobra commented on #3977
It's kind of related, but out of the scope of TLS verification, as we need to provide the certificates even for people that will not use the potential bundle.

[2015-12-01 10:26] nmk opened #4019 "Trailing blank line is always deleted"
I would like to have each edited file end with a single trailing blank line. Whenever I save a file, or use `delete-trailing-whitespace`, trailing blank lines are deleted.

This seems to happen in any major mode. I am using the develop branch, pulled this morning.

I have
[code]
in `dotspacemacs/user-config`. If I disable ws-butler mode with `M-x ws-butler-mode` trailing blank lines are left alone

[2015-12-01 10:53] StreakyCobra commented on #4019
I think `require-final-newline` is to have a line return at the end of the last *non-empty* line, it doesn't mean to have is a trailing *blank line*.

[2015-12-01 11:09] nmk commented on #4019
@StreakyCobra You are right! Is there a way to force a trailing blank line though?

[2015-12-01 11:28] puzl commented on #4018
I don't want to go editing the init.el in my .emacs.d

[2015-12-01 12:04] emmanueltouzery opened #4020 "ack search: no way to know the search finished"
when I trigger a text search in the project using `ack`: `SPC s k p`, there is no GUI way from emacs to find out whether the search was completed.
So if there are no results, I can't know whether there are no results, or there are no results _yet_. And when I see 5 results, I don't know if that is all, or new ones may be coming.

I think we really need some sort of indication whether the search is

[2015-12-01 12:32] syl20bnr commented on #4018
Did you try to set it in the user-init function of the dotfile ?

[2015-12-01 12:33] AdrieanKhisbe commented on #2725
@robbyoconnor I concour :)

[2015-12-01 12:35] StreakyCobra commented on #4019
I don't know if there is an emacs way, but it will probably be overwritten by `ws-butler` hooks anyway. Maybe @TheBB knows? Otherwise the best is probably to ask `ws-butler` if the can add an option to support this functionality.

[2015-12-01 12:41] StreakyCobra commented on #4018
@syl20bnr I tried, it works for most of them, but not *all* cached files. Probably there are some cache paths that are defined before `user-init` is called.

[2015-12-01 12:46] AdrieanKhisbe commented on #3405
*Up :)*
Interested in that too!

[2015-12-01 13:37] Malabarba commented on #3270
@kissgyorgy

FWIW, the usual "quit" key in emacs is C-g.

[2015-12-01 13:38] Malabarba commented on #3284
As someone who would like to improve package.el itself, could I ask for more information on this?
What exactly happens for you when an archive is down?
Is it that Emacs hangs indefinitely while trying to update? Or is it that the error message is uninformative?

[2015-12-01 15:10] synic opened #4022 "SPC l no longer works for spacemacs-layouts, instead it duplicates SPC k"
As it says in the title, `SPC l` just brings up the same thing as `SPC k` now, instead of the layouts microstate.

#### System Info
- OS: darwin
- Emacs: 24.5.7
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 7be6176)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-01 15:24] syl20bnr commented on #4022
Fixed upstream, now we have to wait for MELPA to process it.

[2015-12-01 15:27] syl20bnr commented on #4018
This is surprising, the call to init and init-user is made pretty early, I'll look into it.

[2015-12-01 15:36] StreakyCobra commented on #4018
( or maybe I tested, *again*, something in the wrong way :sweat_smile: )

[2015-12-01 15:48] co-dh opened #4023 "support ssh in git clone"
I got the following error from a dev machine:
fatal: Unable to find remote helper for 'https',
according to http://stackoverflow.com/questions/8329485/git-clone-fatal-unable-to-find-remote-helper-for-https,
it's because my git don't have libcurl.
However, I'm not able to install it on that machine because I'm not super user, and that machine need to keep sync with production machine, so the cost t

[2015-12-01 16:49] co-dh commented on #2118
I have the same bug. PATH is not inherited when started from a sshed terminal

[2015-12-01 17:49] agzam commented on #4015
@duerrp what feature? enabling line numbers when you're at the command panel and hiding them when you're back to editor window? Honestly I don't know. I guess it's possible.

[2015-12-01 17:58] StreakyCobra commented on #4023
You can try to clone with SSH yes: `git clone git@github.com:syl20bnr/spacemacs.git ~/.emacs.d`

[2015-12-01 18:15] d12frosted commented on #2118
@co-dh well, I suspect that it's not related to original issue (and honestly believe that it can be closed). But in any case, could you please describe repro steps better? Are you just doing following steps?

1. `ssh -X user@node`
2. `emacs -nw`
3. notice that `(getenv "PATH") is wrong?

I am not sure how it even supposed to work (never used `ssh -X`).

Also, as an option you could use TRAMP (buil

[2015-12-01 19:01] kissgyorgy commented on #3270
Thanks! I was using it for closing menus and canceling actions, but I was not sure if that's the right key :smile: So you can even cancel running functions?

[2015-12-01 19:06] justbur commented on #3981
@StreakyCobra this should be closed I think, since it doesn't affect master

[2015-12-01 19:09] #3981 closed

[2015-12-01 19:35] co-dh commented on #4023
I did that and it works.
The problem is the when I re evaluate .spacemacs, it gives the error message, and failed to eval.

[2015-12-01 19:43] StreakyCobra commented on #4023
Which error message?

[2015-12-01 19:44] co-dh commented on #2118
* ssh -XA user@node
* export PATH=foo:$PATH
* install spacemacs there (evil mode)
* echo $PATH, I have FOO:...
* emacs -nw
* :! echo $PATH , gives the same( correct) PATH
* emacs  ( no -nw, so GUI version)
* :! echo $PATH (you will find foo is missing)

[2015-12-01 19:48] co-dh commented on #4023
fatal: Unable to find remote helper for 'https',

[2015-12-01 20:07] StreakyCobra commented on #2118
There is the package `exec-path-from-shell` that try to set the `$PATH` accordingly to your shell configuration. For this you can not just `export PATH…`, you have to define in in your `.bashrc` or `.zshrc`* . You can try this, it may work better.

\* if you want to do it right it should be in your `.bash_profile` or `.zshenv`, see https://github.com/purcell/exec-path-from-shell/issues/34

[2015-12-01 20:11] co-dh commented on #2118
@StreakyCobra I can not set the .bashrc or .zshrc, because there is a very old version of node.js used by my production environment. so I usually just manually export before I developing.
Right now my workaround is call (setenv "PATH ..) in dotspacemacs/user-init

[2015-12-01 20:26] TheBB commented on #4023
It would be helpful if you stated in the beginning that this error message originated from within Spacemacs, and when cloning it.

[2015-12-01 20:27] StreakyCobra commented on #2118
You have a really unusual setup (ssh + X forward + emacs GUI + no `.bashrc/.zshrc` PATH), so I suppose there is no better way than manually setting it up in `dotspacemacs/user-init`. As it's a really special setup and the workaround is acceptable, there will probably not be more support than what you are doing now.

[2015-12-01 20:56] co-dh commented on #2118
I don't agree.
First, I just test with local spacemacs, the bug exist, so nothing related to X forward.
Second emacs -nw don't have this bug
Third emacs -Q (bar metal emacs UI) don't  have this bug.
and my working environment is typical if you have to develop on a dev server which need to be the same as a production server.

[2015-12-01 21:11] StreakyCobra commented on #2118
Fine, we already have more information here. I'm pretty sure if you exclude `exec-path-from-shell` by adding it to the `dotspacemacs-excluded-packages` in your `.spacemacs` it will work as you want.

[2015-12-01 22:25] dingmingxin opened #4024 "org-cycle problem in evil normal state"
Here are the layers that I loaded.
[code]
When I start emacs in OSX Terminal.app , opening a org file. Hitting TAB key in the keyboard did not trigger function:
[code]

By describe-function org-cycle, I got:
[code]
I have nothing special settings in my Terminal.app. And Tab behavior is normal in "Gnu Emacs for OSX"(GUI mode).

spacemacs version: 0.104.6
emacs version: 25.1
osx: 10.11.1

How can I

[2015-12-01 22:49] StreakyCobra commented on #4024
It's probably another variant of #3472. The `<tab>` keycode is only understood by the GUI version of emacs, and the `TAB` keycode is understood by both Terminal and GUI versions of emacs. There is two of them because, for historic reasons, `TAB` and `C-i` are the same keycode. So to have the possibility to differentiate <kbd>Tab</kbd> from <kbd>C-i</kbd> in GUI, the `<tab>` keycode is used.

- `<t

[2015-12-02 00:19] duerrp commented on #4015
@agzam As you suggested, I posted the issue over at evil: https://bitbucket.org/lyro/evil/issues/597/enable-line-numbers-with-evil-ex

[2015-12-02 00:19] #4015 closed

[2015-12-02 00:30] dingmingxin commented on #4024
Thanks for replying in time.
But in which way can I configure emacs, making TAB act as `org-cycle` in org mode ?
I have tried this in `~/.spacemacs.d/init.el`
[code]
But it did not work as I expected.

[2015-12-02 00:31] syl20bnr commented on #4024
This is a temporary regression in develop, we will fix it soon, sorry for this.

[2015-12-02 00:37] justbur commented on #4024
@dingmingxin like this in user-config

[code]

[2015-12-02 00:42] dingmingxin commented on #4024
@syl20bnr  Thanks for your awesome work.
@justbur  Just tested:
[code]
This works for me . Thank you very much.

[2015-12-02 02:08] jupl opened #4026 "Terminal - Symbol's function definition is void: set-fontset-font"
I recently opened Emacs in terminal on OS X and I get the following error message on startup:

[code]

[2015-12-02 02:08] frank0512 opened #4027 "python layer on spacemacs v0.104.6"
I add the  the 'python' layer in 'dotspacemacs-configuration-layers', but i get the below error message.

pytest.el:68:1:Warning: cl package required at runtime
Compiling no file at Wed Dec  2 09:41:33 2015
Leaving directory `/Users/John/.emacs.d/elpa/pyvenv-20151105.1519'

Compiling file /Users/John/.emacs.d/elpa/pyvenv-20151105.1519/pyvenv-autoloads.el at Wed Dec  2 09:41:33 2015
Entering dire

[2015-12-02 03:56] co-dh opened #4028 "x11 mouse copy & paste fail with emacs -nw"
In X windows
* emacs -nw
* select in emacs with left mouse button
* paste to another application with middle mouse button will fail

tested with emacs -nw -Q , this bug does not exists
I noticed that mouse are not handled in -nw -Q version by describe-key
* emacs -nw -Q
* M-x describe-key
* click left mouse
* nothing happen

while in the Non -Q version
* emacs -nw
* SPC h d k
* click left mouse
*

[2015-12-02 06:06] bmag commented on #4027
When installing a new layer, usually Spacemacs also needs to install some new packages. When a package is installed, it is also compiled. What you posted are compilation warnings. These warnings usually can be safely ignored, and so is the case here (maybe the warning for pytest.el should be fixed, though).
You should see warnings like these only when you install or update packages. Do you get the

[2015-12-02 06:35] abingham opened #4031 "The flycheck-ycmd backend should be disabled for Python"
It appears that currently the `flycheck-ycmd` checker is enabled for Python mode. Ycmd will not provide any diagnostics for Python (right now, at least) so using it for flycheck is not terribly useful. It might be best to disable `flycheck-ycmd` in `python-mode` by default. You can do this e.g. with [`flycheck-disabled-checkers`](https://github.com/abingham/emacs-ycmd/tree/b801275e0cc9e0a70d78c61e

[2015-12-02 06:45] TheBB commented on #4026
What's your Emacs version?

[2015-12-02 06:46] TheBB commented on #4026
The one in the terminal, that is.

[2015-12-02 06:48] TheBB commented on #4027
Yes, these are regular compilation warnings when installing packages. They are normal and can largely be ignored. You should have seen many like these when installing Spacemacs for the first time, and similarly each time you update your packages.

[2015-12-02 06:48] #4027 closed

[2015-12-02 07:42] rahulmutt opened #4032 "Git time machine keybindings clashing with evil"
If I use 'SPC g t' to access git timemachine and go back certain commits and want to search within that commit either with C-s or /, I am unable to move between commits anymore. Before search, 'N' means to go to a previous commit in the timemachine microstate. After search, 'N' will take you to previous search results. I think this means by pressing / I have canceled the microstate, but the displa

[2015-12-02 08:09] StreakyCobra commented on #4032
Try `SPC w b` to refocus the micro mode.
On Dec 2, 2015 8:42 AM, "Rahul Muttineni" <notifications@github.com> wrote:

[2015-12-02 08:25] nixmaniack commented on #4032
This is a bug and I doubt `SPC w b` re-focuses the micro-state. I have had this issue where micro-state was lying around particularly in git-blame-miro-state. There was issue around this IIRC.

As a workaround, I use `(spacemacs//micro-state-close-window)` to close that annoying window.

[2015-12-02 09:02] StreakyCobra commented on #4032
Ok, was on my phone so couldn't test :-)

[2015-12-02 09:12] StreakyCobra commented on #4024
Related PRs: #4025, #3999

[2015-12-02 09:22] TheBB commented on #4028
@StreakyCobra and I had a chat on gitter and it turns out you just need to disable it in your `dotspacemacs/user-config` function:

[code]

We can add a FAQ about this.

[2015-12-02 09:30] StreakyCobra commented on #4026
Do you use `set-fontset-font` function in your `.spacemacs`? Can you try if it happen againg without the `osx` layer? Can you run emacs with the `--debug-init` flag and give us the backtrace here?

[2015-12-02 10:19] env0der commented on #2369
Yes, it works correctly now without the workaround.

[2015-12-02 10:19] #2369 closed

[2015-12-02 10:45] geksilla opened #4034 "Develop version-control micro state throws error when using diff-hl."
I'm using emacs 24.5, spacemacs from develop branch. Got this error when hit <kbd>SPC g .</kbd>

[code]

Quick fix that works for me, change **diff-hl-margin-minor-mode** to **diff-hl-margin-mode** in [funcs.el](https://github.com/syl20bnr/spacemacs/blob/develop/layers/%2Bsource-control/version-control/funcs.el)

[2015-12-02 10:53] StreakyCobra commented on #4034
I don't have this error. Have you something special concerning this in your config?

[2015-12-02 11:04] geksilla commented on #4034
@StreakyCobra yes, sorry forgot to mention:

[code]

[2015-12-02 11:32] puzl commented on #4018
So I've moved my entire .emacs.d to the local disk, removed my $HOME/.emacs.d.  Everything seems to work fine but I do get this odd error rigt after initialisation

Loading c:/cygwin-1.7.31-3/home/hjw/.emacs.d/layers/shell/packages.el (source)...done
Loading c:/cygwin-1.7.31-3/home/hjw/.emacs.d/layers/syntax-checking/packages.el (source)...done
Loading //irlcor-fil01/home/hjw/.rcm/spacemacs/hjw/pa

[2015-12-02 12:17] jupl commented on #4026
@TheBB 24.5.1

@StreakyCobra I'm not calling it and yes I am using the `osx` layer which appears to call it in `config.el`. I need it in the terminal for `pbcopy` functionality.

Looks like a PR needs to be done to wrap that call in a conditional with something like `(display-graphic-p)` or `window-system`.

[2015-12-02 12:25] StreakyCobra commented on #4026
I was asking to try without the `osx` layer to see if the problem was indeed this call to the function, or if it was coming from the core functions.

What is weird is that `set-fontset-font` exists even in terminal version on my computer.

What does `SPC h d v set-fontset-font RET` gives you?

[2015-12-02 12:26] syl20bnr commented on #4032
I believed I fixed this in develop branch. Are you on master or develop ?

[2015-12-02 12:27] jupl commented on #4026
Yes the issue is with the `osx` layer which I need in the terminal for `pbcopy`.

`SPC h d v` gives `[No match]`.

[2015-12-02 12:35] StreakyCobra commented on #4026
Maybe there is some differences between linux and OS x, or some emacs compilation options that are different… I don't know.

[2015-12-02 12:55] codedmart opened #4036 "Magit status commit (c c) error in terminal emacs"
This just started a day or two ago. When I am in magit status `SPC g s` and stage some files/hunks, if I try to commit `c c` it fails and I get an error in the *magit-process* buffer:

[code]

[2015-12-02 12:57] StreakyCobra commented on #4036
Have you tried to update the package to see if it goes away? Or was it because a packages update?

[2015-12-02 12:59] codedmart commented on #4036
Sorry forgot to mention that I am on `develop` branch and it start a day or two ago from a package update. I did revert back to `master` and can confirm that I can `c c` fine there. I just did another package update right before I reported this and the problem still persists in `develop`. Things do work as expected from GUI emacs.

[2015-12-02 13:14] StreakyCobra commented on #4036
Oh, actually I can confirm it on linux too.

[code]

*****

#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: contrib/bepo (rev. 40a63b9)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-02 13:16] PierreR commented on #3981
This is not fixed in `Puppetfile` mode.

[2015-12-02 13:40] nixmaniack commented on #4032
On develop I can confirm.

[2015-12-02 13:47] justbur commented on #3981
@PierreR I took a look at puppetfile mode and it's defined in a somewhat non-standard way. I don't think the correct hooks are being run for it. We'll probably need to do something like this for it
[code]

[2015-12-02 13:48] justbur commented on #3981
Actually, I have another idea that might work through `bind-map` let me update it.

[2015-12-02 13:56] justbur commented on #3981
I think the puppetfile issue will be fixed after updating to https://github.com/justbur/emacs-bind-map/commit/e239bbdaefa17f7057ae97cb844e3e2ab0ce57bc

[2015-12-02 14:12] declanqian commented on #3882
I saw this new layer in the develop branch and tried it out. I add "speed-reading" to "dotspacemacs-configuration-layers" and restart emacs. Nothing happened, no spray package was downloaded. Then I look into the packages.el, and change the "spacemacs/init-spray" to "speed-reading/init-spray". The it works as I expected.

[2015-12-02 14:25] nixmaniack commented on #4036
High Priority! Any known workarounds except from dropping to shell?

[2015-12-02 14:37] StreakyCobra commented on #4036
Does it happen with raw emacs with just magit?

[2015-12-02 14:56] frank0512 commented on #4027
I switch spacemacs from master to branch. It worked, thanks

[2015-12-02 15:16] co-dh commented on #4028
It works, thank you BB. saved my time and saved my life.

[2015-12-02 15:36] justbur commented on #4036
Those don't look like backtraces. Has anyone tried to get one yet?

[2015-12-02 15:38] justbur commented on #4036
there was a recent change to with-editor here https://github.com/magit/magit/commit/310b5fa6387c18056a365409b9008092d4296006

[2015-12-02 15:41] StreakyCobra commented on #4036
@justbur There is no backtrace

[2015-12-02 15:43] justbur commented on #4036
Is this only with the daemon?

[2015-12-02 15:45] StreakyCobra commented on #4036
`*Messages*`:
[code]

`*magit-process: …*`:
[code]

`SPC t D` changes nothing. I tried with `emacs -nw`, so not in daemon mode, I even stopped it to be sure.

[2015-12-02 15:45] immigrantsheep opened #4038 "LiveScript support?"
I've been trying to figure it out but it seems livescript isn't supported out of the box or am I missing something? CoffeeScript works just fine. Any tips? Thank you.

[2015-12-02 15:47] justbur commented on #4036
looks like a magit bug to me

[2015-12-02 15:48] StreakyCobra commented on #4036
For me too, it's why I asked if someone can try to reproduce it without Spacemacs to be sure before reporting upstream :-)

[2015-12-02 15:50] rahulmutt opened #4039 "Saving history for sub-shells"
When working with eshell, if I press Up, I'll get the last thing I typed. If I use an interactive program like the Clojure REPL, I'm unable to get the history by pressing Up even though it's available in any normal terminal emulator. Reusing the last expressing is such a frequent operation that having this feature is a huge help.

[2015-12-02 15:59] justbur commented on #4036
@StreakyCobra you still get a reference to `emacsclient` when you use `emacs -nw`? That doesn't make sense

[2015-12-02 16:15] StreakyCobra commented on #4036
Yes, even with a fresh `.spacemacs`. Maybe something related to my shell configuration.

[2015-12-02 16:17] codedmart commented on #4036
I tried replacing `with-editor.el` with a earlier version but still see the same problem. I also get a reference to `emacsclient` when using `emacs -nw`.

[2015-12-02 16:18] codedmart commented on #4036
@justbur Can you not reproduce this error? Is all working fine for you in terminal emacs?

[2015-12-02 16:19] justbur commented on #4036
I use the gui version and haven't seen any changes

[2015-12-02 16:21] codedmart commented on #4036
It is only related to the terminal. I don't have the problem in the gui version.

[2015-12-02 16:32] justbur commented on #4036
That suggests to me that it's something with the environment

[2015-12-02 16:40] StreakyCobra commented on #4036
@codedmart has it on OS X, @justbur has it on Windows, I have it on Linux, all with different setups, so it looks like an upstream bug.

[2015-12-02 16:42] jupl commented on #4038
If all you need is LiveScript syntax support you can add [`livescript-mode`](https://github.com/bdowning/livescript-mode) to `dotspacemacs-additional-packages`. If more customizations than that are required then code needs to be written and added to the `javascript` layer for a PR.

[2015-12-02 17:12] immigrantsheep commented on #4038
thank you @jupl
that's good enough

[2015-12-02 17:12] #4038 closed

[2015-12-02 17:24] codedmart commented on #4036
@justbur @StreakyCobra a `git bisect` resulted in 7e0d8f2d32fb8275a8fc044bb1396a7ef1664b78.

[2015-12-02 17:25] codedmart commented on #4036
That seems unrelated to me, but anyone have some ideas from here?

[2015-12-02 17:39] codedmart commented on #4036
Nevermind because of a different error my bisect failed. Let me try again.

[2015-12-02 17:49] codedmart commented on #4036
OK did a new `git bisect` and a19c0f3d2457912e80a7934e8060096a90a733c8 appears to be the culprit. I manually confirmed this as well. The commit just before a19c0f3d2457912e80a7934e8060096a90a733c8 is working as expected.

[2015-12-02 17:58] StreakyCobra commented on #4036
This one will be reverted by https://github.com/syl20bnr/spacemacs/pull/4025

[2015-12-02 17:59] StreakyCobra commented on #4036
Can you try again with the patch applied?

[2015-12-02 18:00] codedmart commented on #4036
@StreakyCobra @justbur Yes #4025 fixes the issue. Shall I close this now or does anyone need it open?

[2015-12-02 18:01] StreakyCobra commented on #4036
:+1: Let it open until the PR is merged :-) We will take care of closing it

[2015-12-02 18:28] saga92 opened #4042 "How to add new key binding to neotree buffer"
I would like to add key `o` to enter the folder or file, but not work when add the code
[code]
into dotspacemacs

[2015-12-02 18:46] justbur commented on #4036
That's so strange

[2015-12-02 18:49] codedmart commented on #2049
@fedragon @d12frosted Any changes on this. If I use `osx-clipboard` and `p` or `C-r` as @env0der mentioned paste is instant, but if I use `CMD-v` it is terribly slow.

[2015-12-02 19:04] StreakyCobra commented on #4042
Try this in `dotspacemacs/user-config`:

[code]

[2015-12-02 19:19] fedragon commented on #2049
@codedmart I'm not using Spacemacs on a daily basis these days so I cannot confirm it unfortunately

[2015-12-02 20:13] bmag commented on #4039
Try <kbd>C-\<up\></kbd> and <kbd>C-\<down\></kbd>, these are the usual key bindings in shells in Emacs. Most shell modes use the commands `comint-previous-input`, `comint-next-input`, `comint-previous-matching-input-from-input` and `comint-next-matching-input-from-input`. These are usually bound to `M-p`, `M-n`, `C-c M-r` and `C-c M-s`, unless some other package took over these keys (for example `

[2015-12-02 20:20] bmag commented on #4042
While @StreakyCobra's solution should work, it's a bit extreme, because it bind the key every time neotree buffer is created (although that buffer should only be created once, so it's not such a big deal). Adding the following to my `dotspacemacs/user-config` was sufficient for me:
[code]

[2015-12-02 20:28] kissgyorgy commented on #2580
This did not solved it for me. I have dynamic coloring with [prezto](https://github.com/sorin-ionescu/prezto) and when color would change, I got strange characters like this:
![image](https://cloud.githubusercontent.com/assets/244203/11543144/5554587e-993b-11e5-9f3f-f8a2d218da9d.png)
Any idea?

[2015-12-02 20:36] StreakyCobra commented on #4042
@bmag You're right. For `o` it will work :-)

FYI if you want to remap on of these letters:
[code]

You will have to use my code, because those get recreated at [each time buffer is entered](https://github.com/syl20bnr/spacemacs/blob/develop/layers/+distribution/spacemacs/packages.el#L1574-L1600) :-/

[2015-12-02 20:42] bmag commented on #4042
Oh my, why did we implement it like this? Is there any reason not to bind the keys normally?

[2015-12-02 20:46] StreakyCobra commented on #4042
No idea why. If you're motivated to try `evilifying` it, you're welcome :relaxed:

[2015-12-02 20:57] bmag commented on #4042
Will try to find the time :wink:
By the way, related issues: #3752 #2783

[2015-12-02 21:55] ysgard commented on #3743
It does!  Thank you!  Without the snippet, I experience the problem everywhere, not just git repos, so unfortunately it looks like vc integration is flat-out broken on OS X.

But at least with the snippet, I can use Neotree again. :+1:

[2015-12-02 22:01] StreakyCobra commented on #3743
:+1: For your information this change has been merged on develop (#3903), so it will be in the next release.

[2015-12-03 00:09] adrsta opened #4045 "[diff] [bindings] N as previous - not working"
for example if I press
SPC f e D ?
p is bound to "prefious diff" instead of N

[2015-12-03 01:24] LonglyCode commented on #4039
Thanks for explaining.It's a built-in convention in Emacs.

[2015-12-03 02:06] justbur commented on #4042
The local state maps are buffer local so I think you have to do it this way to use those. That's also what evil leader did by the way.

I initially set it up to use the global state maps but people kept complaining about keys that weren't available in certain buffers (essentially because some modes were intentionally overriding the global state maps). Using the local state maps fixes this in a ove

[2015-12-03 02:08] justbur commented on #4042
It's also not each time the buffer is entered its when the buffer is created and evil mode is turned on.

[2015-12-03 02:10] justbur commented on #4042
I'm sorry I should have looked at the link. I was describing how bind-map works now  not how neotree key bindings are done. But the concept turns out to be similar actually.

[2015-12-03 02:54] tuhdo commented on #2832
[persp-mode](https://github.com/Bad-ptr/persp-mode.el) is an alternative version of [perspective](https://github.com/nex3/perspective-el). It can do everything `perspective` does, plus saving your workspaces and the layouts in them across session. When you open Emacs again, previous workspace with its layout and visible buffers are loaded accordingly.

[2015-12-03 02:56] tuhdo commented on #2832
Here is my configuration for `persp-mode`:

[code]

[2015-12-03 03:04] saga92 commented on #4042
@StreakyCobra Thanks a lot:-) It works when add your code into `dotspacemacs/user-config`, however I try to add more key binding such as
[code]
`s` can't open file in vertical split, it will still perform as before to hidden the file toggle.

[2015-12-03 03:34] tuhdo commented on #2832
I've just realized that Spacemacs already included `persp-mode` in `develop`. Woot. I'm so outdated with Spacemacs development already.

[2015-12-03 04:38] tuhdo opened #4047 "Keys are overriden in Helm buffer"
With the latest `develop`, Helm key bindings are overridden with evil-leader ones. For example, in `helm-mini` or `helm-find-files` or most Helm commands, `C-c o` is for opening file/buffer in other window. But now, it shows key bindings from evil-leader. I use `C-c` as my leader key for `holy-mode`.

[2015-12-03 04:58] syl20bnr commented on #2832
@thudo `spacemacs layouts` are persp-mode perspectives, there are a couple of new dotfile variable for layouts, also check the README of the spacemacs layout layer (which is included in the spacemacs distribution).

[2015-12-03 06:44] d12frosted commented on #2049
@codedmart never use `CMD-v` in terminal, since (AFAIK) you can't override this shortcut. Which means that text from clipboard will be pasted into terminal avoiding any hooks / configs for text yanking in emacs. It means that any goodies for indentation will not be called and most importantly, pasting huge hunks of text will be slow as hell.

I know that habits are hard to change, but using `C-y`

[2015-12-03 08:40] StreakyCobra commented on #4042
You can't use:
[code]
you have to use syntax like:
[code]

Same for the line after.

[2015-12-03 09:01] amosbird opened #4048 "golden-ratio-mode is incompatible with helm-gtags"
There is a bug with `golden-ratio-mode`.  `helm-gtags-dwim-other-window` will create a new window instead of reusing existing one.
![sxov taa wurzbf9_d5c wc](https://cloud.githubusercontent.com/assets/5085485/11556070/663cec1a-99df-11e5-9f54-1669989012f7.png)

[2015-12-03 09:09] tuhdo commented on #4048
You should report it upstream, so the author can fix it: https://github.com/syohex/emacs-helm-gtags

[2015-12-03 12:52] saga92 commented on #4042
it reports `wrong type argument` when using
[code]

[2015-12-03 12:55] StreakyCobra commented on #4042
Oh, I didn't really looked at it. Let me check carefully then :-)

[2015-12-03 12:56] StreakyCobra commented on #4042
indeed `(neotree-make-executor)` generates a lambda function already.

[2015-12-03 13:04] StreakyCobra commented on #4042
My bad, I forgot to copy one parameter in my first snippet:

[code]

The `'append` at the end.

[2015-12-03 14:41] sooheon opened #4049 "er/expand-region and C-g to deselect sometimes moves point strangely"
I haven't found a clear way to reproduce this, but `spc v` followed by some number of `v` or `V` to grow or shrink region, and then cancel with `C-g`, sometimes leaves the cursor at a seemingly random point. I especially notice this when I start with the point at beginning of line containing an indented sexp, `spc v` should select the first sexp with point at opening paren, and `C-g` should desele

[2015-12-03 14:56] sebhahn commented on #3137
I'll get the same error when I try to export an org-mode file using org-reveal

[2015-12-03 15:36] TheBB commented on #3137
There was a commit recently in develop which should have fixed this (finally). At least with regards to web-mode.

There is indeed also a bug that prevents smartparens from being excluded. I'm not sure if it caused your problem @emmanueltouzery but I have submitted a PR in https://github.com/syl20bnr/spacemacs/pull/4050/files.

About org-reveal I know nothing, but if the error message was literall

[2015-12-03 15:38] TheBB commented on #4019
I don't think there's a way, other than disabling all whitespace stuff and just doing it yourself. Seems like quite a niche feature request.

[2015-12-03 15:43] nmk commented on #4019
Alright, thanks for your help.

[2015-12-03 15:43] #4019 closed

[2015-12-03 16:33] saga92 commented on #4042
@StreakyCobra It works perfect! Sincerely appreciate for your help:-)

[2015-12-03 16:45] StreakyCobra commented on #4042
My pleasure. If you think your question has been answered and there is nothing more to do on this issue, you can consider closing it :relaxed:

[2015-12-03 16:48] saga92 commented on #4042
@StreakyCobra Got it :+1:

[2015-12-03 16:48] #4042 closed

[2015-12-03 16:49] wangshuai666 opened #4051 "error loading lua-mode"
![image](https://cloud.githubusercontent.com/assets/4375111/11567196/d66c2f5a-9a20-11e5-8553-74d54888599c.png)

[2015-12-03 21:23] darkfeline commented on #3954
PR: https://github.com/syl20bnr/spacemacs/pull/4054

[2015-12-03 22:50] tiborsimko commented on #1522
FWIW I like the proposal to map helm functions over ido functions when possible in Spacemacs defaults.

One example: in my setup I observed frequent freezing when doing `C-x C-f` and `C-x b` like operations. (Due to say finger memory as opposed to using `SPC f f` and friends.) The minimal recipe to reproduce the problem was: start Emacs, `C-x C-f somefile RET`, `C-x 2`, after which pressing `C-x C

[2015-12-04 05:55] syl20bnr commented on #3562
@csdrane do you have some news about this issue ?

[2015-12-04 07:29] Immortalin opened #4055 "Elixir layer keybinding error"
I am getting `SPC m is undefined` when using the elixir layer.

[code]

[2015-12-04 08:57] TheBB commented on #4022
Fixed!

[2015-12-04 08:57] #4022 closed

[2015-12-04 09:22] StreakyCobra commented on #4036
@codedmart It should be fine now, can you test it?

[2015-12-04 09:48] cpaulik opened #4056 "Pyenv and Spaceline incompability with visual mode"
I have a very strange issue.

In Python mode press `SPC m v s` and enable any `pyenv` version other than `system` e.g. `2.7.10` or `miniconda-3.16.0`. After that try `v j j j` or `v k k k`. Visual mode does no longer work for me. Interestingly it does work with `v arrow-keys`.

Visual mode works fine in non-python buffers during this broken state.
Deactivating the virtual environment restores norm

[2015-12-04 10:16] StreakyCobra commented on #4056
Reproduced here.

[2015-12-04 10:23] StreakyCobra commented on #4056
Also, `SPC t m t` to hide spaceline is enough to make it work or not.

[2015-12-04 10:51] rzetterberg commented on #4000
I have the same problem but I'm using emacs _without_ spacemacs, so this issue should be unrelated to spacemacs.

[2015-12-04 10:54] StreakyCobra commented on #4000
Looks like a package downloading/extraction problem yes.

[2015-12-04 11:10] rzetterberg commented on #4000
Ok, I resolved the problem by actually using the right URL:

[code]

*facepalm*

Here's what I did to try to debug the problem:

Show the list of packages:
[code]

Search for `org-plus-contrib` using `C-s`, click on the package to bring up the details. I noticed the detail buffer was filled with HTML, so I thought maybe I had the wrong URL since that should not happen. Lo and behold I was using wr

[2015-12-04 11:22] StreakyCobra commented on #4000
Thanks for the feedback. Indeed we are using `orgmode.org` both in `master` and `develop`, so it's not this :-/

[2015-12-04 11:23] StreakyCobra commented on #4000
@icymist Does it work now? Maybe it was a temporary `orgmode.org` issue…

[2015-12-04 12:48] mosic commented on #4055
Same here. `SPC m` works after running `elixir-mode` manually.

This happens when using only elixir layer too:

[2015-12-04 14:03] Immortalin opened #4057 "Spacemacs doesn't open file given as commandline argument"
When ` emacs <file name>` is ran, spacemacs goes directly to the home screen. The file that it was suppose to open shows up in the `Recent Files` section.

[code]

[2015-12-04 14:26] mosic commented on #3911
Maybe this should be a separate issue, but it would be nice if there was an automated way to test which layers are causing slowdowns.

I just went through all layers I had enabled in order to see what brought the startup time to about 3 seconds on my machine and I narrowed it to this:

* `ruby` increases the startup time for about 0.6 seconds
* `spotify` increases the startup time for about 0.3 se

[2015-12-04 15:26] cpaulik commented on #4056
I also noticed that it slows my editing down to a crawl.

Removing the call to `(pyenv-mode-full-path name)` from https://github.com/TheBB/spaceline/blob/master/spaceline-segments.el#L432 solved the issue for me.

[2015-12-04 15:52] csdrane commented on #3562
No updates. `M-RET` still produces the error. `org-export-as-markdown`
produces a different, unrelated error:

[code]

On Fri, Dec 4, 2015 at 12:56 AM, Sylvain Benner <notifications@github.com>
wrote:

[2015-12-04 16:27] icymist commented on #4000
Yep. The problem still persists.

I completely removed Emacs and Spacemacs, reinstalled both again, and finally only enabled the org layer. That was the only change I did in .spacemacs.

See attachments.

![04-dec-15 17-25-07](https://cloud.githubusercontent.com/assets/3083343/11594807/4d80a4f0-9aac-11e5-8240-a739b224196b.png)
![04-dec-15 17-24-06](https://cloud.githubusercontent.com/assets/308334

[2015-12-04 17:05] aaronjensen commented on #644
This still repros in _spec files on latest develop

[2015-12-04 17:17] aaronjensen opened #4059 "elixir-mode adds extra end in ruby-mode rspec files"
Similar to #644, but the fix applied for that does not appear to work in rspec files. It is unclear what is triggering `ruby-end-mode`, removing the `rspec-mode` package does not help. Commenting out the two autoload hooks in `ruby-end-mode` does not help.

![end](https://cloud.githubusercontent.com/assets/8588/11596061/c357e688-9a67-11e5-8397-6b49bc04b0df.gif)

#### System Info
- OS: darwin
- Ema

[2015-12-04 18:46] Xyc0 opened #4060 "stacking-highlights bindings no longer present"
https://github.com/syl20bnr/spacemacs/blob/afa537d3414fa786d4b7ccd1d2678ff69bade287/doc/DOCUMENTATION.org#stacking-highlights

unbound in master

[2015-12-04 18:50] dstcruz opened #4061 "There is no mention of where to put the configuration bits"
In the documentation of the javascript layer, under the "Configuration" header, there is no mention of where one should put the settings mentioned there. It is not clear where settings for packages loaded by a layer should be set by the user.

[2015-12-04 19:24] robbyoconnor commented on #4059
This happens is ALL mode ruby files -- it's so weird. I usually saw the error correct itself usually -- I dunno WHY it happens

[2015-12-04 19:30] robbyoconnor commented on #4061
in `dotspacemacs/user-config` in your `.spacemacs`

[2015-12-04 19:35] robbyoconnor commented on #3585
@ralesi I love you -- thank you :heart:

[2015-12-04 19:35] #3585 closed

[2015-12-04 20:00] hosh commented on #3448
So I'm a newbie when it comes to customizing emacs. How would someone go about defining a keybinding for `helm-find-files-map` so it goes up a level?

[2015-12-04 21:10] jupl opened #4062 "Solarized Themes not in Helm Themes"
I have `solarized-light` included in `dotspacemacs-themes`. I can toggle it eventually with `SPC T n`. However, when I type `SPC T h` I don't see the the theme available to select in Helm, even after the theme is installed.

[2015-12-04 21:18] #4051 closed

[2015-12-05 00:46] et2010 commented on #1949
I have the same problem with 0.104.2, windows platform.
I run ```git status``` and it shows:
```fatal: bad config file line 1 in .git/config```
So it was caused by a broken git configuration file. So I reclone spacemacs to a temporary location, copy the new config file to overwrite the broken one, and problem solved. Hope this helps.

[2015-12-05 05:21] kalbr opened #4063 "term-char-mode no longer usable as a terminal emulator"
With the current 'develop' branch, it seems that all 'top level' bindings are now available in term (char sub-mode) in both insert state and emacs state. This behaviour seems to have been introduced to as a fix for #3927, so this is evidently expected behaviour for some people. I would argue that this bug was a feature--the whole point of `term-char-mode` is that all keystrokes except for the esca

[2015-12-05 05:44] darkfeline commented on #4063
I apologize if you find my fix a kludge.  `ESC C-z` does not send C-z, or I'm not understanding you correctly.  `ESC` exits insert mode, and `C-z` switches from Evil/normal state to Emacs state.

`M-` keybindings can be used with the time-honored tradition of sending `ESC` (bound to `C-c C-e`) followed by the character in question.  This will break kludgy hacks in, e.g. Vim, which try to interpret

[2015-12-05 06:01] zhexuany opened #4064 "Configuration Java Layer in Mac"
I was wondering how many mac users get this layer work? Even I started use this layer since the beginning of its creation, but I never get eclim work. If there is someone can get this layer work, can you tell me how to add correct codes to make it work?

[2015-12-05 06:36] kalbr commented on #4063
Okay, that was too harsh. I said it was a kludge because I think that restoring the documented `term-char-mode` behaviour is the "obvious" solution. Clearly you disagree. For what it's worth, I do think `C-c SPC w l` is acceptable, at least from emacs state.

`ESC C-z` works from emacs state, for me at least. I was using emacs state because it previously gave the expected `term-char-mode` behaviou

[2015-12-05 06:41] nixmaniack commented on #4060
The feature was disabled because of the bug in `hl-anything`. https://github.com/syl20bnr/spacemacs/issues/2529

[2015-12-05 07:13] person808 commented on #4057
I'm pretty sure its caused by [this](https://github.com/syl20bnr/spacemacs/blob/develop/core/core-spacemacs.el#L83) line. I think doing something like this

[code]

would work, but I don't know how to detect a file argument (Note: `command-line-args` contains all arguments passed to emacs).

[2015-12-05 09:11] bmag commented on #3875
I can reproduce this with latest develop, with these 3 simple steps:
1. start spacemacs: I now have one layout - the default one.
2. open a new layout with `SPC l 2`: I now have two layouts.
3. reload config with `SPC f e R`: I now have only one layout again - the default one.

#### System Info
- OS: gnu/linux
- Emacs: 24.5.2
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 8191a66)
- Distri

[2015-12-05 09:18] bmag commented on #3733
Finally got it working,  see #4068. It only took 3 hooks :smile:

[2015-12-05 10:10] d12frosted commented on #3733
Wow, thanks a lot! I'll take a look tomorrow in the morning!

[2015-12-05 10:22] bmag commented on #4042
@saga92 @StreakyCobra just a heads up, I opened a PR to evilify Neotree, which will probably nullify the solution and require a new one.

[2015-12-05 12:15] kshmelkov commented on #1177
Might be a wrong issue, but does this layer include sane keybindings in message compose mode? `SPC m` doesn't exist here :(

[2015-12-05 12:50] StreakyCobra commented on #4000
Can you paste here the result of `SPC h d s`?

[2015-12-05 13:06] StreakyCobra commented on #4062
Probably a duplicate of #1193 (i.e. not `init-solarized-light` function present)

[2015-12-05 13:34] StreakyCobra commented on #1177
@kshmelkov Your question will have more visibility and help if you open a new issue and give a reproduction step (even if it's trivial) :-)

[2015-12-05 13:45] StreakyCobra commented on #3448
@hosh Something like this in `user-config`:

[code]

[2015-12-05 13:46] kshmelkov opened #4070 "mu4e composing mode evilification"
I have just tried mu4e layer from develop branch. I liked it a lot, but it seems that keybindings in composing mode are still default i.e. non-evilified (`C-c C-s` is send for example). I noticed that `SPC m` bindings are completely missed.

I am a recent vim convert so my elisp experience is around zero. Can you point me to some docs how to remap keybindings in spacemacs way?

[2015-12-05 13:48] kshmelkov commented on #1177
@StreakyCobra ok. I thought that this issue was intentionally left open for the feedback.

[2015-12-05 13:52] StreakyCobra commented on #1177
No, we keep issues open (except if original posters want to close them) and mark them as `Fixed in develop` until the next release :relaxed:

[2015-12-05 14:08] StreakyCobra commented on #1949
Thanks @et2010 for the information.

@syl20bnr All problems here seems to were `git`-related issues, but the question here is relevant:

Do we:

1. Explicit in the documentation than an `git clone` is needed for version check and update (and eventually add a guard for it).
2. Update version-checking code to work with non-git `~/.emacs.d`

[2015-12-05 14:10] darkfeline commented on #4070
The composing mode is derived from Emacs's native `message-mode`, so I'm not sure if this should be fixed in the `mu4e` layer.

The default send keybinding is `C-c C-c`, which is also used in a lot of other places both in Emacs and Spacemacs.

As a new Vim convert, it is useful to know that it is quite common for Emacs (and Spacemacs) to use `C-c C-c` and `C-c C-k` for "commit" and "cancel", respe

[2015-12-05 14:17] justbur commented on #4070
@StreakyCobra @syl20bnr let's come up with a convention for C-c C-c and C-c C-k. I think the suggestion here makes sense but it would be nice if there was an official convention

[2015-12-05 14:20] kshmelkov commented on #4070
Thank you for such a quick answer. I know about emacs `C-c` convention, but find it too difficult for pinky. For example, in org-mode notes `,,` works as confirmation and I find it very handy. For `C-c C-k` I can suggest `, ESC` if it fits spacemacs conventions.

Can anybody orient me to an example of such remapping? I know I could find it somewhere in org-mode sources, but I hope there is a small

[2015-12-05 14:23] StreakyCobra commented on #4070
@darkfeline I'm working on it in #3872 to provides `SPC` bindings. It's more general, but will provide `SPC . .` for `C-c C-c` and `SPC . k` for `C-c C-k`. It's just a proposal now, it may be better to have these on some other prefixes.

[2015-12-05 14:24] justbur commented on #4070
Hmm I like `,,` but not the second one. I'm thinking of `,q` or `,k`

[2015-12-05 14:31] StreakyCobra commented on #4070
@justbur In `git` layer we bind `,a` and `,c` as I just saw.

[2015-12-05 14:34] justbur commented on #4070
That was me :-) but now I like `,,`
On Sat, Dec 5, 2015 at 9:32 AM Fabien Dubosson <notifications@github.com>
wrote:

[2015-12-05 14:36] darkfeline commented on #4070
I'm not sure about `SPC .` as a prefix, since there is a de facto convention of using `.` to enter microstates, for example `SPC w .`.

Keep in mind that `,` is actually `SPC m`, so `,,` is actually `SPC m ,`, and the user is free to bind the `SPC m` shortcut to whatever they want.  If they bind it to, say, `` ` ``, then the key binding `` ` ,`` is not quite as memorable.

[2015-12-05 14:38] TheBB commented on #4070
@darkfeline In org we use `,,` for `org-ctrl-c-ctrl-c`. It's bound as a double tap of the major mode leader key, not literally as `SPC m ,`.

[2015-12-05 14:41] justbur commented on #4070
Regardless we need a convention across modes.
On Sat, Dec 5, 2015 at 9:38 AM Eivind Fonn <notifications@github.com> wrote:

[2015-12-05 14:42] StreakyCobra commented on #4070
Yep, but do we bind this to `SPC m` as a major-mode binding, or somewhere else as a global binding?

[2015-12-05 14:44] darkfeline commented on #4070
I still prefer using `c` and `k` since it's intuitive to native Emacs users, they aren't hard to hit, and they're mnemonic, sort of (commit, kill).  But `,,` works too, we just need a convention since Org and Magit are apparently on two different pages here.

:+1:  `SPC m`, since these are pretty mode specific commands.

[2015-12-05 15:10] StreakyCobra commented on #4070
Draft of convention in #4071

[2015-12-05 15:20] chengyi commented on #2147
@StreakyCobra No, It seems work properly...

[2015-12-05 16:23] StreakyCobra commented on #1949
After discussing this on gitter with @syl20bnr, for now only `git` version of `~/.emacs.d` folder are supported for checking/update. This should be documented where the `update` mechanism is presented (at least in the `README` and in the documentation.)

[2015-12-05 16:25] StreakyCobra commented on #2147
Ok, thanks for the response. I'm closing the issue as we can't do more for now. Feel free to open a new one in case of troubles :relaxed:

[2015-12-05 16:25] #2147 closed

[2015-12-05 16:55] darkfeline opened #4072 "J bound to org-shiftdown in Org mode"
The `J` key is getting bound to `org-shiftdown` in Org mode, which is annoying as `J` is used for joining lines in Vim/Evil.

[2015-12-06 02:39] syl20bnr commented on #2128
You can now choose rspec by setting the layer variable `ruby-test-runner`.

[2015-12-06 06:12] syl20bnr commented on #4072
Indeed I encountered it, I will revert the commit that introduces it.

[2015-12-06 06:16] syl20bnr commented on #4072
Done :-)

[2015-12-06 06:16] #4072 closed

[2015-12-06 07:52] kvaneesh commented on #3809
magit-blame is mostly used in multi-buffer scenarios. That is after blaming a buffer, we mostly end up looking at commit details using <RET> key. That doesn't work nicely with micro-state. For example if i want to search the commit buffer using helm-swoop and want to type key 'b'; that doesn't work at all. May be we should disable micro-state for magit-blame until we get it working.

[2015-12-06 07:53] syl20bnr opened #4075 "Eyebrowse integration enhancement (go to buffer vs. bring buffer)"
Now we have multiple workspaces support per perspective thanks to @bmag we need to support these two commands:
1. (go to buffer) switch to buffer in perspective and automatically switch to the workspace where the buffer is visible (in case of multiple workspaces switch to the first one)
2. (bring buffer) "bring" the buffer to the current workspace

`2.` is a fallback to `1.` if the latter returns

[2015-12-06 08:01] joehillen commented on #4075
Sounds good to me. :+1:

Should the behaviour of `SPC b b` change? Maybe change it to the current behaviour of `SPC l b`?

[2015-12-06 08:18] syl20bnr commented on #4075
I'm not for changing the behavior of `SPC b b` which display all the opened buffer no matter the current context:
- `SPC b b` is global scope
- `SPC p b` is project scope
- `SPC l b` is layout scope

I'm more in favor of changing the bhavior of `SPC b b` to match `SPC  l b` "go to buffer" (in this case, t would change the perspective and workspace) and `SPC b B` would import a buffer into current

[2015-12-06 10:00] mosic commented on #3911
Update to my comment above using the latest commit (26ecdee) on develop: Today's changes to the ruby layer made it have a negligible impact on startup time. The two other layers add about 0.7 seconds.

Hope that's somewhat useful, it was a nice surprise to see the startup time drop today.

[2015-12-06 10:17] zwb-ict opened #4076 "Packages not be installed in user-emacs-directory/elpa"
I'm using lastest develop branch, I load spacemacs's init.el as below:

[code]

All things works very well, but I find all packge installed into "~/.emacs.d/elpa" not "~/.space.d/elpa".
So if I set  **dotspacemacs-delete-orphan-packages** to true, spacemacs will delete my own packages.

My os is Mac OS X 10.11
Emacs's version 24.5 (installed with brew)

[2015-12-06 10:59] #4056 closed

[2015-12-06 11:00] TheBB commented on #4056
Thanks for the fix! Closing.

[2015-12-06 12:12] bmag commented on #4075
Sounds good to me too. I think it will be quite helpful.
Please note there is no built-in functionality to search for a buffer in a workspace, but it's possible to write one. It requires analyzing a `window-state-get` object, though. Anyone heard of a library that analyzes `window-state-get` objects?
Also, obvious alternative mnemonic for `ibuffer` is `SPC b i`. Is the new `SPC b B` supposed to be

[2015-12-06 12:48] nagi opened #4078 "Large ⓚ spoils powerline on Gnome 3"
When a `ⓚ` is displayed on the powerline, it looks like this:

![big-k](https://cloud.githubusercontent.com/assets/1297635/11613281/1c132178-9c13-11e5-901b-b3ec90ac0621.png)

When I left click the ⓚ, and click `Turn Off minor mode`, then the powerline looks good again.

Here is a little system information:

![about](https://cloud.githubusercontent.com/assets/1297635/11613295/c3526fe8-9c13-11e5-80d

[2015-12-06 13:02] StreakyCobra commented on #1768
@bmag Can you check if there is any update on this issue :smiley: ?

[2015-12-06 13:12] bmag commented on #1768
The bug still exists. I don't encounter it anymore because I use the `window-purpose` layer.

[2015-12-06 13:21] StreakyCobra commented on #3687
It's probably a mode that is candidate for evilification at the same time. If someone want to go on it.

[2015-12-06 13:23] StreakyCobra commented on #1768
Ok thanks :+1: Do you think it should be reported upstream to popwin?

[2015-12-06 13:28] StreakyCobra commented on #3753
@ssbanerje Any news on this?

[2015-12-06 13:34] bmag commented on #1768
This is definitely a popwin bug - the same thing happens to me also when using popwin with an empty emacs config. The only difference is that with powin and bare emacs, I end up with a vertical split instead of a horizontal split. I couldn't figure out what causes this difference.
I will report it upstream, but I don't know if I'll get any answer. There are quite a few issues there with no respons

[2015-12-06 13:36] sooheon commented on #1768
@bmag to be clear, you are using `window-purpose` the package but it's not officially a spacemacs layer yet, right? If it's fixed this problem for you, would you mind contributing your config as a PR?

[2015-12-06 13:42] StreakyCobra commented on #4045
`ediff` is not evilified, so bindings there are traditional emacs one, so `n` for `next` and `p` for `previous`.

I don't think this will change, and getting used to `n` and `p` is not really difficult. Actually this is used on other spacemacs places.

[2015-12-06 13:48] syl20bnr commented on #1768
There is already a PR for it (very old), originally planned for 0.105 I moved it to 0.106.

[2015-12-06 13:49] StreakyCobra commented on #1768
@bmag If you can do it it's really nice of you. I just wanted to be sure if it was a Spacemacs issue or not.

[2015-12-06 13:50] haakenlid commented on #3822
With the latest version of the linux spotify client, the OpenUri method appears to be broken. It will not change tracks when there is another track already playing.
A workaround that works for me (in a shell script) is to send a `Pause` signal just before `OpenUri`.

[2015-12-06 13:50] bmag commented on #1768
@StreakyCobra Reported upstream: https://github.com/m2ym/popwin-el/issues/131 just now

[2015-12-06 13:52] StreakyCobra commented on #1768
@bmag Awesome :relaxed: Thanks

[2015-12-06 14:10] StreakyCobra commented on #4063
If the goal of `term-char-mode` is to directly send raw keystrokes to the terminal, then indeed it's a bug if they are caught by Spacemacs. As long as this mode is not the default one, and must be activated in purpose by the user, then having to do `C-c SPC w l` or any other long key sequences is not a problem as it's the wanted behaviour.

[2015-12-06 14:18] kalbr commented on #4063
If it helps: I fix this locally by reverting 81765e9f8f80d57eeca20550b5f840c9b734ee7e . This also fixes #4047.

[2015-12-06 14:26] StreakyCobra commented on #4063
The problem is that either:

- We use this commit to make `SPC` binding available everywhere without having to define it explicitly in each mode, but some mode like `helm` and `term-char-mode` get functionalities overridden.
- We don't use this commit, but the we have to explicitly bind `SPC` in a lot of modes (see #3981).

@justbur @syl20bnr Any thoughts about this and #4047?

[2015-12-06 14:37] justbur commented on #4063
@StreakyCobra I guess we just make the override behavior optional since we clearly can't please everyone. The only question then is what's the right default.

[2015-12-06 14:38] justbur commented on #4063
By the way the only reason helm was getting functionality overridden is because of the conflicting choice of leader key in #4047

[2015-12-06 14:44] StreakyCobra commented on #4063
@justbur Is there an easy way to disable this override per-mode basis?

[2015-12-06 14:51] kalbr commented on #4063
Why are C-x C-c C-/ and friends being introduced into the `term-char-mode` mapping by this change? This is what I'm trying to understand.

I'm not so sure about #4047; please disregard my comment. I'm not seeing the problems with `helm` bindings anymore.

[2015-12-06 14:53] justbur commented on #4063
I guess I could add the option... Or we could manually bind in the modes.
On Sun, Dec 6, 2015 at 9:44 AM Fabien Dubosson <notifications@github.com>
wrote:

[2015-12-06 14:58] StreakyCobra commented on #4063
If the default is to not enable it everywhere, then it's better to manually add it in each mode.
If the default is to enable it everywhere, then it's better having an option/a list of modes where it shouldn't be enabled.

[2015-12-06 15:04] justbur commented on #4063
Come to think of it I think the change in #4047 probably has to do with the minibuffer bindings which I don't think evil leader had any effect on.

[2015-12-06 16:56] rahulmutt commented on #4039
Those commands didn't work for the purpose I wanted. But I realized I could implement a custom solution for the clojure REPL by doing a regexp search for the REPL prompt and copying what comes after. If anyone has a solution for retrieving the previous input from any REPL-like program like lein repl, ghci, sbt, then please let me know. If there's no built-in solution, this

[2015-12-06 16:56] #4039 closed

[2015-12-06 18:07] a13ph commented on #2937
Despite thinking about "asking more questions at installation" myself while
trying to solve accessibility of emacs for various specialists, I doubt
questions are as good at scaling and discoverability as other UI solutions.
For many cases there is already a UI pattern/element which can be used.

Currently utilized questions at spacemacs installation are hard to read -
horizontal ido style is reall

[2015-12-06 18:30] bmag commented on #4039
@rahulmutt I was surprised to read what you wrote, so I checked the bindings for clojure REPL. I found these commands:
- <kbd>M-p</kbd> `cider-repl-previous-input`
- <kbd>M-n</kbd> `cider-repl-next-input`
- <kbd>C-\<up\></kbd> `cider-repl-backward-input`
- <kbd>C-\<down\></kbd> `cider-repl-forward-input`

These work for both normal state and hybrid state. Don't you have them?

P.S. I'm not sure wh

[2015-12-06 18:40] justbur commented on #4063
I can setup the override behavior as a proper minor mode, so that it can easily be disabled through hooks. This seems like a good solution to me, but I'll wait for @syl20bnr before I start making changes to bind-map again.

[2015-12-06 19:10] StreakyCobra commented on #4063
I like this way, FWIW :-)

[2015-12-06 20:28] morgado-jb commented on #1965
I'm also having this bug.
I'm using the latest spacemacs version, installed today.

Org mode fails with the described bug in emacs-mac 24.3, version and in emacs version 24.5

[2015-12-06 23:28] jupl opened #4082 "Allow js-mode for JavaScript layer?"
Lately I've been having some issue with `js2-mode` and I was wondering if there is any way to have an option to use `js-mode` instead of `js2-mode` for the JavaScript layer. I can switch to `js-mode` manually but it doesn't automatically set things up like Tern, Flycheck, Company, etc.

[2015-12-06 23:45] puffnfresh commented on #1945
I have this problem - I do not want to remove prompt from the remote host. What we do to fix this?

[2015-12-06 23:48] puffnfresh commented on #1945
I've read the Emacs wiki and copied a solution from http://www.emacswiki.org/emacs/TrampMode#toc6

[code]

[2015-12-07 00:38] Xyc0 commented on #4060
The referenced leader key has been assigned to helm.

[2015-12-07 03:13] mkomitee commented on #3919
Are you using the auto-layouts feature?

[2015-12-07 04:27] darkfeline commented on #4063
Actually, I would like this term issue clarified further.

### Default Emacs

By default, Emacs has term-line-mode and term-char-mode.  term-char-mode works rather intuitively: hit a key and term-mode sends it to the running application.  There's one escape key, which is used to access Emacs.

term-line-mode is different.  Almost all of Emacs's commands are retained, including text editing command

[2015-12-07 04:50] syl20bnr commented on #4063
I will throw numbered questions in all directions with no mention.

**Question 1:** Is the issue mentioned here related to #4054 or is it related to `bind-map`override mode ?

Yes.

Yes.

**Question 2:** What's the binding to switch to term-char-mode ?

**Question 3:** Could it be a new keyword ?

I like this solution, very easy and intuitive to disable it per mode.

[2015-12-07 04:52] syl20bnr commented on #4063
BTW: I'm not an heavy user of terminals inside Emacs, I use eshell most of the time for simple commands like tests etc... I learned in this thread about the two different editing modes of Emacs in terminals so bear with me on this one, I'll do my best to understand the issue. :-)

[2015-12-07 06:09] exitface commented on #2448
The mode is also lost in javascript, css and sass files

[2015-12-07 06:33] louy2 commented on #2937
Then, we probably need something on the home screen. Recent files are not so important IMO when they can be accessed from helm. The home screen better consists of some starting guide, a list of available layers, and ... Oh wait. There's already a "quickhelp" as the little question mark button. I think it should be default instead of important notes. Put important notes there only after an update t

[2015-12-07 06:46] darkfeline commented on #4063
No.

The problem @kalbr (the issue creator) is running into can be solved at different levels.  It can be immediately fixed by fixing override behavior, so...

Yes.

At a lower level though, the complaint @kalbr raises is that Spacemacs messed up term-char-mode's semantics by evilifying it.  This cannot be fixed by fixing override mode.

Emacs's default bindings are `C-c C-j` for `term-line-mode`

[2015-12-07 07:30] person808 commented on #2937
Agreed. #4084 addresses this

[2015-12-07 08:35] bebound commented on #217
@person808 This screenshot looks pretty nice, how could you make this? Thank you.  ![](https://raw.githubusercontent.com/syl20bnr/spacemacs/develop/doc/img/powerline-update.png)

[2015-12-07 09:13] darkfeline opened #4087 "Elfeed hijacking bookmarks"
Elfeed is hijacking bookmarks.

Reproduce:

1. Start `elfeed`.
2. Switch to another buffer.
3. Set a bookmark in that buffer.

Expected: New bookmark points to current file of buffer.
Actual: Bookmark points to elfeed search buffer.

I think triggering elfeed's autoload causes this.

This is on develop branch.

[2015-12-07 09:42] rahulmutt commented on #4039
I was getting errors with the cider repl because of version inconsistencies so I've been running 'lein repl' in eshell, but I fixed all that this morning and everything is working like a charm. Thanks!

My point was that one shouldn't have to rely on a specific package for every REPL environment for every language if you're just simply running through eshell. If I was using gnome-terminal, I'd be

[2015-12-07 09:54] TheBB commented on #4039
Eshell is a shell, not a terminal emulator (that would be term). I really don't recommend running REPLs inside eshell *or* term. They're good but not that good. I have the impression that most REPL modes are built (as they should be) on comint, in which Spacemacs (in the develop branch) supports input browsing with `C-j` and `C-k`. These only work within the current session. Unfortunately comint d

[2015-12-07 10:21] d12frosted commented on #217
Yeah, I don't like waves on retina as well. That's why I use `utf-8` separator:

<img width="137" alt="screenshot 2015-12-07 12 19 37" src="https://cloud.githubusercontent.com/assets/6507913/11624483/e87b8c68-9cdc-11e5-8eb9-34389cff5058.png">

[code]

[2015-12-07 11:11] zwb-ict opened #4092 "sunrise-commander conflict with fasd"
I use cb-sunrise-commander layer, when I run C-x d, I get error:

fasd-add-file-to-db: Wrong type argument: stringp, nil

I have to close global-fasd-mode before I entered sunrise-commander. Is there a better way to resolve this conflict? Thank you!

[2015-12-07 11:22] hujianxin opened #4093 "powerline-vimish-theme error."
Today, I checkouted to latest develop branch, and I REMOVED all `.emacs.d` directory, recloned it. But, when startup emacs, I met this error:
[code]

`emacs --version`

[code]

[2015-12-07 11:23] hujianxin commented on #4093
OS is MAC OS X 10.10.5

[2015-12-07 11:30] bmag commented on #4039
I wanted to expand on @TheBB's answer, so I searched for more details on comint-mode, but apparently it's not documented very much. Emacs being emacs, at least the code is documented quite well (see `C-h f comint-mode` for example).

Cider REPL doesn't use comint-mode only because of historic reasons, and because nobody has fixed that yet. Ref: https://github.com/clojure-emacs/cider/issues/709

[2015-12-07 11:38] bebound commented on #217
@d12frosted Thanks for your advice, it looks better now. But person808's separator looks fancy and clear.
@syl20bnr Do you have any idea?

[2015-12-07 12:17] TheBB commented on #4093
Maybe you have powerline in your .emacs.d/elpa for some reason? That shouldn't have happened but…

[2015-12-07 12:39] icymist commented on #4000
#### System Info
- OS: windows-nt
- Emacs: 25.0.50.1
- Spacemacs: 0.104.6
- Spacemacs branch: master (rev. 50ec30b)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-07 12:47] StreakyCobra commented on #4000
Sadly I can't reproduce this environment to help further. Emacs 25.0 is not officially supported, and we know there are some problem with it :-)

[2015-12-07 13:06] codedmart commented on #4036
@StreakyCobra sorry got busy at the end of last week. I updated this morning and everything seems to be working as expected. Thanks!

[2015-12-07 13:07] StreakyCobra commented on #4036
:+1:

[2015-12-07 14:07] joefiorini commented on #3919
It seems to be working okay for me now after a couple updates. Closing this issue.

[2015-12-07 14:07] #3919 closed

[2015-12-07 14:10] icymist commented on #4000
Just a suggestion. Maybe it should be mentioned in the pre-requisites that 25.0 is not supported. It says that 24.4 or higher is recommended. And, 25.0 > 24.4 ;)

[2015-12-07 14:38] icymist commented on #4000
Issue persists. This is what I have from SPC h d s.

#### System Info
- OS: windows-nt
- Emacs: 24.5.1
- Spacemacs: 0.104.6
- Spacemacs branch: master (rev. 50ec30b)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-07 14:47] StreakyCobra commented on #4000
@icymist I created a PR to specify Emacs 25 could be buggy :+1:

For me it seems like a platform problem, and as I don't have any windows I can't help more, sorry. I hope some windows users will take over!

[2015-12-07 15:19] justbur commented on #4000
@icymist what tar do you have on your machine in the PATH

[2015-12-07 16:09] agriffis opened #4097 "fresh checkout of `develop` fails"
I just tried a fresh checkout of develop:

[code]

and first run of emacs fails with `error: Package spacemacs-theme- is unavailable`:

![screenshot from 2015-12-07 11-07-45](https://cloud.githubusercontent.com/assets/50637/11631979/c76b5ada-9cd2-11e5-8bdd-4100946e59ea.png)

This is ec8250ea1de9b2cd2f1439432e9eddf3d476b7fc with 24.5.1 on Fedora 23

[2015-12-07 16:17] agriffis commented on #4097
I bisected and found that 61707e593d4dc84b15be102ef415808e0512f2f8 introduced the problem.

[2015-12-07 16:32] agriffis commented on #4097
Here's the full backtrace:
[code]

[2015-12-07 16:54] StreakyCobra commented on #4097
It's the commit I expected :/

[2015-12-07 17:01] lukeorland commented on #2872
Same situation for me. IPython is installed in the virtualenv that I activated via `SPC m  V`, but not necessarily in the system python environment.

How can I debug? I would rather that the IPython repl is started and opened after `SPC m s i`.

[2015-12-07 17:26] icymist commented on #4000
I did not have any tar before. I added \usr\bin from PortableGit to the path. Now, I think that 'tar' is being used.

From cmd.exe, this is what I get.
[code]

I am not sure, if the same tar is accessible from emacs. If someone can tell me how to do that, I will report back.

The issue still persists, after the above tar is accessible from cmd.exe.

[2015-12-07 17:29] StreakyCobra commented on #4000
You can try to look at the `PATH` within emacs `M-: (getenv "PATH")`

[2015-12-07 18:28] syl20bnr commented on #4097
@agriffis Are you behind a proxy ?

[2015-12-07 18:29] justbur commented on #4047
@tuhdo if you update bind-map from melpa this issue should be resolved. It no longer overrides keys when in the minibuffer.

[2015-12-07 18:31] syl20bnr commented on #4097
@agriffis do you have an existing `.spacemacs` ? Try with `dotspacemacs-elpa-https` set to `nil`.

[2015-12-07 18:33] StreakyCobra commented on #4097
It's not the first one having this problem: https://gitter.im/syl20bnr/spacemacs?at=566017089a969fd24f3c4a8a

[2015-12-07 18:34] justbur commented on #4063
@kalbr please update bind-map from MELPA and add the following hook to your user-config to test

[code]

If it works, this should probably be added to the spacemacs config, but it would be helpful for you to test first.

[2015-12-07 18:34] syl20bnr commented on #4097
I cannot reproduce it, in 3 different environments, except the https issue behind my corporate proxy.

[2015-12-07 18:37] StreakyCobra commented on #4097
Maybe it's because of the selected theme, or because the `themes-megapack` layer is not enabled?

[2015-12-07 18:38] syl20bnr commented on #4097
This is the default theme, I have the exact same error if I use https, setting `dotspacemacs-elpa-https` to nil fixes the issue but... the default value is `t`...

[2015-12-07 18:42] justbur commented on #4063
@darkfeline I can comment on how key bindings work, but I'm not sure there is a "policy" for handling key bindings. We're in the midst of changing the way that they are handled (removing evil-leader mainly) and there are some hiccups here and there. Getting the priority of keys right for everyone is nearly impossible, so the fact that there were some subtle changes to priority recently has introdu

[2015-12-07 18:49] justbur commented on #4063
Also, this should put your term-mode buffers in emacs state
[code]
It's also incorrect to say that term-modes have been "evilified", at least not in the sense that it's meant in spacemacs

[2015-12-07 19:04] gguimaraesbr opened #4098 "Warning and Message when opening a ruby file"
It happens everytime I open a ruby file:

Warning:
`Error (use-package): enh-ruby-mode :config: Symbol's function definition is void: sp-with-modes`

Message:
`Suspicious state from syntax checker ruby: Checker ruby returned non-zero exit code 1, but no errors from output: ruby: no Ruby script found in input (LoadError)
Checker definition probably flawed.`

Any idea?

[2015-12-07 19:11] TheBB commented on #4047
Then I will close. :-)

[2015-12-07 19:11] #4047 closed

[2015-12-07 19:17] bmag commented on #4098
The warning probably means that a hook in `enh-ruby-mode-hook` assumes that `smartparens` is loaded when smartparens isn't loaded, or maybe the function `sp-with-mdoes` was removed upstream.
It will be easier to help if we know what version of spacemacs you are using. Please paste the output of `SPC h d s`.

The other message has to do with Flycheck encountering some errors. I don't know Ruby, but

[2015-12-07 19:27] agriffis commented on #4097
I'm not behind a proxy and I've moved my `.spacemacs` aside. But if there's a certs issue, I wonder if it's distro-specific

[2015-12-07 19:41] agriffis commented on #4097
Huh, new info: it only happens with the GUI version on Fedora `emacs-24.5-6.fc23.x86_64` and not the terminal-only version (compiled without GUI libs) `emacs-nox-24.5-6.fc23.x86_64`

[2015-12-07 19:48] agriffis commented on #4097
Setting `dotspacemacs-elpa-https` doesn't seem to change anything.

Launching the GUI binary of emacs with `-nw` also fixes the problem, so it's not a difference in the binaries, but rather a difference in the initialization sequence with the GUI enabled.

[2015-12-07 20:19] wamaral commented on #4098
I can replicate the `sp-with-modes` ruby issue, here's the output of `SPC h d s`:

#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.104.6
- Spacemacs branch: master (rev. 50ec30b)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-07 21:34] rach opened #4100 "`dotspacemacs/sync-configuration-layer` disable fullscreen when `dotspacemacs-fullscreen-at-startup` enabled"
When I reload my config and I had fullscreen enabled and `dotspacemacs-fullscreen-at-startup` to `t` then it exit the fullscreen on OSX

[2015-12-07 21:35] TheBB commented on #4100
Thank you, but this is a known bug: https://github.com/syl20bnr/spacemacs/issues/1088.

[2015-12-07 21:35] nixmaniack commented on #4100
Yes it's a bug! There's a fix, it's now time to get it in!

[2015-12-07 21:36] TheBB commented on #4100
I *know*, I *know*. :-P

[2015-12-07 21:36] #4100 closed

[2015-12-07 21:55] rach commented on #4100
Sorry for the duplicate. Thanks for letting me know

[2015-12-07 21:59] gguimaraesbr commented on #4098
Here is mine:

#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.104.6
- Spacemacs branch: master (rev. 50ec30b)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-07 22:57] synic commented on #2172
Just a note.  `auto-revert-check-vc-info` did work to fix this issue for me.  However, the next few days were spent with me trying to debug why emacs was constantly taking up 20+% of my cpu.

This was the setting that caused it, for sure.

[2015-12-08 03:47] darkfeline commented on #4063
@justbur

I'm suggesting documenting the priority of key binds so that

doesn't happen.  Something like defining clear priorities:

[code]

and the proper commands and files for defining bindings at each level.

I know, perhaps I should have said "made evil-friendly".

[2015-12-08 04:34] syl20bnr commented on #4097
@agriffis thanks for the feedback, I changed the way elpa repositories availability is checked, it may fix this issue, can you test again a fresh install of spacemacs in a GUI with the last develop ?

[2015-12-08 07:13] syl20bnr commented on #3978
@darkfeline I modified the implementation of evil evilified state to work on a copy of the whole map, can you check if you have any regression ?

[2015-12-08 07:16] kalbr commented on #4063
@justbur I've tried your suggestion w.r.t. `term-mode-hook`. The `M-m` binding is not available but all of the 'top level' emacs bindings are still there.

My test is that `C-x` should not bring up which-key, `C-/` should not try to undo.

As far as I can tell my install is up to date.

[2015-12-08 07:59] zwb-ict commented on #4092
The fasd's author has solved this problem.

[2015-12-08 07:59] #4092 closed

[2015-12-08 09:37] a-sk commented on #2872
I use the following function to switch to the REPL and it works for me:

[code]

[2015-12-08 09:44] hujianxin commented on #4093
@TheBB Yes, there is a directory about powerline in my .emacs.d/elpa, but I don't know why, because I REMOVED .emacs.d using `rm -rf ~/.emacs.d` command and RECLONED the repository.

`ls ~/.emacs.d/elpa | ag "powerline"`  ==> *get* `powerline-20151008.1449`

[2015-12-08 10:03] hujianxin commented on #4093
@TheBB I know the reason. `vim-powerline` and `spacemacs-layouts` are conflict. One I remove the support for one of these two, the error will disappear.

[2015-12-08 10:07] stormpat commented on #4082
Whats the issues you encounter with js2-mode? AFAIK js-mode has not been maintained for the last 5 years, and is deprecated in favour for js3-mode, which is itself a fork of js2-mode.

[2015-12-08 10:33] hujianxin commented on #4093
@TheBB Maybe I know the reason. `spacemacs-layouts` layer depends on `spaceline.el` package which is written by you. But `spaceline.el` depends on `powerline` too. So, `spacemacs-layouts` and `vim-powerline` are comflict.

[2015-12-08 10:40] TheBB commented on #4093
But `spacemacs-layouts` won't cause spaceline to be installed on its own. `vim-powerline` excludes it so it should not be installed. No other packages should depend on powerline.

If you delete that folder, does it get reinstalled?

[2015-12-08 11:07] hujianxin commented on #4093
@TheBB Maybe it's my fault, I use `spacemacs` not  `spacemacs-base`, and I find that `spacemacs` distrib depends on `powerline`. Is it the reason? If it is, is there anywhere I can find it.

[2015-12-08 11:19] hujianxin commented on #4093
If I delete powerline's folder, it will get reinstalled. When I remove all layer-support in `.spacemacs` and remove powerline's folder, it will also get reinstalled.

[2015-12-08 11:19] TheBB commented on #4093
@syl20bnr?

[2015-12-08 11:40] icymist commented on #4000
I do have access to the tar provided by Git (see below).

C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\Riverbed\Steelhead Mobile\;C:\Program Files (x86)\ATI Technologies\ATI.ACE\Core-Static;C:\Program Files (x86)\Intel\OpenCL SDK\3.0\bin\x86;C:\Program Files (x86)\Intel\OpenCL SDK\3.0\bin\x64;C:\Users\cande\Applications\

[2015-12-08 13:23] darkfeline opened #4104 "Dired motions gg and G"
In Dired, the Vim motions gg and G are overridden with Dired commands.

This is problematic as 1. Dired is in Normal state and 2. a user who instinctively uses those motions is frustrated by unexpected behavior.

[2015-12-08 15:23] justbur commented on #4063
@kalbr I'm not sure why `C-x` is not working. Maybe someone with a similar system could test? Can you paste the output of `SPC hds`?

For `C-/`, it probably runs `undo-tree-undo`. I looked into this a bit and unfortunately it's a little complicated and not entirely a spacemacs issue. Evil actually turns on `undo-tree-mode` itself if evil-mode is active in a buffer and `global-undo-tree-mode` is on

[2015-12-08 15:26] kalbr commented on #4063
#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 68e67fb)
- Distribution: spacemacs
- Layers:
[code]

[2015-12-08 15:32] justbur commented on #4000
hmm ok.

This is the only place in the emacs source that I can find that warning
https://github.com/emacs-mirror/emacs/blob/acfb5cd0353406784f085ddb6edfb0d0587048c8/lisp/tar-mode.el#L588-L592

To me that suggests that it's a bad tar file somehow, but it also is not an error. It's just producing a message.

[2015-12-08 15:35] wamaral commented on #4098
Here's my `SPC e v`:

[code]

[2015-12-08 15:44] axyz opened #4107 "eww integration"
quick web browsing inside emacs is very useful (especially with search-engines like google, stackoverflow, wikipedia, etc `SPC a /`).

However eww keybindings are almost non existent and quite buggy on spacemacs.

I may create my own bindings, but I think that being eww included by default on emacs they should be integrated on the spacemacs core and also they should be chose wisely to work correct

[2015-12-08 15:49] jupl commented on #4082
The biggest problem is that js2 (and from what I hear js3 as well) is that it doesn't work well with new/experimental JS. I was working on some experimental code and js2-mode completely breaks in syntax highlighting until I remove the offending new features, unlike js-mode, Atom, Sublime, Vim, etc. I opened an issue but because it's experimental code it's not something that js2-mode will fix. js-m

[2015-12-08 16:31] justbur commented on #4063
@kalbr I think I have an answer on `C-x`. It looks like the `multi-term` package is making changes to `term-raw-map` which is having the effect. This should rectify the situation for that key
[code]
You should be able to exclude that package entirely if you don't want that behavior, but @StreakyCobra was testing that method and it wasn't working exactly right yet.

That leaves the `C-/` problem wi

[2015-12-08 16:49] justbur commented on #4063
@darkfeline here's a stab at what you are asking for. Someone please feel free to turn this into a PR

The priority of Emacs keymaps is
 1. Overriding keymaps/overlay keymaps
 2. Emulation mode keymaps
  1. Evil Intercept keymaps
    - result of `(evil-make-intercept-map map)`
    - used to elevate minor mode maps
  2. Evil Local state keymap
    - `evil-normal-state-local-map`
    - `evil-insert-

[2015-12-08 17:30] Eilie opened #4109 "Rust "Suspicious state from syntax checker rust-cargo" error"
Hello, getting this error when cargo project has more than 1 binary.

[code]

[2015-12-08 18:20] syl20bnr commented on #4063
At fist it looks like Evil hierarchy is a mess. @justbur what's your opinion on this ?

[2015-12-08 18:21] justbur commented on #4063
@syl20bnr My opinion on what? Evil's hierarchy or how we use it?

[2015-12-08 18:25] syl20bnr commented on #4063
@justbur Do you think that all the levels are required ? Is it possible to simplify it ?

[2015-12-08 18:26] syl20bnr commented on #4063
@justbur Do you know an example for each level ?

[2015-12-08 18:28] justbur commented on #4063
Yes, I do actually. I don't understand how we would simplify it, since this is the framework set up by evil and emacs together.

[2015-12-08 18:54] syl20bnr commented on #4063
I'm looking for a way to simplify it at the user level, this is overlay complicated to my taste, especially with no example associated to them. But maybe with examples it will be OK, still, 5 internal levels introduced by Evil, this is impressive and I'm a bit confused/disappointed.

[2015-12-08 18:57] syl20bnr commented on #4063
@justbur If I rephrase my question: what are the levels impacted by bind-map ? What are the levels that make sense for spacemacs users ? Are there levels that are implementation details ?

[2015-12-08 19:04] justbur commented on #4063
With examples

 1. Overriding keymaps/overlay keymaps
  - magit section maps
  - micro states
 2. Emulation mode keymaps
  1. Evil Intercept keymaps
    - used to handle ESC in evil
  2. Evil Local state keymap
    - used by evil-leader
    - currently used by bind-map for evil keys with override-mode-maps option (chosen to emulate evil-leader priority)
  3. Evil Auxiliary keymaps
    - used if yo

[2015-12-08 19:31] syl20bnr commented on #4063
:point_up:  this is priceless, thank you!

[2015-12-08 19:36] agriffis commented on #4097
@syl20bnr Working now! Tested a few times and couldn't make it fail.

[2015-12-08 19:40] syl20bnr commented on #4097
@agriffis excellent! So I suspect that the issue was that `request.el` was trying to use curl behind the scene and for some reason in GUI it was not available. I removed the unnecessary dependence on `request.el` and used the builtin `url.el` of Emacs instead. Glad that it works, thank you for testing.

[2015-12-08 19:40] #4097 closed

[2015-12-08 19:40] syl20bnr commented on #4097
@StreakyCobra :joy:

[2015-12-08 19:42] syl20bnr commented on #4087
Need investigation to know if this should be reported upstream or not.

[2015-12-08 20:10] TheBB commented on #4109
Probably upstream problem.

https://github.com/flycheck/flycheck-rust

[2015-12-08 20:12] StreakyCobra commented on #4063
@justbur [For the posterity](https://github.com/syl20bnr/spacemacs/wiki/Keymaps-guide). And if you learn new information about all this ;-)

[2015-12-08 20:49] darkfeline commented on #4063
Wow, that's messy.  How does this simplification sound?

### Emacs/Spacemacs

1. Other
3. Minor mode (+user)
4. Major mode (+user)
5. Global (+user)

### Vim/Spacemacs

2i. Other
2iii. Evil User Major/Minor modes (`evil-define-key`)
2iv. Evil Major/Minor modes
2v. Evil User Global (`evil-global-set-key`)
2vi. Evil Global

Spacemacs's modifications would go where the user's customizations go, then

[2015-12-08 21:41] lunaryorn commented on #3985
@globin Uhm, I'm sure that there's a misunderstand somewhere.  You still need both libraries for a seamless Rust setup.

[2015-12-08 22:11] darkfeline commented on #3978
No regression, thanks.

[2015-12-08 22:24] darkfeline commented on #4087
This only started happening when I switched from my personal elfeed layer to the newly introduced elfeed layer.  In particular, that layer adds `elfeed-org` and `elfeed-goodies`.  Will investigate further.

[2015-12-08 22:29] gigawhitlocks opened #4111 "flycheck-pos-tip throws error in console emacs"
When running Spacemacs in the console, Flycheck emits an error when the cursor is placed over a bug it has detected in code.

The error displayed is the following:
```Flycheck error display error: (error Window system frame should be used)```

This appears to emanate from the `flycheck-pos-tip` package, which I've excluded in my `.spacemacs` file to allow flycheck to work normally as a workaround,

[2015-12-08 22:34] StreakyCobra commented on #4111
If the package is excluded it shouldn't happen :-/ It's probably on our side.

[2015-12-08 22:34] gigawhitlocks commented on #4111
It's included by default. I merely excluded it in my personal config as a workaround (and wanted to document that for anyone who winds up here from Google)

[2015-12-08 22:36] icymist commented on #4000
Ok. I think I found the issue. The issue might not actually be spacemacs. Can someone give me the full url of the org-plus-contrib package that is being downloaded by spacemacs? I can then verify and report back.

[2015-12-08 22:36] StreakyCobra commented on #4111
Oh sorry, I understood it was still happening after excluding it.

[2015-12-08 22:37] gigawhitlocks commented on #4111
Nope, excluding the package fixed the issue. If the issue is happening upstream, fixing it from Spacemacs' perspective may be as simple as detecting whether the user is running emacs in console & not loading `flycheck-pos-tip` in that case.

[2015-12-08 22:38] StreakyCobra commented on #4111
Yes I got it. I remember having seen a discussion about this somewhere, but I can't find it back right now.

[2015-12-08 22:39] gigawhitlocks commented on #4111
Awesome, just wanted to be sure y'all were aware :+1:

[2015-12-08 22:43] CestDiego commented on #4111
There is a PR by @travisbhartwell that addresses this I think: https://github.com/syl20bnr/spacemacs/pull/2652

[2015-12-08 22:44] justbur commented on #4063
@darkfeline I don't understand what you mean by "simplification". Are you referring to how it is presented to the user? I was just reporting the hierarchy as it actually exists.

[2015-12-08 22:47] justbur commented on #4000
@icymist http://orgmode.org/elpa.html is the information and http://orgmode.org/elpa/ is the listing

[2015-12-08 22:49] #4087 closed

[2015-12-08 22:52] darkfeline commented on #4063
Yes, and how Spacemacs uses it, ideally, for example, keeping all of its bindings limited to a few levels instead of spreading them across all of them.

[2015-12-08 22:56] nugend opened #4112 "Editing a hunk with git add -i is weird"
No standard insert mode seems to be supported, so removing a '-' line involves cutting and pasting a space. Normal mode doesn't work correctly so normal motion keys can't be used. No undo, etcetera.

Pretty weird in general.

[2015-12-08 23:07] StreakyCobra commented on #4111
This issue "follows" a recent change in the library explained here: https://github.com/syl20bnr/spacemacs/issues/2110#issuecomment-155156220

@CestDiego It happens even when not in daemon mode, so it's not linked to this PR.

@lunaryorn It seems `pos-tip` doesn't support non-GUI frame and throws an error. Do we need to handle this on Spacemacs side, or is it better to solve it in `flycheck-pos-tip

[2015-12-08 23:18] StreakyCobra commented on #4112
Could you give some reproduction steps? I mean, not how to have changes on the git repo, but what you are doing then. On my side `git add -i` doesn't involve `$EDITOR`, and in spacemacs this is done within `magit` with its own bindings.

[2015-12-08 23:20] icymist commented on #4000
Looks like some access restrictions on my side (see screenshot). I see that when I try to download the package from the browser. So, definitely not an issue from spacemacs. Sorry for the noise.

Either it is the anti-virus (McAfee) or something else, that is blocking access. I will try to figure out. If someone has an idea, please let me know.

![09-dec-15 00-15-39](https://cloud.githubusercontent

[2015-12-08 23:21] justbur commented on #4063
Many keybindings are set by packages and i think it's fair to say that it's
too much work to reconfigure all of the packages. So to the extent that
packages spread out keybindings we have to respond to that. Ideally yes but
it's just not simple. If you have a question about a particular choice then
I can probably give you the rationale.
On Tue, Dec 8, 2015 at 5:52 PM darkfeline <notifications@gith

[2015-12-08 23:22] icymist commented on #4000
Just a suggestion. I might have figured out this was the problem if I had access to the full url from the error logged in the 'messages' buffer. Maybe it's a good idea to echo the full url in case of an issue.

[2015-12-08 23:26] nugend commented on #4112
I'm not sure what to describe, sorry. I added a file using `git add -i`, used the 'e' command to edit the hunk, and was dropped into spacemacs with aforementioned weird behavior.

My `$VISUAL` is also set to emacs if that helps?

[2015-12-08 23:27] StreakyCobra commented on #4000
The displayed message is not handled by Spacemacs so we can't do anything :-(

It's a `cisco` message, so probably not your machine but the configuration on some parts of your network.

[2015-12-08 23:39] StreakyCobra commented on #4112
Ok, a wrong configuration on my side, sorry. Yes it's not usable as it is. It's defaulting to `diff` mode, and there is some weird behaviours there :-/

@justbur It's weird because it's evilified, but there is no `normal` state, it's inserting characters like in `insert` state, but `SPC` is triggering the spacemacs leader. If you have an idea how to correct this properly :-)

[2015-12-09 06:42] syl20bnr commented on #4042
This is merged in develop, I guess that binding directly into the neotree keymap should work.

[2015-12-09 07:24] tuhdo commented on #4047
That fixed it. Thanks.

[2015-12-09 07:32] lunaryorn commented on #4111
@StreakyCobra I think that flycheck-pos-tip should not fail on TTYs.  I can't show a popup either, though, because pos-top is explicitly about GUI tooltips.  And I don't want to use popup.el as fallback, lest I introduce all those display issues again that I hoped to fix by moving back to pos-tip.

I think it'd be best to fall back to the standard echo area display, but make the fallback customisa

[2015-12-09 08:26] nixmaniack commented on #4111
Fallback to echo area is be better. On my remote ssh session where I don't have display, there as well I hit similar issue. I skipped using flycheck-pos-tip and added following for a workaround.
[code]

[2015-12-09 08:32] ltn614 opened #4114 "evil normal state substitute problem"
I was try to add a line number to each line of my text file like I did in Vim by use:
:%s/^/\=line(".") . ". "/g
then I get this msg "Expected @ after \=" and my substitute operation didn't work out.
Am I missing something or this thing didn't work as well as vim.

[2015-12-09 08:39] dsdshcym opened #4115 "[OS X] Rollback packages failed when there is a .DS_Store file"
With this error:

[code]

[2015-12-09 09:08] fandag commented on #4070
Regarding the original question on key bindings in the mu4e layer, should we add something like

    (spacemacs/set-leader-keys-for-major-mode 'mu4e-compose-mode
      (if dotspacemacs-major-mode-leader-key
          dotspacemacs-major-mode-leader-key
        ",") 'message-send-and-exit
        "a" 'message-kill-buffer
        "c" 'message-send-and-exit
        "k" 'message-kill-buffer)

to the mu

[2015-12-09 09:23] StreakyCobra commented on #4111
Reported upstream: https://github.com/flycheck/flycheck-pos-tip/issues/11

[2015-12-09 09:43] globin commented on #3985
Hm OK I don't get this but I'll believe you \o/

[2015-12-09 09:43] #3985 closed

[2015-12-09 09:45] darkfeline commented on #4070
`message-mode`, I think Gnus uses it too since it is Emacs's mode for composing emails, not exclusive to mu4e.

[2015-12-09 09:50] lunaryorn commented on #3985
@globin I'm sorry; it seems that we fail to properly explain the purpose of flycheck-rust.  I'd like to address this issue with better documentation.  Would you mind to explain what is unclear?

[2015-12-09 10:09] lunaryorn commented on #4109
It has already been reported, see flycheck/flycheck-rust#16.

[2015-12-09 10:10] lunaryorn commented on #3985
By the way, @globin, https://github.com/syl20bnr/spacemacs/issues/4109 is why you'll still need both.

[2015-12-09 10:13] lunaryorn opened #4116 "Magit fails with void-function keymap"
In latest `develop` (ddd5e7112d2f6d45bc64fc4ad4979360c7e3ef5f) and latest Magit (`magit-20151208.1407`), `magit-status` fails with the following error and backtrace:

[code]

[2015-12-09 10:17] dsnipe commented on #4116
Same here.
OSX 10.9.4

[2015-12-09 10:22] StreakyCobra commented on #4116
We are aware of this, it's probably due to a bug between a recent `magit` change and `evil-magit`. Workarounds are:

- Rollback the package update; or
- Exclude `evil-magit` (but loose its functionality)

[2015-12-09 10:22] nixmaniack commented on #4116
I have also reported upstream here https://github.com/justbur/evil-magit/issues/10

[2015-12-09 10:28] lunaryorn commented on #4116
@StreakyCobra I can't rollback; it was a fresh installation :cry:  By the way, where does Spacemacs keep its package snapshots for rollbacks?  I'm not using Spacemacs' "Update" button; I update my packages with Paradox.

[2015-12-09 10:30] dsnipe commented on #4116
@lunaryorn You can exclude `evil-magit` in config: `dotspacemacs-excluded-packages '(evil-magit)`. It's much easer.

[2015-12-09 10:37] lunaryorn commented on #4116
@dsnipe I know, I've done that already.

[2015-12-09 10:37] StreakyCobra commented on #4116
@lunaryorn `~/.emacs.d/.cache/.rollback`

[2015-12-09 10:39] lunaryorn commented on #4116
@StreakyCobra Thanks.  I don't have that directory, though, so I presume Spacemacs doesn't create snapshots when updating packages through Paradox, does it?

[2015-12-09 10:40] StreakyCobra commented on #4116
@lunaryorn Probably not, but I'm not sure though.

[2015-12-09 10:41] nixmaniack opened #4117 "How do I make helm-swoop to open at bottom with full window width?"
At present, helm-swoop opens helm buffer at the bottom of the same buffer when there is (literal) vertical split.

[code]

I want it to behave like normal helm buffers where it opens at bottom with any window configuration. I tried understanding `spacemacs-helm-display-buffer-regexp` which currently controls this behaviour according to [this](https://www.reddit.com/r/emacs/comments/345vtl/make_hel

[2015-12-09 10:41] TheBB commented on #4116
I'm afraid not.

[2015-12-09 11:40] TheBB commented on #1258
Just merged and fixed.

[2015-12-09 13:10] agriffis opened #4120 "emacsclient -nw reuses window layout from another frame"
This is a problem I'm seeing on develop which I wasn't seeing on master.

Consider two terminals. The first is running `emacsclient -nw` with three files:

![screenshot from 2015-12-09 07-50-44](https://cloud.githubusercontent.com/assets/50637/11686061/e5a5ad00-9e4b-11e5-9e76-3a82ec3e14e6.png)

In the second terminal, we run `emacsclient -nw file4.txt`. We expect this should show *only* the reques

[2015-12-09 14:34] perfectayush opened #4121 "Emacsclient in terminal closing itself on develop branch"
On the develop branch, when opening an emacsclient instance in terminal using "emacsclient -t", emacsclient closes unexpectedly.
![emacsclient](https://cloud.githubusercontent.com/assets/1427611/11687819/e584c9f6-9eae-11e5-8514-7f3a945d5f93.gif)

This issue doesn't happen on the stable branch, and it doesn't happen when creating GUI Frames from the terminal using "emacsclient -c". There is no erro

[2015-12-09 14:52] StreakyCobra commented on #4116
Issue has been fixed upstream by @justbur :+1: and is available on Melpa.

[2015-12-09 14:52] #4116 closed

[2015-12-09 14:57] lunaryorn commented on #4116
Thank you all :smiley:

[2015-12-09 15:30] Andre0991 commented on #4107
I like your idea. It would be nice to have `eww` integration, either by default or via a layer.

I think using most of Vimperator's keybindings is a good idea.

[2015-12-09 15:35] syl20bnr commented on #4107
+1

[2015-12-09 15:58] axyz commented on #4107
I'd like to prototype a pull request for this on coming days.

I should be able to manage to do it on a custom layer, however as there are no external packages to be installed and also no default keys being overwritten I guess it should be put on the core.

For this second option I'd need some guidance: where is the correct place to put custom keybindings on spacemacs core? Some example of well wr

[2015-12-09 16:34] agriffis opened #4123 "repeat (.) after search (*) repeats the search"
Search with `*` then perform an action. Search again with `*` and then hit `.` to repeat the action.

Instead of repeating the action, the search is repeated. Whoops.

I think this might be new on develop, since I think I would have noticed this on master.

[2015-12-09 16:56] fintelkai commented on #4107
This is very timely for me. Just this morning, I decided to try using eww for at least some reading on the web. I'd like to point out that eww defines a set of useful modal keybindings (such as "q" for quitting the browser), which are active in spacemacs when in emacs or hybrid mode. It might be good to copy these as much as possible into whatever keybindings you decide on. There's some documentat

[2015-12-09 17:08] agriffis commented on #4121
I'm suspicious this has the same underlying cause as #4120

[2015-12-09 17:09] fintelkai commented on #4107
Here's a list of keybindings in the order they appear on the manual page:

* `q` eww-quit
* `g` eww-reload
* `w` eww-copy-page-url
* `d` eww-download
* `l` eww-back-url
* `r` eww-forward-url
* `H` eww-list-histories
* `b` eww-add-bookmark
* `B` eww-list-bookmarks
* `&` eww-browse-with-external-browser
* `v` eww-view-source
* `C` url-cookie-list

[2015-12-09 17:11] fintelkai commented on #4107
Here's another set of keybindings: http://oremacs.com/2014/12/30/ace-link-eww/

[2015-12-09 18:34] TheBB commented on #4107
@axyz in that case it sounds like it would fit better in the Spacemacs layer, rather than in core. It works much like any other layer.

[2015-12-09 18:44] axyz commented on #4107
@TheBB then I'll start with a layer

@fintelkai honestly I find vimperator keys more easy to remember, but as stated before I'm not used to emacs keys (except `C x C c`, `C a` and `C e` :P ) so if those are commonly used keys we could use them when edit style is set to `emacs`

[2015-12-09 18:50] StreakyCobra commented on #4120
It is due to `spacemacs-layout`. This also happen on GUI mode with emacsclient. In short layouts are used to keep and restore windows positions and buffers. There is a default layout, let's call it `Home`, that contains all buffers and remember the windows positions. When you open one frame with `emacsclient`, the default layout is selected and when you split the screen or open a buffer, the state

[2015-12-09 18:54] syl20bnr commented on #4107
@axyz Go for vimperator bindings with evilification of eww keymaps. This way people using Vim style will get vimperator like bindings, people using Emacs style will get default eww bindings.

[2015-12-09 19:02] aaronkavlie-wf opened #4124 "Support Emacs lisp keybindings in Clojure mode"
Emacs lisp has some [useful keybindings](https://github.com/syl20bnr/spacemacs/blob/master/doc/DOCUMENTATION.org#emacs-lisp-specific-key-bindings) like "go to end of line and evaluate last sexp" that are absent from the Clojure mode keybindings.

[2015-12-09 19:09] justbur commented on #4112
The short answer is `C-z` gets you into emacs state from which all of the emacs bindings are available.

The issue is that you are in evilified state, which is not a proper editing state and is also difficult to get out of. I'm not sure what the right answer is here. Here are two possibilities

  1. enhance evilified state for diff mode so that the operations you need to use in this case are bound

[2015-12-09 19:09] justbur commented on #4112
@syl20bnr :point_up:

[2015-12-09 19:28] bmag commented on #4124
Some of these bindings already exist, see here: https://github.com/syl20bnr/spacemacs/blob/develop/layers/%2Blang/clojure/packages.el#L215
I see that Clojure is missing `e l` and `e $` (both mean "go to end of line and evaluate last sexp"), and `e c` ("evaluate current form"). Did you have more bindings in mind?

[2015-12-09 19:36] shanesveller opened #4125 "Package deletion failing on OSX with trash installed via Homebrew"
#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 98c0702)
- Distribution: spacemacs
- Layers:
[code]

#### Summary

I decided to dip my toes into `develop` again, and am seeing a repeat of the `Mac error -1700` portion of [this closed GitHub issue](https://github.com/syl20bnr/spacemacs/issues/3570). It may also be related to [this open issue](htt

[2015-12-09 19:46] aaronkavlie-wf commented on #4124
The "go to end of line" bindings are the ones I noticed missing. Didn't have any other specifics in mind, just bring it to parity with the elisp bindings  :-)

[2015-12-09 19:47] shanesveller commented on #4125
Possibly worth noting that this appears to only effect Emacs in the terminal, but the GUI version might be working as intended? I will work on a minimal `$PATH` value to see if that makes a difference.

[2015-12-09 20:27] agriffis commented on #4120
@StreakyCobra But the problem is that the first emacsclient is still open. There are two things I think we know in this case: (1) If the first emacsclient is still open, we probably don't want to reuse a layout that's still in use. (2) If we explicitly mention file(s) on the command-line, we probably don't want to reuse a previous layout anyway.

(I'm suspicious that I don't want `spacemacs-layout

[2015-12-09 20:34] StreakyCobra commented on #4125
Can you try excluding the `exec-path-from-shell` and try again?

[2015-12-09 20:52] magthe opened #4127 "`SPC :` not working after some updates"
After some updates I see this when pressing `SPC :`:

[code]

It would be nice to have it fixed so I can use `restart-emacs` when upgrading.

[2015-12-09 20:52] agriffis commented on #4120
By the way, I don't have `(setq-default dotspacemacs-configuration-layers '(spacemacs-layouts))` in my `.spacemacs` but it seems to be loading anyway.

[2015-12-09 21:00] shanesveller commented on #4125
@StreakyCobra Thanks for the suggestion, but that does not appear to help. If I manually install an orphan package, exclude `exec-path-from-shell` and make sure it's absent, the next time I start emacs I still get the `Mac error -1700` behavior if the `osx` layer is enabled.

[2015-12-09 21:11] StreakyCobra commented on #4120
@agriffis `spacemacs-layout` is part of the `spacemacs` distribution layer, so it is there anyway. Yeah I got it that the problem is when there is a second client opened. As I said it's a normal consequence of `spacemacs-layout` functionalities, and it means it should be improved as it's clearly not the wanted behaviour when using `emacsclient` :-)

[2015-12-09 21:13] StreakyCobra commented on #4125
Ok. I've tried at least :wink: I'm not an OS X guy, so I'll let other people handle this one :-)

[2015-12-09 21:19] agriffis commented on #4120
@StreakyCobra yeah I'm just catching up on what `spacemacs-layout` is and how it works, so my apologies for earlier confusing comments. Probably I don't want to kill it completely. :-)

[2015-12-09 21:29] kevincolyar commented on #4098
Same issue here opening ruby files via terminal emacs:

    Error (use-package): enh-ruby-mode :config: Symbol's function definition is void: sp-with-modes

[code]

[2015-12-09 22:12] ssbanerje commented on #3753
I get the same problem in 24.4

[2015-12-10 00:08] s3bs commented on #1743
@TheBB I get this error too. My search revealed that `layers/+distribution/spacemacs/packages.el` is using the macro `spacemacs|custom-flycheck-lighter`.
The way to reproduce it is, that one does not enable the syntax-checking layer, where that macro is defined, but still loads flycheck through other means. Therefore causing an error. The configuration of the powerline for flycheck should be done

[2015-12-10 00:39] syl20bnr commented on #4121
Confirmed to be a duplicate of #4120

[2015-12-10 00:40] syl20bnr commented on #4120
Fix PR sent upstream: https://github.com/Bad-ptr/persp-mode.el/pull/25

[2015-12-10 00:51] nugend commented on #4112
My guess is normal state since the purpose of editing hunks is that you edit them, not just changing '+' and '-'

Otherwise git interactive add would actually take care of that part (I mean, it's the one git command I know of that *doesn't* just dump you into the editor).

FWIW, I think the evilified state for rebase -i stinks on ice. I should actually look up the way to turn that off...

[2015-12-10 01:15] justbur commented on #4112
@nugend are you on master or develop?
If it's master, I think this should work to disable in both of those modes:
[code]

[2015-12-10 01:16] justbur commented on #4112
:point_up: in `dotspacemacs/user-config`