[2015-11-07 23:26] icambron commented on #3237
@jneen see also #2020

[2015-11-07 23:27] icambron commented on #3561
I also reported this as #2020

[2015-11-07 23:37] swaroopch commented on #1455
Closing this as @StreakyCobra says it is working now -- https://github.com/syl20bnr/spacemacs/issues/1455#issuecomment-152332991

[2015-11-07 23:37] #1455 closed

[2015-11-07 23:43] cgag commented on #780
I can't really remember what I expected.  It seems pretty good to me, I think there was no way to get back to my code before.  I'd call this solved.

[2015-11-07 23:43] #780 closed

[2015-11-07 23:57] icambron opened #3707 "spc s L should find the last search"
I could definitely be misunderstanding something, but if I use `spc s p` to search for something and then later do `spc s L`, I only see this message in the minibuffer:

[code]

I expect it to bring up the previous search results in helm. If this expectation is correct and it's not trivial to fix, I'm happy to take a crack at it. In the meantime, I can use `spc h l` as a workaround (though since I

[2015-11-08 05:23] nixmaniack commented on #3707
Currently `SPC s L` only works if you have saved results after you searched and saved them using `F3`.
But yes, it would be nice addition to have `SPC s L` to work as `SPC h l` with last searched term.

[2015-11-08 05:45] icambron commented on #3707
Oh, thanks. I'll edit the title.

[2015-11-08 05:59] tommyjiang commented on #2477
Thanks for providing the solution @sooheon

[2015-11-08 07:55] nixmaniack opened #3711 "Unable to quit out of git-blame-micro-state if invoked on untracked file"
Open any untracked file and do `SPC g b`. It'll error out with `user-error: Buffer isn't visiting a tracked file
` and it enters micro-state from which you can't exit out with `C-g`, `fd`, `ESC`, `ESC ESC ESC`, `q`.

[2015-11-08 08:11] tommyjiang opened #3713 "Symbol's value as variable is void: auto-complete-mode after pressing SPC t a"
I use Emacs 24.5.1 & Spacemacs 0.104.4 on OS X 10.11.1.

When I first add the layer `auto-completion` and restart Emacs to install the new packages including `company` and others, the auto completion function works well for me.

However, when I restart Emacs and open the `.spacemacs.d/init.el` file then press `SPC t a` to enable auto-complete-mode I get the error
[code]

I try this in LaTeX mode w

[2015-11-08 08:17] bmag commented on #3700
It's not that easy to disable the user from selecting\* another window. Closest thing I know, without doing further research, is that you can try to add a `(no-other-window . t)` window parameter for helm windows, which in some cases prevents the user from selecting that window.
Anyway, this is entirely a helm issue and not specific to spacemacs. I suggest you report the issue to helm instead, or

[2015-11-08 09:17] emmanueltouzery opened #3716 "java layer, eclim integration: Missing argument for option: n"
Trying the `eclim` integration offered by the `java` layer, I started the `eclimd` server, tried to configure it in my `.spacemacs` (maybe I didn't set it up properly, it's my first attempt).

 I configured it like that:

[code]

(I'm using the `eclipse` package provided by fedora, the executable is at `/usr/bin/eclipse`. It's very possible that I didn't configure the `eclim-eclipse-dirs` the way

[2015-11-08 09:22] emmanueltouzery commented on #3716
ok that's probably this one https://github.com/senny/emacs-eclim/issues/180

[2015-11-08 10:37] lunaryorn opened #3717 "avy jump signals args-out-of-range error in YAML buffer with vim-empty-lines layer"
With `yaml` and `vim-empty-lines` layers enabled, `evil-avy-goto-word-or-subword-1` (on `SPC SPC`) fails with the following error in a  [YAML buffer](https://github.com/flycheck/flycheck/blob/6fe7e08b595f726c80c433ebfbab7a3fb5450c8f/.travis.yml),:

[code]

Removing the `vim-empt-lines` layer solves the issue.

**Edit:** Name the guilty layers.

[2015-11-08 10:57] StreakyCobra commented on #3717
I can't reproduce it here with your file. `yaml` layer enabled, emacs 24.5.1, last `develop`, packages updated.

[2015-11-08 11:07] lunaryorn commented on #3717
@StreakyCobra I dug a little deeper:  You need to enable the `vim-empty-lines` layer as well.  Without this layer, everything works fine, but if the layer is enabled any fails.

[2015-11-08 11:12] StreakyCobra commented on #3717
Indeed, I can reproduce it with `vim-empty-lines`.

[2015-11-08 11:14] StreakyCobra commented on #3717
Also, it's not related to `yaml-mode`, but to the content of the buffer. Setting my `.spacemacs` in `yaml-mode` and `SPC SPC` works, but pasting your `travis.yml` content in scratch buffer make `SPC SPC` fails.

[2015-11-08 13:08] 11Kilobytes opened #3721 "Spacemacs does not have a Lean major mode"
Hello everyone, I'm writing a major mode for the Lean proof assistant for Spacemacs. The official major mode is lean-mode, which requires the following packages in order to function: `dash dash-functional f s`
.
These packages are system packages that I feel I shouldn't own, as they will be needed by many layers other than mine. However, if these packages aren't installed then the mode won't work.

[2015-11-08 13:39] TheBB commented on #3721
Just add them to `dotspacemacs-additional-packages`. It's harmless.

[2015-11-08 14:11] tommyjiang opened #3722 "org-agenda-structure face attribute setting"
The original face attribute of `org-agenda-structure` in `solarzied.el` was

[code]

I would like to change this face to this:

[code]

When I change the code in `solarized.el`, it is OK.

But when I want to change it in `.spacemacs.d/init.el` like this:

[code]

Only the `foreground` changes and no change is made to `box`.

[2015-11-08 14:52] rebcabin opened #3723 "Anaconda-mode and issue #2917 returns?"
I am getting strange behavior in anaconda mode, which seems to be related to autocompletion and also to some kind of rapid-keystroke keychording.  I'll describe he two problems separately, but they occur in the same buffer.  I'm on the develop branch, all packages freshly updated, and my .spacemacs is here https://gist.github.com/rebcabin/829790cecdd539e19d66

consider the following python code in

[2015-11-08 14:54] TheBB commented on #3723
The first one is probably this https://github.com/proofit404/anaconda-mode/issues/128

The second is known, there is a PR in the pipeline to fix it.

[2015-11-08 15:16] rebcabin commented on #3723
Ok. I'll try the suggested workarounds in the link and in #2917

[2015-11-08 15:16] #3723 closed

[2015-11-08 15:51] StreakyCobra commented on #517
As far as I tested, I can't reproduce this. As the original author is not using django anymore, and there was no complaints since April, I close it. Feel free to reopen it or open a new issue if it appears again :smiley:

[2015-11-08 15:51] #517 closed

[2015-11-08 15:54] StreakyCobra commented on #2042
Do you still have this problem @swaroopch?

[2015-11-08 15:58] aaronjensen opened #3724 "Make C-c C-e in helm-find-files switch to wdired"
Right now, `helm-ag` has `C-c C-e` built in, a handy way to edit ag results. To do the same from `helm-find-files` requires hitting <kbd>F2 C-x C-q</kbd>. Could we add a command to `helm-find-files` at `C-c C-e` to do this for consistency sake? Should I propose this to `emacs-helm` or is this more a spacemacs/user level issue?

[2015-11-08 16:17] StreakyCobra commented on #3116
I'm closing this issue as the discussion seems to be over and points have been reported in #3198.

[2015-11-08 16:17] #3116 closed

[2015-11-08 16:31] StreakyCobra commented on #1488
I tried to reproduce all this, most of them seems working for me, but I'm not sure to understand all the problems. @xged Can you give an update about what is still a problem on last spacemacs version?

[2015-11-08 16:36] StreakyCobra commented on #2145
@syl20bnr Do you want this change? If yes we can label it as `beginner friendly`, if no it can probably be closed :relaxed:

[2015-11-08 16:39] StreakyCobra commented on #329
The PR #2990 will close this issue, if merged.

[2015-11-08 16:48] StreakyCobra commented on #3548
@jvillasante Does @TheBB solution answered your question?

[2015-11-08 17:41] StreakyCobra commented on #2103
I tested it and indeed it comes from having `mmm-mode` enabled. This mode is not enabled for `awk` and there is no reason it should be, so I close this issue (it's also a pretty old one). In any case, feel free to open a new one in case of trouble :smile:

[2015-11-08 17:41] #2103 closed

[2015-11-08 17:43] StreakyCobra commented on #2207
All the question of @jamiecollinson seems to have been answered, so I close this issue. Feel free to open an new one in case of troubles :relaxed:

[2015-11-08 17:43] #2207 closed

[2015-11-08 17:46] StreakyCobra commented on #3136
Does anyone still have this issue after updating packages and an up-to-date spacemacs?

[2015-11-08 17:54] StreakyCobra commented on #2012
@tko Do you still have this problem? If yes, can you provide a few more details on how to reproduce? :smile:

[2015-11-08 17:57] StreakyCobra commented on #2128
@robbyoconnor You ruby specialist, what do you think of this? :smiley:

[2015-11-08 18:04] StreakyCobra commented on #2691
There is no information on how to reproduce this, the issue is old, nobody else reported it, and the original poster is not responding, so I close this one. If anybody encounters this issue again, feel free to open a new issue :relaxed:

[2015-11-08 18:04] #2691 closed

[2015-11-08 18:14] h1kka commented on #3370
You can manually install evil-mc via `SPC : package-install [RET] evil-mc [RET]`. Error will gone after Spacemacs reload. But if you will press "Update Packages" on Spacemacs home buffer, error will come back.
Tested on win7.

[2015-11-08 18:16] StreakyCobra commented on #3001
Following @sooheon review, I agree this issue as one entity will probably go nowhere. I close it, but I encourage you @rebcabin to open new issues about the problem that weren't answered by this one :relaxed:

[2015-11-08 18:16] #3001 closed

[2015-11-08 18:21] StreakyCobra commented on #1211
The key guide is now handled by `which-key`, which shows `[m]` in holy mode. Issue solved few releases ago, so closing this one :relieved:

[2015-11-08 18:21] #1211 closed

[2015-11-08 18:24] d12frosted commented on #3136
As I told - everything is fine now for me.

[2015-11-08 18:26] StreakyCobra commented on #2702
Is this a Spacemacs issue, or should it be reported upstream to `???` ?

[2015-11-08 18:44] chrisbarrett commented on #2702
Yeah, it's a layer issue. The period key is bound to trigger company completions. The problem is when the company popup is already open--it gives undesired behaviour. I'll have a look at it today.

[2015-11-08 19:24] StreakyCobra commented on #2702
Ok, I haven't look at it before. Probably removing these 3 lines should do the trick: https://github.com/syl20bnr/spacemacs/blob/develop/layers/+lang/scala/funcs.el#L94-L96

[2015-11-08 19:34] StreakyCobra commented on #1088
Waiting on PR: #2135 (#3211) was closed without being merged.

[2015-11-08 19:39] StreakyCobra commented on #1823
There is only few places left in the documentation containing either `<kbd>` or `<SPC>`. I'll let this issue for beginners.

[2015-11-08 19:55] StreakyCobra commented on #1634
The `c-c++` layer now contains notes about the `semantic` layer, and also about `srefactor` only available on `emacs >= 24.4`. `yasnippet` is working fine here even without the `semantic` layer.

All points being solved, I close this issue. Feel free to open a new issue in case of trouble :relaxed:

[2015-11-08 19:55] #1634 closed

[2015-11-08 20:04] StreakyCobra commented on #3233
@syl20bnr Maybe you want to milestone this on for 0.105?

[2015-11-08 20:14] StreakyCobra commented on #605
I can't reproduce this issue.

@kini Does this still happen to you with the last Spacemacs version and packages up-to-date?

[2015-11-08 20:19] kini commented on #605
As I said in my earlier comment, I could only reproduce this sporadically. On the latest spacemacs it seems harder than back then -- I just tried a couple dozen times and couldn't get it to happen. Could be because we're using "pop" shells now, which weren't in spacemacs when I reported this bug.

Let's close this since it seems so hard to reproduce.

[2015-11-08 20:19] #605 closed

[2015-11-08 20:19] kini commented on #605
(BTW, thanks for following up on the issue, @StreakyCobra!)

[2015-11-08 20:25] StreakyCobra commented on #605
My pleasure :-) Feel free to open a new issue if you have some news about it!

[2015-11-08 20:41] TheBB commented on #1922
Try for example `df M-/` in elisp mode.

[2015-11-08 21:01] StreakyCobra commented on #1922
Ok, thx :-) I see it now

[2015-11-08 21:09] d12frosted commented on #3549
- [ ] #480 Valid: easy to fix
- [ ] #1067 NRA: we already have change log in spacemacs home buffer
- [ ] #1245 NRA: already documented on master (in README)
- [ ] #1326 NRA: looks like it's fixed upstream
- [ ] #1837 Valid: easy to fix
- [ ] #2136 Unsure: looks like we can't help with it and upstream is not interested in fast solving this problem
- [X] #2304 Already closed
- [ ] #2448 Valid
- [ ]

[2015-11-08 21:16] TheBB commented on #1922
I just fixed it, actually. https://github.com/syl20bnr/spacemacs/commit/ee2442d8ce5772592525e3241b5dd2dddf6b0674

See... autumnal cleanup is working!

[2015-11-08 21:20] TheBB commented on #2899
Sorry, what I meant was that I could reproduce the *problem* (that it *doesn't* work), but now I can't, which is to say that it *does* work.

[2015-11-08 22:18] michael-heerdegen commented on #3700
I have closed the Helm issue because what aaronjensen wants has been default behavior in Helm for a very long time.

We have there the option "helm-prevent-escaping-from-minibuffer" that is true by default.  It does two things: it prevents the user from selecting any other window (see "helm-prevent-switching-other-window"), and it deactivates any mouse bindings (see "helm--remap-mouse-mode").  So

[2015-11-08 22:27] gnzlbg commented on #1922
nice :)

[2015-11-08 22:30] TheBB commented on #3700
No, that option is `t`, and escaping the minibuffer (with the mouse) is really easy. I see that is not the case with helm on its own, so we must be doing something wrong. Thanks.

[2015-11-08 23:44] roryokane commented on #481
If you want a minimap, as well as [sublimity](https://melpa.org/#/sublimity), there is also the [minimap](https://melpa.org/#/minimap) package. I have never tried either package. The minimap package seems to be more focused than sublimity – it implements a minimap but not smooth scrolling or buffer centering.

[2015-11-08 23:56] etergo commented on #3090
Okay, I've figured out what the problem is. I wanted to have a straight powerline separator, so I used the following code:

(setq powerline-default-separator 'nil)

Once I disabled this code emacs no longer freezes when I call helm-bookmarks on startup, but freezes when I re-enable it.

[2015-11-08 23:56] howdoicomputer opened #3726 "syntax-checker configuration for bundler"
I'm just starting out with Spacemacs and the Flycheck plugin seems to be unable to correctly guess my path to RuboCop. I'm pretty sure Flycheck allows wrapping a command through its API but I'm just starting out with Emacs Lisp and am a little confused about how to configure Flycheck to use `bundle exec` for RuboCop. Do I need to define an entirely new checker? Can I just specify the check name an

[2015-11-09 01:23] justbur opened #3728 "new package or local package for evil-indent-textobject"
@TheBB

Updating through quelpa is slow and hopefully is a temporary solution. What are the chances we can make your version of evil-indent-textobject into a package that extends the original or just use it as a local package?

[2015-11-09 02:03] swaroopch commented on #2042
Seems to be fixed now!

[2015-11-09 02:12] swaroopch commented on #2042
Hmm, not sure what combination of layers cause this, but this just happened when I had more than just `org` and `semantic` layers:

[code]

This is what I actually have now:

#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 3fb38773b326db1d18a811e229bf9054c349b696)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-09 04:17] vkz opened #3729 "Potential clash in `avy` when package in dotspacemacs-additional-packages depends on it"
Adding [lispy.el](https://github.com/abo-abo/lispy) to `dotspacemacs-additional-packages` results in a weird bug related to `avy` commands. Since there may potentially be an issue with how dependencies play out for something you install as `dotspacemacs-additional-packages` I'm raising this issue for someone to review and decide there's something for Spacemacs folk to consider.

Here's the issue a

[2015-11-09 05:33] nixmaniack commented on #3729
I hit this issue after updating packages, but didn't know if it was my configuration even though I don't have any lispy specific configs. I can't reproduce consistently though. I also faced `hydra` bug and had to require it before lispy started working again then this `Args out of range error` kept popping up inconsistently.

[2015-11-09 06:58] zilongshanren commented on #3671
@StreakyCobra
This issue seems disappeared after I remove some of my own configs. I should close it here now.
Thanks.

[2015-11-09 06:58] #3671 closed

[2015-11-09 06:58] zilongshanren commented on #3676
@bmag
I have brought semantic layer back again.

[2015-11-09 06:58] #3676 closed

[2015-11-09 06:59] #3362 closed

[2015-11-09 07:02] zilongshanren commented on #2110
@d12frosted
Sometimes it will happens, but sometimes the which-key pop windows can't be shown when cursor is on top of a flycheck warning or error.

[2015-11-09 08:13] xificurC commented on #3370
@h1kka that's because [you're not supposed to install packages through package-install](https://github.com/syl20bnr/spacemacs/blob/develop/doc/DOCUMENTATION.org#new-packages-from-elpa-repositories).

[2015-11-09 08:37] tko commented on #2012
Seems to work now. It was the debugger window that pops up to show the elisp backtrace, can't recall how to trigger it, `(debug)` maybe?

[2015-11-09 08:37] #2012 closed

[2015-11-09 09:48] louy2 commented on #2350
It is not. Thanks for reminding me.

[2015-11-09 09:48] #2350 closed

[2015-11-09 10:52] d12frosted opened #3733 "Using eyebrowse and spacemacs-layouts simultaneously"
In my opinion these two layers are not exclusive. And they should work together pretty well, allowing to boost productivity when working on several projects (domains).

Let me explain my usualy workflow with eyebrowse. Usually I separate available workspaces between different domains. For example, usually I had following separation.

workspaces | purpose
--- | ---
1-2 | org files
3-6 | main projec

[2015-11-09 10:55] d12frosted commented on #3733
Also, just to note - spaceline currently shows only tag of layout, but doesn't show tag of workspace - I believe both of them should shown in following form: `$layout_name | $workspace_number_or_tag | $window_number`.

[2015-11-09 10:57] simonjantsch opened #3734 "Problems with brackets in haskell-mode"
In haskell it is common to use anonymous function that are declared like this :
\x -> x+x
When specifying a function over for list or tuple type, one would write:
\\(x,y) -> foo or
\\[x,y,z] -> bar
When doing this however the bracket matching function of spacemacs escapes the first bracket sign after \ and thus all brackets in the document that come after are highlighted.

[2015-11-09 10:58] robbyoconnor commented on #3733
:+1:

[2015-11-09 10:58] nixmaniack commented on #3733
Yeah! :+1:

[2015-11-09 11:15] h1kka commented on #3370
@xificurC yeah, not recommended, but recommended ways doesn't work :)

[2015-11-09 11:25] robbyoconnor commented on #1445
This is not an issue.

[2015-11-09 12:11] TheBB commented on #3700
I picked apart Spacemacs until I had literally only ten lines of code left, and could still reproduce this issue. Turns out it's a minor incompatibility issue between Evil and Helm. After playing with bisect, it was introduced (from Evil's side, at least) in changeset [1067](https://bitbucket.org/lyro/evil/commits/c48ce9485572f20e4830b0d67cb00b78de225935) (July 28, 2012). That also gives us the so

[2015-11-09 12:25] syl20bnr commented on #3733
I'm not sure to understand the described level of indirection, I need a shorter description of the feature.

What brings eyebrowse to the table ? Different kind of `regular layouts` which can be applied to any `Spacemacs layout` ? Like different layouts of `Awesome` WM ?

[2015-11-09 12:28] syl20bnr commented on #3700
Nice :+1:

[2015-11-09 12:33] TheBB commented on #3733
Basically, it would be good if eyebrowse was entirely perspective-local.

[2015-11-09 12:34] d12frosted commented on #3733
For example, you are working on one project and need to have four files to be opened at the same time. For example, 3 source files and one shell. With eyebrowse I would use 3 workspaces - two source files in first workspace, third source file in second workspace and shell in the third workspace. They all are related to one project. And it would be nice to separate these 3 workspaces from other wor

[2015-11-09 12:35] d12frosted commented on #3733
Yeah, this is what I mean in one sentence without any reasoning.

[2015-11-09 12:54] TheBB commented on #3728
We could make it local. I believe it's unlikely to be on MELPA since it's a fork, unless we do some rebranding.

[2015-11-09 12:56] justbur commented on #3728
there are packages that are "plus" versions. I wondered if it could be that. I think local would be preferable to using quelpa indefinitely

[2015-11-09 13:01] xificurC commented on #3370
@h1kka I'm just saying the documentation clearly states if you install a package through `package-install` or `paradox` it won't persist. So we need to wait for a fix. As noted previously if you don't use this package you can put it in the excluded packages list for now or disregard the error.

[2015-11-09 13:05] justbur commented on #3728
I was trying to get rid of all of the quelpa packages (at least the ones that are pulled in by my config) which is possible if we can do something else with this one. See #3727 #3696

[2015-11-09 13:05] TheBB commented on #3728
Yes, I understand.

[2015-11-09 13:32] syl20bnr commented on #3733
We may need to ditch eyebrowse and code a package `persp-multiple-windows-configurations` to be free to integrate seamlessly with `persp-mode`.

I want us to avoid to use the word `workspace` because it may lead to some nasty confusions with the word layout`. I would prefer the term `windows-configuration`.

As week as this terminology, the windows configuration bindings would be in the `SPC w` na

[2015-11-09 13:38] syl20bnr commented on #3733
Depending on the dependency between persp-mode and windows configuration we may consider putting in behind `SPC l w` as already proposed.

[2015-11-09 13:45] TheBB commented on #3728
https://github.com/milkypostman/melpa/pull/3283

[2015-11-09 13:50] justbur commented on #3728
Seems reasonable to me
On Mon, Nov 9, 2015 at 8:45 AM Eivind Fonn <notifications@github.com> wrote:

[2015-11-09 14:06] justbur commented on #3370
#3727 should resolve this, although this seems to be a problem with using quelpa on certain people's machines

[2015-11-09 14:42] syl20bnr commented on #3728
Another solution than the rebranding is to take ownership of the package and just update the MELPA recipe to use your fork. I'm sure that MELPA maintainers will be opened to this solution given the current situation.

[2015-11-09 14:56] ReneFroger opened #3735 "Paste in Visual mode as in Vim"
This is by default by Evil. Paste some text from another application. Then I paste it into Emacs inside normal mode with `p`. Then switch back to the another application, select another text, copy it. Switch back to Emacs, visually select the text, and press paste. But the text inside the region will not be replaced with the text from the clipboard.

This is not with the default Vim.

See the answ

[2015-11-09 15:01] d12frosted commented on #3734
Do you mean that when you hit `\[` it inserts `\[\]` instead of `\[]`? If so, then you should share result of `SPC h d s` and also check that you don't have any funky settings for smartparens.

[2015-11-09 15:16] synic opened #3736 "`spacemacs-layouts` loading is broken."
The new `spacemacs-layouts` layer no longer persists the layouts.  It used to auto-load a default list of layouts, but now that no longer happens.

#### System Info
- OS: darwin
- Emacs: 24.5.7
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. d14f10e)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-09 15:18] simonjantsch commented on #3734
What I mean is, if i write
\\[x,y,z] -> [x]
then all bracket signs in the expression but the first one will be highlighted

[2015-11-09 15:20] TheBB commented on #3734
Because of unmatched parentheses? I can't reproduce this. Works fine here.

[2015-11-09 15:25] d12frosted commented on #3734
The same, works for me fine

<img width="255" alt="screenshot 2015-11-09 16 58 20" src="https://cloud.githubusercontent.com/assets/6507913/11037523/dd320eb8-8706-11e5-9613-32b1a4299815.png">

[2015-11-09 15:29] simonjantsch commented on #3734
Hm ok, im not sure why im having this but I'm using spacemacs out of the box pretty much. I am attaching a screenshot with the the file I was editing.
![screenshot_2015-11-09_16-25-49](https://cloud.githubusercontent.com/assets/13819379/11037595/cebe0d76-86fe-11e5-9765-c5531c60ea0f.png)

[2015-11-09 16:13] d12frosted commented on #3734
Could you, please, share your `.spacemacs` so I can check it out?

[2015-11-09 16:31] elubeck opened #3738 "org-set-tags only allows completing a single tag"
Hello,

Org-set-tags differs slightly from the expected behavior of being able to autocomplete multiple tags for a headline.  After autocompleting a single tag the minibuffer exits.  If multiple tags are in my history they can be completed, but novel combinations of multiple tags are not autocompleted.

Thanks

[2015-11-09 16:55] StreakyCobra commented on #3734
It would also be nice to share the problematic part of your file (if the content is not sensible). It will help to reproduce :relaxed:

[2015-11-09 17:09] d12frosted commented on #1742
[This](https://github.com/syl20bnr/spacemacs/blob/master/doc/DOCUMENTATION.org#powerline-font-installation-for-terminal-mode-users) is a good place for this.

[2015-11-09 17:14] StreakyCobra commented on #3733
Do we have to stop using the `Workspaces` label then :smile: ?

[2015-11-09 17:46] TheBB commented on #3711
I was about to merge your PR but I actually don't have this problem in the first place...

[2015-11-09 17:48] justbur commented on #3711
I can't reproduce this either

[2015-11-09 17:52] StreakyCobra commented on #2110
I can reproduce this:

- The `which-key` not showing problem can be reproduced by:
  - Open your `dotspacemacs` file: `SPC f e d`
  - Enable `flycheck`: `SPC t s`
  - Go one line above `(defun dotspacemacs/layers ()`
  - Go down one line (to the error), and press `SPC` between 0.5 and 0.9 seconds after being on it:

[code]
  - Notice `which-key` is not showing up

- The two `SPC` in the message-ar

[2015-11-09 17:52] nixmaniack commented on #3711
There's update in micro-state code. Perhaps it fixed it. I'll try it out now and if it has fixed, I'll close this.

[2015-11-09 17:52] justbur commented on #3711
What's the purpose of the blame micro state?

[2015-11-09 17:53] nixmaniack opened #3739 "micro-state broken in some places"
Everything up to date.

In `SPC b .` and `SPC n >` throws `while: Wrong type argument: stringp, 1 [14 times]`.

The commands do get executed but the error in minibuffer keeps popping.

[2015-11-09 17:55] nixmaniack commented on #3711
You can keep blaming back in the history by successively hitting `SPC g b` and then `b` `b` `b`.. till the git history takes you back.

[2015-11-09 17:58] justbur commented on #2110
Looks like an issue with popup.el, specifically these lines https://github.com/auto-complete/popup-el/blob/master/popup.el#L1075-L1076 are screwing with `this-command` which is something which-key uses to decide whether to show or not

[2015-11-09 17:59] justbur commented on #3711
But doesn't calling `magit-blame` again and again already do that?

[2015-11-09 17:59] nixmaniack commented on #3711
Yes. f7a2f9c2cd8956aef84e1eca894a43b712d09256 fixes this issue. So only the ms "doc" was getting generated which I wasn't able to quit.

[2015-11-09 17:59] #3711 closed

[2015-11-09 18:00] StreakyCobra commented on #3739
Yep, just reproduced it.

[2015-11-09 18:00] nixmaniack commented on #3711
@justbur How would you call magit blame in a buffer you're currently visiting? Micro state allows you to go back if you have gone far back in history with `q`

[2015-11-09 18:01] justbur commented on #3711
`M-x magit-blame`? I don't think I understand the question. `q` also works to step back

[2015-11-09 18:10] nixmaniack commented on #3711
Before the introduction of `evil-magit` and sophisticated evilification, keys like `q` were not working in normal state of emacs, so in essence it was impossible to quit out of magit-blame-mode. Now `q` works in normal mode fine with magit-blame buffer. There were open issues regarding this.

Also, if I start with `M-x magit-blame` I have to hit `b` to open popup and `b` to go deeper in history, s

[2015-11-09 18:16] lunaryorn commented on #2110
@StreakyCobra These are not Flycheck's tooltips.  You're using a [3rd party extension](https://github.com/flycheck/flycheck-pos-tip) for these that I neither wrote nor maintain.  I'm surprised that it uses `popup` now, it didn't when this project became part of the Flycheck org.  popup is a horrible library, known for many display issues and faulty interactions with other packages.

I'd recommend

[2015-11-09 18:21] TheBB commented on #3739
Here's the relevant part of the backtrace. `spacemacs//micro-state-set-minibuffer-height` is called with an integer. Looks like it's caused by @syl20bnr (CC) messing with that code last night.

[code]

[2015-11-09 18:22] StreakyCobra commented on #1445
I also can't reproduce this one, it has probably been solved in the meantime. @jarednorman In any case, feel free to reopen this one if its not the case, or open a new one if you encounter any other issue :relaxed:

[2015-11-09 18:22] #1445 closed

[2015-11-09 18:23] justbur commented on #3711
Hmm, I see. Thanks for the clarification @nixmaniack

[2015-11-09 18:25] StreakyCobra commented on #2110
Thanks @justbur and @lunaryorn for the explanations :+1:

[2015-11-09 18:45] TheBB commented on #3661
@axyz What are your thoughts on switching the react layer to using `js2-jsx-mode`?

[2015-11-09 18:48] d12frosted commented on #1869
@qqldd Is it still happening?

[2015-11-09 18:50] d12frosted commented on #2118
@carlosgaldino try to run `(getenv "PATH")` and see if it returns right value (compare it to `$ env | grep "PATH"`).

[2015-11-09 18:50] TheBB commented on #1869
Ah this one. I would be surprised if it's still happening. The modeline code has been through the wringer and doesn't look anything like it used to.

If it does still happen, it's a Spaceline bug and not a Spacemacs bug.

[2015-11-09 19:00] lunaryorn commented on #2110
@StreakyCobra @syl20bnr I noticed that the original author of `flycheck-pos-tip` has apparently left Github, so I've taken over maintenance of that extension.

I've reverted the change to popup and made the library use pos-tip again.  I hope that this should fix some, if not all, of the issues regarding these tooltips.  The changes should make it into the next MELPA build of `flycheck-pos-tip`, so

[2015-11-09 19:09] synic opened #3740 "`spacemacs-layouts` - creating a new layout does not start from home screen"
Creating a new layout, either with `SPC l l` or `SPC l p` no longer starts you from the home screen.  Instead, all the open buffers in the current layout are added to the new layout.

[2015-11-09 19:10] StreakyCobra commented on #2110
@lunaryorn Amazing :smiley: Thanks a lot.

Possibly related bugs, for the record:
- #2316
- #2033
- #2575

[2015-11-09 19:32] syl20bnr commented on #3733
@StreakyCobra Thank you, I renamed it :-)

[2015-11-09 19:33] bmag commented on #3733
Not necessarily. We can customize `persp-restore-window-conf-method` or `persp-window-state-get-function` and `persp-window-state-put-function` so that persp-mode uses eyebrowse as its window configuration engine. Alternatively, we can use `persp-activated-hook` to load a window configuration from eyebrowse.

This of course doesn't provide perspective-local eyebrowse workspaces, but those could be

[2015-11-09 19:41] bmag commented on #3733
Actually eyebrowse stores its workspaces as frame parameters, so it might be tricky (but probably doable) to save them as perspective-local variables, depending on implementation of perspective-local variables (if those will be implemented at all).

[2015-11-09 20:03] TheBB commented on #1921
This is documented now, so labeling this as fixed.

[2015-11-09 20:13] StreakyCobra commented on #1949
Can someone provide a backtrace of this (`emacs --debug-init` and/or `SPC t D`)?

[2015-11-09 20:24] conklech commented on #3232
@StreakyCobra One window in org mode, and the other in org-agenda mode. Some org-agenda actions would trigger rebalance.

Can no longer reproduce as of today's `develop`. Switching between org and org-agenda windows with M-1, M-2 now triggers rebalancing as expected.

[2015-11-09 20:27] StreakyCobra commented on #2108
I don't think it should be changed. The goal of `evil-org` is exactly to improve `org` support for `evil` mode. If an user wants to disable this package, then it's up to him to rebind keys he is missing.

[2015-11-09 20:35] StreakyCobra commented on #3232
@conklech Glad to hear :smile: I tried it again on `master` and it's not working there, so `Fixed in develop` :relaxed:

[2015-11-09 20:39] StreakyCobra commented on #2832
`spacemacs-layout` is now in `develop` :relaxed:

[2015-11-09 20:43] TheBB commented on #2108
I just tried disabling evil-org and the `<` and `>` keys do in fact dedent and indent respectively, as in regular evil. With `evil-org` they behave as @cpaulik mentioned.

I think we can close this then.

[2015-11-09 20:43] #2108 closed

[2015-11-09 21:07] kristian-puccio commented on #3661
I've been switching between react, js2-jsx and web-mode and they all have
little problems.

React:
formatting works well
snippets uses web-mode so getting log to be console.log is annoying
eslint works
comments are just <!--

Web-mode:
eslint doesn't work.
snippets aren't js.
comments work very well
formatting works well

js2-jsx:
eslint works well
formatting is off, I get spaces added to multilin

[2015-11-09 21:12] syl20bnr commented on #2145
If `SPC h s` is available then yes (even if `hs` in french is not really positive :-)).

[2015-11-09 21:17] axyz commented on #3661
Hi there, I was out of the city for a couple of weeks and I've not tried js2-jsx, from what you are saying the biggest problem is jsx formatting. If js2-jsx has a minor mode like js2-mode, we might just use it for comments and other provided functionalities.

As soon as I have some free time I'll get a look both at the improvements on web-mode and the new js2-jsx, as a quick fix we may look for a

[2015-11-09 21:19] StreakyCobra commented on #2145
`SPC h s` is bind **in the code only** to `'hl-save-highlights`, but as this package is excluded for 3 months now (because of a bug) we can probably chose another prefix for it the day we will bring it back.

[2015-11-09 21:23] syl20bnr commented on #2145
I thought about one maybe better, `SPC h h` ?

[2015-11-09 21:24] syl20bnr commented on #2145
I believe it is used for hl-anything too :-D

[2015-11-09 21:25] syl20bnr commented on #2145
oh I know !....

[2015-11-09 21:25] syl20bnr commented on #2145
`SPC h SPC` :-D

[2015-11-09 21:26] TheBB commented on #2145
You type github comments like @CestDiego types in IRC. :-P

[2015-11-09 21:26] StreakyCobra commented on #2145
Indeed for `SPC h h`, also used. I like `SPC h SPC` :+1:

Sold!

[2015-11-09 21:28] tonyday567 opened #3742 "Disable org until user-config"
From the org layer README:

[code]

It's a real gotcha, as both versions of org load silently, and you get errors down the track, a lot of which I'm seeing on gitter.  Function definition and use-package setup are both fine as they don't instantiate org in any way - it's the imperative code bits that are the problem.

Can we disable org completely during the layer configuration phase?  The problem

[2015-11-09 21:37] StreakyCobra commented on #3012
As the original issue was solved and the discussion moved to some points not directly related to Spacemacs, I'm closing this issue. Anyway, feel free everybody to open a new issue in case of problem :relaxed:

[2015-11-09 21:37] #3012 closed

[2015-11-09 21:47] kristian-puccio commented on #3661
sounds great, thanks

On 10 November 2015 at 08:17, Andrea Moretti <notifications@github.com>
wrote:

[2015-11-09 21:50] robbyoconnor commented on #2128
See #3067 which addresses this.

[2015-11-09 21:55] StreakyCobra commented on #1425
@luxbock @pennyan Is this issue still relevant for you, or has it improved?

[2015-11-09 22:03] StreakyCobra commented on #2512
This issue is not relevant anymore. Closing.

[2015-11-09 22:03] #2512 closed

[2015-11-09 22:04] StreakyCobra commented on #48
Not relevant anymore, as confirmed by @syl20bnr

[2015-11-09 22:04] #48 closed

[2015-11-09 22:08] StreakyCobra commented on #1059
@TheBB Is there a way to make a generic function working with all of those modes, or do we have to adapt the code for each one, in which case it should be better to report them upstream, no?

[2015-11-09 22:16] StreakyCobra commented on #2590
The different issues having been answered by @person808 and @dzhwinter, I'm closing it. @zhexuany feel free to open a new one in case of trouble :smile:

[2015-11-09 22:16] #2590 closed

[2015-11-09 22:32] StreakyCobra commented on #2110
@lunaryorn The changes didn't went well on my side :confused:. I'll open an issue on `flycheck-pos-tip`.

[2015-11-09 22:41] TheBB commented on #1059
I think so. If you go to an IELM buffer, for example, you'll see that there's a 'fake' linebreak between the prompt and the point after prompt. It's done with some kind of text property. This is how it should be done. Some REPLs don't follow this custom, and I believe they should.

[2015-11-09 22:45] StreakyCobra commented on #2128
@robbyoconnor :+1: Thx

[2015-11-09 22:49] StreakyCobra commented on #1059
For the record:

- [ ] Listing all REPL-like / terminal-like buffers in spacemacs
- [ ] Trying `G` in all of them
- [ ] Opening an issue upstream for all non `G`-compliant modes.

[2015-11-09 23:02] ysgard opened #3743 "neotree broken (not displaying files, display issues, cursor jumps to bottom)"
Neotree appears broken in the current pull of spacemacs.

Spc f t opens neotree as expected, but when I click on a folder, the entire file tree gets selected and no files appear in the opened folder.

If I use the keybindings to select a folder and hit enter, the cursor jumps to the bottom of the opened tree, and sibling folders below the opened folder disappear (but the sibling folders above the

[2015-11-09 23:04] TheBB commented on #3743
I seriously doubt that. :-D

[2015-11-10 00:31] michael-heerdegen commented on #3700
Eivind Fonn <notifications@github.com> writes:

I do know neither spacemacs nor evil, but what you have done sounds
reasonable.  But does this honor helm-prevent-switching-other-window ->
nil correctly now OTOH?  Some people might actually prefer the behavior
you consider a bug.

[2015-11-10 00:57] dsdshcym commented on #3098
This may not be the right place to ask this.
But why do we need to set the scroll margin to 5?
Is it for smooth scrolling?

[2015-11-10 02:01] louy2 commented on #3370
@xificurC
It's not that all the packages installed via `package-install` and `paradox` won't persist. Packages don't persist because by default Spacemacs purges packages not configured on start. In this case `evil-mc` is already configured, so it will persist. The rollback part is what would be lost, but it being a new package is not that important.

@justbur
Thanks for the fix, but yeah, I am kin

[2015-11-10 02:47] nixmaniack commented on #3098
@dsdshcym To have some context always visible when we're hitting top/bottom of buffer.

[2015-11-10 02:54] jasoncyu commented on #1516
I get it on moe-theme-dark, spacemacs-dark, zenburn, wombat, etc. I cycled
through a lot of themes and I always get this slowdown. If someone could
explain where in the code cursor colorization is done, I could take a stab
at trying to figure out where the slowdown is happening.
ᐧ

JASON YU

LinkedIn <http://www.linkedin.com/pub/jason-yu/39/799/28b> | 734.646.8410

On Sat, Nov 7, 2015 at 11:01 AM,

[2015-11-10 03:11] dsdshcym commented on #3098
@nixmaniack Thank you for your reply!
I think I'd better try to set the margin to 0 for a while to find out the differences.

[2015-11-10 03:31] nixmaniack commented on #1516
@jasoncyu Mostly [here](https://github.com/syl20bnr/spacemacs/blob/2670d01a7836c6f8cd40ce0bc53346dd2108c595/layers/+distribution/spacemacs-base/packages.el#L153-L177)

[2015-11-10 06:07] nixmaniack opened #3745 "spacemacs-layouts | previous layout key in micro-state"
Mostly old habit of hitting `p` for previous. And since we do support `p` for previous, in almost all micro-states, where there's `n`, this is inconsistent in layouts micro-state.

Since we navigate more than create layouts, I suggest we use `p` for previous layout and move projects opening layout  on `P`.

What everyone thinks?

[2015-11-10 06:25] nixmaniack commented on #3739
As a workaround I've just modified the function being used [how-many-str](https://github.com/syl20bnr/spacemacs/blob/2670d01a7836c6f8cd40ce0bc53346dd2108c595/layers/%2Bdistribution/spacemacs-base/funcs.el#L904-L909) as follows.
[code]

[2015-11-10 06:56] d12frosted commented on #3745
:+1: as emacs editing style user I totally support it

[2015-11-10 07:09] TheBB commented on #3700
Good point, I've changed it.

[2015-11-10 07:13] #3721 closed

[2015-11-10 09:10] d12frosted commented on #3736
The same here.

[2015-11-10 11:00] TheBB commented on #3728
Done as of https://github.com/syl20bnr/spacemacs/commit/8125ccea8f78d535af6f6bd8ea88e57d78a83a06.

[2015-11-10 12:01] nixmaniack opened #3747 "helm-locate-library - SPC h L - is broken"
Everything up to date on develop.

Fire up `SPC h L` and type something in input. Following error is generated.

[code]
Invoke `helm-locate-library` in clean Emacs (`emacs -Q)` which works. You can use script provided in helm to start helm cleanly.
[code]
And then `M-x helm-locate-library RET cl-lib` should work without any errors.

[2015-11-10 15:07] TheBB commented on #3747
Turns out this is due to `helm-fuzzier`. Not a Spacemacs bug. :-)

[2015-11-10 15:07] #3747 closed

[2015-11-10 15:49] aaronjensen commented on #3700
Awesome, thanks for tracking this down and fixing!

[2015-11-10 16:35] syl20bnr commented on #3745
I know that it won't be a popular choice but I would like to keep `p` for project as default because in spacemacs `SPC p` is project.

We an hybrid micro-state here which lies between conventional namespaces key bindings and a micro-state. The conventional key bindings has a higher priority.

If we want `p` back then we should have to put decouple the micro-state and `SPC l` namespace.

[2015-11-10 16:35] StreakyCobra commented on #3745
As a vim-editing-style user, I… also agree with this change, as I start getting used to `n/p` :smiley:

Sidenote, for me `SPC p l` will even have more sense that `SPC l P`. Just saying…

[2015-11-10 16:57] StreakyCobra commented on #3745
Thinking of it… As you want 4 basic concepts (`buffer`, `files`, `projects` and `layout`), the `layouts` concept is not that different from `buffers` or `files` (as now `spacemacs-layout` is part of spacemacs):

For accessing project-related elements:
- `SPC p f` is for project's files (and not `SPC f p`)
- `SPC p b` is for project's buffers (and not `SPC b p`)
- `SPC p l` would be for project's l

[2015-11-10 17:01] joehillen commented on #3745
:+1: for `SPC l P` as well

I was fine with that setting before the spacemacs-layout refactor and I had gotten used to `n` and `p` rather quickly. I think it would be fine to have both `p` and `N` bound to `persp-prev`.

[2015-11-10 17:13] StreakyCobra commented on #2316
As @ianbattersby's and @nosami's issues were solved long time ago, and nobody else reported them in the meantime, I'm closing this issue. Feel free to open a new issue in case of troubles :relaxed:

[2015-11-10 17:13] #2316 closed

[2015-11-10 17:13] StreakyCobra commented on #3136
@ntcong @justin808 Do you still have this problem?

[2015-11-10 17:59] StreakyCobra commented on #2772
I can't reproduce this. @zilongshanren Is this still the case for you?

[2015-11-10 18:14] StreakyCobra commented on #3388
@autosquid Does @sooheon's solution solved your issue?

[2015-11-10 18:22] robbyoconnor commented on #3684
Killing this.

[2015-11-10 18:22] #3684 closed

[2015-11-10 18:46] StreakyCobra opened #3750 "2-columns and 3-columns windows layout should not change golden-ratio"
Using `SPC w 2` and `SPC w 3` to change to 2 or 3 columns windows layout also changes the golden-ratio mode. As it's an user preference, it shouldn't be touched.

[These are the incriminated lines](https://github.com/syl20bnr/spacemacs/blob/develop/layers/+distribution/spacemacs-base/funcs.el#L384-L397):

[code]

[2015-11-10 19:19] StreakyCobra commented on #989
The `hl-anything` package have been excluded from spacemacs for months now, this issue is not relevant anymore. Feel free to reopen it if this behaviour appears again (if and when the package get re-integrated) :relaxed:

[2015-11-10 19:19] #989 closed

[2015-11-10 19:33] StreakyCobra commented on #1222
`SPC u SPC #` is already available in current release. Old issue, not relevant anymore.

For the record:

This would have break a loooot of keyboard layouts, even the `QWERTY` based ones (like french `AZERTY`, Swiss-french `QWERTZ`, etc.)

[2015-11-10 19:33] #1222 closed

[2015-11-10 19:37] StreakyCobra commented on #2043
As it has been merged upstream long time ago, it should have been corrected in all installations by now. I close this issue, but keep the `Fixed upstream` label though.

[2015-11-10 19:37] #2043 closed

[2015-11-10 19:39] StreakyCobra commented on #2813
As it has been fixed upstream long time ago, it should have been corrected in all installations by now. I close this issue, but keep the `Fixed upstream` label though.

[2015-11-10 19:39] #2813 closed

[2015-11-10 19:47] StreakyCobra commented on #2214
@codygman @antoinelyset @JoshTGreenwood Does anyone of you encountered this issue on a recent release?

[2015-11-10 20:00] StreakyCobra commented on #2545
Still happening with `spaceline` (and i3-wm in my case). It's not inverted between focused and unfocused windows, as previously suggested, but it's always the previously focused windows that is "highlighted". In other words, the highlighting is always one windows behind.

[2015-11-10 20:06] syl20bnr commented on #3745
This is an acceptable solution, since the scheme is a new `SPC <scope> <scope>` I guess the order of the scope is not very important. And this sequence is free so let's go for this solution :-)

[2015-11-10 20:09] syl20bnr commented on #3745
Actually we have already `SPC <scope> <scope>` if we consider `f` and `b` as scope but the distinction is rather blurry. `SPC l p` is really mixing two scopes together so... sorry of my previous sentence was not clear, the important thing is that we can go for the `SPC p l` solution :-)

[2015-11-10 20:10] syl20bnr commented on #3745
I note this issue as a regression then since we lost `SPC l p`.

[2015-11-10 20:13] syl20bnr commented on #3742
I'm not sure how we can do it.
Users should not put stuff in `user-init` that require packages but how to force this ?

[2015-11-10 20:18] StreakyCobra commented on #3742
We can first change the documentation to not encourage people putting any user code there :joy:

[2015-11-10 20:21] syl20bnr commented on #3733
Would this be a viable not too ugly solution to define a new data structure which is a perspective that points on a parent perspective which "shares" its buffer list ?

[2015-11-10 20:23] StreakyCobra commented on #1258
@edwintorok Do you still have this bug with the last Spacemacs release? If yes, can you try  #2635 and tell us if it works?

[2015-11-10 20:29] StreakyCobra commented on #1362
There is people using Spacemacs on Windows 7, and there don't seem to be too much problems with its installation, as confirms the 6 months without news on this issue. I'm closing it, but feel free to open a new one in case of trouble :relaxed:

[2015-11-10 20:29] #1362 closed

[2015-11-10 20:38] microamp opened #3752 "NeoTree key bindings (editing style: Emacs)"
Hi. I use Spacemacs with Emacs key bindings (i.e. `dotspacemacs-editing-style` set to `emacs`) and when I'm in a NeoTree buffer, `n` is bound to `evil-search-next` and `p` is to `neotree-previous-line`. I think the former should have been `neotree-next-line` instead. In other words, it looks like some of the NeoTree key bindings don't obey the editing style the user has set.

[2015-11-10 20:45] StreakyCobra commented on #2157
Can anyone reproduce this with a raw emacs? To know if it should be reported upstream or solved here?

[2015-11-10 20:53] mitchellgordon95 commented on #1949
Same problem. Not sure if this is relevant, but after startup I always have a buffer named "git-get-current-branch" that says

fatal: Not a git repository: ../.git/modules/.emacs.d

[2015-11-10 20:58] ssbanerje opened #3753 "Is spacemacs x86 specific?"
I am trying to run Emacs (`GNU Emacs 24.3.1`) with Spacemacs on a Power8 machine running Ubuntu (`Ubuntu 14.04.3 LTS`).

I am not sure why but the program crashes before starting -
[code]

However if I start the program as `emacs --quick`, the program runs properly, without spacemacs.
This is all using the default configuration that spacemacs comes with. The same config works perfectly on an Intel

[2015-11-10 21:05] StreakyCobra commented on #3752
`neotree` bindings are currently not really well handled. [They are defined](https://github.com/syl20bnr/spacemacs/blob/develop/layers/+distribution/spacemacs/packages.el#L1598) in the hook of `neotree-mode`, independently of the user-defined mode. You can use `C-n` and `C-p` in the meantime.

[2015-11-10 21:06] TheBB commented on #2772
I forgot, I fixed this in develop.

[2015-11-10 21:06] syl20bnr commented on #3753
Can you try with an emacs 24.4 or more recent release ?
Emacs 24.3.1 support in spacemacs is known to work but not really tested.

[2015-11-10 21:07] TheBB commented on #2772
https://github.com/syl20bnr/spacemacs/commit/cd7bf33278cc3b200e2a6000c696ad282defa5e3 if you're interested.

[2015-11-10 21:14] abaddon-E opened #3754 "Deleting user packages every initilizing"
why it must be do like this and delete every packages that I add to spacemacs form packages ?
I like use spacemacs but this is the worst I ever seen, make me sad and angry about this beautiful project.

[2015-11-10 21:20] syl20bnr commented on #3754
Are you installing packages by yourself or do you use the dotfile variables ?

- `dotspacemacs-configuration-layers` to install packages from a layer (you can search for them with `SPC f e h`)
- `dotspacemacs-additional-packages` for installing packages which are not part of any layer.

[2015-11-10 21:21] TheBB commented on #3754
Also set `dotspacemacs-delete-orphan-packages` to `nil` to turn this behaviour off.

[2015-11-10 21:24] codygman commented on #2214
I don't think I do, but can verify later.
On Nov 10, 2015 1:47 PM, "Fabien Dubosson" <notifications@github.com> wrote:

[2015-11-10 21:35] StreakyCobra commented on #2214
Ok. Try it, and if it is not a problem anymore, then we can probably close the issue, as it's an old one without activity for last 3 months :relaxed:

[2015-11-10 21:41] robbyoconnor commented on #1874
This is still an issue...

[2015-11-10 21:44] StreakyCobra commented on #1846
@BlinkD What the current status of this bug? For me `SPC m . r` exits the micro-state (which is a bug indeed)

[2015-11-10 21:47] TheBB commented on #3607
Fixed by #3670.

[2015-11-10 21:49] TheBB commented on #3750
Fixed by #3751.

[2015-11-10 21:55] StreakyCobra commented on #2163
@cpaulik Does your `notmuch` layer improved? :smile:

[2015-11-10 22:11] StreakyCobra commented on #1504
I can't reproduce the original issue (which is pretty old), the original author has said being satisfied by the solution and the ending discussion having also been answered, I'm closing this issue. In any case, feel free to open a new issue in case of troubles :relaxed:

[2015-11-10 22:15] StreakyCobra commented on #1588
@zilongshanren If you have solved your problems, then we can probably close this issue. If you think this should be Spacemacs' default, I suggest you to PR your changes :relaxed:

[2015-11-10 22:26] PierreR opened #3755 "Next/previous error should cycle instead of stopping at the end/start of the buffer"
It would be much more convenient if `next/previous-error` (`SPC-e-n`, `SPC-e-p`) would always cycle to the next error instead of stopping at the end/start of the buffer.

In that regard, `SPC-e-n` for instance will always find an error if there is one.

[2015-11-10 22:27] cpaulik commented on #2163
No. I'm using mu4e now.

[2015-11-10 22:28] StreakyCobra commented on #2064
@geo7 What's the current status of this issue?

[2015-11-10 22:40] bmag commented on #3733
The definition of perspective objects:
[code]
Honestly, I don't know if your proposition is viable or not, but wouldn't we need to define a new structure and make persp-mode use it instead? We will need to advise/rewrite at least some of the getters and setters that persp-mode defines (i.e. `safe-persp-buffers`, maybe others as well).
Other than that, we will need to modify the commands for switch

[2015-11-10 22:41] robbyoconnor commented on #3607
That is just freaky.

[2015-11-10 22:41] StreakyCobra commented on #2162
I just tried @pesterhazy's solution and it's working.

It's not **literally** answering the initial question, which was about `helm` using git-grep, not only `projectile`, but **in practice** it's answering it: As `git-grep` is useless if used outside of a git repository, and that projectile can be used in every git repository, it's covering all use case.

As it's solved, I'm closing the issue, bu

[2015-11-10 22:41] #2162 closed

[2015-11-10 23:06] TheBB commented on #3733
That looks very promising. Good detective work @bmag. :-)

[2015-11-10 23:16] lunik1 opened #3756 "rainbow-delimiters-mode not working in molokai"
Delimiters aren't showing as rainbow coloured on the molokai colourscheme, but this is fixed for the session if `SPC f e R` is performed. I'm getting this issue on the template `.spacemacs`.
#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.104.4
- Spacemacs branch: master (rev. f04bb61)
- Distribution: spacemacs
- Layers:

[code]

[2015-11-10 23:16] StreakyCobra commented on #3755
Using `flycheck-next-error-pos` to know if there are further errors (using `-1` argument to check backward), and the `reset` argument of `flycheck-next-error` to restart at beginning, it should be fairly simple to cycle forward.

For cycling backward, as `flycheck-previous-error` doesn't have a `reset` argument to start from the end, A PR should be done to flycheck to support it. Don't look to com

[2015-11-10 23:33] StreakyCobra commented on #3755
Ping @lunaryorn :point_up: If you want to include proactively the support for backward `reset` in `flycheck` to allow backward cycle of errors :relaxed: Otherwise someone (maybe me) will PR it!

Also, maybe are you interested to have directly the support for cycling functions in `flycheck`?

[2015-11-10 23:35] StreakyCobra commented on #2163
@cpaulik Ok thanks.

@kvaneesh can `mu4e` solve your needs? (PR in progress:  #2514)

[2015-11-10 23:39] StreakyCobra commented on #3756
It's only not working in molokai, or does it happen with other themes?

[2015-11-10 23:43] lunik1 commented on #3756
Just molokai

[2015-11-11 00:00] ralesi opened #3758 "spacemacs-layout | Internal *Messages* buffer only visible on 1st layout in helm-mini"
I don't know if this is a feature or not, but I think we should make the internal emacs buffers accessible on all layouts with `helm-mini`.  I can access the buffer with `C-x c-b`, but would prefer using the same command everywhere.  I know I can also use `SPC wpm`, but would like an option to open it in the current window.

[2015-11-11 00:02] StreakyCobra commented on #3756
I can't reproduce it with my config, but I can with a fresh install. I'll look later, if I find some time.

[2015-11-11 00:11] aaronjensen opened #3759 "Automatically detect indentation settings"
Should we use https://github.com/jscheid/dtrt-indent or something similar? It's very nice to have indentation settings detected automatically.

[2015-11-11 01:45] qqldd commented on #1869
@TheBB  I will try and let you know later

[2015-11-11 02:26] EmuxEvans commented on #3526
:+1:

[2015-11-11 02:59] justin808 commented on #1504
@StreakyCobra Is my suggested change no longer necessary? I'm using "master".

[2015-11-11 04:41] syl20bnr commented on #3745
Done in commit https://github.com/syl20bnr/spacemacs/commit/3ff39f1

[2015-11-11 04:41] #3745 closed

[2015-11-11 06:12] moesasji commented on #2615
@BB: Bug is present for me on 0.104.4 as well, so this one can be reproduced for the current stable release.

Note that this PR might be related to #3596 (same way to reproduce and also mention `gh`)

#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.104.4
- Spacemacs branch: master (rev. f04bb61)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-11 06:22] syl20bnr commented on #3740
Should be fixed in develop branch.

[2015-11-11 06:23] syl20bnr commented on #3736
Should be fixed in develop branch, if this is OK on your side you can close this issue.

[2015-11-11 06:53] TheBB commented on #3755
Whoever does this, make sure to keep the commands also working for non-flycheck errors. They are very useful for e.g. org sparse trees.

[2015-11-11 06:56] TheBB commented on #3759
We should probably take this discussion to #3203. I'm closing this as a duplicate.

[2015-11-11 06:56] #3759 closed

[2015-11-11 07:05] TheBB commented on #2615
Thanks for pointing that issue out. Since it's older I will close this as a duplicate, let's move the discussion there.

This is a strange error, but I still can't repro it.

[2015-11-11 07:06] TheBB commented on #2615
Sorry, this one is the older one. :-D

[2015-11-11 07:07] TheBB commented on #3596
I was just made aware of #2615, so closing this as duplicate.

[2015-11-11 07:07] #3596 closed

[2015-11-11 07:08] aaronjensen commented on #3203
I came across https://github.com/jscheid/dtrt-indent which seems to work well and is pretty slick. It could likely be extended to support most major modes.

[2015-11-11 07:38] dsdshcym opened #3762 "Spacemacs-layout can't reload a dired buffer"
When I use spacemacs-layout to load a saved-layout and this layout has a dired
buffer, this buffer displays nothing. And most annoyingly, it can't be killed
and shows the error below:

[code]

'Org' is the directory name.

A workaround to kill this buffer is to switch to another mode and it can be killed then.

I don't know if this is a perp-mode issue or a dired issue. And here is my system info:

[2015-11-11 07:55] moesasji commented on #2615
I switched to the development branch to check and on the develop I can't reproduce this issue. So it looks like this issue might be fixed on develop, while it is a valid bug for the 0.104 branch.

#### System Info
- OS: gnu/linux
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 9e5e309)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-11 08:09] TheBB commented on #2615
That's good. If you feel so inclined you can bisect to find out when it was fixed. I'm guessing it was in https://github.com/syl20bnr/spacemacs/commit/48edef1.

Since it sounded like it was very easily reproduced on master, I believe it's fixed so I will label it as such.

[2015-11-11 08:19] tonyday567 commented on #3742
In configuration-layer//load-packages, after installing packages but before configuring packages, you could check whether org is already on the package-activated-list, and throw an error if it is?

[2015-11-11 09:25] kvaneesh commented on #2163
I won't be switching to mu4e, and I am also not in a position to contribute the notmuch layer. So if you are looking at closing this issue, because nobody is going to look at this soon, please feel free to do so.

-aneesh

[2015-11-11 09:26] StreakyCobra commented on #1504
@justin808 I've done some searches, and [it seems](http://emacs.stackexchange.com/a/15054/6662) what you have is a normal behaviour, not a bug. But it should probably be documented in the FAQ, in `How do I disable visual selection to override the system clipboard`.

So reopening it and labelling as documentation and beginner friendly :relaxed:

[2015-11-11 09:29] StreakyCobra commented on #2163
No no, your request is valid, I was just trying to see if there was some news on this side :relaxed:

[2015-11-11 09:35] lunaryorn commented on #3755
@StreakyCobra Flycheck's error navigation is modelled after the built-in error navigation, and I won't change that for the sake of consistency.  For this reason I'll neither add a `reset` argument to `flycheck-previous-error`—the built-in `previous-error` doesn't have that either—nor make the command cycle among errors.

If you'd like to have backwards cycling you have to build that yourself on to

[2015-11-11 11:27] autosquid commented on #3388
@StreakyCobra  yes, many thanks to @sooheon  for letting me know.

[2015-11-11 11:27] #3388 closed

[2015-11-11 11:39] swaroopch commented on #2615
I can confirm that this is fixed in `develop`.

[2015-11-11 11:39] #2615 closed

[2015-11-11 11:41] PierreR commented on #3755
As an alternative and maybe easier approach we could have another command that cycle through errors starting from the top of the file. Most of the time I don't care where the errors are, I just want an easy way to cycle amongst them without using an extra list buffer. That might be better because we wouldn't have to change the behavior of `next-error` (it would jump at the start of the buffer - wi

[2015-11-11 11:43] nixmaniack commented on #3745
Thank you! :smile:

[2015-11-11 13:52] nixmaniack commented on #3758
I can't reproduce this. I can access `*Messages*` using `SPC b b` which is bound to `helm-mini`. Are you using `SPC p b`  by any chance which is projectile-buffers.

[2015-11-11 14:49] synic commented on #3740
Thank you!

[2015-11-11 14:49] #3740 closed

[2015-11-11 14:49] synic commented on #3736
Works!

[2015-11-11 14:49] #3736 closed

[2015-11-11 14:50] synic commented on #3467
Should I close this?

[2015-11-11 14:54] StreakyCobra commented on #3467
When it's Fixed in develop, it will be closed at the next release. If you want to close it in the meantime it's up to you :-)

[2015-11-11 15:24] ralesi commented on #3758
@nixmaniack, can you access *Messages* from all layouts,  or just the first one?

[2015-11-11 15:30] #3754 closed

[2015-11-11 15:58] nixmaniack commented on #3758
All layouts. I created with `SPC p l` for project specific layout and other one with just hitting a number in `SPC l <not_used_number>`.

I do have following variables set if it matters.
[code]

[2015-11-11 16:00] nixmaniack commented on #3758
Again, I'm assuming you're not using any scope based search and are using `SPC b b`.
If you use `SPC l b` it'll scope that to that particular layout.

[2015-11-11 16:54] endrebak commented on #3729
I have a different issue:

Trying to execute `M-x lispy-mode` I get the error:

[code]

I have also installed lispy by just putting this in my `.spacemacs`:

[code]

Mine is reproducible (for me at least). Anyone else experiencing the same thing? (I have never gotten lispy to work with spacemacs.)

[2015-11-11 16:57] BrianHicks opened #3763 "Flycheck doesn't work on elm files in subdirectory"
This is a known issue (https://github.com/bsermons/flycheck-elm/issues/3) which follows from a known flycheck issue (https://github.com/flycheck/flycheck/issues/312)

The workaround that worked for me (provided by @bsermons) was to put the following in my `dotspacemacs/user-config`:

[code]

I'd add it to the Elm layer, but I'm not sure where would be the most appropriate place. Not super familiar

[2015-11-11 17:00] nixmaniack commented on #3628
I was just thinking about this and thought why not just combine all microstates somewhere? I generally use microstates to perform some actions repeatedly (I guess that's why they are made of)
e.g.
`SPC M` then
`w` windows
`f` frames
`b` buffer
`l` layouts
`p` paste
`t` text scale
`T` transparency etc.

I am thinking I would use `highlight-changes` and `diff-hl` microstates a lot for navigating buf

[2015-11-11 17:05] StreakyCobra commented on #3628
You can also use `SPC .` as prefix for this. It seems to be unused, and `.` it's already bind as microstate for some commands (`SPC b .`, `SPC w .`, …)

[2015-11-11 17:08] codedmart commented on #3763
@BrianHicks that doesn't seem to work for me.

[2015-11-11 17:09] nixmaniack commented on #3628
@StreakyCobra Yes it can be. I meant "combine all microstates somewhere". But what's your opinion on "combining under"?

[2015-11-11 17:10] BrianHicks commented on #3763
One thing to try: as it is, the checker will create an `elm-package.json` in any directory with a `.elm` file. Those all have to be removed *before* the hook is run.

[2015-11-11 17:13] codedmart commented on #3763
@BrianHicks that seems to work. Is it possible to not have `elm-package.json` created in subdirectories?

[2015-11-11 17:17] nixmaniack commented on #3729
I did experience this then I have following in my configuration which works as of now. It's because of hydra package I think and lispy not being compiled correctly(wild guess). There are still couple of quirks like company mode pops up with "No completion found.." on repeatedly hitting backspace but it works pretty much fine.

Be sure to remove hydra and lispy from your elpa before restarting emac

[2015-11-11 17:20] bsermons commented on #3763
Here is a safer version in case the elm-package.json doesn't exist at all.

Flycheck just sends the source file to elm-make and if there is no 'elm-package.json' in the cwd then it will create one.  Might be possible to get elm-make fix the issue by looking in the parent directories for a package file before trying to create one.

[code]

[2015-11-11 17:27] Cifer-Y opened #3765 "How to fix the failed tests, when SPC f e R"
The error page is very nice, but I have no idea how to fix the failed test.
I checked some issues, but still confused, there are my errors:
![image](https://cloud.githubusercontent.com/assets/4470516/11097769/0c641268-88dc-11e5-9393-9f0d9331ffdb.png)

[2015-11-11 17:35] pszynk commented on #1258
Hi, for me this problem still occurred in latest Spacemacs release, but mentioned commit from #2635 solved the problem.

One thing to watch for though !
In commit from #2635 function `add-to-hooks` should be renamed to `spacemacs/add-to-hooks` for this to work in current release.

Still a keybinding to refresh checker arguments would be a nice feature. Now when I'm modifying `.clang_complete` file

[2015-11-11 17:47] ralesi commented on #3758
OK,  I havent scoped any variables yet,  so I will try that.

[2015-11-11 17:50] Cifer-Y commented on #3765
I moved the three package into a custom layer, and the test passed, but I don't know if that was a good solution.

[2015-11-11 17:54] justbur commented on #3765
It means you have `company-mode`, `editorconfig`, and `whitespace` in the `dotspacemacs-configuration-layers` variable, but none of these are layers that can be found. Certainly none are provided by spacemacs. A package is not a layer.

[2015-11-11 17:56] Cifer-Y commented on #3765
@justbur :scream: Yeah, you are right...Thanks for your comment, very clearly.

[2015-11-11 17:56] #3765 closed

[2015-11-11 18:06] StreakyCobra commented on #1258
Glad to hear!

Can I ask you to put this directly in the #2635 thread, so it doesn't get forgotten when merged (and you keep the credit for it :relaxed:) Thanks!

Have you try reloading the mode in which you are, like `SPC : c++-mode RET` or `SPC : c-mode RET`?

[2015-11-11 18:19] basveeling opened #3767 "python-rope/ropemacs in python layer"
[Ropemacs](/python-rope/ropemacs) is an emacs mode that uses the rope library to provide features like python refactorings and code-assists. I've been playing around with it in my spacemacs build and it seems to be very powerful. Is this something that would be considered for the python layer? If so, I can work on a pull request.

[2015-11-11 18:30] synic commented on #3767
I'd like it.  Seems like a hard layer to add because of all the external python dependencies and stuff

[2015-11-11 18:34] bmag commented on #3767
+1 for adding rope support.
I'm curious, though, doesn't ropemacs require pymacs to be installed? Last time I tried it wasn't very easy to install pymacs (on Lubuntu), so I'd like to hear how you did it.

[2015-11-11 18:34] synic commented on #3767
Yeah, seems like even some of the official releases in rope don't work, and you have to use a developer version that's been abandoned for years.

[2015-11-11 18:39] nixmaniack commented on #3767
+1 for rope!
I was using hacked way of using rope with spacemacs but never got time to integrate with spacemacs. I don't use it anymore but would help if anyone starts.

[2015-11-11 18:43] StreakyCobra commented on #2495
@bogdanteleaga Does this still happen? The flycheck tooltip library has been changed, if it was the issue it may be solved.

[2015-11-11 19:05] StreakyCobra commented on #2865
For the record: #3768

[2015-11-11 19:56] #2517 closed

[2015-11-11 19:57] TheBB commented on #3767
My experience with rope echoes that of the others. It's tricky but powerful. We will certainly entertain the idea of it if someone opens a PR. If it's too experimental it can go in a separate layer instead of directly in the python layer (which we need to keep fairly stable).

[2015-11-11 20:04] StreakyCobra commented on #2840
As there are no news from the original author, as requested, I'm closing this issue.

[2015-11-11 20:04] #2840 closed

[2015-11-11 20:13] StreakyCobra commented on #3628
For me it doesn't matter, as I'm not using these micro-state that much. If you was thinking to move them, people will probably not like that. `SPC n .` is one keystroke less than `SPC . n .`, same for all directly entering micro-state. But I agree it could be nice to alias/copy all of them under a common prefix :-)

For me the ideal would be:
- Keeping traditional micro-states keybindings like `SP

[2015-11-11 20:26] StreakyCobra commented on #1165
As there was no update the last 6 months, I'm closing this issue. Feel free to open a new one if there is anything new about this.

[2015-11-11 20:26] #1165 closed

[2015-11-11 20:32] justbur commented on #3753
Try just with `emacs -q`. `emacs --quick` does more than just not load spacemacs

[2015-11-11 20:41] nixmaniack commented on #3628
Current will remain as it is, only combine all of them under `SPC . [wfblptT…]` for ease of discovery at central place. It's same number of keystrokes `SPC . w` if you notice, I didn't mean `SPC . w .`

[2015-11-11 20:42] StreakyCobra commented on #896
This is an old issue without activity the last 6 months, as it also don't seem relevant anymore, I'm closing it.

[2015-11-11 20:42] #896 closed

[2015-11-11 20:59] simonjantsch commented on #3734
Thanks for trying to solve the problem. I'm attaching my .spacemacs file
[.spacemacs.txt](https://github.com/syl20bnr/spacemacs/files/32288/default.spacemacs.txt)

[2015-11-11 21:15] StreakyCobra commented on #3628
Yeah, for `SPC w .` it is not shorter, but for `SPC l` and `SPC . l` it is :wink: Anyway, I'm for this centralization. And special bonus if someone make a way to have a `.spacemacs` variable to define key-binding that should enter micro-state directly (like `SPC b n`).

[2015-11-11 21:36] StreakyCobra commented on #1333
Does anybody still has this behaviour?

[2015-11-11 21:38] StreakyCobra commented on #1394
As tuhdo implemented this change in `better-defaults`, the issue is solved. Closing.

[2015-11-11 21:38] #1394 closed

[2015-11-11 21:51] StreakyCobra commented on #2222
@dzhwinter Are you more lucky with the last spacemacs release about this?

Normally `y` and `p` use directly the system clipboard, IIRC, except if you are using emacs in terminal.

[2015-11-11 21:57] StreakyCobra commented on #2714
The cause of this bug is a duplicate of #2294. I'm closing this one as the other as more information. You can maybe try [the solution proposed in a comment](https://github.com/syl20bnr/spacemacs/issues/2294#issuecomment-131552605).

[2015-11-11 21:57] #2714 closed

[2015-11-11 22:01] StreakyCobra commented on #2869
As it's an upstream bug already reported, there is nothing more that we can do on our side, so I'm closing the issue. In any case, feel free to open a new one in case of troubles :relaxed:

[2015-11-11 22:01] #2869 closed

[2015-11-11 22:13] syl20bnr commented on #3742
Checking if `org` has been required before actually loading it via the layer system is a good idea :+1:

[2015-11-11 22:16] bharrisau commented on #3763
The simplest place to add it is probably here:
https://github.com/syl20bnr/spacemacs/blob/master/layers/%2Blang/elm/packages.el#L28

Just need to make sure the hooks are run in the correct order. I've also suggested using the `elm-mode` function for finding the correct root.

    (add-hook 'elm-mode-hook (lambda ()
      (setq default-directory (elm--find-dependency-file-path)))

You'd also probab

[2015-11-11 22:17] StreakyCobra commented on #2988
As explained by the upstream developer the behaviour is intended, and, as it's a matter of personal preferences, it's better to leave the choice to the user. I'm closing it, but feel free to open a new issue at any time in case of troubles :relaxed:

[2015-11-11 22:17] #2988 closed

[2015-11-11 22:25] edwintorok commented on #1258
On 11/11/2015 08:06 PM, Fabien Dubosson wrote:

I applied the patch from #2635 on top of 0.104.4 with this change mentioned (couldn't cherry-pick cause the filename changed too), and I confirm that it works well now.
If I type |SPC h d v flycheck-clang-args| it shows the args loaded from my .clang_complete file.

Note: I had to make sure all the relative paths in -I start with ./ so `-I./..` inste

[2015-11-11 22:26] StreakyCobra commented on #1245
As all this is already documented in the README of `master`, I'm closing this issue :relaxed:

[2015-11-11 22:26] #1245 closed

[2015-11-11 23:02] StreakyCobra commented on #2110
All problems are now resolved thanks to @lunaryorn's  work on `flyspell-pos-tip`. I'm closing it.

[2015-11-11 23:02] #2110 closed

[2015-11-11 23:51] CestDiego commented on #1245
gud

[2015-11-12 00:28] #3607 closed

[2015-11-12 03:05] ralesi commented on #3758
Ok,  with setting the above settings,  I now see all buffers on all layouts in helm-mini.   I will look into how these settings change things,  but would say this is closed.

[2015-11-12 03:05] #3758 closed

[2015-11-12 03:13] ysgard commented on #3743
You're right, sorry, it's 25.0.50.  Anyways, I have a screenshot.  In this case, it decided to display the files.  I had just clicked on 'game-of-life', and the cursor is now at the bottom of the tree and the entire tree is selected.
![screen shot 2015-11-11 at 7 12 42 pm](https://cloud.githubusercontent.com/assets/1843137/11109709/3f5fa968-88a8-11e5-8704-34b56496eab6.png)

[2015-11-12 03:14] ysgard commented on #3743
This is a different machine (but still the same version of OS X and emacs), I'll see about getting a screenshot of the missing folders on the other one.

[2015-11-12 07:16] stites commented on #1136
This came up for me and I worked through a number of combinations of the above to no avail. I came across @boj's .spacemacs file ([found here](https://gist.github.com/boj/662e334a0beecc8f09df)) and it turned out that all I had to do was add:

    (add-hook 'haskell-mode-hook 'turn-on-haskell-indent)

to user initialization. Thanks @boj!

[2015-11-12 08:29] endrebak commented on #3729
Thanks! Do you put that in a `layer` or somewhere in your `.spacemacs` or what?

[2015-11-12 08:54] tommyjiang commented on #3713
I update some packages yesterday and I find this issue is solved after the update. Still can not figure where is the problem.

[2015-11-12 09:19] d12frosted commented on #1136
@stites looks like you haven't updated your packages for a long time, `haskell-mode` now uses `haskell-indentation` as default. Also, `turn-on-*` are deprecated. Also, you probably want to use `haskell-indentation` instead of `haskell-indent`.

[2015-11-12 09:23] x-ji commented on #2315
@d12frosted Sorry I didn't really have time to try to reproduce it using a vanilla emacs recently. I'll do it when I get the time and see what happens. I suspect it might have something to do with certain packages.

[2015-11-12 09:37] cpaulik commented on #3767
I'm all for it and curious since I've never tried it.

[2015-11-12 09:48] isaiah commented on #2495
It works now.

[2015-11-12 09:48] #2495 closed

[2015-11-12 09:52] StreakyCobra commented on #2575
Does this still happen? The flycheck tooltip library has been changed, if it was the issue it may be solved after updating the packages.

[2015-11-12 09:54] StreakyCobra commented on #2033
Does this still happen? The flycheck tooltip library has been changed, if it was the issue it may be solved after updating the packages.

[2015-11-12 10:15] justin808 commented on #3136
@StreakyCobra It doesn't seem as bad anymore, but FWIW, I'm using VIM a quite a bit when I don't want to wait for magit, and I'm on the fastest MBP available.

[2015-11-12 11:09] nixmaniack commented on #3729
@endrebak in `user-config` section of `.spacemacs`

[2015-11-12 12:13] lufeihaidao opened #3772 "disable automatic anaconda response"
I'm learning bottle, but when I try to edit file, it automatically send anaconda request and automatically jump to anaconda response. It is really annoying.How can I disable it?

![image](https://cloud.githubusercontent.com/assets/1731864/11118026/c4c82c02-8979-11e5-8331-e7e4b23d08c7.png)

![image](https://cloud.githubusercontent.com/assets/1731864/11136861/5e4596bc-89ed-11e5-8942-4f9d7b5da838.png

[2015-11-12 12:36] cpaulik commented on #3772
What does the anaconda response say? Normally if anaconda fails it will only show a message in the minibuffer but not popup a window.

[2015-11-12 12:39] ntcong commented on #3136
I'll try to generate a big changes like the original report

[2015-11-12 13:07] darkfeline commented on #1333
Seems to be fixed for me.

[2015-11-12 14:44] synic opened #3774 "layouts - switching to layout with `SPC l [n]` does not start from home screen"
If you type `SPC l 3`, and you didn't have a layout there before, it will not start from the home screen.  Instead, all the current buffers will be added to the new layout.

#### System Info
- OS: darwin
- Emacs: 24.5.7
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 39c69de)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-12 14:46] synic opened #3775 "layouts - removing a layout doesn't actually remove it"
Using `SPC l c`, `SPC l C`, `SPC l x`, or `SPC l X` doesn't remove the layout from the file that gets saved if you have automatic save on.  So, if you remove a layout, and then restart emacs, the layout will be back.

[2015-11-12 15:45] aaronjensen opened #3776 "Editable dired mode has crippled evil mode"
If you enter editable dired mode with <kbd>SPC f j</kbd> <kbd>SPC b w</kbd> You end up in an emacs mode. If you hit <kbd>ESC</kbd> the modeline turns orange, indicating evil normal mode, but only hjkl work, nothing else, not even <kbd>i</kbd>. You can't get back into holy mode w/o <kbd>SPC t E e</kbd>.

If it's too much to get full evil mode in it, we should at least disallow <kbd>ESC</kbd> I'd th

[2015-11-12 15:58] ysgard commented on #3743
Here's a 'before' and 'after' shot demonstrating the issue.  The 'after' screenshot is the result of clicking on the folder 'Swarm'.
![screenshot 2015-11-12 07 56 03](https://cloud.githubusercontent.com/assets/1843137/11123123/1b14071e-8913-11e5-9880-57156f3352ed.png)
after:
![screenshot 2015-11-12 07 56 13](https://cloud.githubusercontent.com/assets/1843137/11123133/22880dba-8913-11e5-901e-461092

[2015-11-12 16:08] lufeihaidao commented on #3772
@cpaulik Something is strange here... When I came back from the cafe this problem disappeared... And the new problem is:

![image](https://cloud.githubusercontent.com/assets/1731864/11123414/82b02d1c-899a-11e5-8eaa-27d81c813f93.png)

Peerhaps it's the network problem...

[2015-11-12 16:17] cpaulik commented on #3772
Do you by any chance work behind a proxy? The eldoc error will spam your minibuffer but should not in any way interfere with the autocompletion.

[2015-11-12 16:47] PierreR commented on #3755
That said, while searching `n`does cycling so I don't really see why `next-error` should not ...

[2015-11-12 17:05] elemakil commented on #3776
I can not reproduce this. Which spacemacs version are you using?

[2015-11-12 17:12] aaronjensen commented on #3776
latest develop, all packages updated an hour ago. It seems to repro in vim and hybrid mode.

[2015-11-12 17:27] PierreR opened #3777 "In the haskell layer, disable ghc-mod messes important keybindings"
#####  How to reproduce
 * disable `ghc-mod` with :
[code]

* use `SPC-h-d-k` with `c-c c-i` (for instance)

=> it is wrongly bound to `haskell-mode-enable-process-minor-mode`

As a result, if you fire a repl with `,sb`, you will never get the appropriate binding for `c-c c-i` (or `c-c c-t). It will always respond with "C-h f haskell-mode‘ for instruction".

##### System Info
- OS: gnu/linux
- Ema

[2015-11-12 17:34] bmag commented on #3776
@aaronjensen could you paste the output of <kbd>SPC h d s</kbd>? It shows some more details about your setup.

Also, could you explain what are you trying to do, and what exactly doesn't work as expected?

In dired-mode, <kbd>SPC b w</kbd> enters Wdired (writable dired) which is used to edit the buffer's contents. To properly exit wdired-mode you need to press either <kbd>C-c ESC</kbd> (to abort c

[2015-11-12 17:39] aaronjensen commented on #3776
#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 39c69de)
- Distribution: spacemacs
- Layers:
[code]

I'm trying to use vim mode to make changes in wdired. In evil mode, I'd expect most things to leave me in evil mode, and when they don't, they shouldn't make it so easy for me to get into a pseudo evil mode. Once you hit esc, you're stuck (yes th

[2015-11-12 18:04] synic opened #3778 "`C-c C-e` no longer works in helm-ag for editing results"
You used to be able to type `C-c C-e` in the helm-ag results to edit the results and save them.  `C-c C-e` is now unbound.

[2015-11-12 18:13] bmag commented on #3776
You're right that it shouldn't be easy to get into a pseudo evil mode, and it does look to me as some integration that needs to be done in spacemacs. But I'm not sure where it should go. As far as I can see, spacemacs doesn't actually have a configuration for dired, other than the vinegar layer (that I see you're using) and the ranger layer. Maybe someone else here who knows more about the dired i

[2015-11-12 18:29] amosbird opened #3780 "Customize spacemacs for terminal usage."
Is there any existing configuration that works appropriately in a ssh terminal?

[2015-11-12 18:32] nixmaniack commented on #3775
I can confirm this.

[2015-11-12 18:48] cpaulik commented on #3780
What are your problems? I'm working in a ssh terminal in tmux every few days.

[2015-11-12 18:53] cpaulik commented on #3778
The keybinding is still in `helm-ag` see [here](https://github.com/syohex/emacs-helm-ag/blob/master/helm-ag.el#L676). Can you check your elpa directory?

[2015-11-12 19:11] pszynk commented on #1258
I've added a comment about it on #2635

yeah, it looks like an error in the code changing relative path to absolute. I also added some info about it in my comment.

it works, thanks

[2015-11-12 19:34] d12frosted commented on #3777
When I think about it - it makes sense. We force `,sb` to run REPL. While `C-c C-l` and friends are set by `ghc-mod` or `interactive-mode` (or whatever else). So probably the best solution will be to enable `haskell-interactive-mode` when `ghc-mod` is disabled.

[2015-11-12 19:36] stites commented on #1136
Good to know — yeah, I'm on 104.2 and it looks like 104.4 is available. Thanks for the heads up, @d12frosted

[2015-11-12 19:37] d12frosted commented on #1136
@stites yeah, but make sure to also update **packages**, not only spacemacs

[2015-11-12 20:00] StreakyCobra commented on #3778
I tried just now and `C-c C-e` is still working on my side. You can maybe give the steps you exactly did to help reproducing.

[2015-11-12 20:03] CestDiego commented on #3778
same here it still works...

[2015-11-12 20:04] synic commented on #3778
Yup, working for me.  Sigh.

[2015-11-12 20:04] #3778 closed

[2015-11-12 20:17] PierreR commented on #3777
I was about to ask "how to disable ghc-mod" in `haskell-mode` directly to https://github.com/haskell/haskell-mode/. What do you think ?

[2015-11-12 20:28] edpaget commented on #2571
Chiming in to say I am also experiencing the same issue.

[2015-11-12 21:13] StreakyCobra commented on #2571
I can't reproduce this, not on `develop` nor on `master`. @ocharles @edpaget can you put here the output of `SPC h d s` to have more info about your config?

[2015-11-12 21:20] justbur commented on #2571
Can someone having this issue disable `evil-escape` and see if the problem goes away?

[2015-11-12 21:26] ralesi commented on #3509
@robbyoconnor, if you had `dotspacemacs-persistent-server` set, this is the issue.  PR is submitted #3782

[2015-11-12 22:06] edpaget commented on #2571
@StreakyCobra

[code]

[2015-11-12 22:09] edpaget commented on #2571
@justbur when I try to disable evil-escape-mode I get this error `evil-escape--undefine-keys: Symbol's value as variable is void: evil-iedit-state-map` after that I still see the problem of my f-key not working.

[2015-11-12 22:20] StreakyCobra commented on #2571
I reproduced your environment, i.e. Linux + emacs 24.5.1 + rev. f04bb61 + spacemacs + all your layers: can't reproduce. I'm kind of out of idea right now.

[2015-11-12 22:26] justbur commented on #2571
@edpaget try adding evil-escape to excluded packages and restarting so it's completely out of the picture

[2015-11-12 22:33] edpaget commented on #2571
@justbur doing that fixed the problem for me.

[2015-11-12 22:56] StreakyCobra commented on #1008
This issue has been solved long ago by the PR #1009, and it's already in `master`, so closing it.

[2015-11-12 22:56] #1008 closed

[2015-11-12 23:00] StreakyCobra commented on #1265
@seschwar Do you still have this issue with last spacemacs release?

[2015-11-12 23:06] StreakyCobra commented on #3472
This problem have also been reported in #2105, with an additional keybinding: `RET` vs `<enter>`.

[2015-11-12 23:06] StreakyCobra commented on #2105
There is an ongoing more general discussion about how to handle difference between `<tab>`, `TAB` and other keybindings in #3472. I've reported and linked this issue there, so closing this one to avoid dispersing discussions.

[2015-11-12 23:06] #2105 closed

[2015-11-12 23:07] StreakyCobra commented on #1443
There is an ongoing more general discussion about how to handle difference between `<tab>`, `TAB` and other keybindings in terminal in #3472. I've reported and linked this issue there, so closing this one to avoid dispersing discussions.

[2015-11-12 23:07] #1443 closed

[2015-11-12 23:17] StreakyCobra commented on #2633
@geo7 Do you still have this error? I can't reproduce it :-(

[2015-11-12 23:17] PierreR commented on #3777
I actually thought that `c-c c-t` and `c-c c-i` would be automatically rebound to `haskell-process-do-type` and `haskell-process-do-info` by `spacemacs`.

This was supposed to be fixed by #3345 but the associated commit only bind `SPC-mht` and `SPC-mhi` to mean `c-c c-t/ c-c c-i` (maybe under the assumption the `interactive-mode` would rebound these keys but it does not)

`SPC-mht` and `SPC-mhi`sh

[2015-11-12 23:29] StreakyCobra commented on #2704
If anyone is interested to contribute to this, they seems to be open to discussion upstream, so I'm closing this issue in Spacemacs side.

[2015-11-12 23:29] #2704 closed

[2015-11-13 01:58] justbur commented on #3739
Also having the problem. I traced it to the code for the micro-state wrapper function `spacemacs//micro-state-create-wrapper`, but gave up after that.

[2015-11-13 02:11] justbur commented on #2571
@edpaget I'm not surprised but I also don't have a solution for you besides disabling evil-escape and reporting the issue unfortunately

[2015-11-13 02:15] #3728 closed

[2015-11-13 02:18] lufeihaidao commented on #3772
@cpaulik Yeah, but it took no effect when I disabled my proxy. I found an issue https://github.com/proofit404/anaconda-mode/issues/124.

My environment:
Mac, pyenv, brew installed python 2.7.10
![image](https://cloud.githubusercontent.com/assets/1731864/11137062/67b95100-89ef-11e5-98af-90e09026b7a7.png)

[2015-11-13 04:11] ralesi commented on #3776
Vinegar uses evilify,  which I think is what is getting you in trouble.   I will take a look if I can switch to normal state when going into wdired.

[2015-11-13 04:37] vkz commented on #3729
Posted an update in abo-abo/lispy#139

Question to audience: how does one go about bisecting Spacemacs configuration? In my old hand-written configs I would simply comment stuff out.

[2015-11-13 05:23] dzhwinter commented on #2222
i have solved that.
I am using emacs in terminal.  In fact, I my daily work, i always connect to server with ssh and I have no choice but emacs-nox (with GUI always failed and freeze window because of the unstable connection).
I use xsel with this config for clip and paste content in terminal. For who search here.

[code]

[2015-11-13 05:24] #2222 closed

[2015-11-13 05:45] robbyoconnor commented on #2222
It works fine for me without this change...

[2015-11-13 06:37] ralesi commented on #3739
I just submitted #3785 which seems to have fixed the issue.

[2015-11-13 06:51] aaronjensen commented on #3776
I can confirm that disabling the vinegar layer makes things work a lot better in wdired, so this seems to be specific to vinegar.

[2015-11-13 07:15] cpaulik commented on #3772
I've had problems in the past with my proxy, and had to set the `no_proxy` environment variable in emacs for `127.0.0.1` see [here](https://github.com/cpaulik/dotfiles/blob/master/.spacemacs.symlink#L239-L240) for reference.

Another thing that might be the problem is the python version. There were subtle issues with the homebrew python version before.

Since you are using pyenv, can you try

[cod

[2015-11-13 07:27] amosbird commented on #3780
Highlights get messed up. Lines repeatedly draw on the screen.

![k25nxfcsmy ug5mu xsc e4](https://cloud.githubusercontent.com/assets/5085485/11140935/0b6dd3d6-8a1b-11e5-9f73-6c0b5179c7d4.png)

[2015-11-13 07:34] TheBB commented on #3729
You can comment stuff out in Spacemacs too. If it's a package that breaks it, you can start by disabling layers and excluding packages until you find something.

[2015-11-13 07:47] cpaulik commented on #3780
Which theme are you using? Some themes do not define proper terminal colors.

The mutliple lines in the modeline might be related to your font not supporting the unicode symbols used there. Try setting `    dotspacemacs-mode-line-unicode-symbols nil` in your `.spacemacs` file. There should already be an entry for this variable.

[2015-11-13 07:58] amosbird commented on #3780
@cpaulik I didn't change theme settings. Which theme should I use?

[2015-11-13 08:04] cpaulik commented on #3780
`spacemacs-dark` should look sane. `material` and `material-light` also have terminal colors setup (I know because I develop them). See if one of those looks good in your terminal. Then you can look for one you like with `SPC T h`.

[2015-11-13 08:08] amosbird commented on #3780
I've tested `spacemacs-dark`,  `spacemacs-light`, ` `solarized-dark`, ` `solarized-light`, they all looked exactly the same to me. I'm using XShell on Windows.

[2015-11-13 08:11] cpaulik commented on #3780
They should definitely not look the same. I can try XShell when I get to work later. No Windows PC at home.

[2015-11-13 08:59] StreakyCobra commented on #3780
What the value of "$TERM" in the shell just before you run emacs?

[2015-11-13 09:01] cpaulik commented on #3780
I just tried with XShell. I connected to my linux machine using ssh and started emacs -> no colors. Doing `export TERM=xterm-256color` solved the color issue for me. For a font you could try installing one of the [powerline fonts](https://github.com/powerline/fonts/pull/18) for windows. But I have no idea about the windows support. The [hack][http://sourcefoundry.org/hack/) font should also includ

[2015-11-13 09:12] ralesi commented on #3585
@robbyoconnor, @nixmaniack  , latest update to #3632 .  You can choose between using `git-gutter` or `git-gutter+` (which allows staging), or `diff-hl` as the navigation backbone.  I have to flesh out some of the areas, but the `git-gutter+` section is the most complete right now as an all encompassing micro-state (`SPC g.` to access).

[2015-11-13 09:13] StreakyCobra opened #3786 "Use shield.io design for the badge."
#3784 is showing our new badge in the center of other ones, like paypal or travis.

![2015-11-13-100226_3360x1050_scrot](https://cloud.githubusercontent.com/assets/1587877/11142474/d1a4fb34-89ed-11e5-8b04-35d5b6f603ec.png)

I don't like how it looks as it doesn't have the same style as the other (gitter also, but this is not our problem). As a lot of projects use badges in the shape defined by [sh

[2015-11-13 09:16] amosbird commented on #3780
@cpaulik Which Xshell's theme do you use?

[2015-11-13 09:23] geo7 commented on #2633
@StreakyCobra I'll have a look when I get back later. I've a *feeling* that it's now working alright, though whether that's anything ot do with the reloaction of my yas snippets directory I'm not too sure (from .emacs.d to ~/dotfiles), If yours are in the deault (.emacs.d) location then perhaps the issue has sorted itself out!

I'll close this now and reopen if I find it's not working.

cheers.

[2015-11-13 09:23] #2633 closed

[2015-11-13 09:24] geo7 commented on #2064
@StreakyCobra still present for me.

Simply writing

[code]

should reproduce

[2015-11-13 09:26] nashamri commented on #3786
This one looks much better than the one I did :+1: time to update the badge :smile:

[2015-11-13 09:28] boykov opened #3788 "Broken init-post-extension (commit 7a2e604)"
I use simple private layer `eab-spacemacs`: extensions.el and packages.el, see attachment. The main feature of this example is that post extension `eab-dotemacs/lisp` calls `(require 'workgroups2)` (i.e. some package, which is in `eab-spacemacs-packages`).

 syl20bnr/spacemacs@7a2e604 breaks normal behavior, it produces error:
 require(workgroups2) => "cannot open load file" ...  workgroups2.

The

[2015-11-13 09:28] StreakyCobra commented on #2633
Ok, let me know and feel free to reopen it in any case :relaxed:

[2015-11-13 09:29] geo7 commented on #2633
:+1:

[2015-11-13 09:31] nixmaniack commented on #3585
@ralesi I tried it! Nice integration of all features. Thanks! :+1:

[2015-11-13 09:32] zeka0 opened #3789 "Emacs for mac"
Hello there? I have trouble installing the space emacs on mac using the GUI version of emacs downloaded from http://emacsformacosx.com. I have followed the steps using home-brew to install OS-X prerequisites and I have git-cloned the space-emacs to .emacs.d but when I launched the emacs.app nothing happened, so was the same when I relaunched it or using terminal to launch original emacs on OS-X(th

[2015-11-13 09:39] StreakyCobra commented on #2064
I can't. What does the error say?

[2015-11-13 09:45] d12frosted commented on #3789
First of all, don't mess `emacsformacosx` and emacs installed from brew. You need only one version.

After you install emacs via brew, call

[code]

or

[code]

As for your problem with launching Emacs.app - try to launch it via

[code]

Just don't forget to make `emacs-mac/emacs-24.5-z-mac-5.13` part relevant for your installation.

[2015-11-13 09:53] nixmaniack commented on #2064
It says following.
`SyntaxError: invalid syntax [E901]`

I assume it's related to python 2/3 being not detected properly as cpaulik has mentioned.

[2015-11-13 09:57] amosbird commented on #3780
I've set `dotspacemacs-mode-line-unicode-symbols nil` and `export TERM=xterm-256color`. Themes do look better. However there are still drawing issues, and pop-up window looks weird.
![daw9h6 1n 17 hf1 j tnh](https://cloud.githubusercontent.com/assets/5085485/11143418/e67927c8-8a2f-11e5-95a4-b3ddea159293.png)

[2015-11-13 10:02] StreakyCobra commented on #2064
This is an issue with `flake8` as I saw. What does `flake8 --version` gives you?

[2015-11-13 10:07] zeka0 commented on #3789
I have downloaded emacs via brew linked it, and erased the emacsformacosx(I find that if you don't erase it, the command ($ open /usr/local/Cellar/emacs-mac/emacs-24.5-z-mac-5.13/Emacs.app) won't work ). Using the 'open app' command to start the emacs, nothing happened again... I still can't see space-emacs effects... May be I should add the 'load-path' sentence to my .emacs file?

[2015-11-13 10:11] d12frosted commented on #3789
Ah I see. Remove `~/.emacs` file since it prevents Emacs from loading `~/.emacs.d/init.el`.

[2015-11-13 10:12] StreakyCobra commented on #3789
This should probably be FAQ'ed.

[2015-11-13 10:13] d12frosted commented on #3789
It's already [here](https://github.com/syl20bnr/spacemacs/tree/develop#install).

[2015-11-13 10:13] cpaulik commented on #3780
@amosbird I don't use a special theme

[2015-11-13 10:13] nixmaniack commented on #2064
On my system
[code]

[2015-11-13 10:19] StreakyCobra commented on #3789
Ok, it would be nice to make a not there saying that `Spacemacs` will not start if there is an `.emacs` file present.

[2015-11-13 10:22] StreakyCobra commented on #2064
`CPython 2.7.5` Here is your problem :-) Either:

1. Install a more recent version of `flake8`; or
2. Disable the `flake8` checker in `flycheck`

[2015-11-13 10:35] zeka0 commented on #3789
It works!(Though I have to use the vpn to connect to melpha because the country I am in can only connect to stable-melpha...).
Actually I have got another trouble... After the space-emacs asked me to enter what is your favorite style I entered vi (Sorry I have completed no idea why it will ask me this...) and it then asked which distribution I prefer and I saw 'space-emacs recommended' and so I en

[2015-11-13 10:41] StreakyCobra commented on #3789
If you remove the `~/.spacemacs` file and restart, you can choose options again. Just use the default, should be fine if you want `vim` bindings :-)

[2015-11-13 11:28] nixmaniack commented on #2064
2.7.5 is for legacy reasons!

Anyhow, it's a `non-issue` for me! The OP should take a note of above instructions and report if it fixes.

[2015-11-13 11:34] TheBB commented on #3789
For the record, it's spacemacs, not space-emacs.

Sorry, it was bugging me.

[2015-11-13 12:18] zeka0 commented on #3789
Thanks for your patience!
I have started spacemacs oh yeah! But I suddenly find that the .spacemacs file is empty, so I intend to add my original .emacs file contents into .spacemacs trying to add auto-complete, jdee, yasnippet plugins  , and when I restart spacemacs it says it has trouble with .spacemacs and it tries to re-intsall itself (because spacemacs asked me to re-input the preferred mode)

[2015-11-13 12:24] StreakyCobra commented on #3789
Come on gitter to ask question like this, there will be more people to explain you how it works.

[2015-11-13 12:59] TheBB commented on #3739
Closed by #3785.

[2015-11-13 13:03] mineo opened #3797 "TOCs in org files no longer work when rendered by GitHub on the develop branch"
https://github.com/syl20bnr/spacemacs/blob/bfd360440f0abb18ed47f123870d986deb2ad961/doc/CONTRIBUTE.org has links that work
https://github.com/syl20bnr/spacemacs/blob/13c5b1d24b7dab52d78aa236786cc6d4f3724d0a/doc/CONTRIBUTE.org has links that don't work

There are no commits to that file between 13c5b1d24b7dab52d78aa236786cc6d4f3724d0a and bfd360440f0abb18ed47f123870d986deb2ad961, so I guess 13c5b1d

[2015-11-13 13:05] TheBB commented on #3797
Yes, this is intended. We're phasing out github as the officially recommended way to view documentation online. It will be taken over by the spacemacs.org website (see #3604). Preview: http://boyanangelov.com/spacemacs/

[2015-11-13 13:10] #3797 closed

[2015-11-13 13:13] mineo commented on #3797
Ok, good to know :-) I don't want to spam #3604, so I'll just say it here: that website looks awesome :sparkles:

[2015-11-13 13:29] robbyoconnor commented on #3786
I did it in the center so it's not obtrusive :)

[2015-11-13 13:32] robbyoconnor commented on #3786
What's awesome is no need to change anything :D

[2015-11-13 13:51] ralesi commented on #3628
Is it even possible to add another prefix to start a microstate?  Also can we append to already defined microstate,  for example if we want to add some commands that require another package?

[2015-11-13 13:52] signalpillar commented on #3526
(y)

[2015-11-13 14:36] StreakyCobra commented on #3628
I'm not sure to understand exactly what you want, but maybe this: https://github.com/syl20bnr/spacemacs/blob/develop/doc/FAQ.org#change-or-define-an-alias-for-an-evil-leader-prefix (for the first question). For the second I don't know.

[2015-11-13 14:39] justbur opened #3798 "request: Log package updates and deletions"
I would like to have a persistent log showing the dates that each package is updated and what the change in version is. At the moment it's not that easy to even figure out which packages get updated with "Update Packages" because all the information flies by in the spacemacs buffer and it's not easy to see in the messages buffer. Of course it doesn't have to grow indefinitely. I just want to be ab

[2015-11-13 14:47] syl20bnr commented on #3798
I'm all for it, an `update.log` will be useful both for users and for support.

[2015-11-13 14:51] syl20bnr commented on #3788
This is because packages are loading in alphabetical order so you have to `with-eval-after-load` your require.
Though the above will work, this case smells something wrong somewhere.

[2015-11-13 14:54] syl20bnr commented on #3780
@amosbird what is your terminal emulator ? `urxvt` has this behavior on my side, the more I use urxvt the less I find it pleasant to use.

[2015-11-13 15:07] edpaget commented on #2571
Thanks I've opened https://github.com/syl20bnr/evil-escape/issues/56

[2015-11-13 15:26] amosbird commented on #3780
@syl20bnr I'm using CentOS 6 via XShell on Windows. XShell's terminal is set to `xterm` with UTF-8 support.

[2015-11-13 15:42] ralesi commented on #3628
Yes the alias would work for the first, for the second, I had wondered if it was possible to add additional commands to a micro-state within another packages' :init section

[2015-11-13 15:43] ralesi commented on #3628
So for example if there are commands  contingent on a package being loaded.

[2015-11-13 16:03] nashamri commented on #3786
Yeah :smile: this allows us to do special badges for special occasions :+1: think like google doodle.

[2015-11-13 16:23] d12frosted commented on #3549
- [ ] #801 Unsure: no activity
- [ ] #823 Valid
- [ ] #1269 Valid: but it's irrelevant to Spacemacs
- [ ] #1445 NRA
- [X] #1469 Already closed
- [ ] #1522 Valid
- [ ] #1544 Valid
- [ ] #1742 Valid: beginner friendly
- [ ] #1816 Unsure
- [ ] #1856 Unsure: looks like it's NRA
- [ ] #1863 Wontfix: TheBB proposed possible solution for this, but looks like we don't want it in Spacemacs
- [ ] #1869 Unsu

[2015-11-13 16:32] justbur commented on #3776
This is bizarre. Something is wiping out `evil-normal-state-map` locally after entering `wdired-mode`. I don't see what it could be right now.

By the way, this is a bad choice in the vinegar layer
[code]
There is no need to change the global normal-state binding in this case.

[2015-11-13 16:41] Peeja commented on #3402
To clarify, what's happening here is that [the `iedit` package is configured with `iedit-toggle-key-default nil`](https://github.com/syl20bnr/spacemacs/blob/074f425dc5d233f24195ecc3021eb96ac9d55d4d/layers/%2Bdistribution/spacemacs/packages.el#L1374), meaning [no keybinding should be added](https://github.com/tsdh/iedit/blob/fd801e77dfdcfa0bdeadc153a9fb637dab2b4bb4/iedit.el#L97). A user's config ca

[2015-11-13 16:44] synic commented on #3775
Seems to be a bug in upstream `persp-kill`

[2015-11-13 16:44] justbur commented on #3776
Got it. It's this
https://github.com/syl20bnr/spacemacs/blob/develop/core/core-evilified-state.el#L77-L78

@syl20bnr why does evilify do this?

[2015-11-13 17:31] robbyoconnor commented on #3786
Yessssss....please!!!

--Rob
Sent from my cell, please excuse any typos.
On Nov 13, 2015 11:05 AM, "Nasser Alshammari" <notifications@github.com>
wrote:

[2015-11-13 18:19] boykov commented on #3788
No,

[code]
does not help. The problem is exactly in the commit, because before it everything was fine (I used git-bisect to detect it). The bug exists not only for this particular package, but also for many others: `load-path` does not contain necessary paths at all.

[2015-11-13 18:56] StreakyCobra commented on #3788
@boykov If your question is answered, then you can mark it as closed :relaxed: Otherwise let us know how we can help you more!

[2015-11-13 19:02] TheBB commented on #3739
@ralesi This error still happens with e.g. the helm microstate.

[2015-11-13 19:09] boykov commented on #3788
None the less I think there is something wrong with post extension initialization (it should be after the loading packages, but it breaks normal loading order), because before the commit syl20bnr/spacemacs@7a2e604 everything was fine (I used git-bisect to detect it). It is very common way to use `require` in extensions, I do not understand why I should use `with-eval-after-load`. The problem still

[2015-11-13 19:17] StreakyCobra commented on #3788
Ok, so it's a core question/discussion, I'll let @syl20bnr handle this :-)

[2015-11-13 19:22] TheBB commented on #3788
Well, as the commit message says, we removed the post step. Now there's just pre and normal. So it's not surprising that code that relied on being in post would break.

Whether it should be brought back is another matter, but just to be clear: there's nothing *wrong* per se, this was intended.

[2015-11-13 19:27] boykov commented on #3788
Oh, I understood, thank you.

[2015-11-13 19:27] #3788 closed

[2015-11-13 19:38] StreakyCobra commented on #1067
This is an old issue that is already solved in master. Closing it, but feel free to open a new one in any case :relaxed:

[2015-11-13 19:38] #1067 closed

[2015-11-13 19:44] StreakyCobra commented on #1326
This is an old issue that seems to have been solved upstream, closing it then, but feel free to open a new issue in case of troubles :relaxed:

[2015-11-13 19:49] StreakyCobra commented on #2136
Either this is an upstream bug that has already been reported and we can't do anything about it, or it's a general problem about indentation which is discussed in a more general way in #3203. I'm closing this issue then, but feel free to open a new one in case of troubles :relaxed:

[2015-11-13 19:49] #2136 closed

[2015-11-13 19:54] StreakyCobra commented on #2753
Do you still have this bug? I can't reproduce it anymore.

[2015-11-13 19:56] StreakyCobra commented on #2880
Does anyone still have this problem? I tried yesterday to use github fetcher for a package in the ranger layer and it worked.

[2015-11-13 20:00] StreakyCobra commented on #3120
Any news on this discussion? Are you planing to PR it, or it is an abandoned idea?

[2015-11-13 20:10] StreakyCobra commented on #801
Any news on this issue? Is this still the happening?

[2015-11-13 20:12] StreakyCobra commented on #823
I can't reproduce this bug anymore, is it still the case for you?

[2015-11-13 20:17] StreakyCobra commented on #1269
@cpaulik's last comment explain well what the issue with terminal colors. It should be documented in the FAQ.

[2015-11-13 20:27] StreakyCobra commented on #1816
As it's a 4 months old discussion that nobody is looking at anymore, it will not be answered nor continued. I'm closing it then, but in any case feel free to open a new one to re-up the discussion :relaxed:

[2015-11-13 20:27] #1816 closed

[2015-11-13 20:28] jonathanj commented on #1326
This still doesn't seem to be working for me (I updated all my packages before testing this). The [upstream bug originally referenced](https://github.com/juanjux/evil-search-highlight-persist/issues/6) is still open and there has been no reply from the author to my question.

There also don't appear to be any commits upstream that would have resolved this. Do you mind explaining why you think the

[2015-11-13 20:30] StreakyCobra commented on #1856
As nobody reported this issue last 5 months, I assume it has been solved. I'm closing it, but feel free to open a new one in case of troubles :relaxed:

[2015-11-13 20:30] #1856 closed

[2015-11-13 20:30] naseer commented on #801
Yes - but the frequency is much lesser (once every 2-3 seconds) so it may be WAI

[2015-11-13 20:37] StreakyCobra commented on #1863
As nobody asked for this functionality last 4 months, upstream are not going to do anything on this, and the only existing solution is too hacky, it's a wontfix. People really wanting this can try @TheBB solution. I'm closing this issue then.

[2015-11-13 20:37] #1863 closed

[2015-11-13 20:49] gregpardo commented on #3786
Built vs Build?

[2015-11-13 20:51] synic commented on #2753
Just worked for me.

[2015-11-13 20:51] #2753 closed

[2015-11-13 20:54] StreakyCobra commented on #1326
Sorry, I'm doing a cleanup and I may be a little bit to prompt to close 6+ months issues without activity that I can't reproduce. As I failed reproducing it, I thought it was solved. I probably have missed a step.

As you say it's a valid issue, I reopen it :relaxed: Sorry for the annoyance.

[2015-11-13 21:03] ageorgo commented on #2366
Actually now pressing `f` causes double f-s being entered.

[2015-11-13 21:10] nashamri commented on #3786
The actual badge says "built" https://github.com/syl20bnr/spacemacs/issues/3793

[2015-11-13 21:12] StreakyCobra commented on #3786
Yeah, built, of course :sweat_smile:

[2015-11-13 21:18] jonathanj commented on #1326
@StreakyCobra I think the trick to reproducing it is in my comment on the upstream issue. You need to restart emacs after flipping that search switch otherwise you're still using the other search mode.

[2015-11-13 22:40] synic opened #3804 "NeoTree does not open file in last visited window"
If you have a setup like this:

[code]

And you want to open a file in "Right Window" - and your cursor is in "Right Window", you can click on a file in NeoTree and it will open it in the correct window.

However, if you do a key combination like `2 SPC w h` to get into the NeoTree window, and then you press enter on a file, it will NOT open in the last window you visited, it will most likely pick

[2015-11-13 23:13] StreakyCobra commented on #1326
Indeed, putting `(setq evil-search-module 'evil-search)` in `user-config` and restarting allows to reproduce it.

[2015-11-14 00:33] zilongshanren commented on #1856
@StreakyCobra  thanks

[2015-11-14 00:49] zeka0 opened #3805 "Problems with spacemacs"
I want to find a way to toggle line-number in initialization to avoid using Spc+t+n...(I am quit lazy)

[2015-11-14 00:53] zeka0 commented on #3805
Plus, I am looking for a mechanism to add bookmarks of files or directories, just like the functionality provided by NERDTree in vim, may be Cedet could do that job... I still have many things to learn in emacs.

[2015-11-14 00:55] robbyoconnor commented on #3805
Have you looked at the auto-completion layer?

[2015-11-14 02:17] zeka0 commented on #3805
I just have added this to my .spacemacs file:
(defun dotspacemacs/user-init ()
    (setq-default dotspacemacs-configuration-layers '(auto-completion))
    (setq-default dotspacemacs-configuration-layers '(
  (auto-completion :variables
                   auto-completion-return-key-behavior 'complete
                   auto-completion-tab-key-behavior 'cycle
                   auto-completion-compl

[2015-11-14 02:37] zeka0 commented on #3805
I get another trouble now... After I have installed magit according to spacemacs-doc, the key-binding spc+g is undefined...

[2015-11-14 06:05] AdmnUnpwnd commented on #2880
@StreakyCobra I'm still having problems installing the packages I listed above. I can install other packages that are ELPA compliant with no problem however, for some reason [req-package] (https://github.com/edvorg/req-package) installs but whenever I try to use it I get an error suggesting that the package is missing. I was hoping to use that to install the above packages since I tried el-get but

[2015-11-14 09:19] kecman opened #3806 "Fringe markers for diff-hl-mode don't scale with frame"
Here's a screenshot at my default zoom (`SPC z f =`):

![before](https://cloud.githubusercontent.com/assets/1313794/11162918/9dc2bd92-8ab0-11e5-8b5d-3d63e54c3ea4.png)

Here's a screenshot after I zoom frame 3 times (`SPC z f + + +`):

![after](https://cloud.githubusercontent.com/assets/1313794/11162920/a3126a90-8ab0-11e5-88cd-3650c5bdc529.png)

I'm using color theme `cyberpunk` but the issue exist

[2015-11-14 09:22] bmag commented on #3804
@synic IIUC pressing `2 SPC w h` does `SPC w h` twice, so first it moves one window to the left, then another window. From NeoTree's point of view, it sees that the middle window is the most recent window, because technically it really is the most recent window. Pressing `SPC 0` should bring you directly to NeoTree's window (using the `window-numbering` package), so the right window will really be

[2015-11-14 09:39] TheBB commented on #3806
Maybe related to #1647.

[2015-11-14 09:45] TheBB commented on #3804
Also, you can choose which window to open in with prefix arguments: `SPC u 4 RET` will open in window 4.

[2015-11-14 09:52] bmag commented on #3805
Emacs has a built-in bookmarks mechanism. <kbd>SPC h b</kbd> provides a Helm interface for setting and jumping to bookmarks.
Also, in your dotfile (`.spacemacs` or `.spacemacs.d/init.el`) there's this line:
[code]
If you change it to:
[code]
then you will see the bookmarks in the home buffer as well.

[code]

That's not the correct way to do it. The layer docs are a bit confusing about this point.

[2015-11-14 10:00] TheBB commented on #3804
Also I did this: https://github.com/jaypei/emacs-neotree/pull/138. Maybe that will be good?

[2015-11-14 11:43] nashamri commented on #3786
@robbyoconnor unfortunately rawgit (the service that I used to serve the badge asset) doesn't link directly to the asset, they cache it and serve the cached version forever, unless I do something like this #3807

[2015-11-14 12:52] stormpat commented on #823
Hi, seems to have been fixed, and works correctly on the current master.

[2015-11-14 12:52] #823 closed

[2015-11-14 14:45] zeka0 commented on #3805
Thanks for your patience!
I changed my .spacemacs to contain this:
 ;AUTO-COMPLETE LAYER
    (setq-default dotspacemacs-configuration-layers
              '((auto-completion :variables
                                 auto-completion-return-key-behavior 'complete
                                 auto-completion-tab-key-behavior 'cycle
                                 auto-completion-complete-with-

[2015-11-14 14:49] TheBB commented on #3805
auto-completion-auto-start 2
    auto-completion-menu-height 12
    auto-completion-auto-show-menu 0.8
    auto-completion-use-menu-map t

We don't have any variables by these names. Please note that Spacemacs uses **company** to provide auto-completion, not **auto-complete**. It seems you have been using the latter until now and are trying to configure company the same way.

You should remove the

[2015-11-14 14:55] zeka0 commented on #3805
Oh, that explains a lot...The problem is solved.

[2015-11-14 14:56] #3805 closed

[2015-11-14 16:07] StreakyCobra commented on #2147
@chengyi Have you been able to reproduce it?

[2015-11-14 16:22] StreakyCobra commented on #3472
Same problem with `TAB` in help buffers on #3165. Workaround proposed and working for this special case in the issue.

[2015-11-14 16:23] StreakyCobra commented on #3165
There is an ongoing more general discussion about how to handle difference between <tab>, TAB and other keybindings in terminal in #3472 I've reported and linked this issue there, so closing this one to avoid dispersing discussions. Feel free to continue the discussion there :relaxed:

[2015-11-14 16:23] #3165 closed

[2015-11-14 16:36] kvaneesh opened #3808 "emacs file-name"
This doesn't result in us showing file-name buffer. Instead we always default to spacemacs buffer.

[2015-11-14 16:40] kvaneesh opened #3809 "magit-blame and micro-state key display"
blame a buffer using magit-blame, we show in mini-buffer micro state key binding. Press Enter to show commit information of any of the blame region. Now 'q' key binding is confusing. First 'q' press remove the micro state information, next one kill the commit buffer and the third cause magit-blame-quit.

I guess we have some bugs w.r.t to micro state key handling ?

-aneesh

[2015-11-14 16:43] TheBB commented on #3808
If anyone else have difficulty understand (like myself), he is saying that giving a filename as an argument to `emacs` on the command line opens the file, but doesn't show it.

Probably related to #3233.

[2015-11-14 16:55] kvaneesh commented on #3808
That is correct. Thanks for explaining it better.

[2015-11-14 17:01] StreakyCobra commented on #820
@TheBB This bug is nearly solved by spaceline :clap: There is only one default, when the new frame is created, the height of its spaceline is wrong, but as soon as the zoom is changed its correct again. Probably something easy to correct no :smiley: ?

[2015-11-14 17:12] StreakyCobra commented on #2351
Ok now I can reproduce it, but I can't tell what was the difference since last time. Doing `SPC a u` to open the undo tree, it seems expending is doing an additional step (indenting the region)  just after. When pressing `u`, this indenting is undone, but redone just after, making it impossible to go further back in history.

[2015-11-14 17:23] TheBB commented on #820
The problem here is that the powerline cache is global and not frame-local. This will probably have to involve a feature request for https://github.com/milkypostman/powerline.

[2015-11-14 17:26] StreakyCobra commented on #2096
Could this issue have been solved with #3769 by any chance?

[2015-11-14 17:27] TheBB commented on #820
Actually it looks like the powerline cache is already frame-local. Not sure why this doesn't work, then.

[2015-11-14 17:30] TheBB commented on #820
Ah, I guess we have to make `powerline-height` frame-local somehow.

[2015-11-14 17:36] TheBB commented on #2096
No, sorry. This is something else.

[2015-11-14 17:38] TheBB commented on #2096
It's really just helm's problem to be honest. Should be reported upstream.

[2015-11-14 17:41] CestDiego commented on #2096
This *is* a helm problem. Helm candidates have some faces in them..but the selected item also has a face defined in Helm and that overrides the thing.......I guess changing the helm-item-selected-sth-sth to just inherit size,color, and just change the background should be enough.

[2015-11-14 17:44] StreakyCobra commented on #2096
Ok ok, I was just asking' when passing by :relaxed:

[2015-11-14 17:49] StreakyCobra commented on #2625
I propose to change the following:

In "normal" mode:
- `SPC q z` acting as `bb/maybe-quit` (show below)

In "daemon" mode:
- `SPC q z` acting as `bb/maybe-quit` (idem as in normal mode)
- `SPC q q` acting as `spacemacs/frame-killer`
- `SPC q Q` acting as `spacemacs/prompt-kill-emacs`

The reason why `bb/maybe-quit` function is better than just `frame-killer` is because when not in daemon mode, ki

[2015-11-14 17:52] StreakyCobra commented on #820
If you have an idea where we could make it `Beginner friendly` :-)

[2015-11-14 18:00] ipsod opened #3810 "in python-mode, running `evil-open-fold` on an already-open fold breaks `evil-close-fold`"
Pressing `zo` (runs `evil-open-fold`) on an already-open fold locks it into a fold state.
Pressing `zc` (runs `evil-close-fold`) will not close the fold.
Pressing `zm` will close the fold.

To reproduce, find something foldable in a python file, open it with `zo`, hit `zo` again, and then try to close it with `zc`.

[2015-11-14 18:03] TheBB commented on #3810
I don't have a binding for `zv`?

[2015-11-14 18:22] ipsod commented on #3810
Oh, oops.

I've got `zv` bound to `evil-open-fold`, same as `zo`.

[2015-11-14 18:45] ipsod commented on #3531
I've opened this issue: https://bitbucket.org/lyro/evil/issues/593/quotation-marks-in-html-strings-messes-up

They say it works for them, but it's still broken for me.  I don't know how to provide what they're asking for.

[2015-11-14 19:00] StreakyCobra commented on #3810
I reproduced it in python-mode.

[2015-11-14 19:17] StreakyCobra commented on #773
This `VIMUSERS.org` tutorial is indeed very valuable. What I suggest to do:

1. It's a general enough document to not be vim-specific. Adding a paragraph at the beginning explaining that:
    - In the `emacs` mode the emacs commands are working as usual
    - `SPC` should be replaced by `M-m`

  should probably be enough to make it a quick start guide on its own.

2. It should be merged with the a

[2015-11-14 19:19] TheBB commented on #773
You have my blessing. :+1:

[2015-11-14 19:26] CestDiego commented on #773
I thing that in the tutorial something about closing windows and moving around should be included :)

[2015-11-14 19:28] StreakyCobra commented on #2238
@zekzekus Is your problem solved, or do you need more help on this?

[2015-11-14 19:30] #2238 closed

[2015-11-14 19:32] StreakyCobra commented on #2651
I can't reproduce this problem. Does anybody of you is still having it?

[2015-11-14 19:48] StreakyCobra commented on #2787
`evil-mode-beyond-eol` has been set back to `nil` in 41459bea123d534ed48b1e3b50ee97723605b442. This solve this issue, and is coherent with vim behaviour. If `evil-move-beyond-eol` is set, then it's normal that it's not behaving like in vim anymore.

`evil-move-beyond-eol`, `x` (`evil-delete-char`) and `$` (`evil-end-of-line`) are all native `evil` function, so if someone don't like this behaviour

[2015-11-14 19:48] #2787 closed

[2015-11-14 20:07] StreakyCobra commented on #3448
@mistnim The behaviour you want seems to be a personal preference, and will probably not be a spacemacs default. Do you need some help to rebind this "go up one directory" in helm, or is this issue solved :relaxed:?

[2015-11-14 20:13] StreakyCobra commented on #1977
@sooheon AFAIK you can now install packages from github, as shown here: https://github.com/syl20bnr/spacemacs/blob/develop/doc/LAYERS.org#packagesel

You should be able to include it in the clojure layer :relaxed:

[2015-11-14 20:15] StreakyCobra commented on #2026
@dzhwinter Do you need some more help on this issue? If not, it can probably be close :relaxed:

[2015-11-14 20:18] robbyoconnor commented on #773
I learned heaps within the past few months

[2015-11-14 20:19] StreakyCobra commented on #2791
@LuoPX-15510486969 Do you still have this problem with the last spacemacs release after updating the packages also?

[2015-11-14 20:39] StreakyCobra commented on #3027
`M-RET` is bind to `org-meta-return` in `org-mode` for all Spacemacs modes (vim (insert-state), hybrid (insert-state), emacs).

In vim and hybrid mode, usual `M-RET` menu can be accessed with `,` from the normal state and `C-o ,` from the insert state, and through `M-m m` from all modes. It could be a little bit annoying (especially for users not used to normal state), but it's not really breaking

[2015-11-14 20:41] StreakyCobra commented on #1599
@vaneda Do you still have this issue on the last spacemacs release with the packages updated?

[2015-11-14 20:43] StreakyCobra commented on #1732
@h3dkandi Do you still have this problem? `/`, `n` and `N` are working correctly for me, both on `master` and `develop`. If yes, can you give some steps on how to reproduce? If not, this issue can probably be closed :relaxed:

[2015-11-14 20:50] sooheon commented on #1977
Thanks. Got it working with the following if anyone else is curious, I'll hold off on a PR until there is more actual demand, due to the hacky nature of the file loading currently.

    (use-package clojure-semantic
        :defer t
        :init
        (with-eval-after-load 'clojure-mode
          (load "~/.emacs.d/elpa/clojure-semantic-20130323.2/clojure.el")))

[2015-11-14 20:50] #1977 closed

[2015-11-14 20:51] StreakyCobra commented on #1797
@syl20bnr Any thought on the continuation of this thread?

[2015-11-14 20:54] StreakyCobra commented on #1835
It looks like the issue has been fixed upstream. If it is not the case, feel free to ping me here, I'll reopen it :relaxed:

[2015-11-14 20:54] #1835 closed

[2015-11-14 21:03] StreakyCobra commented on #3236
@FiloSpaTeam Do the provided answers fulfil your needs? If no, can you explain what do you expect/need more? If yes, this issue can probably be closed :relaxed:

[2015-11-14 22:57] StreakyCobra commented on #3145
@mbertheau I can't reproduce this bug, not on `develop` nor on `master`. Can you verify it still happens for you, I may do something wrong while trying to reproduce it.

[2015-11-15 00:30] michaelbeaumont opened #3813 "Spacemacs hanging when entering commands with SPC"
Hi,

Around every 10-20 times I use a command with the leader key, most often switch buffer but also SPC m C, at least with the latex layer, spacemacs hangs. Sometimes I can get it to respond by simply minimizing and reopening emacs, othertimes I just wait a minute or two, but sometimes I have to kill the server and restart it.
How can I get more information about what's causing it?

[2015-11-15 00:37] xelibrion opened #3814 "better-defaults - is it working?"
Hey guys,

I have a question about `better-defaults` layer - isn't it supposed to override `C-w` and `C-a`?
https://github.com/syl20bnr/spacemacs/blob/master/layers/better-defaults/keybindings.el

I have it enabled, but for some reason `C-w` is still bound to window management functions. I'm on Mac running spacemacs in a terminal if it makes any difference.

[2015-11-15 05:27] nixmaniack commented on #3814
It does work but it might the case that keybindings are shadowed by window management layer(eyebrowse specially). For me it's working and eyebrowse is on `C-c C-w`. What does `SPC h d k` `C-w` show you?

[2015-11-15 06:09] xelibrion commented on #3814
Okay, it seems to work, except for one part - `C-w` is still bound to evil commands in vim insert mode. Is this by design?

Vim mode:
[code]
Emacs mode:
[code]

[2015-11-15 06:21] nixmaniack commented on #3814
In general we keep Vim Editing style as close as possible to the stock Vim. So in vim insert state, C-w will behave same as it behaves in stock Vim, bindings for which are provided by `evil`, so those are not overridden.

But giving this a second thought, if the user includes `better-defaults` layer, should we modify Vim state defaults is another question to look at.

[2015-11-15 08:17] #2026 closed

[2015-11-15 08:42] TheBB commented on #1732
@StreakyCobra We disabled the `hl-anything` package to work around this bug. It's still documented as working and has been for a while.

[2015-11-15 08:44] TheBB commented on #1977
Maybe someone can push upstream to turn it into a MELPA package with a suitable name?

[2015-11-15 08:49] TheBB commented on #3814
The better defaults layer is for Emacs editing style users, not Vim style users. As the readme says, it doesn't change anything for the latter group.

[2015-11-15 09:11] mistnim commented on #3448
Yes, you can close this. But maybe as a different issue, it could be argued that spacemacs should support `C-h` for backspacing as default? Being the keybinding a standard used on vim, terminals and the like, and being of much more use than the help function.

[2015-11-15 10:16] zeka0 opened #3817 "Use-package in Spacemacs"
Sorry for bothering you guys again...
I want to add cedet configuration into my spacemacs as this:
 ;;PACKAGE-LOAD
 (use-package cedet
  :defer t
  :init
  (global-ede-mode 1)                      ; Enable the Project management system
  :config
  (semantic-load-enable-code-helpers)      ; Enable prototype help and smart completion
  )
I have read about the vimmer-doc but I can't find instructions

[2015-11-15 10:24] TheBB commented on #3817
Put it in the user-config function.

Also forget about `:defer t`. If you are loading it in `:init` then there's no point.

Remember to add cedet as an additional package if you want this.

[2015-11-15 10:41] zeka0 commented on #3817
It seems that the cedet bundled with emacs is outdated, and it seems that adding 'cedet ede' to the  dotspacemacs-additional-packages list can't help...Is there a way to use spacemacs to install the latest version of cedet?

[2015-11-15 10:47] TheBB commented on #3817
Well, is it available in a package repository on a source code repository somewhere?

[2015-11-15 10:52] zeka0 commented on #3817
I used 'locate' command to search the cedet but only find it inside the original emacs directories, so it's originally born. Ps I have added cedet to dotspacemacs-additional-packages, spacemacs didn't download and install it, it seems spacemacs just used the outdated-cedet.

[2015-11-15 10:56] TheBB commented on #3817
Well, I don't know how CEDET distributes its software. If it's not in a package repository and not in an easily accessible source code repository, maybe you just have to download it and set it up manually?

[2015-11-15 11:02] zeka0 commented on #3817
Yeah, I will try it. Anyway, is that possible to add that manually-downloaded version of cedet to the .emacs.d directory for the sake of consistency?

[2015-11-15 11:04] TheBB commented on #3817
You can put it wherever you want. Then add `(<packagename> :location <path>)` to `dotspacemacs-additional-packages`.

[2015-11-15 11:12] xelibrion commented on #3814
That's fair enough, I think just got confused by `global-set-key` which is not exactly global.

[2015-11-15 11:35] TheBB commented on #2335
Fixed by #2342.

[2015-11-15 11:51] zeka0 commented on #3817
Okay I gave it up...It seems that building cedet from source on mac OS X is just nightmare...It reports exactly 3 errors every time...may be it's because I installed emacs through home-brew...I hope spacemacs could replace the older version of cedet in emacs...

[2015-11-15 11:53] zeka0 commented on #3817
Plus every time I start spacemacs it says 'evil-jump-file is obsolete', but nothing serious happened.

[2015-11-15 11:53] StreakyCobra commented on #3472
#3448 is another variant of this problem. It's asking if Spacemacs can support `C-h` to act as `Backspace` in terminals, or at least to have an option for this.

[2015-11-15 11:54] StreakyCobra commented on #3448
There is an ongoing more general discussion about this in #3472, i.e. how to deal with keybindings that are sending the same keycode in terminal. I reported this one there, so if it is fine for you I let you close this one :-)

[2015-11-15 12:03] zeka0 opened #3818 "C++ Syntax Error"
My matrix_iterator.h file as follows:
#ifndef MATRIX_ITERATOR_H_
#define MATRIX_ITERATOR_H_
#include <iterator>
#include "my_container_base.h"
template<class matrix>
class _Matrix_iterator_base
	:public _STD iterator<
	_STD random_access_iterator_tag,
	typename matrix::value_type,
	typename matrix::difference_type,
	typename matrix::const_pointer,
	typename matrix::const_reference

{
};
//Hundreds

[2015-11-15 12:05] StreakyCobra commented on #3814
@xelibrion If all your questions have been answered, you can probably mark this issue as closed. Otherwise, let us know how we can help you more :relaxed:

[2015-11-15 12:06] xelibrion commented on #3814
Sure thing! Thanks for your help guys!

[2015-11-15 12:06] #3814 closed

[2015-11-15 12:13] TheBB commented on #3818
Please go to gitter for questions like these. These aren't Spacemacs bugs, but personal configuration issues.

[2015-11-15 12:14] TheBB commented on #3817
That's been fixed in the development branch.

Unfortunately Spacemacs doesn't use CEDET and we don't really have any plans to do so. It's too monolithic. We passed on elpy for much the same reason.

[2015-11-15 12:14] #3817 closed

[2015-11-15 12:14] zeka0 commented on #3818
Oh, I see...

[2015-11-15 12:14] #3818 closed

[2015-11-15 12:27] TheBB commented on #1258
Note, since #2635 is defunct the new PR for this issue is #3819. I would appreciate review over there.

[2015-11-15 14:24] axyz opened #3822 "helm-spotify does not change track"
I'm trying out the spotify layer, however while I'm able to do play/pause and next/previous on my current active playlist, when using helm-projectile and I press enter on a track it does not play that track, nor stop the current one. The command seems to be simply ignored and on message buffer I get `shell command succeded with no output`

I'm on develop branch, I have a free spotify account using

[2015-11-15 15:01] mistnim commented on #3472
I want it to act as `C-h` everywhere.

[2015-11-15 15:16] StreakyCobra commented on #3472
Oh, sorry for the misunderstanding.

[2015-11-15 15:16] syl20bnr opened #3823 "magit-gh-pulls return an empty list of PRs"
Due to changes in last Magit version, reported upstream: https://github.com/sigma/magit-gh-pulls/issues/60

[2015-11-15 15:26] StreakyCobra commented on #3448
I misunderstood what you was asking, my bad. I reopen this issue as it's not really a similar problem as #3472. What you want is a spacemacs option that allows to use `C-h` as backspace, everywhere (terminal, GUI), right?

[2015-11-15 15:52] mistnim commented on #3448
I would like to use `C-h` as backspace in general. But especially when editing text, be in insert mode or command mode.

[2015-11-15 16:49] ipsod opened #3824 "In org-mode, scrolling past inline images will sometimes skip many lines"
# The problem

_A Concrete Example_
When moving the cursor line-wise (using `j`) past a large image on line 11, the cursor goes from line 11 to line 38 in a single jump, skipping lines 12-37.  It does not happen at first, and seems to only occur after some scrolling has happened on the page.
# To reproduce
1. Make a folder.
2. Save the image from https://i.ytimg.com/vi/dDBOl-SmbiE/maxresdefault.jp

[2015-11-15 18:21] StreakyCobra commented on #1474
@jonesberg Now that spacemacs is using spaceline, can you verify this bug still occurs for you? I can not reproduce it. I also know it can be related to #1894, but you know… just to be sure :relaxed:

[2015-11-15 18:27] StreakyCobra commented on #1584
@jclosure @Vodurden Do you managed to resolve this issue? Is it still happening with the last spacemacs release?

[2015-11-15 18:30] StreakyCobra commented on #2189
This has been fixed in `develop` and `master` already. Closing it then.

[2015-11-15 18:30] #2189 closed

[2015-11-15 18:42] StreakyCobra commented on #2899
@LuoPX-15510486969 Do you still have this problem with the latest spacemacs release and the packages up-to-date?

[2015-11-15 18:49] StreakyCobra commented on #3090
@etergo Does changing your configuration from `'nil` to `nil` helps?

[2015-11-15 20:56] mateusz-gorski-hello commented on #383
@josiah14 what helped me was removing `scala` from layers and add it according to this guide https://github.com/hvesalai/scala-mode2

[2015-11-15 22:37] edwintorok opened #3828 "disable show-smartparens-mode on large files"
show-smartparens-mode freezes emacs when you have 'if (' in a C file that has 17969 lines (589536 bytes) and you try to move the cursor before/after, or above/below, or just type on that line. In fact I have to press `C-g` a few times to be able to continue editing.
Running `show-smartparens-mode` to toggle it off makes editing bearable again, although syntax checking is a bit slowish too (`-ferro

[2015-11-15 23:34] justin808 opened #3829 "curly quotes, smart quotes and spelling"
Words like "isn't" that have smart quotes show up as spelling errors.

Maybe the default should be for this to be enabled, to ignore differences of smart quotes.

http://www.emacswiki.org/emacs/InteractiveSpell#toc16

https://github.com/gareth-rees/smart-quotes

[2015-11-16 01:49] zilongshanren opened #3830 "spacemacs//layout-autosave is not working when enable layouts-enable-autosave"
Here is my dotspacemacs layer config:

[code]

But the variable `spacemacs--layouts-autosave-timer` is still nil after persp-mode is enabled.

And the function `spacemacs//layout-autosave` seems not working.

[2015-11-16 01:57] zilongshanren commented on #3830
Wired... It does save layout when I quit Emacs. But why `spacemacs--layouts-autosave-timer` is nil...
@CestDiego Thoughts?

[2015-11-16 02:10] #3830 closed

[2015-11-16 02:11] zilongshanren commented on #3830
@CestDiego
my bad, I got it now. the variable `spacemacs--layouts-autosave-timer` is the return value of `run-with-timer`

[2015-11-16 03:39] mbertheau commented on #3145
@StreakyCobra I still happens for me as of master a few minutes ago.

It happens for ClojureScript and Python files for me. Note that the point stays in the vertical middle when just searching for a letter and scrolling through the matches with `n`. It does not stay in the middle after `:%s/e/E/gc` when scrolling through replacement confirmations with `n`. When I abort the replacement with `Esc`,

[2015-11-16 06:43] nixmaniack commented on #3828
This is nice! I was experiencing the same but couldn't figure out what was the cause, had disabled flycheck, flyspell, smartparens and some more minor modes to work. This snippet goes in my config! Thanks.

[2015-11-16 06:59] StreakyCobra commented on #3145
Indeed, I can reproduce it now! I think the `%` is missing in the `:s/e/E/gc` of your first post then :relaxed:

[2015-11-16 07:11] StreakyCobra commented on #3824
I can reproduce this bug. Do you have the possibility to try on a raw emacs with org-mode to know if it is a spacemacs bug? :relaxed:

[2015-11-16 07:17] StreakyCobra commented on #3813
You can provide the output of `SPC h d s`, it may already give some indications. Then are you noticing this in all modes, or only some specific ones?

[2015-11-16 07:21] louy2 commented on #3120
If changing the font in Chinese layer still ensures a safe fallback when Source Han Sans is not installed, then I'd like to PR. So question: how does Emacs resolve its fonts?

[2015-11-16 07:24] louy2 commented on #2351
Oh, that's why. I remembered that single-line expansions are free of this problem. Why is the indenting redone just after?

[2015-11-16 07:26] StreakyCobra commented on #3120
I'm not sure to understand your question?

[2015-11-16 07:27] StreakyCobra commented on #2351
No idea :stuck_out_tongue:

[2015-11-16 09:19] louy2 commented on #3120
For example in CSS I can specify a number of fonts and have the browser fallback in order. Do I need to write some logic to achieve that in Emacs?

[2015-11-16 09:23] TheBB commented on #3390
The fix is in the develop branch now. Incidentally it's not useful until release, since the async session in question doesn't happen on the develop branch...

[2015-11-16 10:05] triklsbg opened #3831 "Subsequent calls of Ctrl-h v <xy> do not popup the *Help* buffer"
Reproduce: Load spacemacs, display the *Help* buffer with Ctrl-h v <any_var>, visit a second file with Ctrl-x f -<file>, query a second var with Ctrl-h v <var> ... you have to change manually to the *Help* buffer to see the result.

[2015-11-16 10:09] mbertheau commented on #3145
Indeed, added that now! Thanks :)

[2015-11-16 10:49] StreakyCobra commented on #3120
I looked a little bit and it seems related to fontset:
- https://www.gnu.org/software/emacs/manual/html_node/emacs/Fontsets.html
- https://stackoverflow.com/questions/6083496/how-do-you-specify-a-fallback-font-in-emacs
- https://emacs.stackexchange.com/questions/17205/how-do-i-set-up-font-fallback-in-a-robust-way

[2015-11-16 10:53] nixmaniack commented on #3831
If you're opening the second file in help buffer itself, then I think it's expected behaviour. Don't know much about internals but I think it's a special window(popwin?) which is different from normal window.

[2015-11-16 11:16] Nicholas-Mitchell commented on #192
Someone else has the same solution here: http://andrewjamesjohnson.com/suppressing-ad-handle-definition-warnings-in-emacs/

They mention where the warnings come from.

[2015-11-16 11:57] TheBB commented on #3828
I think this would be good to have regardless of #3609 since this mode has a size threshold a lot lower than most of the other show-stoppers.

[2015-11-16 14:04] santiagobasulto opened #3837 "Include currently activated virtualenv information in mode line"
Hello guys, I've been tryings to add the currently activated virtualenv to the mode-line but I've not been lucky. I activate my virtualenv with `pyvenv-workon (M-RET V)`. It'd be cool to make the mode line indicate what virtualenv you're currently working on.

[2015-11-16 14:05] TheBB commented on #3837
We already have an issue about it upstream: https://github.com/syl20bnr/spacemacs/issues/3837

You should follow that, probably.

[2015-11-16 14:06] santiagobasulto commented on #3837
Thanks @TheBB . Should I close this one?

[2015-11-16 14:06] TheBB commented on #3837
No, you can leave it open.

[2015-11-16 14:07] santiagobasulto commented on #3837
Thanks! I'll keep trying to make it work :)

[2015-11-16 14:46] CestDiego commented on #1745
that is an issue from `spacemacs|define-micro-state`. Also regarding the javascript issue defining `SPC x m j` and `SPC x m k` it's due to these lines https://github.com/syl20bnr/spacemacs/blob/develop/layers/+lang/javascript/packages.el#L168-L169

[2015-11-16 14:50] CestDiego commented on #1745
I would also like to point that moving regions with this command doesn't work with evil. If one does the marking with Emacs it works but if one selects stuff with evil it breaks: here is a gif
[![alt](http://i.imgur.com/zlzohdS.gif)](http://i.imgur.com/zlzohdS.gif)

[2015-11-16 14:56] TheBB commented on #3837
Should be available once MELPA sets up the new version. Details in link above :point_up:

[2015-11-16 15:17] CestDiego commented on #3822
I just tried this in my Emacs... :) it's so good to be able to control spotify from inside Emacs. Anyway...it works here and I get these messages:
[code]

[2015-11-16 16:16] synic commented on #3804
@bmag: But, you understand that, as I said, this is not how vim+nerdtree works.

@theBB: Either one of those works for me!

[2015-11-16 16:16] #3804 closed

[2015-11-16 16:19] synic commented on #3762
It seems there's a few "types" of buffers/windows that do not get saved.  For instance, `magit-status`, `NEOTree`, etc.

[2015-11-16 16:29] bmag commented on #3828
I'd like to point out that in the `spacemacs` distribution we also enable `highlight-parentheses` - see https://github.com/syl20bnr/spacemacs/blob/develop/layers/%2Bdistribution/spacemacs/packages.el#L61. I'm not 100% sure, but maybe it's safe not to enable `show-smartparens-mode` and `show-smartparens-global-mode` in the first place?
In my config I disabled `show-smartparens-mode` and I still hav

[2015-11-16 16:58] jclosure commented on #1584
I had the same issue with Pry in windows.  Turns out, it's an issue with readline.  Here's my ~/.pryrc that fixes the issue:

## works around issues with emacs + pry
## note that you need to install the pry-byebug and awesome_print gems for this to work

class Emacsable
  def self.readline(prompt)
    print prompt
    (gets || '').chomp
  end
end
Pry.config.input = Emacsable

Pry.config.pager = fa

[2015-11-16 17:18] TheBB commented on #3828
@bmag Yes, I do the same actually.

[2015-11-16 17:35] StreakyCobra commented on #1584
@jclosure Thanks for sharing!

@Vodurden Does this method work in your case?

[2015-11-16 18:47] howdoicomputer commented on #1599
I'm noticing this as well. Emacs locks up and I can't do anything if version checking does not succeed.

[2015-11-16 18:55] StreakyCobra commented on #2292
As the problem have been solved upstream and nobody reported this issue the last 3 months, I'm closing it. Feel free open a new issue in case of troubles :relaxed:

[2015-11-16 18:55] #2292 closed

[2015-11-16 19:00] TheBB commented on #2104
Thanks, but neither tab nor backtab have any indenting effects here, whichever editing style.

It wouldn't be a problem to map tab and backtab to `>` and `<` in vim visual state, anyway, but since there doesn't seem to be a lot of support for this feature I will close this issue until there's a PR.

[2015-11-16 19:00] #2104 closed

[2015-11-16 19:13] synic commented on #3775
Ok, I have a workaround from upstream.  Put this in your `user-config`:

[code]

Not entirely sure what that setting does, but it does fix the problem, and persistent perspectives still work.

[2015-11-16 19:19] StreakyCobra commented on #3506
@zilongshanren @louy2 Would it be useful to add this `fcitx` package and turn it on in the chinese layer? If yes, can someone PR it, it seems to be a trivial change⁽¹⁾. If not, I'll close the issue.

⁽¹⁾ I can't really to do it myself as I can't test it :-/

[2015-11-16 21:06] TheBB commented on #3822
I'm on Linux and it works fine. Spotify client 0.9.17.8.gd06432d7

[2015-11-16 21:12] cpaulik commented on #3824
I just tried several times on emacs 24.5.1 and latest `org-plus-contrib` and could not reproduce this. Which versions of emacs and org are you using?

[2015-11-16 21:26] koudelka opened #3843 "Use secure package endpoints?"
As far as I can tell, spacemacs is using non-TLS urls for its `package-archives`. Any thoughts on moving it to TLS?

It looks like the `org` source doesn't seem to respond to TLS at the moment, though.

Maybe some of the other bits from https://glyph.twistedmatrix.com/2015/11/editor-malware.html too?

[2015-11-16 21:26] kostajh opened #3844 "[org-mode] Provide option to highlight when no clock is running"
It would be nice to have a variable one could set in their `.spacemacs` to show "Not clocked in" prominently in the modeline, [like in this example](https://raw.githubusercontent.com/iqbalansari/emacs-emojify/master/screenshots/emojify-in-action.png).

[2015-11-16 21:32] TheBB commented on #3843
This was fixed six days ago: https://github.com/syl20bnr/spacemacs/pull/3749

[2015-11-16 21:34] TheBB commented on #3844
This should be a feature request to [spaceline](http://github.com/TheBB/spaceline). Please report it there instead.

[2015-11-16 21:34] koudelka commented on #3843
oh, i didn't see that while searching. thank you! :)

[2015-11-16 21:34] #3843 closed

[2015-11-16 21:50] #3844 closed

[2015-11-16 22:08] StreakyCobra commented on #690
Putting the following snippet:
[code]
in `user-config` or `user-init` doesn't work. It's probably because the buffer get's created between [this](https://github.com/syl20bnr/spacemacs/blob/develop/layers/+distribution/spacemacs-base/config.el#L126-L128) and `user-config`. We can probably extract this as a variable if people need this functionality.

[2015-11-16 22:36] Vodurden commented on #1584
@StreakyCobra I'm no longer using emacs on windows so I'm unfortunately unable to test.

[2015-11-16 22:50] StreakyCobra commented on #1584
Ok, thanks for your response! A workaround have been proposed and nobody else seems to have this problem anymore, I'm closing this issue then.

If anybody encounters this bug again, let us know by opening a new issue, or posting a message here (I'll reopen it if it's the case) :relaxed:

[2015-11-16 22:50] #1584 closed

[2015-11-16 23:04] mclearc commented on #3355
I finally figured this out. It was textexpander expanding `hd` into `had`. Some automatic spell-correct snippet I wasn't aware of. Sorry for wasting everyone's time! :)

[2015-11-16 23:04] #3355 closed

[2015-11-16 23:25] idbrii commented on #773
Two opinions (feel free to ignore them):

This document is more useful if it *is *specific to vim users since they
are an entire class of users separate from anyone else using a vim
emulator. When I started using spacemacs I found the documentation too
verbose and aimed at the general user. I wasn't a general user, I was a vim
power user. VIMUSERS was created to help people in my position to quick

[2015-11-16 23:35] ralesi commented on #3776
@justbur why don't we want to define this?  Part of vinegar.vim was making the directory buffer universally available with `-`.  Similar to `C-x c-j` in dired-x.

[2015-11-16 23:36] ralesi commented on #3776
I guess we can isolate it to a configuration variable, but it is consistent with the vim version.

[2015-11-16 23:39] ralesi commented on #3762
I confirm the issue, the workaround works as well, but I think it would be better if we let layouts know this before closing.

[2015-11-16 23:51] zilongshanren commented on #3506
@StreakyCobra
Sure, I will send a PR today.

[2015-11-16 23:59] dsdshcym commented on #3762
@synic @ralesi
I was thinking, maybe we can ignore these type of buffers. Since we usually don't need to restore these buffers which are not files.

But I don't know how to deal with the layout part.

[2015-11-17 00:24] zilongshanren commented on #3506
@erstern  @StreakyCobra

Here is the PR: https://github.com/syl20bnr/spacemacs/pull/3847

[2015-11-17 00:26] ralesi opened #3848 "Discussion file-management layer"
I will be revising vinegar layer as a package and wondered if we want a configurable file mgmt layer with options, or keep as separate layers for packages? Options I am thinking of would be vinegar, dired,  diredp, ranger, dired-k, and sunrise-commander.

[2015-11-17 00:26] ralesi commented on #3848
Neotree is only the sidebar,  so I am thinking it should stay separate.

[2015-11-17 00:48] benquebec commented on #2250
I haven't thought about using `SPC e n` but I did modify my latex layer so that the output is at `SPC m o`. I chose this keybinding because  `m` is related to the major mode (it keeps everything TeX neatly together) and `o`for output...

[2015-11-17 00:58] victorfonsec4 commented on #3822
I'm on arch and it's not working for me either.

[2015-11-17 01:15] justbur commented on #3776
Sorry my fault. I misinterpreted the purpose of the function. Ignore that comment

[2015-11-17 02:12] ipsod commented on #3824
I'm on emacs 24.5.1, also.

[2015-11-17 03:06] syohex commented on #3584
@jvillasante @EricTing  I think `-sort-includes` option issue is fixed by following commit. Please upgrade `clang-format.el` and check again.

https://github.com/llvm-mirror/clang/commit/d27c92ca6f5fcafbe4c63f6e2bc440f0e86f881a#diff-e094070cb41c78c4a39f1b870dd8827b

[2015-11-17 03:20] colorgmi opened #3850 "Always suddenly "Making tags completion table for $some-path""
When I edit something, this suddenly come to hang the spacemacs; so long, I have no idea what to do.  Can anybody help me?

[2015-11-17 03:28] jonesberg commented on #1474
It doesn't on my side either. :-)

Thank you so much!

[2015-11-17 05:03] moesasji commented on #2250
Using `SPC e n` is not a good idea as that is reserved for flycheck, which I do use. The suggestion from @benquebec  to use `SPC m o` would work well with the current keybindings of the major mode.

btw) An alternative could be to use `SPC c w` short for "compile window" or alternative `SPC c o` for "compile output" (develop has `SPC c q` to close this window). However this feel less logical for L

[2015-11-17 06:40] lufeihaidao commented on #3772
@cpaulik Now I've set the 'no_proxy', and installed `miniconda-3.16.0`, but it still not work...

[2015-11-17 07:48] #3506 closed

[2015-11-17 07:51] d12frosted commented on #690
I don't like duplication of existing variables, that's why it would be nice to make sure that it's possible to configure existing variable. But if it's not really possible to make it safe - I don't mind having `dotspacemacs-***`.

What I fear is that if we want to support any major mode in scratch buffer - we should set it after layers are initialised. Things that should be tested:

1. Setting it

[2015-11-17 10:19] entrobe commented on #2315
Similar issue happens to me. Using OSX 10.10.5, no external monitors. Only thing I can seem to connect the crash to is running racket repl from racket-mode.

Crash report below:

[code]

[2015-11-17 10:53] StreakyCobra commented on #3824
I'm on linux, emacs 24.5.1 too. Maybe there is a difference if your screen size is big enough to not have to scroll after second image, or maybe there is a difference with scroll-margin.

[2015-11-17 10:56] StreakyCobra commented on #1474
:+1: Nice. I'm happy it's solved for you :-)

[2015-11-17 10:58] TheBB commented on #3584
Can confirm :+1:

[2015-11-17 10:58] #3584 closed

[2015-11-17 10:58] StreakyCobra commented on #3506
:+1: Nice, thank you :-)

[2015-11-17 11:00] StreakyCobra commented on #690
You're right, we should make possible for user to customize it. Definitively not "Beginner Friendly" anymore :-)

[2015-11-17 11:04] TheBB commented on #690
Can we add a mechanism to revisit the scratch buffer after `user-config` and change the major mode, according to the value of `initial-major-mode`? That wouldn't require a new variable, and it would still let the user configure it in the config function. It would be safe with org as well.

[2015-11-17 11:07] TheBB commented on #690
Basically, here: https://github.com/syl20bnr/spacemacs/blob/develop/core/core-spacemacs.el#L194

[2015-11-17 11:10] StreakyCobra commented on #3848
Does it imply there will be a limitation to use only one file-management package at a time? There is maybe people that like to use both vinegar and ranger. I'm not in this case, just askin' :-)

[2015-11-17 11:51] benquebec commented on #2250
Tried `SPC c C` on a .tex file. Could this binding be more appropriate for those times where a .tex file is compiled using a makefile?

[2015-11-17 11:55] StreakyCobra commented on #773
Ok, maybe a short quick start file, as it is now, is needed. But there is a documentation missing between the quick-start and the full documentation. Something explaining the basic concepts of `Spacemacs`. People are asking for this on Gitter.

The `VIMUSERS.org` contains `vim`-oriented comparisons, yes, but its structure is exactly what is needed to introduce Spacemacs briefly. To avoid duplicati

[2015-11-17 13:39] Arbitrageur commented on #3027
'M-m m' is good enough. I just missed it. Thanks!

[2015-11-17 13:39] #3027 closed

[2015-11-17 14:04] tdejager commented on #2327
Sorry a quick question from an emacs starter, if I enable add this to my private layer and install the rtags server. Can I just enable the C++ layer from my spacemacs dotfile?

[2015-11-17 14:15] ralesi commented on #3739
I haven't tried that state,  but I dont get the string-p error on the buffer micro-state anymore.

[2015-11-17 14:18] ralesi commented on #3848
No,  I think we make them all accessible for use,  but have a primary file manager using something like mentioned here:

[2015-11-17 14:21] TheBB commented on #3739
Yeah, me neither, but I can produce it with: `SPC b b` (or anything else helm), `M-SPC` (enable the micro-state) and `?` (show documentation).

[2015-11-17 14:21] StreakyCobra commented on #3848
I like it then :+1:

[2015-11-17 14:33] xHN35RQ commented on #2366
Sorry I'm not using emacs anymore. Is there any way to transfer this issue to someone more relevant? Thanks.

[2015-11-17 14:49] StreakyCobra commented on #2366
@xHN35RQ There is probably no way to transfer it. But keep this issue open and click on `Unsuscribe` from this issue on the right sidebar if you want. We will take care to close it once resolved :relaxed:

[2015-11-17 14:50] xHN35RQ commented on #2366
Ok thanks!

[2015-11-17 14:57] TheBB commented on #2172
Try setting `auto-revert-check-vc-info` to `t`.

Seems this might be caused when changing the branch doesn't cause the content of the file to change. Then `auto-revert` won't do anything.

[2015-11-17 15:00] tsimaa opened #3853 "‘open the quickhelp’ suspended"
OS: Slackware-current

When I start Emacs, bottom line prompt "open the quickhelp". Emacs suspended animation without response, about 1 ~ 2 minutes after only can response keyboard action, which is what reason?

Spacemacs for the first time, thank you.

[2015-11-17 15:03] TheBB commented on #3853
You probably have https://github.com/emacs-helm/helm/issues/1000

Try this in your `dotspacemacs/user-init` function.

[code]

[2015-11-17 15:29] tsimaa commented on #3853
Yes, I have modified the ~/.spacemacs.d/init.el, but the situation is still not changed.

[2015-11-17 15:32] TheBB commented on #3853
No, your `~/.spacemacs`, where your other settings are. Don't modify Spacemacs source code.

Can you do `emacs --debug-init --timed-requires --profile` to see what is taking a long time to load? You probably have to move to the develop branch to do this.

If you don't want to go to develop you can try `emacs --debug-init` and see in your `*Messges*` buffer if anything is taking a particularly long

[2015-11-17 15:38] StreakyCobra commented on #3853
@TheBB He modified `~/.spacemacs.d/init.el`, not `~/.emacs.d/` ;-)

[2015-11-17 16:27] StreakyCobra opened #3854 "Emacs 25 error on packages download/update"
Recent builds of emacs 25 fail to download/update packages with the following errors:

[code]

The backtrace involve the followings:

[code]

and

[code]

It's has already been noticed upstream:

https://lists.gnu.org/archive/html/emacs-devel/2015-11/msg01494.html

There is probably nothing to do here other than waiting. I'm just reporting it here for people encountering this issue.

[2015-11-17 17:06] michaelbeaumont commented on #3813
I notice it at least in HTML mode, Jade mode, Haskell mode and LaTeX mode. There aren't any others I use very much at the moment.

I've been having to `killall -9 emacs` lately to get rid of the hung instances.

Doesn't look like there's anything useful in `SPC h d s`:

[code]

[2015-11-17 17:32] tsimaa commented on #3853
I create file ~/.ssh/config and input:
Host *
    ControlMaster auto
    ControlPath ~/.ssh/master -%r@%h:%p
    ControlPersist = no

Then, the problem is solved.

[2015-11-17 18:07] TheBB commented on #3853
Should maybe put that in the FAQ as well then.

[2015-11-17 18:30] StreakyCobra commented on #3549
- [ ] #1298 Not verified
- [ ] #1730 Not verified
- [ ] #2278 Not verified
- [ ] #2329 Not verified
- [ ] #2452 Not verified
- [ ] #2671 Not verified
- [ ] #2843 Not verified
- [ ] #3378 Not verified
- [ ] #3462 Not verified
- [ ] #3538 Not verified

[2015-11-17 18:47] StreakyCobra commented on #2278
It is possible to add additional packages… well, in `dotspacemacs-additional-packages`. To use a local package, it is possible to use there the syntax presented in [LAYERS.org#packages.el](https://github.com/syl20bnr/spacemacs/blob/develop/doc/LAYERS.org#packagesel) or, as already explained, to use `(load-file …)` and `(require …)`.

This issue having been answered, and as there was no activity la

[2015-11-17 18:47] #2278 closed

[2015-11-17 18:56] StreakyCobra commented on #2843
@srid Is it working now?

[2015-11-17 19:01] StreakyCobra commented on #3378
@lululau Can you reproduce this problem on `develop`? I can't reproduce it, but I'm also not sure to do it correctly.

[2015-11-17 19:02] StreakyCobra commented on #3549
- [ ] #860 Not verified
- [ ] #903 Not verified
- [ ] #1867 Not verified
- [ ] #1950 Not verified
- [ ] #2231 Not verified
- [ ] #2254 Not verified
- [ ] #2522 Not verified
- [ ] #2710 Not verified
- [ ] #3407 Not verified
- [ ] #3509 Not verified

[2015-11-17 19:08] StreakyCobra commented on #903
@syl20bnr Any news on this?

[2015-11-17 19:15] TheBB commented on #903
Use-package already supports this so it's just up to us now.

[2015-11-17 19:19] StreakyCobra commented on #2231
@hyuna917 As there was no answer from you last 4 months and your link is a 404 now, I'm closing this issue. If you want to answer the questions and give an existing link, I'll reopen it with pleasure :relaxed:

[2015-11-17 19:19] #2231 closed

[2015-11-17 19:24] StreakyCobra commented on #2522
@mkomitee I'm using it in this way by having `(global-git-commit-mode t)` in the `user-config` of my `.spacemacs`. Does it work for you?

[2015-11-17 19:29] StreakyCobra commented on #3509
@robbyoconnor Does the @ralesi PR solve your issue?

[2015-11-17 19:36] StreakyCobra commented on #3549
- [ ] #1181 Taken care directly
- [ ] #1255 Taken care directly
- [ ] #1520 Taken care directly
- [ ] #1687 Taken care directly
- [ ] #1855 Taken care directly
- [ ] #2272 Taken care directly
- [ ] #2775 Taken care directly
- [ ] #3079 Taken care directly
- [ ] #3108 Taken care directly
- [ ] #3252 Taken care directly

[2015-11-17 19:48] StreakyCobra commented on #1181
@jonathanj [You said](https://github.com/syl20bnr/spacemacs/pull/1239#issuecomment-94282941) this issue has been solved, right?

[2015-11-17 19:52] StreakyCobra commented on #1255
@Sohalt I just tried and arrows seem to work for `SPC w` now. Is there other bindings where you want this behaviour? Otherwise the issue can probably be closed :relaxed:

[2015-11-17 20:01] StreakyCobra commented on #1520
@syl20bnr @CestDiego What's you opinion on this? Should this be integrated in `spacemacs-layout` ? Should it be closed?

[2015-11-17 20:04] StreakyCobra commented on #1855
@BlinkD Can you give some steps on how to reproduce please?

[2015-11-17 20:18] StreakyCobra commented on #2272
What is the status of this issue? Has it been solved, or is it still an existing bug with emacs 24.3?

[2015-11-17 20:20] StreakyCobra commented on #2775
@jgoold Can you try if this bug still arise with the last spacemacs release? Maybe also with the `develop` branch if you can :relaxed: ?

[2015-11-17 22:09] synic commented on #2522
@StreakyCobra It doesn't work for me.  In my `user-config`, I have this:

[code]

However, when running `git commit -a`, the commit message is in `Fundamental` mode.

#### System Info
- OS: darwin
- Emacs: 24.5.7
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 7c160e8)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-17 22:12] StreakyCobra commented on #2522
Weird...

[2015-11-17 22:20] synic commented on #2522
Oh crap, nevermind.  I forgot I was running a daemon that needed reloading.  It does indeed work.

[2015-11-17 23:56] cpaulik commented on #3824
I have a HDPI screen on which both images fit easily. So it might be that

[2015-11-17 23:58] cpaulik commented on #3772
@lufeihaidao Then I'm out of ideas unfortunately.

[2015-11-18 00:06] synic commented on #3772
@lufeihaidao I had to install jedi and anaconda-mode with pip, outside of emacs.  anaconda-mode tries to install it automatically, but does it incorrectly.

[2015-11-18 04:28] xiaoxinghu opened #3861 "emacs freezes (100% CPU Usage) in org agenda view"
To reproduce:
Press `e` (org-set-effort) on org-mode agenda view to a task.

I don't know if it is my setup only. But it happens every time.

[2015-11-18 05:22] ralesi commented on #3693
I will submit a PR if anyone is interested.

[2015-11-18 06:15] d12frosted commented on #2264
If you ever run into this - just update your packages (not Spacemacs itself, but packages).

[2015-11-18 06:34] d12frosted commented on #3549
- [ ] #2236 Not sure: looks like it's NRA though
- [ ] #2264 NRA
- [ ] #2273 NRA: proposed solution is fine, nothing else to do
- [ ] #2323 Valid
- [X] #2361 Already closed
- [X] #2376 Already closed
- [ ] #2571 Reported upstream
- [X] #2623 Already closed
- [ ] #2946 Valid ?
- [X] #2966 Already closed
- [ ] #3039 Invalid: proposed solution, no response - should be closed
- [ ] #3137 Can't reprodu

[2015-11-18 07:54] StreakyCobra commented on #3824
Probably, try to add more than 2 images then.

[2015-11-18 08:13] StreakyCobra commented on #3861
I can't reproduce it. Can you paste the output of `SPC h d s` here? It may help identifying the issue. You can also try to update your packages if not already done recently.

[2015-11-18 08:23] StreakyCobra commented on #3850
Can you try to press `C-g` when this happen? And if you can give more informations, like the kind of file you're editing, what you were typing, etc. it would be nice :-)

[2015-11-18 08:29] jonathanj commented on #1181
@StreakyCobra Yes, it looks like it has been solved and appears in Spacemacs develop.

[2015-11-18 08:29] #1181 closed

[2015-11-18 08:47] cpaulik commented on #3824
Tried with 4 images, and also increased the image size so that only one fits on the screen at a time. Still no problems with the scrolling.

[2015-11-18 08:57] cpaulik commented on #2732
While I really like the look of `org-indent-mode` I do have issues with it sometimes. New headlines are sometimes not indented until I reopen the file which is rather annoying. Does anybody else have this problem?

[2015-11-18 09:01] TheBB commented on #2732
Yes I do too. For me it usually suffices to turn the mode off and on again, instead of having to actually close and reopen the buffer.

[2015-11-18 09:41] StreakyCobra commented on #3824
Hum, do you have scroll-margin enabled at 5?

[2015-11-18 11:52] user471 opened #3865 "set-key-for-mode redefining doesn't work with emacsclient"
#### System Info
- OS: windows-nt
- Emacs: 24.5.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 7c160e8)
- Distribution: spacemacs
- Layers:

[code]

I use `(server-start)` in config.

There is  `"mss" 'haskell-interactive-bring` in layer's config
I want to redefine it

[code]

When I open file with emacs the hotkey is working.
But when I open file with emacsclient the hotkey isn't workin

[2015-11-18 13:40] dzhwinter opened #3868 "[question] how to disable indent in namespace c++-mode"
I have a multiply nested namespace in c++-mode:
[code]
so emacs indents to the third position. However I just want a single indentation. And I googled this solution. http://stackoverflow.com/questions/2619853/emacs-override-indentation

But unfortunately it does not work in spacemacs. Is it possible to accomplish this effect simply?

[2015-11-18 13:54] justbur commented on #3108
@StreakyCobra #3114

[2015-11-18 14:03] dsdshcym opened #3869 "Undo behaves abnormally"
Today I suddenly find my evil-undo doesn't work well as normal.

Here is an example:
1. Insert 'a' (using <kbd>i</kbd>, then <kbd>ESC</kbd>)
2. Insert 'b' (using <kbd>i</kbd>, then <kbd>ESC</kbd>)
3. undo (using <kbd>u</kbd>)

But it undoes both 1 and 2.

Here is my system info:
#### System Info
- OS: darwin
- Emacs: 25.1.50.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 7c160e8)
- Distr

[2015-11-18 16:34] syl20bnr commented on #3823
Fixed in upstream.

[2015-11-18 17:17] TheBB commented on #3868
That solution works fine for me. Have you remembered to actually *set* the style you made?

[This](https://github.com/TheBB/spacemacs-layers/blob/master/bb-c-styles/config.el#L9) is what I use, for the record. Note I have `0` instead of `[0]`.

[2015-11-18 18:00] cpaulik commented on #3824
Ah, I had `dotspacemacs-smooth-scrolling` disabled. Enabling it reproduces the error.

[2015-11-18 18:40] #3831 closed

[2015-11-18 18:45] ipsod commented on #3824
Cool, I'm glad to know that I can disable `dotspacemacs-smooth-scrolling` for a temp fix.

Disabling it avoids the error here, too.

[2015-11-18 18:53] nixmaniack commented on #3869
Was bit confused with repro steps, here's what I tried.
1. I started `vim /tmp/sample.txt`, `i` for insert mode, typed `ab`, `ESC` to get back in normal mode, hit `u`, it clears `ab`. In short `i a b ESC u` clears `ab`. Expected as you described. (Seems same in spacemacs)
2. Started `vim /tmp/sample.txt`, `i a ESC i b ESC u`, clears only `b` (Seems same in spacemacs)

[2015-11-18 19:02] justbur commented on #3854
Try the emacs-25 branch

[2015-11-18 19:11] StreakyCobra commented on #3869
Same @nixmaniack here.

[2015-11-18 20:28] kalouantonis opened #3870 "Racket layer dependencies"
A minimal install of racket will not work with the racket layer. We should add a line in the README to notify people that the DrRacket package is required or at least the minimum required packages to be installed with raco.

There should at least be more informative output than what I got when first booting up with a minimal install:

[code]

[2015-11-18 20:55] xiaoxinghu commented on #3861
Here you go.

#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.104.4
- Spacemacs branch: master (rev. f04bb61)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-18 20:57] StreakyCobra commented on #3861
@d12frosted Could you try to reproduce this with the given list of layers maybe?

[2015-11-18 21:00] xiaoxinghu commented on #3861
@StreakyCobra This is the last info shown from emacs, because it is frozen, I cannot switch to Message buffer to see more.
<img width="580" alt="screenshot 2015-11-19 09 58 15" src="https://cloud.githubusercontent.com/assets/1196745/11254201/46383d02-8ea4-11e5-8f6c-44e112fb6bef.png">

[2015-11-18 23:33] StreakyCobra commented on #3861
Oh, I remember having seen an issue about org-export problem with `vim-empty-lines`, but here it seems to be different.

[2015-11-18 23:37] cpaulik commented on #3780
@jrhorn424 I think this is just a issue with the solarized theme spacemacs uses. See also https://github.com/syl20bnr/spacemacs/issues/1269#issuecomment-147193789

[2015-11-18 23:47] cpaulik commented on #3780
See also https://github.com/bbatsov/solarized-emacs/issues/18

[2015-11-19 01:28] robbyoconnor commented on #3509
Yuppers -- thank you @ralesi for being just amazing :tada:

[2015-11-19 01:28] #3509 closed

[2015-11-19 01:34] dsdshcym commented on #3869
@nixmaniack @StreakyCobra
Sorry, it's my fault. I set `evil-want-fine-undo` to nil. So I went into this strange issue.

But, after I set `evil-want-fine-undo` to `'fine`. I still have the some issues.

**It just doesn't behave totally like vim.** In most cases, it works fine, but I just want it to be like vim.

1. I tried this in `*scratch*`:

    `i a ESC i b ESC u`

    But both `a` and `b` were

[2015-11-19 06:14] sooheon opened #3873 "vinegar-layer no longer rebinds keys in dired"
I had been enjoying this layer, but recently it doesn't actually rebind shortcuts in dired. I took a quick look and at least in keybinding.el the `(when (configuration-layer/package-usedp 'evilified-state) ...)` check returns nil.

[2015-11-19 06:15] nixmaniack commented on #3869
I can confirm 3rd one, but 1st and 2nd are working as you described in the expected behaviour.

[2015-11-19 07:53] StreakyCobra commented on #3869
Keeping the default value of `evil-want-fine-undo` works as @nixmaniack described, i.e. 1 and 2 working, 3 not working. If set to `nil`, then the 3 works as expected.

Doing it on emacs 25 works exactly like you explain, so it probably an evil issue with emacs 25. I saw you already reported it [here](https://bitbucket.org/lyro/evil/issues/594/undo-doesnt-behave-like-vim).

[2015-11-19 08:27] dsdshcym commented on #3869
@StreakyCobra Thank you for your tests :smile:. I will report this to evil side.

[2015-11-19 08:56] dsdshcym opened #3875 "Spacemacs-layout is reset after sync-configuration-layers"
After `sync-configuration-layers`, the current layout configuration will lost.
And there only left one `Default` layout.

I don't know if this is a feature or a bug. But I think it's better if we can keep the opening layouts.

[2015-11-19 09:12] rebcabin opened #3876 "spacemacs-core-evilified-state--modes"
After pulling `develop` and updating packages this morning, I repeatedly get the following error.  Might be a typo (see the double dash between `state` and `modes`

[code]

I also notice that every buffer switch pops me into VIM mode instead of my default emacs mode.  Might be related.

I checked out commit 7c160e8 and the problem is gone, so whatever is causing it came later than 7c160e8.

[2015-11-19 09:22] StreakyCobra commented on #3876
Yep, doing `SPC t D` and then `SPC t E e` give me the same. Backtrace:

[code]

@justbur and @syl20bnr did some changes recently on evilified states, this commit is probably related: b29446195764e4c63db430ef2ddc65661c3101d2.

[2015-11-19 11:14] lnwdr opened #3878 "Project tree incredibly slow"
The project file tree (the one you open with `SPC p t` behaved incredibly sluggish. At first I thought it was because of a slow NFS mount I was working on but it's also very slow on my local SSD.

Things that take really long: opening the tree, opening and closing directories.

Actually opening files is not affected.

I'm using:
* Emacs 24.5.1 (x86_64-apple-darwin14.5.0, Carbon Version 157 AppKit

[2015-11-19 11:33] synic commented on #3878
Probably a duplicate of https://github.com/syl20bnr/spacemacs/issues/2943

[2015-11-19 11:45] StreakyCobra commented on #3876
I'm closing this issue as it was introduced and solved in `develop` :relaxed:

[2015-11-19 11:45] #3876 closed

[2015-11-19 11:52] lnwdr commented on #3878
Yes, the workaround posted one there helped. Thanks.

[2015-11-19 11:52] #3878 closed

[2015-11-19 13:46] d12frosted commented on #2113
In my opinion, layers should not ever mention this installation step. In any case, in order to enable layer you have to add it to `dotspacemacs-configuration-layers`. So probably we have to write information about enabling modules in quick start and be fine with it.

The only thing that comes into my mind is layers like `+lang/best-lang-ever`. We have to say that you need to add `best-lang-ever` i

[2015-11-19 13:47] d12frosted commented on #2113
Another reason to avoid mentioning this installation step - it's much easier to change it in one place instead of dozens of files.

[2015-11-19 16:11] synic commented on #2783
This is fixed!

[2015-11-19 16:11] #2783 closed

[2015-11-19 16:20] mkomitee opened #3881 "dotspacemacs-auto-resume-layouts interferes with hooks"
After enabling `dotspacemacs-auto-resume-layouts` (running on the develop branch) I've noticed that all buffers are loaded before my `dotspacemacs/user-config` runs, which means any hooks I add in there don't fire when the buffers load.

Is this expected / is that the wrong place to configure my hooks?

For now, I've been moving these types of hooks configuration into `custom-set-variables`, which

[2015-11-19 16:27] mkomitee commented on #3881
For example, the following elisp:

[code]

Doesn't cause `fci-mode` to be enabled in any `prog-mode` buffers opened by the auto-resumed layout. Only manually opened files will have `fci-mode` enabled.

[2015-11-19 18:58] syl20bnr opened #3882 "Move spray package to its own layer"
After a lot of sweat and hard thought, we can move to the layer names `speed-reading`.

[2015-11-19 20:04] robbyoconnor commented on #3882
I will do this.

[2015-11-19 20:20] locojay opened #3883 "ipython notebook completion"
Hi,
when i press tab in an ipython notebook cell nothing get's completed.
if i run   `ein:completer-complete` i get the following error

[code]

What am i missing?
Thanks

[2015-11-19 20:51] justin-calleja commented on #2719
Any way I can globally change highlight results to turn off after searching with / and hitting RET? And is there a key binding to toggle last search result highlighting (in vim: :set hls! <cr>)?

[2015-11-19 21:22] razzius commented on #2643
Same, got this error in a fresh install.

[2015-11-19 21:48] StreakyCobra commented on #2236
The original issue has been fixed long time ago, the request concerning youdao has been addressed, and the discussion is finished. I'm closing this issue then, but feel free to open a new one in case of troubles :-)

[2015-11-19 21:48] #2236 closed

[2015-11-19 21:55] StreakyCobra commented on #2264
There was no activity last 4 months and this issue concerns an old version of spacemacs. It was probably a temporary update problem. I'm closing it, but feel free to open a new one in case of troubles :relaxed:

[2015-11-19 21:55] #2264 closed

[2015-11-19 22:00] StreakyCobra commented on #2273
The issue has been addressed, and as nobody commented here last 4 months, there is probably not a lot of interest for the proposed functionality. I'm closing this issue then, but feel free to open a new one in case of troubles. :relaxed:

[2015-11-19 22:00] #2273 closed

[2015-11-19 22:06] TheBB commented on #2273
Actually, in develop you can do

[code]

Since Spacemacs sets this variable you have to do it in `dotspacemacs/user-config`.

[2015-11-19 22:09] StreakyCobra commented on #3039
@franleplant What's the status of this issue?

[2015-11-19 22:10] StreakyCobra commented on #3137
Do you still have this error after updating packages?

[2015-11-19 22:12] StreakyCobra commented on #3244
#3257 is in `develop` now, marking it as `Fixed in develop` then

[2015-11-19 22:28] StreakyCobra commented on #3430
Is this issue a `Wontfix` or a `Enhancement`?

[2015-11-19 22:34] StreakyCobra commented on #3480
This should probably be added to the `c-c++` layer, or at least documented.

[2015-11-19 22:41] StreakyCobra commented on #3549
- [ ] #1778 Taken care directly
- [ ] #1976 Taken care directly
- [ ] #2151 Taken care directly
- [ ] #2327 Taken care directly
- [ ] #2654 Taken care directly
- [ ] #2749 Taken care directly
- [ ] #2937 Taken care directly
- [ ] #3212 Taken care directly
- [ ] #3251 Taken care directly
- [ ] #3440 Taken care directly

[2015-11-19 22:48] StreakyCobra commented on #1976
This issue has been solved long time ago by #2081. I verified both on `master` and `develop` that it's really the case. I'm going forward and closing this issue. If it's not the case, let me know I'll reopen it, and anyway feel free to open a new issue in case of troubles :relaxed:

[2015-11-19 22:48] #1976 closed

[2015-11-19 22:54] StreakyCobra commented on #2151
There is a whole page of explanation [here](https://github.com/magit/magit/wiki/Pushing-with-Magit-from-Windows). This should probably be documented/linked somewhere in the documentation.

Also the package is now [there](https://github.com/magit/ssh-agency).

@syl20bnr What do you want to do with this? Integrating it? Documentation only?

[2015-11-19 23:00] rakkesh opened #3885 "error in process sentinel: async-handle-result"
I am just getting started with `spacemacs` - gone through the docs, cloned the git repo to `~/.emacs.d-24.5.1` and then started `Emacs.app (macport)` to complete installation. But  when I restart `Emacs.app` the following error shows up.

[code]

#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.104.4
- Spacemacs branch: rlocal (rev. f04bb61)
- Distribution: spacemacs-base
- Layers:
[co

[2015-11-19 23:04] StreakyCobra commented on #2654
I can not reproduce this bug. Is it still valid?

[2015-11-19 23:13] StreakyCobra commented on #3885
This bug has already been reported:#3390. A fix has been merged in develop (#3391) and will be available in the next release :-)

[2015-11-19 23:16] StreakyCobra commented on #2749
@syl20bnr Do you still want to keep this issue? Or is it not needed anymore?

[2015-11-19 23:18] rakkesh commented on #3885
@StreakyCobra thanks, somehow missed it, when I had searched for `user-emacs-directory` in issues.

[2015-11-19 23:18] #3885 closed

[2015-11-19 23:19] StreakyCobra commented on #3885
No problem :-)

[2015-11-20 01:08] jrhorn424 commented on #3780
Thanks @cpaulik. Looks like the information on this is a bit distributed. 😉

[2015-11-20 01:12] jrhorn424 commented on #1269
@cpaulik Forgive me for being dense. It's been a while since I used emacs, and even though I clicked through I'm a bit confused.

 My terminal scheme is solarized-dark. My spacemacs theme is solarized-dark, and I have color issues.

Should I download an `.Xdefaults` to get spacemacs-in-terminal to work? Or should disable themes?

[2015-11-20 02:20] codygman commented on #3065
@ntcong Perhaps the best option would be to let the user have a configuration option, then apply your ```(setq gofmt-command "goimports")``` recommendation if the user wants to use goimports.

Is spacemacs about providing a baseline configuration to customize, or something featureful out of the box? My impression is that Spacemacs is more about the latter while trying it's best not to sacrifice sp

[2015-11-20 02:20] mitchellgordon95 commented on #2686
Can confirm

[2015-11-20 02:27] codygman commented on #3616
Can anyone point to a simple helm mode that is evilified? This would drastically help anyone interested (possibly me) implement this feature.

[2015-11-20 02:32] codygman commented on #2214
@StreakyCobra It's not happening anymore!

[2015-11-20 02:32] #2214 closed

[2015-11-20 03:36] robbyoconnor commented on #2654
I've reproduced this recently... I don't remember how

[2015-11-20 05:25] d12frosted commented on #2720
Is it still valid? Any updates on this issue?

[2015-11-20 05:54] cubranic opened #3887 "Spacemacs freezes on startup when running in GUI on FreeBSD"
Running the PC-BSD distribution of FreeBSD (v10.2), when I start Spacemacs GUI (`emacs` from xterm), it seems to get stuck part way through the startup. The window does not refresh, but when I press `C-g` in Spacemacs, it displays the message "waiting for process to die... (type C-g to kill it instantly)"; pressing `C-g` again gets the UI to respond again, but the initialization doesn't seem to be

[2015-11-20 05:56] d12frosted commented on #3549
- [ ] #621 PR proposed, but probably wont fix
- [ ] #1731 Valid
- [ ] #1779 Unsure: since there is active work on new site this might be wont fix :-P
- [ ] #1894 Valid: WIP
- [ ] #1986 Already fixed: duplicate of #1314
- [ ] #2210 Valid: probably beginner friendly
- [ ] #2563 Valid: but it's not on our side
- [ ] #2720 Unsure: asked about the status of issue
- [ ] #2776 Valid: needs attention
- [

[2015-11-20 06:03] d12frosted commented on #3549
- [ ] #3066 Valid
- [ ] #2520 Valid

[2015-11-20 06:10] cubranic commented on #3887
The state of the UI when its stops responding:

![spacemacs](https://cloud.githubusercontent.com/assets/600891/11292996/25fa0708-8f0a-11e5-85a2-431fc08ef025.png)

[2015-11-20 06:24] d12frosted commented on #3734
Have terrible internet connection right now, so can't really reproduce it (MELPA is not available!). But when I think about your problem I remember having something very similar in JSX files. I haven't hunted that problem, that's why I haven't reported it yet.

In any case, with my setup I don't see this problem in haskell file. Will try your spacemacs file later when I have better connection.

[2015-11-20 07:01] purcell commented on #3887
This is almost certainly due to something odd in your `.bashrc` or other shell startup file which causes it to wait for input. Try temporarily removing those files to see if that helps.

[2015-11-20 07:28] TheBB commented on #2654
I have too. I also don't remember how, but I fixed it as advertised in this thread.

[2015-11-20 07:30] Sohalt commented on #1255
Thanks! I can't think of other bindings where I want this right now. It would be great to be able to search for all places where hjkl are uses as arrow keys/direction modifiers and see if arrow keys are suported and would make sense. But with the way bindings are set up currently I don't see a way to make this work.

[2015-11-20 09:01] ntcong commented on #3065
in order to know the configuration variable, the user will have to read the README, it is just 1 line of command, so configuration variable or a documented user-config is no different.

Adding a new configuration pollutes the layer, and doesn't offer anything better, so I'm against this.

[2015-11-20 09:08] magicmonty commented on #2632
I have the same problem. However, if I check my processes with `ps ax`then I get the following entry:
[code]

If I kill this process, then emacs runs normally. This seems to be related to the following entries, which appear shortly before:
[code]

[2015-11-20 10:18] StreakyCobra commented on #2654
@TheBB Should this fix be included in Spacemacs?

[2015-11-20 10:32] StreakyCobra commented on #2632
@magicmonty I'm pretty sure your issue is [helm/1000](https://github.com/emacs-helm/helm/issues/1000#issuecomment-119293891), the solution is given it [the FAQ](https://github.com/syl20bnr/spacemacs/blob/develop/doc/FAQ.org#why-is-spacemacs-hanging-on-startup)

All other people having the problem, can you also try the FAQ's solution?

[2015-11-20 11:28] StreakyCobra commented on #1779
This is a new website is in preparation there: #3604

[2015-11-20 11:32] StreakyCobra commented on #1986
This is an old issue, duplicate of #1314 that has been fixed both in `master` and `develop`. I'm closing it, but feel free to open a new issue in case of troubles :relaxed:

[2015-11-20 11:32] #1986 closed

[2015-11-20 11:34] StreakyCobra commented on #2563
This has been fixed in develop by #3749

[2015-11-20 11:41] StreakyCobra commented on #2886
@luxbock Is this bug still valid? I can't reproduce it, maybe can you give more steps on how to reproduce?

[2015-11-20 11:45] StreakyCobra commented on #3354
#3357

[2015-11-20 12:27] magicmonty commented on #2632
@StreakyCobra Yeah, that fixed it for me. Thanks

[2015-11-20 13:16] codygman commented on #3065
This is my opinion:

From a user perspective a user config is much less opaque. The one line command requires more indepth knowledge of spacemacs/emacs whereas the configuration option will let any user think "yes, I want to add goimports support" and follow typical spacemacs layer configuration style.

[2015-11-20 13:17] codygman opened #3890 "Issues trying to use local version of a package in a layer"
I had a bug I patched in haskell-mode and wanted to try it out, so I checked out the documentation on [layers](https://github.com/syl20bnr/spacemacs/blob/master/doc/LAYERS.org#packagesel)

After quite a bit of reading I did the following:

[code]

restart spacemacs & open eshell

[code]

within hello.hs buffer, `SPC h d m`, search for haskell mode, click (haskell-mode.el). When it opens haskell-mo

[2015-11-20 13:19] codygman commented on #3890
I just saw my question answered in gitter.

Will try, then close this issue if it works.

[2015-11-20 13:22] codygman commented on #3890
I get the following error:

[code]

[2015-11-20 13:25] codygman commented on #3890
More information:

I then tried `SPC f e h` and searched for `package: haskell` and saw this:

![1447996388](https://cloud.githubusercontent.com/assets/225847/11292415/313f7194-8f13-11e5-9a0a-71aaae48a5bb.png)

[2015-11-20 13:30] syl20bnr commented on #3890
This is a feature available in develop branch.

[2015-11-20 13:32] syl20bnr commented on #3890
What you can do is to use a quelpa recipe instead. Make it point to your fork of the repo.

You can see example of such recipe for package evil-indent in master branch (as well as php-extras).

[2015-11-20 13:38] codygman commented on #3890
Thanks
On Nov 20, 2015 7:32 AM, "Sylvain Benner" <notifications@github.com> wrote:

[2015-11-20 15:16] mkomitee commented on #2522
This appears to work for me. Should that be configured by the layer, or should everyone who uses spacemacs/emacs as `$EDITOR` have to set it themselves?

[2015-11-20 15:17] cpaulik commented on #1269
Other themes should work fine. So if you can find one you like besides solarized then this would be the easiest solution at the moment.

You can also change the default 256 colors of your terminal emulator following https://github.com/sellout/emacs-color-theme-solarized#important-note-for-terminal-users.

[2015-11-20 15:55] TheBB commented on #2654
I'm not sure but leaning towards... yes?

[2015-11-20 16:14] StreakyCobra commented on #2522
It should at least be documented :-) An option for this in the `git` layer would probably be better.

[2015-11-20 16:32] synic opened #3891 "After running emacs for a while, it starts to become laggy and consumes much CPU"
After running emacs for a few days, you start to accumulate a bunch of stuff in `~/.cache`.  As this happens, emacs starts becoming very slow.  Opening helm buffers takes forever, and it will spike to 100% CPU for 5-10 seconds at a time.

Blowing `~/.cache` away helps a LOT.

I *believe* it may be related to auto-loading layouts, however, I deleted all my layouts and deleted all the open buffers.

[2015-11-20 16:32] synic opened #3892 "helm-ag - C-g no longer exits."
Other helm stuff works fine, but C-g has to be pressed twice to close helm-ag.

#### System Info
- OS: darwin
- Emacs: 24.5.7
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 659d585)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-20 17:00] robbyoconnor commented on #2654
Is it currently in spacemacs?
On 11/20/2015 10:55 AM, Eivind Fonn wrote:

[2015-11-20 19:32] mkomitee commented on #3693
I've been hoping for something similar.

[2015-11-20 20:21] cubranic commented on #3887
I recorded the results of my debugging in purcell/exec-path-from-shell#33, but the long story short: using `exec-path-from-shell` doesn't seem to work on FreeBSD and Bash because of some interaction of how Emacs runs Bash and Bash's interactive mode.

I'm not sure if Spacemacs might want to have a workaround in this case. Does it even need to run `exec-path-from-shell` when in X Windows? I thought

[2015-11-20 21:35] justbur commented on #3892
This is not likely to be a spacemacs issue. Is there something that leads you to believe it is?

[2015-11-20 21:37] justbur commented on #3892
not to mention that I can't reproduce it

[2015-11-20 21:50] synic commented on #3690
This doesn't seem to be a thing anymore with the layouts layer.

[2015-11-20 21:50] #3690 closed

[2015-11-20 21:54] synic commented on #2943
So, if I wanted to make a PR, would it just be a documentation update, or change the default, or both?

[2015-11-20 22:01] purcell commented on #3887
I [had a user report](https://github.com/purcell/emacs.d/pull/294) that it was necessary for them under X Windows. Not much info to go on, admittedly.

[2015-11-20 22:13] a13ph commented on #2937
TLDR: Base should be only universal sensible defaults, but it should be very easy to find and install layer or package needed (for a feature/use case/profession/language/editor migration/...)

While I'm unsure if that's a good place, I'll try to pitch in some ideas here: there's an opinion (not mine, but not without merit) that it's a bad idea to use starter kits which add a lot at once, since you

[2015-11-20 22:29] a13ph commented on #3892
I can. It fires up argument listener for me. `C-g 1234 C-g` in echo, for example. And it actually works as argument too `C-g 4k` moves four lines up.

[2015-11-20 22:30] a13ph commented on #3892
#### System Info
- OS: gnu/linux
- Emacs: 24.4.1
- Spacemacs: 0.105.0
- Spacemacs branch: develop (rev. 05a40a2)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-20 22:34] a13ph commented on #3892
Actually! only in `SPC s p`, which actually runs grep for me... And `SPC g g` or other grep or ack ones work fine

[2015-11-21 00:00] joehillen commented on #2943
:+1: for changing the default

[2015-11-21 01:12] xiaoxinghu opened #3895 "how to avoid using `require` on org-modules"
In [no require](https://github.com/syl20bnr/spacemacs/blob/master/doc/LAYERS.org#no-require) section in the layers doc, it claims that if you ever need to use `require` at some point, you are probably doing something wrong. But in my scenario, I need to add `(require 'org-protocol)` within `post-init-org` hook (of my own layer) to make org-protocol to work. Is there a better way of doing this? I'v

[2015-11-21 06:11] calebmeyer commented on #1481
I don't mind PRing this change (assuming the code above isn't pseudocode), but I don't know where it should live.

[2015-11-21 06:29] hsitz commented on #3742
I seem to have had experience with related issue.  I was having issues with org agenda working (void variables issue).  At this point was working with org files but with no org layer enabled.  Turned out that org was not present in elpa dir at all, seems built-in version was being used.  After having deleted the built-in version I again tested.  Org doesn't work at all in this case if org layer is

[2015-11-21 06:37] tonyday567 commented on #3742
Just a wild hunch, but I would expect that deleting the builtin org-mode could lead to very unexpected behaviour at a really low level - but that's just a hunch.
I think you arrived at the right solution - enable org layer (and don't put org code up the front of the load process).

[2015-11-21 06:53] hsitz commented on #3742
I assume you'd want to have an org package in load-path somewhere, but if it's in elpa I don't expect any issue if built-in org is missing; it's a complete shadowing.    My solution isn't really satisfactory, given that which-key doesn't work.  So for now I expect I'll be going back to pre-spacemacs setup, where I had elpa version of org working fine.

[2015-11-21 07:14] hsitz commented on #3742
Also, a note regarding the README in org layer directory, which contains several snippets of elisp that are supposed to be placed in .spacemacs file.  There are no instructions exactly regarding _where_ those snippets should be placed.  I assume it matters, but even if it doesn't then that should be stated explicitly.

[2015-11-21 07:40] ralesi commented on #3549
- [ ] #1253 Discussion Over - No response
- [ ] #1410 Valid, pr suggestions for bindings
- [ ] #1666 3rd party fix suggested in Issue
- [ ] #1850 Discussion open.  Long term planning
- [ ] #2140 Wontfix, standard emacs binding.
- [ ] #2350 Already Closed
- [ ] #2663 NRA with switch to spaceline
- [ ] #3041 Valid, can create PR for toggle.
- [ ] #3250 Already Closed
- [ ] #3436 Unsure, don't have r

[2015-11-21 08:56] nixmaniack commented on #3895
I'm not sure about this as I haven't tested but some suggestions.
Add org-protocol as built-in in your layer-packages and in the init function add autoloads to the functions your're going to use using use-package. Also bind them to keys in :init of use-package if you want.

Following is just a snippet and I don't know what those commands do in reality, they're just an example so modify appropriate

[2015-11-21 10:39] Xuyuanp opened #3897 "Flycheck error display error: (void-function x-display-pixel-width)"
This message appeared when I put the course on the highlight warning line.

Here is my user-config:

[code]

Do you need any more info?

#### System Info
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.104.4
- Spacemacs branch: master (rev. f04bb61)
- Distribution: spacemacs
- Layers:
[code]

[2015-11-21 11:36] TheBB commented on #3897
I don't know about the actual error, but that code is not right. There is already a place in `dotspacemacs/layers` right at the top of your dotfile where you are supposed to put your layers.

[2015-11-21 11:39] StreakyCobra commented on #2654
`SPC p p spacemacs C-s ffap-machine` tell me that… no :smile:

[2015-11-21 12:14] nixmaniack commented on #3897
As @TheBB said, config isn't correctly set. But as for the actual error I had it on my remote machine where I use emacs only in terminal. I had to set following to get around it instead of using pos-tip to show the error which spacemacs sets explicitly.

`(setq flycheck-display-errors-function 'flycheck-display-error-messages-unless-error-list)`

I think there's bug in pos-tip where it's not corre

[2015-11-21 12:16] StreakyCobra commented on #3892
I can reproduce something like this, but with a few additional conditions:

1. Open Spacemacs
2. Open a file in spacemacs source code, like `core-dotspacemacs.el`
3. `SPC s p` to initialize the search
4. Enter `dotsp` and **just before the result get colored**, press `C-g`
5. You are now either in the buffer with `helm-ag` open, or still in `helm-ag` but as a normal buffer.

It is possible you hav

[2015-11-21 12:18] StreakyCobra commented on #3507
PR: #3896

[2015-11-21 12:34] StreakyCobra commented on #1481
@calebmeyer In `init.el` there is already a check for this with a `when`. This `when` could probably be changed to an `if`, and in the else clause, display a message to say emacs is to old.

[2015-11-21 12:36] StreakyCobra commented on #3895
@nixmaniack Just wondering, wouldn't the built-in version of `org-protocol` load the builtin version of `org` that conflicts with the version used by spacemacs?

[2015-11-21 12:54] nixmaniack commented on #3895
@StreakyCobra I doubt that unless you load your custom layer before loading spacemacs'. As long as you're loading `org` before `my-org-mode` layer, it shouldn't conflict. I may be wrong but layers are loaded in the order specified in your `~/.spacemacs` file so it should be fine.

[2015-11-21 13:05] StreakyCobra commented on #3895
Ok :-)

[2015-11-21 13:30] StreakyCobra opened #3898 "Add beginner information on typical github workflow"
We should add a section in the wiki explaining the typical github workflow for beginners.

@nixmaniack suggests also to add the video from @travisbhartwell for creating a PR for spacemacs.

This could be used as a base, but should be reworded/improved and commands added:

***

This is *one* typical workflow:

1. You fork Spacemacs.
2. You clone your fork of spacemacs to `.emacs.d`
3. You add the o

[2015-11-21 13:35] travisbhartwell commented on #3898
My video is found at https://www.youtube.com/watch?v=pWzJ6IGXwmk, and an associated blog entry is at http://iam.travishartwell.net/2015/07/29/how-to-make-a-pr-for-spacemacs/.  Perhaps the text of that blog entry could be adapted for the documentation?

[2015-11-21 13:39] TheBB commented on #3890
Is this issue closed then?

[2015-11-21 13:47] StreakyCobra commented on #3898
Yes, would be nice to have an explanation with both `magit` and the equivalent command line way of doing it :-)

[2015-11-21 13:58] travisbhartwell commented on #3898
I could do this, but I also give permission to anyone else looking for a beginner friendly (and non-coding) issue to adapt the text of my blog entry as necessary.  If @syl20bnr and the Spacemacs devs don't mind, I would appreciate a link back to my blog and/or video in the docs, but otherwise my text could be used as a basis for this (no sense in reinventing the wheel).

Additionally, as @StreakyC

[2015-11-21 14:11] StreakyCobra commented on #3898
Of course we will link you blog/video back :-)